{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'home/navbar/re_navbar.html' %}

<div id="holiday" class="row" style="padding: 1%; background-color: #f9f9f9;">
    <div class="col-md-18" style="position: relative;">
        <div style="flex: auto; margin: 3vh auto; width: 97vw; min-height: 53vh; padding: 2%; border-radius:25px; background-color: #ffffff">
            <div class="row justify-content-between" style="padding-bottom: 1vh;">

                <div class="col-8" style="display: flex">
                    <select class="form-control" aria-label=".form-select-sm" style="width: 100px" @change="getHolidays" v-model="year">
                        <option value="2023">2023</option>
                        <option value="2024">2024</option>
                        <option value="2025">2025</option>
                        <option value="2026">2026</option>
                        <option value="2027">2027</option>
                        <option value="2028">2028</option>
                        <option value="2029">2029</option>
                        <option value="2030">2030</option>
                        <option value="2031">2031</option>
                        <option value="2032">2032</option>
                        <option value="2033">2033</option>
                        <option value="2034">2034</option>
                    </select>
                </div>
                <div class="col-4" style="text-align:end">
                    <button type="button" class="btn btn-outline-success" @click="loadHoliday">공휴일 가져오기</button>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <button type="button" class="btn btn-outline-primary" @click="showHoliday">공휴일 생성</button>
                </div>
            </div>

            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col">공휴일명</th>
                        <th scope="col">공휴일</th>
                        <th scope="col">공휴일시작시간</th>
                        <th scope="col">공휴일종료시간</th>
                        <th scope="col" style="width: 12vw;">기능</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(item, index) in holidays">
                        <td v-html="item.holiday_name"></td>
                        <td v-html="item.holiday_date"></td>
                        <td v-html="time(item.holiday_start_datetime)"></td>
                        <td v-html="time(item.holiday_end_datetime)"></td>
                        <td>
                            <button type="button" class="btn btn-outline-danger btn-sm" @click="removeHoliday(item.holiday_name, item.holiday_id)" >삭제</button>
                            &nbsp;&nbsp;
                            <button type="button" class="btn btn-outline-success btn-sm" @click="showHoliday(item.holiday_id)" >보기</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>

{% include "./layer/holiday_layer.html" %}
{% include "./layer/confirm_layer.html" %}

<script>
    const vue = createApp({
        data () {
            return {
                year: "",
                holidays: [],
            }
        },
        methods: {
            time(datetime) {
                if (datetime == null) return ""
                return moment(datetime).format('HH:mm')
            },
            getHolidays() {
                axios.get("/re-working-admin/getHolidays?year=" + this.year)
                .then((response) => {
                    this.holidays = response.data
                })
            },
            showHoliday(holidayId) {
                if (holidayId > 0) {
                    holiday_vue.getHoliday(holidayId)
                }
                $("#holiday_modal").modal('show')
            },
            removeHoliday(holidayName, holidayId) {
                confirm_vue.title = ""
                confirm_vue.message = holidayName + " 공휴일를 삭제하시겠습니까?"
                this.holidayId = holidayId
                $("#confirm_modal").modal('show')
            },
            confirmOk() {
                axios.post("/re-working-admin/deleteHoliday/" + this.holidayId)
                .then((response) => {
                    this.getHolidays()
                })

            },
            loadHoliday() {
                axios.get("/re-working-admin/loadHoliday/" + this.year)
                .then((response) => {
                    this.getHolidays()
                })
            }
        },
        mounted: function() {
            this.year = moment().format("YYYY")
            this.getHolidays()
        }
    }).mount('#holiday')
</script>
{% endblock content %}