{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'home/navbar/re_navbar.html' %}


<div id="working_approval_admin" class="row" style="padding: 1%; background-color: #f9f9f9;">
    <div class="col-md-18" style="position: relative;">
        <div style="flex: auto; margin: 3vh auto; width: 97vw; min-height: 53vh; padding: 2%; border-radius:25px; background-color: #ffffff">

            <div class="row" style="padding-bottom: 1vh;">
                <div class="col-2" >
                    <select class="form-control" style="width: 120px" v-model="pageination.itemsPerPage" @change="getWorkingApprovals">
                        <option value="10">10 rows</option>
                        <option value="50">50 rows</option>
                        <option value="100">100 rows</option>
                    </select>
                </div>
                <div class="col-10" style="display: flex; justify-content:end">
                    <select class="form-control" style="width: 130px" v-model="searchType">
                        <option value="form_title">제목</option>
                        <option value="member_name">작성자</option>
                        <option value="approval_id">결재번호</option>
                    </select>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <input class="form-control" style="width: 200px" v-model="searchStr">
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <button type="button" class="btn btn-outline-primary" @click="getWorkingApprovals">검색</button>
                </div>
            </div>

            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col">번호</th>
                        <th scope="col">결재번호</th>
                        <th scope="col">제목</th>
                        <th scope="col">휴가/휴일/일지</th>
                        <th scope="col">작성자</th>
                        <th scope="col">결재일시</th>
                        <th scope="col">기능</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(item, index) in workingApprovals">
                        <td scope="row" v-html="num(index)"></td>
                        <td v-html="item.approval_id"></td>
                        <td v-html="item.form_title"></td>
                        <td v-html="formType(item.form_type, item.working_type)"></td>
                        <td v-html="item.member_name"></td>
                        <td v-html="datetime(item.approval_date)"></td>
                        <td>
                            <button type="button" class="btn btn-outline-success btn-sm" @click="showWorkingApproval(item.form_id, item.approval_id, item.form_type)">상세보기</button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <pagination :totalitems="pageination.totalItems" :itemsperpage="parseInt(pageination.itemsPerPage)" :currentpage.sync="pageination.currentPage" @update:currentpage="onPageChange"/>
        </div>
    </div>
</div>

{% include "./layer/working_approval_admin_layer.html" %}
{% include "./components/pagination.html" %}

<script>
    const vue = createApp({
        components: {
            "pagination": paginationComponent,
        },
        data () {
            return {
                searchType: "form_title",
                searchStr: "",
                workingApprovals: [],
                pageination: {
                    currentPage: 1,
                    totalItems: 0,
                    itemsPerPage: 10,
                }
            }
        },
        methods: {
            getWorkingApprovals() {
                var limit = this.pageination.itemsPerPage
                var offset = (this.pageination.currentPage - 1) * this.pageination.itemsPerPage

                axios.get("/re-working-admin/getWorkingApprovals/" + limit + "/" + offset + "?searchType=" + this.searchType + "&searchStr=" + this.searchStr)
                .then((response) => {
                    this.workingApprovals = response.data.workingApprovals
                    this.pageination.totalItems = response.data.totalCount
                })
            },
            num(index) {
                return index + 1 + (this.pageination.itemsPerPage * (this.pageination.currentPage - 1))
            },
            datetime(datetime) {
                return moment(datetime).format('YYYY-MM-DD HH:mm:ss')
            },
            date(startDate, endDate) {
                return startDate + " ~ " + endDate
            },
            cdDtlNm(cdDtlNo) {
                return code_vue.getCodeDtl(cdDtlNo).cd_dtl_nm
            },
            formType(formType, workingType) {
                var result = ""
                if (formType == "working_off") {
                    result = "휴가-" + this.cdDtlNm(workingType)
                } else if (formType == "working_weekend") {
                    result = "휴일신청"
                } else if (formType == "working_weekend_note") {
                    result = "휴일일지"
                }
                return result
            },
            showWorkingApproval(formId, approvalId, form_type) {
                $("#working_approval_admin_modal").modal('show')
                working_approval_admin_vue.getWorkingApproval(formId, approvalId, form_type)
            },
            onPageChange(page) {
                this.pageination.currentPage = page
                this.getWorkingApprovals()
            },
            search() {

            }
        },
        mounted: function() {
            this.getWorkingApprovals()
        }
    }).mount('#working_approval_admin')
</script>
{% endblock content %}