{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'home/navbar/re_navbar.html' %}


<div id="working_time_admin" class="row" style="padding: 1%; background-color: #f9f9f9;">
    <div class="col-md-18" style="position: relative;">
        <div style="flex: auto; margin: 3vh auto; width: 97vw; min-height: 53vh; padding: 2%; border-radius:25px; background-color: #ffffff">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col">번호</th>
                        <th scope="col">이름</th>
                        <th scope="col">부서</th>
                        <th scope="col">근무일</th>
                        <th scope="col">출근시간</th>
                        <th scope="col">퇴근시간</th>
                        <th scope="col">실 출근시간</th>
                        <th scope="col">실 퇴근시간</th>
                        <th scope="col">출근변경시간</th>
                        <th scope="col">퇴근변경시간</th>
                        <th scope="col">요청시간</th>
                        <th scope="col">사유</th>
                        <th scope="col">기능</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(item, index) in workings">
                        <td scope="row" v-html="num(index)"></td>
                        <td v-html="item.member_name"></td>
                        <td v-html="item.group_name"></td>
                        <td v-html="item.working_date"></td>
                        <td v-html="time(item.working_start_datetime)"></td>
                        <td v-html="time(item.working_end_datetime)"></td>
                        <td v-html="time(item.working_start_check_datetime)"></td>
                        <td v-html="time(item.working_end_check_datetime)"></td>
                        <td v-html="time(item.working_start_change_datetime)"></td>
                        <td v-html="time(item.working_end_change_datetime)"></td>
                        <td v-html="datetime(item.date_updated)"></td>
                        <td v-html="item.working_time_change_reason"></td>
                        <td>
                            <button type="button" class="btn btn-outline-danger btn-sm" @click="removeWorkingChnageTime(item.working_id)">삭제</button>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <button type="button" class="btn btn-outline-primary btn-sm" @click="appoval(item.working_id, item.working_start_change_datetime, item.working_end_change_datetime)">승인</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>

<script>
    const vue = createApp({
        data () {
            return {
                workings: [],
            }
        },
        methods: {
            getChangeWorkingTimes() {
                axios.get("/re-working-admin/getChangeWorkingTimes")
                .then((response) => {
                    this.workings = response.data.workings
                })
            },
            num(index) {
                return index + 1
            },
            time(datetime) {
                if (datetime == null) return ""
                return moment(datetime).format('HH:mm')
            },
            datetime(datetime) {
                if (datetime == null) return ""
                return moment(datetime).format('YYYY-MM-DD HH:mm:ss')
            },
            workingStartStatus(datetime) {
                if (moment(datetime).isBefore(moment('09:00', ['HH:mm']))) {
                    return "출근"
                }

                return "지각"
            },
            workingEndStatus(datetime) {
                if (datetime == null) return ""
                if (moment(datetime).isAfter(moment('18:30', ['HH:mm']))) {
                    return "연장근로"
                } else if (moment(datetime).isBefore(moment('17:30', ['HH:mm']))) {
                    return "조기퇴근"
                }
                return "퇴근"
            },
            workingTime(workingStartDatetime, workingEndDatetime) {
                if (workingStartDatetime == null) return ""
                var durationTime
                if (workingEndDatetime == null) {
                    durationTime = moment().diff(moment(workingStartDatetime), 'minutes')
                } else {
                    durationTime = moment(workingEndDatetime).diff(moment(workingStartDatetime), 'minutes')
                }
                return parseInt(durationTime / 60) + " 시간 " + (durationTime % 60) + "분 근무"
            },
            workingStatus(workingOffType) {
                if (workingOffType == null) {
                    return "출근"
                }
                return workingOffType
            },
            appoval(workingId, workingStartChangeDatetime, workingEndChangeDatetime) {
                var data = {
                    working_id : workingId,
                    working_start_change_datetime : workingStartChangeDatetime,
                    working_end_change_datetime : workingEndChangeDatetime,
                }
                axios.post("/re-working-admin/updateWorkingChangeTime", {data: data})
                .then((response) => {
                    this.getChangeWorkingTimes()
                })
            },
            removeWorkingChnageTime(workingId) {
                axios.post("/re-working-admin/deleteWorkingChangeTime/" + workingId)
                .then((response) => {
                    this.getChangeWorkingTimes()
                })
            }
        },
        mounted: function() {
            this.searchDate = moment().format("YYYY-MM-DD")
            this.getChangeWorkingTimes()
        }
    }).mount('#working_time_admin')
</script>
{% endblock content %}