{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'home/navbar/re_navbar.html' %}

<div id="working_admin" class="row" style="padding: 1%; background-color: #f9f9f9;">
    <div class="col-md-18" style="position: relative;">
        <div style="flex: auto; margin: 3vh auto; width: 97vw; min-height: 53vh; padding: 2%; border-radius:25px; background-color: #ffffff">

            <div class="row" style="padding-bottom: 1vh;">
                <div class="col-8" style="display: flex">
                    <input type="date" class="form-control" style="width: 10vw" v-model="searchDate">
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <button type="button" class="btn btn-outline-danger" @click="getWorkings">검색</button>
                </div>
                <div class="col-4" style="text-align:end">
                    <button type="button" class="btn btn-outline-success" @click="download">다운로드</button>
                </div>
            </div>

            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col">번호</th>
                        <th scope="col" style="cursor: pointer" @click="orderby('member_company_id')">사번</th>
                        <th scope="col" style="cursor: pointer" @click="orderby('member_name')">이름</th>
                        <th scope="col" style="cursor: pointer" @click="orderby('group_name')">부서</th>
                        <th scope="col">출근시간</th>
                        <th scope="col">실 출근시간</th>
                        <th scope="col">출근상태</th>
                        <th scope="col">퇴근시간</th>
                        <th scope="col">실 퇴근시간</th>
                        <th scope="col">퇴근상태</th>
                        <th scope="col">실근무시간</th>
                        <th scope="col">근무상태</th>
                        <th scope="col">변경요청</th>
                        <th scope="col" style="width: 12vw; text-align:center">기능</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(item, index) in workings">
                        <td scope="row" v-html="num(index)"></td>
                        <td v-html="item.member_company_id"></td>
                        <td v-html="item.member_name"></td>
                        <td v-html="item.group_name"></td>
                        <td v-html="datetime(item.working_start_datetime)"></td>
                        <td v-html="datetime(item.working_start_check_datetime)"></td>
                        <td v-html="workingStartStatus(item.working_start_datetime, item.working_start_check_datetime)"></td>
                        <td v-html="datetime(item.working_end_datetime)"></td>
                        <td v-html="datetime(item.working_end_check_datetime)"></td>
                        <td v-html="workingEndStatus(item.working_end_datetime, item.working_end_check_datetime)"></td>
                        <td v-html="workingTime(item.working_start_check_datetime, item.working_end_check_datetime)"></td>
                        <td v-html="workingStatus(item.working_off_type, item.working_out_type, item.working_start_check_datetime, item.working_end_check_datetime)"></td>
                        <td v-html="isWorkingTimeChange(item.is_working_time_change)"></td>
                        <td>
                            <button type="button" class="btn btn-outline-success btn-sm" @click="showWorkingView(item)" >상세</button>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <button type="button" class="btn btn-outline-primary btn-sm" @click="showWorkingTime(item)" >수정</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>

{% include "./layer/working_view_admin_layer.html" %}
{% include "./layer/working_time_admin_layer.html" %}

<script>
    const vue = createApp({
        data () {
            return {
                searchDate: "",
                orderCol: "member_company_id",
                orderType: "ASC",
                workings: [],
            }
        },
        methods: {
            getWorkings() {
                axios.get("/re-working-admin/getWorkings?working_date=" + this.searchDate + "&orderCol=" + this.orderCol + "&orderType=" + this.orderType)
                .then((response) => {
                    this.workings = response.data.workings
                })
            },
            download() {
                window.location.href = "/re-working-admin/workingDownload?working_date=" + this.searchDate + "&orderCol=" + this.orderCol + "&orderType=" + this.orderType
            },
            num(index) {
                return index + 1
            },
            datetime(datetime) {
                if (datetime == null) return ""
                return moment(datetime).format('HH:mm')
            },
            workingStartStatus(workingStartDatetime, workingStartCheckDatetime) {
                if (workingStartCheckDatetime == null) return ""

                if (moment(workingStartCheckDatetime).isAfter(moment(workingStartDatetime).add(1, 'minutes'))) {
                    return "지각"
                }

                return "출근"
            },
            workingEndStatus(workingEndDatetime, workingEndCheckDatetime) {
                if (workingEndCheckDatetime == null) return ""

                if (moment(workingEndCheckDatetime).isAfter(moment(workingEndDatetime).add(1, 'hours'))) {
                    return "연장근로"
                } else if (moment(workingEndCheckDatetime).isBefore(moment(workingEndDatetime).add(-30, 'minutes'))) {
                    return "조기퇴근"
                }
                return "퇴근"
            },
            workingTime(workingStartCheckDatetime, workingEndCheckDatetime) {
                if (workingStartCheckDatetime == null || workingEndCheckDatetime == null) return ""

                var durationTime = moment(workingEndCheckDatetime).diff(moment(workingStartCheckDatetime), 'minutes')
                return parseInt(durationTime / 60) + " 시간 " + (durationTime % 60) + "분 근무"
            },
            workingStatus(workingOffType, workingOutType, workingStartCheckDatetime, workingEndCheckDatetime) {
                if (workingOffType != null) {
                    return code_vue.getCodeDtl(workingOffType).cd_dtl_nm
                }

                if (workingOutType != null) {
                    return code_vue.getCodeDtl(workingOutType).cd_dtl_nm
                }

                if (workingStartCheckDatetime == null && workingEndCheckDatetime == null) {
                    return ""
                }

                return "출근"
            },
            isWorkingTimeChange(isWorkingTimeChange) {
                if (isWorkingTimeChange == "Y") {
                    return "출퇴근시간변경"
                }

                return ""
            },
            orderby(orderCol) {
                this.orderCol = orderCol
                this.orderType = this.orderType == "DESC" ? "ASC" : "DESC"
                this.getWorkings()

            },
            showWorkingView(working) {
                working_view_admin_vue.loadData(working.member_id, working.member_name)
                $("#working_view_admin_modal").modal('show')
            },
            showWorkingTime(working) {
                console.log(working)
                working_time_admin_vue.getWorking(working)
                $("#working_time_admin_modal").modal('show')
            }
        },
        mounted: function() {
            this.searchDate = moment().format("YYYY-MM-DD")
            this.getWorkings()
        }
    }).mount('#working_admin')
</script>
{% endblock content %}