{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'home/navbar/re_navbar.html' %}

<div id="working_off_admin" class="row" style="padding: 1%; background-color: #f9f9f9;">
    <div class="col-md-18" style="position: relative;">
        <div style="flex: auto; margin: 3vh auto; width: 97vw; min-height: 53vh; padding: 2%; border-radius:25px; background-color: #ffffff">

            <div class="row" style="padding-bottom: 1vh;">
                <div class="col-8" style="display: flex">
                    <div class="row">
                        <div class="col">
                            <input class="form-control" style="width: 200px" v-model="searchStr" @change="search" placeholder="이름 또는 부서 검색">
                        </div>

                        <div class="col" style="margin-left:50px;">
                            <select class="form-control" v-model="searchMonth" @change="getMembers()">
                                <option value="">--입사 월--</option>
                                <option value="01">1월</option>
                                <option value="02">2월</option>
                                <option value="03">3월</option>
                                <option value="04">4월</option>
                                <option value="05">5월</option>
                                <option value="06">6월</option>
                                <option value="07">7월</option>
                                <option value="08">8월</option>
                                <option value="09">9월</option>
                                <option value="10">10월</option>
                                <option value="11">11월</option>
                                <option value="12">12월</option>
                            </select>
                        </div>
                    </div>

                </div>

                <div class="col" style="text-align:end">
                    {% if request.user.id == 138 %}
                    <button type="button" class="btn btn-outline-danger" @click="schedule">Schedule</button>
                    {% endif %}
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <button type="button" class="btn btn-outline-success" @click="download">다운로드</button>
                </div>
            </div>

            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col">번호</th>
                        <th scope="col">사번</th>
                        <th scope="col">이름</th>
                        <th scope="col">부서</th>
                        <th scope="col" style="cursor: pointer" @click="sort('join_date')">입사일</th>
                        <th scope="col">근속연차</th>
                        <th scope="col">자동발생일수</th>
                        <th scope="col">추가발생일수</th>
                        <th scope="col">총발생일수</th>
                        <th scope="col">사용일수</th>
                        <th scope="col" style="cursor: pointer" @click="sort('working_off_remain_days')">잔여일수</th>
                        <th scope="col">연차사용기간</th>
                        <th scope="col">기능</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(item, index) in members">
                        <td scope="row" v-html="num(index)"></td>
                        <td v-html="item.member_company_id"></td>
                        <td v-html="item.member_name"></td>
                        <td v-html="item.group_name"></td>
                        <td v-html="date(item.join_date)"></td>
                        <td v-html="workingYear(item.join_date)"></td>
                        <td v-html="item.working_off_days"></td>
                        <td v-html="item.working_off_etc_days"></td>
                        <td v-html="item.working_off_days + item.working_off_etc_days"></td>
                        <td v-html="item.working_off_use_days"></td>
                        <td v-html="item.working_off_remain_days"></td>
                        <td v-html="workingOffUseDate(item.working_off_start_date)"></td>
                        <td>
                            <button type="button" class="btn btn-outline-primary btn-sm" @click="showWorkingOffEtc(item.member_id)">휴가일수정</button>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <button type="button" class="btn btn-outline-primary btn-sm" @click="showWorkingOffAdd(item.member_id)">대체등록</button>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <button type="button" class="btn btn-outline-success btn-sm" @click="showWorkingOffHistory(item.member_id)">휴가이력</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>

{% include "./layer/working_off_add_admin_layer.html" %}
{% include "./layer/working_off_etc_admin_layer.html" %}
{% include "./layer/working_off_history_admin_layer.html" %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.4/xlsx.full.min.js"></script>
<script>
    const vue = createApp({
        data () {
            return {
                searchStr: "",
                members: [],
                oriMembers: [],
                searchMonth: "",
                sortJoinDate: "ASC",
                sortRemainDays: "ASC",
            }
        },
        methods: {
            getMembers(orderBy="") {
                axios.get("/re-member/getMembers?order_by=" + orderBy + "&join_date_month=" + this.searchMonth)
                .then((response) => {
                    this.members = response.data
                    this.oriMembers = response.data
                })
            },
            schedule() {
                axios.get("/re-working-admin/runSchedule")
                .then((response) => {
                })
            },
            num(index) {
                return index + 1
            },
            date(date) {
                return moment(date).format('YYYY-MM-DD')
            },
            workingYear(joinDate) {
                workingYear = Math.floor(Math.abs(moment.duration(moment(joinDate).diff(moment.now())).asYears()))
                if (workingYear == 0) return "1년미만"

                return  workingYear + "년차"
            },
            workingOffUseDate(workingOffStartDate) {
                startDate = moment(workingOffStartDate)
                endDate = moment(workingOffStartDate).add( 1, 'years').add(-1, 'day')
                return startDate.format('YYYY-MM-DD') + " ~ " + endDate.format('YYYY-MM-DD')
            },
            showWorkingOffAdd(memberId) {
                working_off_add_admin_vue.getMember(memberId)
                $("#working_off_add_admin_modal").modal('show')
            },
            showWorkingOffEtc(memberId) {
                working_off_etc_admin_vue.getMember(memberId)
                $("#working_off_etc_admin_modal").modal('show')

            },
            showWorkingOffHistory(memberId) {
                working_off_history_admin_vue.getMember(memberId)
                working_off_history_admin_vue.getWorkingOffHistorys(memberId)
                $("#working_off_history_admin_modal").modal('show')
            },
            search() {
                this.members = this.oriMembers.filter(member => {
                    if (member.member_name.includes(this.searchStr) || (member.group_name != null && member.group_name.includes(this.searchStr))) {
                        return member
                    }
                })
            },
            sort(col) {
                var orderBy = ""
                if (col == "join_date") {
                    if (this.sortJoinDate == "ASC") {
                        this.sortJoinDate = "DESC"
                    } else {
                        this.sortJoinDate = "ASC"
                    }
                    orderBy = col + "+" + this.sortJoinDate
                } else if (col == "working_off_remain_days") {
                    if (this.sortRemainDays == "ASC") {
                        this.sortRemainDays = "DESC"
                    } else {
                        this.sortRemainDays = "ASC"
                    }
                    orderBy = col + "+" + this.sortRemainDays
                }

                this.getMembers(orderBy)
            },
            download() {
                var data = [
                    [ "사번", "이름", "부서", "입사일", "근속연차", "자동발생일수", "추가발생일수", "총발생일수", "사용일수", "잔여일수" ]
                ]

                for (member of this.members) {
                    data.push(
                        [
                             member.member_company_id
                            ,member.member_name
                            ,member.group_name
                            ,this.date(member.join_date)
                            ,this.workingYear(member.join_date)
                            ,member.working_off_days
                            ,member.working_off_etc_days
                            ,member.working_off_days + member.working_off_etc_days
                            ,member.working_off_use_days
                            ,member.working_off_remain_days
                        ]
                    )
                }

                var ws = XLSX.utils.aoa_to_sheet(data)
                var wb = XLSX.utils.book_new()

                XLSX.utils.book_append_sheet(wb, ws, "Sheet1")
                XLSX.writeFile(wb, '휴가발행_' + moment().format('YYYY-MM-DD') + '.xlsx')
            },
        },
        mounted: function() {
            this.getMembers()
        }
    }).mount('#working_off_admin')
</script>
{% endblock content %}