{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'home/navbar/re_navbar.html' %}


<div id="working_part_admin" class="row" style="padding: 1%; background-color: #f9f9f9;">
    <div class="col-md-18" style="position: relative;">
        <div style="flex: auto; margin: 3vh auto; width: 97vw; min-height: 53vh; padding: 2%; border-radius:25px; background-color: #ffffff">

            <div class="row" style="padding-bottom: 1vh;">
                <div class="col-8" style="display: flex">
                    <input class="form-control" id="working_part_start_date_datePicker" style="width: 200px" v-model="startDate" autocomplete="off">
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <input class="form-control" id="working_part_end_date_datePicker" style="width: 200px" v-model="endDate" autocomplete="off">
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <button type="button" class="btn btn-outline-danger" @click="getWorkingParts">검색</button>
                </div>
                <div class="col-4" style="text-align:end">
                    <button type="button" class="btn btn-outline-success" @click="download">다운로드</button>
                </div>
            </div>

            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col">이름</th>
                        <th scope="col">소속</th>
                        <th scope="col">프로젝트</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(item, index) in workingParts">
                        <td v-html="item.member_name"></td>
                        <td v-html="item.group_name"></td>
                        <td v-html="makeProjects(item.working_part_projects)"></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.4/xlsx.full.min.js"></script>
<script src="{% static '/js/jquery-ui.monthpicker.js' %}"></script>
<script>
    const vue = createApp({
        data () {
            return {
                startDate: "",
                endDate: "",
                workingParts: [],
                projects: [],
                projectsMap: [],
            }
        },
        methods: {
            getWorkingParts() {
                axios.get("/re-working-admin/getWorkingParts?startDate=" + this.startDate + "&endDate=" + this.endDate)
                .then((response) => {
                    this.workingParts = response.data
                })
            },
            getProjects() {
                axios.get("/re-working-admin/getProjects")
                .then((response) => {
                    this.projects = response.data
                    this.projectsMap = this.projects.reduce((map, project) => {
                        map[project.project_code] = project
                        return map
                    }, {})
                })
            },
            makeProjects(workingPartProjects) {
                if (workingPartProjects.indexOf("#") > -1) {
                    var arr = workingPartProjects.split("#")

                    var map = {}
                    for (var item of arr) {
                        var projects = JSON.parse(item)
                        for (var project of projects) {
                            if (project.projectCode in map) {
                                map[project.projectCode] = map[project.projectCode] + project.partRate
                            } else {
                                map[project.projectCode] = project.partRate
                            }
                        }
                    }

                    var html = "<div class='row'>"
                    for (var key in map) {
                        var partRate = map[key]
                        if (partRate == '') partRate = 0

                        html += "<div class='col'>"
                        html += this.projectsMap[key].project_name
                        html += " (" + partRate + ")"
                        html += "</div>"
                    }
                    html += "</div>"
                } else {
                    var projects = JSON.parse(workingPartProjects)
                    var html = "<div class='row'>"
                    for (var project of projects) {
                        var partRate = project.partRate
                        if (partRate == '') partRate = 0
                        html += "<div class='col'>"
                        html += this.projectsMap[project.projectCode].project_name
                        html += " (" + partRate + ")"
                        html += "</div>"
                    }
                    html += "</div>"        
                }

                return html
            },
            download() {
                // header
                var datas = [ ["이름" ,"소속"] ]

                for (var inx = 2; inx < this.projects.length + 2; inx++) {
                    datas[0][inx] = this.projects[inx - 2].project_name
                }

                // row
                for (workingPart of this.workingParts) {
                    var item = [workingPart.member_name, workingPart.group_name]
                    var workingPartProjects = workingPart.working_part_projects
                    if (workingPartProjects.indexOf("#") > -1) {
                        var arr = workingPartProjects.split("#")
    
                        var map = {}
                        for (var data of arr) {
                            var projects = JSON.parse(data)
                            for (var project of projects) {
                                if (project.projectCode in map) {
                                    map[project.projectCode] = map[project.projectCode] + project.partRate
                                } else {
                                    map[project.projectCode] = project.partRate
                                }
                            }
                        }

                        for (var inx = 2; inx < this.projects.length + 2; inx++) {
                            var projectCode = this.projects[inx - 2].project_code
                            var partRate = 0
                            for (var key in map) {
                                if (projectCode == key) {
                                    partRate = map[key]
                                    if (partRate == '') partRate = 0
                                    break
                                }
                            }
                            item[inx] = partRate
                        }
                    } else {
                        var workingPartProjects = JSON.parse(workingPart.working_part_projects)    
                        for (var inx = 2; inx < this.projects.length + 2; inx++) {
                            var projectCode = this.projects[inx - 2].project_code
                            var partRate = 0
                            for (var workingPartProject of workingPartProjects) {
                                if (projectCode == workingPartProject.projectCode) {
                                    partRate = workingPartProject.partRate
                                    if (partRate == '') partRate = 0
                                    break
                                }
                            }
                            item[inx] = partRate
                        }
                    }
                    datas.push(item)
                }

                // total
                var removeIndexs = []
                total = [ "","합계" ]
                for (var inx = 2; inx < this.projects.length + 2; inx++) {
                    var partRateTotal = 0;
                    for (var jnx = 1; jnx < datas.length; jnx++) {
                        partRateTotal += datas[jnx][inx]
                    }
                    if (partRateTotal == 0) {
                        removeIndexs.push(inx)
                    }

                    total[inx] = partRateTotal
                }
                datas.push(total)

                
                removeIndexs.reverse()
                for (var data of datas) {
                    for (var removeIndex of removeIndexs) {
                        data.splice(removeIndex, 1)
                    }
                }
                
                var ws = XLSX.utils.aoa_to_sheet(datas)
                var wb = XLSX.utils.book_new()

                XLSX.utils.book_append_sheet(wb, ws, "Sheet1")
                XLSX.writeFile(wb, '참여율_' + this.startDate + '_' + this.endDate + '.xlsx')
            }
        },
        mounted: function() {
            var self = this
            $('#working_part_start_date_datePicker').monthpicker({
                dateFormat: 'yy-mm',
                prevText: '이전 달',
                nextText: '다음 달',
                monthNames: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
                monthNamesShort: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
                yearSuffix: '년',
                showOtherMonths: true,
                showMonthAfterYear: true,
                selectOtherMonths: true,
                changeYear: true,
                changeMonth: true,
                onSelect:function(selectedDate, datePicker) {
                    self.startDate = selectedDate
                }
            })

            $('#working_part_end_date_datePicker').monthpicker({
                dateFormat: 'yy-mm',
                prevText: '이전 달',
                nextText: '다음 달',
                monthNames: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
                monthNamesShort: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
                yearSuffix: '년',
                showOtherMonths: true,
                showMonthAfterYear: true,
                selectOtherMonths: true,
                changeYear: true,
                changeMonth: true,
                onSelect:function(selectedDate, datePicker) {
                    self.endDate = selectedDate
                }
            })

            this.startDate = moment().format('YYYY-MM')
            this.endDate = moment().format('YYYY-MM')

            this.getProjects()
            this.getWorkingParts()
        }
    }).mount('#working_part_admin')
</script>
{% endblock content %}