{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'home/navbar/re_navbar.html' %}


<div id="working_certificate_admin" class="row" style="padding: 1%; background-color: #f9f9f9;">
    <div class="col-md-18" style="position: relative;">
        <div style="flex: auto; margin: 3vh auto; width: 97vw; min-height: 53vh; padding: 2%; border-radius:25px; background-color: #ffffff">

            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col">번호</th>
                        <th scope="col">발급번호</th>
                        <th scope="col">증명서종류</th>
                        <th scope="col">용도</th>
                        <th scope="col">출처</th>
                        <th scope="col">요청자</th>
                        <th scope="col">입사일</th>
                        <th scope="col">공개여부</th>

                        <th scope="col">서류신청기간</th>
                        <th scope="col">발급방법</th>
                        <th scope="col">수령이메일</th>
                        <th scope="col">수령희망일</th>
                        <th scope="col">발급상태</th>
                        <th scope="col">발급요청일</th>
                        <th scope="col">발급완료일</th>
                        <th scope="col">기능</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(item, index) in workingCertificates">
                        <td scope="row">[[ num(index) ]]</td>
                        <td>[[ item.doc_id ]]</td>
                        <td>[[ cdDtlNm(item.working_certificate_type) ]]</td>
                        <td>[[ cdDtlNm(item.working_certificate_purpose) ]]</td>
                        <td>[[ item.working_certificate_destination ]]</td>
                        <td>[[ item.member_name ]]</td>
                        <td>[[ item.join_date ]]</td>
                        <td>[[ item.is_blind == 'Y' ? '비공개' : '공개' ]]</td>
                        <td>[[ item.working_certificate_date ]]</td>
                        <td>[[ cdDtlNm(item.receive_type) ]]</td>
                        <td>[[ item.receive_email ]]</td>
                        <td>[[ item.receive_date ]]</td>
                        <td>[[ cdDtlNm(item.working_certificate_status) ]]</td>
                        <td>[[ item.working_certificate_req_date ]]</td>
                        <td>[[ item.working_certificate_done_date ]]</td>
                        <td>
                            <button v-if="!isDone(item.working_certificate_status)" type="button" class="btn btn-primary btn-sm" @click="done(item.working_certificate_id)">발급완료</button>
                            &nbsp;&nbsp;
                            <button v-if="!isDone(item.working_certificate_status)" type="button" class="btn btn-danger btn-sm" @click="showWorkingCertificateReject(item.working_certificate_id)">발급반려</button>
                            &nbsp;&nbsp;
                            <button v-if="!isDone(item.working_certificate_status)" type="button" class="btn btn-success btn-sm" @click="showWorkingCertificateJoinDate(item.working_certificate_id, item.join_date)">입사일변경</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

{% include "./layer/working_certificate_reject_layer.html" %}
{% include "./layer/working_certificate_join_date_layer.html" %}

<script>
    const vue = createApp({
        delimiters: ["[[", "]]"],
        data () {
            return {
                workingCertificates: [],
            }
        },
        methods: {
            getWorkingCertificates() {
                axios.get("/re-working-admin/getWorkingCertificates")
                .then((response) => {
                    this.workingCertificates = response.data
                })
            },
            num(index) {
                return index + 1
            },
            cdDtlNm(cdDtlNo) {
                return code_vue.getCodeDtl(cdDtlNo).cd_dtl_nm
            },
            isShow(item) {
                if (item.working_certificate_type == code_vue.getCdDtlNoByAlias("WORKING_CERTIFICATE_TYPE_1") && item.working_certificate_status == code_vue.getCdDtlNoByAlias("WORKING_CERTIFICATE_STATUS_DONE")) {
                    return true
                }

                return false
            },
            isDone(workingCertificateStatus) {
                if (workingCertificateStatus == code_vue.getCdDtlNoByAlias("WORKING_CERTIFICATE_STATUS_DONE")) {
                    return true
                }

                return false
            },
            showWorkingCertificate() {
                working_certificate_vue.loadData()
                $("#working_certificate_modal").modal('show')
            },
            showWorkingCertificateView(item) {
                working_certificate_view_vue.loadData(item)
                $("#working_certificate_view_modal").modal('show')
            },
            showWorkingCertificateReject(workingCertificateId) {
                working_certificate_reject_admin_vue.loadData(workingCertificateId)
                $("#working_certificate_reject_admin_modal").modal('show')
            },
            showWorkingCertificateJoinDate(workingCertificateId, joinDate) {
                working_certificate_join_date_admin_vue.loadData(workingCertificateId, joinDate)
                $("#working_certificate_join_date_admin_modal").modal('show')
            },
            done(workingCertificateId) {
                axios.post("/re-working-admin/updateWorkingCertificateStatusDone/" + workingCertificateId)
                .then((response) => {
                    this.getWorkingCertificates()
                })
            }
        },
        mounted: function() {
            this.getWorkingCertificates()
        }
    }).mount('#working_certificate_admin')
</script>

{% endblock content %}