{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'home/navbar/re_navbar.html' %}


<div id="working_stat_admin" class="row" style="padding: 1%; background-color: #f9f9f9;">
    <div class="col-md-18" style="position: relative;">
        <div style="flex: auto; margin: 3vh auto; width: 97vw; min-height: 53vh; padding: 2%; border-radius:25px; background-color: #ffffff">

            <div class="row" style="padding-bottom: 1vh;">
                <div class="col-8" style="display: flex">
                    <input type="date" class="form-control" style="width: 200px" v-model="startDate">
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="date" class="form-control" style="width: 200px" v-model="endDate">
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <button type="button" class="btn btn-outline-danger" @click="getWorkingStats">검색</button>
                </div>
                <div class="col-4" style="text-align:end">
                    <button type="button" class="btn btn-outline-danger" @click="makeWokringStat">통계생성</button>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <button type="button" class="btn btn-outline-success" @click="download">다운로드</button>
                </div>
            </div>

            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th colspan="2"></th>
                        <th colspan="6">근무횟수</th>
                        <th colspan="2">평균근무시간</th>
                        <th colspan="2">평일 출퇴근시간 평균</th>
                        <th colspan="2">지각</th>
                        <th colspan="4">누적시간</th>
                    </tr>
                    <tr>
                        <th scope="col">이름</th>
                        <th scope="col">소속</th>
                        <th scope="col">평일근무</th>
                        <th scope="col">외부근무</th>
                        <th scope="col">휴가</th>
                        <th scope="col">휴일근무</th>
                        <th scope="col">평일근무누락</th>
                        <th scope="col">종합</th>
                        <th scope="col">평일정상</th>
                        <th scope="col">평일(휴가외근포함)</th>
                        <th scope="col">출근시간평균</th>
                        <th scope="col">퇴근시간평균</th>
                        <th scope="col">지각횟수</th>
                        <th scope="col">지각 누적시간</th>
                        <th scope="col">평일정상</th>
                        <th scope="col">평일(휴가외근포함)</th>
                        <th scope="col">휴일누적시간</th>
                        <th scope="col">평일(휴가외근포함)+휴일</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(item, index) in workingStats">
                        <td v-html="item.member_name"></td>
                        <td v-html="item.group_name" style="cursor: pointer" @click="groupFilter(item.group_key)"></td>
                        <td v-html="item.working_weekday"></td>
                        <td v-html="item.working_out"></td>
                        <td v-html="item.working_off"></td>
                        <td v-html="item.working_weekend"></td>
                        <td v-html="item.working_weekday_omit"></td>
                        <td v-html="workingSum(item)"></td>
                        <td v-html="workingTimeAvg(item.working_weekday_time, item.working_weekday)"></td>
                        <td v-html="workingTimeAvg(item.working_all_time, item.working_weekday + item.working_out + item.working_off)"></td>
                        <td v-html="workingTimeAvg(item.working_start_time, item.working_weekday)"></td>
                        <td v-html="workingTimeAvg(item.working_end_time, item.working_weekday)"></td>
                        <td v-html="item.working_late"></td>
                        <td v-html="workingTime(item.working_late_time)"></td>
                        <td v-html="workingTime(item.working_weekday_time)"></td>
                        <td v-html="workingTime(item.working_all_time)"></td>
                        <td v-html="workingTime(item.working_weekend_time)"></td>
                        <td v-html="workingTime(item.working_all_time + item.working_weekend_time)"></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.4/xlsx.full.min.js"></script>
<script>
    const vue = createApp({
        data () {
            return {
                workingStats: [],
                startDate: "",
                endDate: "",
                days: 0,
            }
        },
        methods: {
            getWorkingStats() {
                axios.get("/re-working-admin/getWorkingStats?startDate=" + this.startDate + "&endDate=" + this.endDate + "&groupKey=0")
                .then((response) => {
                    this.days = moment(this.endDate).diff(moment(this.startDate), "days");
                    this.workingStats = response.data
                })
            },
            groupFilter(groupKey) {
                axios.get("/re-working-admin/getWorkingStats?startDate=" + this.startDate + "&endDate=" + this.endDate + "&groupKey=" + groupKey)
                .then((response) => {
                    this.days = moment(this.endDate).diff(moment(this.startDate), "days");
                    this.workingStats = response.data
                })
            },
            workingSum(item) {
                return item.working_weekday + item.working_out + item.working_off + item.working_weekend + item.working_weekday_omit
            },
            workingTimeAvg(seconds, days) {
                if (seconds == 0 || days == 0)
                    return 0
                avg = seconds / days
                const duration = moment.duration(avg, 'seconds');
                const hours = Math.floor(duration.asHours());
                const minutes = duration.minutes();

                return `${hours}:${minutes}`
            },
            workingTime(seconds) {
                if (seconds == 0)
                    return 0

                const duration = moment.duration(seconds, 'seconds')
                const hours = String(Math.floor(duration.asHours())).padStart(2, "0")
                const minutes = String(duration.minutes()).padStart(2, "0")

                return `${hours}:${minutes}`
            },
            makeWokringStat() {
                axios.get("/re-working-admin/makeWokringStat?startDate=" + this.startDate + "&endDate=" + this.endDate)
                .then((response) => {
                    this.getWorkingStats()
                })
            },
            download() {
                var data = [
                    [ "", "", "근무횟수", "", "", "", "", "", "평균근무시간", "",  "평균출퇴근시간", "", "지각", "", "누적시간", "", "", "" ],
                    [ "이름" ,"소속" ,"평일근무" ,"외부근무" ,"휴가" ,"휴일근무" ,"평일근무누락" ,"종합" ,"평일근무시간평균" ,"평일(휴가외근포함)시간평균" ,"출근시간평균" ,"퇴근시간평균" ,"지각" ,"지각 누적 시간" ,"평일근무시간" ,"평일(휴가외근포함)시간" ,"휴일누적시간" ,"평일(휴가외근포함)+휴일" ]
                ]

                for (workingStat of this.workingStats) {
                    data.push(
                        [
                            workingStat.member_name
                            ,workingStat.group_name
                            ,workingStat.working_weekday
                            ,workingStat.working_out
                            ,workingStat.working_off
                            ,workingStat.working_weekend
                            ,workingStat.working_weekday_omit
                            ,this.workingSum(workingStat)
                            ,this.workingTimeAvg(workingStat.working_weekday_time, workingStat.working_weekday)
                            ,this.workingTimeAvg(workingStat.working_all_time, workingStat.working_weekday + workingStat.working_out + workingStat.working_off)
                            ,this.workingTimeAvg(workingStat.working_start_time, workingStat.working_weekday)
                            ,this.workingTimeAvg(workingStat.working_end_time, workingStat.working_weekday)
                            ,workingStat.working_late
                            ,this.workingTime(workingStat.working_late_time)
                            ,this.workingTime(workingStat.working_weekday_time)
                            ,this.workingTime(workingStat.working_all_time)
                            ,this.workingTime(workingStat.working_weekend_time)
                            ,this.workingTime(workingStat.working_all_time + workingStat.working_weekend_time)
                        ]
                    )
                }

                var ws = XLSX.utils.aoa_to_sheet(data);
                ws['!merges'] = [
                    { s: { r: 0, c: 0 }, e: { r: 0, c: 1 } },
                    { s: { r: 0, c: 2 }, e: { r: 0, c: 7 } },
                    { s: { r: 0, c: 8 }, e: { r: 0, c: 9 } },
                    { s: { r: 0, c: 10 }, e: { r: 0, c: 11 } },
                    { s: { r: 0, c: 12 }, e: { r: 0, c: 13 } },
                    { s: { r: 0, c: 14 }, e: { r: 0, c: 17 } },
                ]
                var wb = XLSX.utils.book_new()

                XLSX.utils.book_append_sheet(wb, ws, "Sheet1")
                XLSX.writeFile(wb, '근무_' + this.startDate + '_' + this.endDate + '.xlsx')
            }
        },
        mounted: function() {
            this.startDate = moment().startOf('month').format('YYYY-MM-DD')
            this.endDate = moment().endOf('month').format('YYYY-MM-DD')

            this.getWorkingStats()
        }
    }).mount('#working_stat_admin')
</script>
{% endblock content %}