{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'home/navbar/re_navbar.html' %}

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<style>
    .material-symbols-outlined {
        font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24
    }
</style>

<div id="todo_list" class="row" style="padding: 1%; background-color: #f9f9f9;">
    <div style="position: relative;">
        <div style="flex: auto; margin: 1vh auto; width: 98vw; min-height: 73vh; padding: 1%; border-radius:25px; background-color: #ffffff">
            <!-- title -->
            <div class="row">
                <div class="col-md-3">
                    <div style="margin: 10px; width: 90vw; height: 5vh;">
                        <h5>오늘</h5>
                        <h6 v-html="today"></h6>
                    </div>
                    <div style="width: 10vw; margin-top: 30px; margin-left: 10px;">
                        <span class="material-symbols-outlined" style="color: #dc4c3e; display: table-cell; vertical-align: middle;">today</span>
                        <span style="padding-left: 5px; color: #666666; display: table-cell; vertical-align: middle;">작업 추가</span>
                    </div>
                    <maketodo></maketodo>
                </div>
                <div class="col-md-8">
                    <todo v-for="(item, index) in todos" :item="item" :index="index" :isHistory="isHistory"></todo>
                </div>
                <div class="col-md-1">
                    <button type="button" class="btn btn-outline-success btn-sm" style="width: 100px" @click="goHistory">히스토리 가기</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Components -->
{% include "./components/make_todo.html" %}
{% include "./components/todo.html" %}
{% include "./layer/todo_view_layer.html" %}

<script>
    const vue = createApp({
        components: {
            "maketodo": makeTodoComponent,
            "todo": todoComponent
        },
        data () {
            return {
                showTodoKey: 0,
                todos: [],
                isHistory: false,
            }
        },
        computed: {
            today: function () {
                return moment().format('MM월 DD일');
            }
        },
        methods: {
            getTodos() {
                axios.get("/re-todo/getTodayTodos")
                .then((res) => {
                    this.todos = res.data
                })
            },
            goHistory() {
                document.location.href = 'todo-history-view'
            }
        },
        mounted() {
            this.getTodos()
            $("#todo_view_modal").on("show.bs.modal", function () {
                vue_layer.getTodo()
            })
        }
    }).mount('#todo_list')
</script>
{% endblock content %}