<template id="auth_check_template">
    <div class="row" style="flex-wrap: nowrap !important; margin-top: 20px;">

        <div class="col-1">
            <h5 class="font-weight-bold text-secondary text-right" v-html="item.member_name"></h5>
        </div>

        <div v-for="(target, index) in targets" v-show="isActive(target)" class="col-1" :key="index">
            <div class="form-check">
                <input class="form-check-input" type="checkbox"  @click="changeAuth(target.name, 'P')" v-model="item[`auth_${target.name}`]">
                <label class="form-check-label">P</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" @click="changeAuth(target.name, 'R')" v-model="item[`auth_${target.name}_register`]">
                <label class="form-check-label">R</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" @click="changeAuth(target.name, 'V')" v-model="item[`auth_${target.name}_validation`]">
                <label class="form-check-label">V</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" @click="changeAuth(target.name, 'D')" v-model="item[`auth_${target.name}_design`]">
                <label class="form-check-label">D</label>
            </div>
        </div>
    <div>
</template>

<script>
    const authcheckComponent = {
        props: {
            targets: {
                type: Array,
            },
            item: {
                type: Object,
            },
            index: {
                type: Number,
            },
        },
        methods: {
            isActive(target) {
                return this.item["auth_" + target.name + "_isActive"]
            },
            changeAuth(target, authType) {
                this.item["auth_" + target + "_isActive"] = true
                if (authType == "P") {
                    this.item["auth_" + target] = true
                    this.item["auth_" + target + "_register"] = false
                    this.item["auth_" + target + "_validation"] = false
                    this.item["auth_" + target + "_design"] = false
                } else if (authType == "R") {
                    this.item["auth_" + target] = true
                    this.item["auth_" + target + "_register"] = true
                    this.item["auth_" + target + "_validation"] = false
                    this.item["auth_" + target + "_design"] = false
                } else if (authType == "V") {
                    this.item["auth_" + target] = true
                    this.item["auth_" + target + "_register"] = true
                    this.item["auth_" + target + "_validation"] = true
                    this.item["auth_" + target + "_design"] = false
                } else if (authType == "D") {
                    this.item["auth_" + target] = true
                    this.item["auth_" + target + "_register"] = true
                    this.item["auth_" + target + "_validation"] = true
                    this.item["auth_" + target + "_design"] = true
                }
            }
        },
        template:'#auth_check_template',
    }
</script>
