<template id="auth_type_template">
    <select class="form-select" @change="changeAuth(target)" v-model="sel_auth_type">
        <option v-for="(auth_type, index) in auth_types" :value="auth_type.value" :bind:key="index" v-html="auth_type.name"></option>
    </select>
</template>

<script>
    const authtypeComponent = {
        props: {
            target: {
                type: Object,
            }
        },
        data() {
            return {
                auth_types: [
                    {name:'선택', value:''},
                    {name:'선택 P', value:'P'},
                    {name:'선택 R', value:'R'},
                    {name:'선택 V', value:'V'},
                    {name:'선택 D', value:'D'},
                    {name:'전체 해제', value:'A'},

                ],
                sel_auth_type: ''
            }
        },
        methods : {
            changeAuth(target) {
                if (typeof vue.auth_checks !="undefined" && vue.auth_checks.length > 0)  {
                    for (var authCheck of vue.auth_checks) {
                        authCheck["auth_" + target.name + "_isActive"] = target.isActive
                        if (this.sel_auth_type == "P") {
                            authCheck["auth_" + target.name] = true
                            authCheck["auth_" + target.name + "_register"] = false
                            authCheck["auth_" + target.name + "_validation"] = false
                            authCheck["auth_" + target.name + "_design"] = false
                        } else if (this.sel_auth_type == "R") {
                            authCheck["auth_" + target.name] = true
                            authCheck["auth_" + target.name + "_register"] = true
                            authCheck["auth_" + target.name + "_validation"] = false
                            authCheck["auth_" + target.name + "_design"] = false
                        } else if (this.sel_auth_type == "V") {
                            authCheck["auth_" + target.name] = true
                            authCheck["auth_" + target.name + "_register"] = true
                            authCheck["auth_" + target.name + "_validation"] = true
                            authCheck["auth_" + target.name + "_design"] = false
                        } else if (this.sel_auth_type == "D") {
                            authCheck["auth_" + target.name] = true
                            authCheck["auth_" + target.name + "_register"] = true
                            authCheck["auth_" + target.name + "_validation"] = true
                            authCheck["auth_" + target.name + "_design"] = true
                        } else if (this.sel_auth_type == "A") {
                            authCheck["auth_" + target.name] = false
                            authCheck["auth_" + target.name + "_register"] = false
                            authCheck["auth_" + target.name + "_validation"] = false
                            authCheck["auth_" + target.name + "_design"] = false
                        }
                    }
                }
            }
        },
        template:'#auth_type_template',
    }
</script>
