<template id="auth_check_header_template">
    <div class="row" style="flex-wrap: nowrap !important ">
        <div class="col-1"><h5 class="font-weight-bold text-secondary text-right"></h5></div>
        <div class="col-1" v-for="target in targets.filter((target) => target.isActive)">
            <p class="font-weight-bold text-left" style="font-size: 13px" v-html="target.display"></p>
            <Authtype :target="target"></Authtype>
        </div>

    </div>
</template>

{% include "./auth_type.html" %}

<script>
    const authcheckheaderComponent = {
        components: {
            "Authtype": authtypeComponent,
        },
        props: {
            targets: {
                type: Array,
            },
            index: {
                type: Number,
            },
        },
        data() {
            return {}
        },
        methods : {},
        template:'#auth_check_header_template',
    }
</script>
