<template id="auth_target_template">
    <div class="row">
        <div v-for="target in targets">
            <button type="button" :class="{'btn btn-outline-danger active': target.isActive, 'btn btn-outline-danger': !target.isActive}" style="margin-top:20px;margin-left:20px;margin-right:5px;" v-html="target.display" v-on:click="targetActive(target)"></button>
        </div>
    </div>
</template>

<script>
    const authtargetComponent = {
        props: {
            targets: {
                type: Array,
            },
            auth_checks: {
                type: Array,
            },
            index: {
                type: Number,
            },
        },
        methods: {
            targetActive(target) {
                target.isActive = !target.isActive
                if (this.auth_checks.length > 0)  {
                    for (var authCheck of this.auth_checks) {
                        authCheck["auth_" + target.name +"_isActive"] = target.isActive
                    }
                }
            }
        },
        template:'#auth_target_template',
    }
</script>
