# : comments

static/tumormanager/files/*.gltf

# no .a files
# *.a
*.pem

*.pyc
__pycache__/
media/compoundbank/compound_image_png/
# */migrations/*
# */migrations/00*
migrations/
*.h5
*.sdf
# !*/migrations/__init__.py
.DS_Store
media/IP/Patent/Public/*.pdf
media/IP/Patent/*
media/pdbsummary/*
*.pdf
*.xlsx
*.csv
*.pdb
*.mtz
*.sca
*.sdf
media/TM/*
inquiry/checkpoints/*
!inquiry/checkpoints/placeholder.txt
media/*
.idea/*
.zshrc

launch.json
# but do track lib.a, even though you're ignoring .a files above
# !lib.a

# only ignore the TODO file in the current directory, not subdir/TODO
# /TODO

# ignore all files in the build/ directory
# build/

# ignore doc/notes.txt, but not doc/server/arch.txt
# doc/*.txt

# ignore all .pdf files in the doc/ directory
# doc/**/*.pdf
program/.DS_Store
member/.DS_Store
.bash_profile
.DS_Store
static/files/token.json
token.json

.env