<template id="member-certificate">
    <div>
        <div class="remove-btn" v-on:click="removeMemberCertificate(index)">X</div>
        <div class="info-box">
            <form class="row g-3">
                <div class="col-4">
                    <label class="form-label">면허자격명</label>
                    <input type="text" class="form-control" v-model="item.certificate_name">
                </div>
                <div class="col-4">
                    <label for="certificate_date" class="form-label">취득일</label>
                    <input type="date" class="form-control" v-model="item.certificate_date" placeholder="YYYY-MM-DD">
                </div>
                <div class="col-4">
                    <label for="certificate_issuer" class="form-label">발행처</label>
                    <input type="text" class="form-control" v-model="item.certificate_issuer">
                </div>
            </form>
        </div>
    </div>
</template>


<script>
    const memberCertificateComponent = {
        props: {
            item: {
                type: Object,
            },
            index: {
                type: Number,
            },
        },
        methods: {
            removeMemberCertificate(index) {
                this.$parent.removeMemberCertificate(index);
            },
        },
        mounted: function() {},
        template:'#member-certificate',
    }
</script>