<template id="member-family">
    <div>
        <div class="remove-btn" v-on:click="removeMemberFamily(index)">X</div>
        <div class="info-box">
            <form class="row g-3">
                <div class="col-3">
                    <label for="relationship" class="form-label">관계</label>
                    <input type="text" class="form-control" v-model="item.relationship">
                </div>
                <div class="col-3">
                    <label for="name" class="form-label">성명</label>
                    <input type="text" class="form-control" v-model="item.name">
                </div>
                <div class="col-3">
                    <label for="birthday" class="form-label">생년월일</label>
                    <input type="date" class="form-control" v-model="item.birthday" placeholder="YYYY-MM-DD">
                </div>
                <div class="col-3">
                    <label for="is_live" class="form-label">동거여부</label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="is_live" v-model="item.is_live" value="Y" @click="copyMemberAddr">
                        <label class="form-check-label" for="isLiveY">예</label>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <input class="form-check-input" type="radio" name="is_live" v-model="item.is_live"  value="N" @click="emptyMemberAddr">
                        <label class="form-check-label" for="isLiveN">아니요</label>
                    </div>
                </div>
                <div class="col-12">
                    <label for="addr" class="form-label">거주지</label>
                    <input type="text" class="form-control" v-model="item.addr">
                </div>
            </form>
        </div>
    </div>
</template>


<script>
    const memberFamilyComponent = {
        props: {
            item: {
                type: Object,
            },
            index: {
                type: Number,
            },
        },
        methods: {
            removeMemberFamily(index) {
                this.$parent.removeMemberFamily(index);
            },
            copyMemberAddr() {
                this.item.addr = this.$parent.member_private_info.member_addr
            },
            emptyMemberAddr() {
                this.item.addr = ''
            },
        },
        mounted: function() {},
        template:'#member-family',
    }
</script>