<template id="member-foreign-lang">
    <div>
        <div class="remove-btn" v-on:click="removeMemberForeignLang(index)">X</div>
        <div class="info-box">
            <form class="row g-3">
                <div class="col-3">
                    <label for="foreign_lang_name" class="form-label">외국어명</label>
                    <input type="text" class="form-control" v-model="item.foreign_lang_name">
                </div>
                <div class="col-3">
                    <label for="foreign_lang_exam" class="form-label">시험</label>
                    <input type="text" class="form-control" v-model="item.foreign_lang_exam">
                </div>
                <div class="col-3">
                    <label for="foreign_lang_exam_level" class="form-label">공인점수</label>
                    <input type="text" class="form-control" v-model="item.foreign_lang_exam_level">
                </div>
                <div class="col-3">
                    <label for="foreign_lang_date" class="form-label">취득일</label>
                    <input type="date" class="form-control" v-model="item.foreign_lang_date" placeholder="YYYY-MM-DD">
                </div>
            </form>
        </div>
    </div>
</template>


<script>
    const memberForeignLangComponent = {
        props: {
            item: {
                type: Object,
            },
            index: {
                type: Number,
            },
        },
        methods: {
            removeMemberForeignLang(index) {
                this.$parent.removeMemberForeignLang(index);
            },
        },
        mounted: function() {},
        template:'#member-foreign-lang',
    }
</script>