{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'home/navbar/re_navbar.html' %}
<style>
    svg {
        width:200px;
    }
    .col-in {
        /*padding-left: 0px;
        padding-right: 0px;*/
    }
    .btn-c-w {
        color:#fff;
    }

    .form-label {
        display:inline;
        vertical-align: text-bottom;
    }
    .dataTable td {
        vertical-align: middle;
    }
    table.dataTable {
        background: #fff;
    }
    .bold {
        font-weight:bold;
    }
    .title0 {
        font-weight: bold;
        font-size: 20px;
        padding: 5px 0px 0px 0px;
    }
    .title1 {
        font-weight: bold;
        font-size: 16px;
        padding: 5px 0px 5px 0px;
    }
    .title2 {
        font-size: 14px;
        padding: 0px 0px 5px 0px;
    }
    .small {
        font-size:60%;
    }

    .fs-wrap {
        display:block;
        width:100%;
    }

    .fs-label-wrap {
        height: calc(1.5em + 1.1rem + 2px);
        padding: 0.375rem 0.75rem;
        border-radius: 0.25rem;
    }
    .font-red {
        color:#ff0000;
    }
    .font-green {
        color:#17a2b8;
    }
    .date_search {
        width:150px;
        display:inline-block;
    }

    .row_b_1 {
        border-bottom: 1px dotted #ababab;
    }
    .row_t_p_1 {
        padding-top: 10px;
    }

    .modal-dialog {
        max-width: 600px;
    }
    .modal-content {
        width: 650px;
    }

    .result_reg_form {
        width: 100%;
        border: 1px solid #aaa;
    }

    .result_reg_form th {
        border: 1px solid #aaa;
        background-color:#eee;
    }
    .result_reg_form td {
        border: 1px solid #aaa;
    }
    .table_title {
        font-size:16px;
        font-weight:bold;
    }
    .table_sub_title {
        height:50px;
        background-color: #dadada !important;
    }
    {% comment %} #result_table th, #result_table td { white-space: nowrap; } {% endcomment %}
    table.dataTable thead tr>.dtfc-fixed-left, table.dataTable thead tr>.dtfc-fixed-right {
        background-color: black;
    }
    div.dtfc-left-top-blocker, div.dtfc-right-top-blocker {
        background-color: initial;
    }
    {% comment %} .dtfc-fixed-left {
        color:#fff;
    } {% endcomment %}

    .top_line {
        border-top: 1px dotted #000;
        padding-top: 10px;
    }

    .table td, .table th {
        vertical-align:middle;
    }

</style>

<div class="row">
    <div class="col-md-12" style="text-align:center;">
        <p><span style="font-size:40px;font-weight:bold;">해당 계정은 본 페이지에 접근 권한이 없습니다.</span></p>
        <p><span style="font-size:20px;font-weight:bold;">(접근권한은 인사팀의 홍경순 팀장님께 문의주세요)</span></p>
    </div>
</div>

{% endblock content %}
