<!-- 기본정보 -->
<div class="col-3" style="height: 80vh; padding: 1%; border-radius:25px; background-color: #ffffff">
    <!-- image -->
    <div style="height: 100px;">
        <div style="float:left; height: 150px; width: 150px;">
            {% if member.member_image == null %}
            <img id="member-image" src="/static/images/logo.png" style="width: 100%; height: 100%; object-fit:cover; background-color:black; border-radius:25px;">
            {% else %}
            <img id="member-image" src="/media/re-member/{{ member.member_image}}" style="width: 100%; height: 100%; object-fit:cover; background-color:black; border-radius:25px;">
            {% endif %}
        </div>
        <div style="float:right; width: 110px;  tex-align: right;">
            <button type="button" class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="#member_info_default_modal">기본정보 수정</button>
        </div>
    </div>
    <div style="margin-top:80px"><h5 class="font-weight-bold" id="view_member_name">{{ member.member_name | default_if_none:'--' }} ({{ member.member_company_id | default_if_none:'--' }})</h5></div>

    <!-- default info -->
    <div style="margin-top: 30px;">
        <table style="width: 20vw; text-align:left;">
            <tr>
                <th><p class="h7 text-muted">생년월일</p></th>
                <th><p class="h7 font-weight-bold text-secondary" id="view_member_birthday">{{ member.member_birthday | default_if_none:'--' }}</p></th>
            </tr>
            <tr>
                <th><p class="h7 text-muted">생일</p></th>
                <th><p class="h7 font-weight-bold text-secondary" id="view_birthday">{{ birthday | default_if_none:'--' }}</p></th>
            </tr>
            <tr>
                <th><p class="h7 text-muted">나이</p></th>
                <th><p class="h7 font-weight-bold text-secondary" id="view_age">{{ age | default_if_none:'--' }}</p></th>
            </tr>
            <tr>
                <th><p class="h7 text-muted">성별</p></th>
                <th><p class="h7 font-weight-bold text-secondary" id="view_gender">{{ gender | default_if_none:'--' }}</p></th>
            </tr>
            <tr>
                <th><p class="h7 text-muted">이메일</p></th>
                <th><p class="h7 font-weight-bold text-secondary" id="view_member_email">{{ member.member_email | default_if_none:'--' }}</p></th>
            </tr>
            <tr>
                <th><p class="h7 text-muted">핸드폰번호</p></th>
                <th><p class="h7 font-weight-bold text-secondary" id="view_member_hp">{{ member.member_hp | default_if_none:'--' }}</p></th>
            </tr>
            <tr>
                <th><p class="h7 text-muted">입사일</p></th>
                <th><p class="h7 font-weight-bold text-secondary" id="view_join_date">{{ member.join_date|date:"Y-m-d" }}</p></th>
            </tr>
            <tr>
                <th><p class="h7 text-muted">퇴사일</p></th>
                <th><p class="h7 font-weight-bold text-secondary" id="view_leave_date">{{ member.leave_date|date:"Y-m-d" }}</p></th>
            </tr>
        </table>
    </div>

    <!-- default info -->
    <div style="margin-top: 10px;">
        <h5 class="font-weight-bold">
            <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#member_info_group_modal">조직</button>
        </h5>
        <div id="group_info"></div>
    </div>
</div>