{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'home/navbar/re_navbar.html' %}

<link rel="stylesheet" href="https://cdn.datatables.net/fixedheader/3.2.3/css/fixedHeader.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.2.3/css/buttons.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/fixedcolumns/4.1.0/css/fixedColumns.dataTables.min.css">

<style>
    .dataTable {
        width:100% !important;
    }
    .dataTable td {
        vertical-align: middle;
    }
    .font-12 {
        font-size:12px;
    }
    .dataTables_wrapper .dataTables_scroll {
        background: #CBC9C9;
    }
    table.dataTable thead th {
        text-align:center;
    }
    table.dataTable tbody td {
        text-align:center;
    }
    th, td { white-space: nowrap; }
    div.dataTables_wrapper {
        width: 100%;
        margin: 0 auto;
    }
    .dataTables_wrapper input {
        width: 300px;
    }
</style>

<div style="padding-top:30px; ">
    <!-- title -->
    <legend class="border-bottom mb-4" style="padding-bottom: 2vh;">임직원 관리</legend>

    <!-- botton box -->
    <div class="row float-right" style="width: 20vw; margin-bottom: 30px">
        <div class="col-4">
            <div class="form-group form-check">
                <input type="checkbox" id="isLeaveMember" class="form-check-input" onchange="getJoinMembers()">
                <label class="form-check-label" for="isLeaveMember">퇴사자 포함</label>
            </div>
        </div>
        <div class="col-8">
            <button type="button" class="btn btn-outline-primary" onclick="showLayer()">임직원 기본 정보 생성</button>
        </div>
    </div>

    <!-- data -->
    <div style="width:100%; margin: 0 auto; align-content: center;">
        <table class="table table-striped table-bordered display" id="data_table">
            <thead>
                <tr>
                    <th>No</th>
                    <th>사번</th>
                    <th>성명</th>
                    <th>생년월일</th>
                    <th>나이</th>
                    <th>이메일</th>
                    <th>핸드폰</th>
                    <th>팀</th>
                    <th>팀리더</th>
                    <th>입사일</th>
                    <th>퇴사일</th>
                    <th>기능</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

{% include "layer/member_info_default_layer.html" %}
{% include "layer/member_leave_layer.html" %}

<script src="https://cdn.datatables.net/fixedheader/3.2.3/js/dataTables.fixedHeader.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>
<script src="{% static '/js/dataTables.fixedColumns.js' %}"></script>
<script src="{% static '/js/buttons.html5.js' %}"></script>
<script src="{% static '/js/jquery.table2excel.min.js' %}"></script>
<script>
    $(".loadingDiv").show();

    var isListPage = true
    var dataTable;
    $(document).ready(function() {
        makeDataTable();
        $(".loadingDiv").hide();
    });

    function makeDataTable() {
        dataTable = $('#data_table').DataTable({
            ajax: {
                type: "GET",
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                url: "getMembers?is_leave=N",
                dataSrc: function (data) {
                    for (let i = data.length; i > 0; i--) {
                        data[i - 1].index = i;
                    }
                    return data;
                }
            },
            columns: [
                {data: "index"},
                {data: "member_company_id"},
                {data: "member_name"},
                {data: "member_birthday"},
                {data: "member_birthday"},
                {data: "member_email"},
                {data: "member_hp"},
                {data: "group_name"},
                {data: "is_leader"},
                {data: "join_date"},
                {data: "leave_date"},
                {data: "member_id"},
            ],
            columnDefs: [
                {
                    target: 0,
                    searchable: false,
                    orderable: false,
                },
                {
                    targets: 4,
                    render: function ( data, type, row, meta ) {
                        var today = moment()
                        var birthday = moment(data)
                        var age = today.year() - birthday.year()
                        var plusAge = birthday.add(age, 'y') < today ? 0 : 1

                        return age - plusAge
                    }
                },
                {
                    targets: 8,
                    render: function ( data, type, row, meta ) {
                        return data == 'Y' ? "팀리더" : "";
                    }
                },
                {
                    targets: 9,
                    render: function ( data, type, row, meta ) {
                        return moment(data).format('YYYY-MM-DD');
                    }
                },
                {
                    targets: 10,
                    render: function ( data, type, row, meta ) {
                        if (data === null) {
                            return ""
                        }
                        return moment(data).format('YYYY-MM-DD');
                    }
                },
                {
                    targets: 11,
                    width: "5%",
                    render: function ( data, type, row, meta ) {
                        var html = "<button type=\"button\" class=\"btn btn-success btn-sm\" onclick=\"goMemberView('" + data + "')\">보기</button>"
                        html +=  "&nbsp;&nbsp;"
                        if (row.leave_date == null || row.leave_date == '') {
                            html +=  "<button type=\"button\" class=\"btn btn-warning btn-sm\" onclick=\"showLeaveMemberLayer(" + data + ")\">퇴사</button>"
                        }
                        html +=  "&nbsp;&nbsp;"
                        html +=  "<button type=\"button\" class=\"btn btn-danger btn-sm\" onclick=\"remove(" + data + ")\">삭제</button>"

                        return html;
                    }
                }
            ],
            order: [ [0, 'desc'], [1, 'desc'], [2, 'asc'], [3, 'asc'], [4, 'asc'], [5, 'asc'], [6, 'asc'], [7, 'asc'], [8, 'asc'], [9, 'asc'], [10, 'asc'],],
            ordering: true,
            fixedHeader:true,
            scrollX: true,
            iDisplayLength: 100,
            bStateSave: true,
            search: { 'regex': true },
            dom: 'Bfrtip',
            lengthMenu: [
                [ 50, 100, 200, -1, ],
                [ '50 rows', '100 rows', '200 rows', 'Show all', ]
            ],
            buttons: [ 'pageLength' ],
        });
    }

    function getJoinMembers() {
        var isLeaveMember = $("#isLeaveMember").is(':checked') ? "Y" : "N"
        dataTable.ajax.url("getMembers?is_leave=" + isLeaveMember).load();
    }

    function goMemberView(memberId) {
        document.location.href='/re-member/member-view/' + memberId;
    }

    function remove(memberId) {
        if (confirm("삭제하시겠습니까?")) {
            $.ajax({
                type: "POST",
                url: "/re-member/deleteMember/" + memberId,
                success: function () {
                    dataTable.ajax.reload(false);
                }
            });
        }
    }

    function showLayer() {
        $('#member_info_default_modal').modal('show')
    }

    function showLeaveMemberLayer(memberId) {
        member_leave_vue.memberId = memberId
        $('#member_leave_modal').modal('show')
    }
</script>
{% endblock content %}