<div class="tab-pane fade" id="member-info-card-tab-pane" role="tabpanel" aria-labelledby="member-info-card-tab" tabindex="1">
    <div style="margin-top: 10px;">
        <div class="float-end">
            <button type="button" class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="#member_info_card_modal">인사기록카드 수정</button>
        </div>
    </div>

    <br>
    <div style="overflow-y: scroll; overflow-x: hidden; max-height: 60vh; width: 100%;">
        <div class="title">개인정보</div>
        <div style="border-bottom: 0.5px solid #e2e4e7; border-radius: 15px; background-color: #f7f6f9; margin-top: 10px; padding: 10px">
            <div class="row" style="padding: 0px 5px">
                <div class="col-1" style="padding: 5px 15px; display: flex; justify-content: left; align-items: center;">영문</div>
                <div class="col" style="padding: 5px 15px; display: flex; align-items: center; font-weight: 500; background: rgb(255, 255, 255); border-radius: 5px; margin: 5px;">[[ member_private_info.member_eng_name ]]</div>
                <div class="col-1" style="padding: 5px 15px; display: flex; justify-content: left; align-items: center;">한자</div>
                <div class="col" style="padding: 5px 15px; display: flex; align-items: center; font-weight: 500; background: rgb(255, 255, 255); border-radius: 5px; margin: 5px;">[[ member_private_info.member_chinese_name ]]</div>
                <div class="col-1" style="padding: 5px 15px; display: flex; justify-content: left; align-items: center;">주민번호</div>
                <div class="col" style="padding: 5px 15px; display: flex; align-items: center; font-weight: 500; background: rgb(255, 255, 255); border-radius: 5px; margin: 5px;">[[ member_private_info.member_social_id_first ]] - [[ member_private_info.member_social_id_second ]]</div>
            </div>
            <div class="row" style="padding: 0px 5px">
                <div class="col-1" style="padding: 5px 15px; display: flex; justify-content: left; align-items: center;">현주소</div>
                <div class="col" style="padding: 5px 15px; display: flex; align-items: center; font-weight: 500; background: rgb(255, 255, 255); border-radius: 5px; margin: 5px;">[[ member_private_info.member_addr ]]</div>
            </div>
            <div class="row" style="padding: 0px 5px">
                <div class="col-1" style="padding: 5px 15px; display: flex; justify-content: left; align-items: center;">은행명</div>
                <div class="col" style="padding: 5px 15px; display: flex; align-items: center; font-weight: 500; background: rgb(255, 255, 255); border-radius: 5px; margin: 5px;">[[ member_private_info.member_bank ]]</div>
                <div class="col-1" style="padding: 5px 15px; display: flex; justify-content: left; align-items: center;">계좌번호</div>
                <div class="col" style="padding: 5px 15px; display: flex; align-items: center; font-weight: 500; background: rgb(255, 255, 255); border-radius: 5px; margin: 5px;">[[ member_private_info.member_bank_num ]]</div>
                <div class="col-1" style="padding: 5px 15px; display: flex; justify-content: left; align-items: center;">비상연락처</div>
                <div class="col" style="padding: 5px 15px; display: flex; align-items: center; font-weight: 500; background: rgb(255, 255, 255); border-radius: 5px; margin: 5px;">[[ member_private_info.member_hp_er ]]</div>
                <div class="col-1" style="padding: 5px 15px; display: flex; justify-content: left; align-items: center;">비상연착처명</div>
                <div class="col" style="padding: 5px 15px; display: flex; align-items: center; font-weight: 500; background: rgb(255, 255, 255); border-radius: 5px; margin: 5px;">[[ member_private_info.member_hp_er_name ]]</div>
            </div>
        </div>
    
        <div class="title">학교</div>
        <div v-for="member_college in member_colleges" style="border-bottom: 0.5px solid #e2e4e7; border-radius: 15px; background-color: #f7f6f9; margin-top: 10px; padding: 10px">
            <div class="row" style="padding: 0px 5px">
                <div class="col-1" style="padding: 5px 15px; display: flex; justify-content: left; align-items: center;">학교</div>
                <div class="col" style="padding: 5px 15px; display: flex; align-items: center; font-weight: 500; background: rgb(255, 255, 255); border-radius: 5px; margin: 5px;">[[ cdDtlNm(member_college.college_type) ]]</div>
                <div class="col-1" style="padding: 5px 15px; display: flex; justify-content: left; align-items: center;">학교명</div>
                <div class="col" style="padding: 5px 15px; display: flex; align-items: center; font-weight: 500; background: rgb(255, 255, 255); border-radius: 5px; margin: 5px;">[[ member_college.college_name ]]</div>
                <div class="col-1" style="padding: 5px 15px; display: flex; justify-content: left; align-items: center;">재학 시작일</div>
                <div class="col" style="padding: 5px 15px; display: flex; align-items: center; font-weight: 500; background: rgb(255, 255, 255); border-radius: 5px; margin: 5px;">[[ member_college.college_start_date ]]</div>
                <div class="col-1" style="padding: 5px 15px; display: flex; justify-content: left; align-items: center;">재학 종료일</div>
                <div class="col" style="padding: 5px 15px; display: flex; align-items: center; font-weight: 500; background: rgb(255, 255, 255); border-radius: 5px; margin: 5px;">[[ member_college.college_end_date ]]</div>
            </div>
            <div class="row" style="padding: 0px 5px">
                <div class="col-1" style="padding: 5px 15px; display: flex; justify-content: left; align-items: center;">졸업구분</div>
                <div class="col" style="padding: 5px 15px; display: flex; align-items: center; font-weight: 500; background: rgb(255, 255, 255); border-radius: 5px; margin: 5px;">[[ cdDtlNm(member_college.college_status) ]]</div>
                <div class="col-1" style="padding: 5px 15px; display: flex; justify-content: left; align-items: center;">전공</div>
                <div class="col" style="padding: 5px 15px; display: flex; align-items: center; font-weight: 500; background: rgb(255, 255, 255); border-radius: 5px; margin: 5px;">[[ cdDtlNm(member_college.college_major) ]]</div>
                <div class="col-1" style="padding: 5px 15px; display: flex; justify-content: left; align-items: center;">학위번호</div>
                <div class="col" style="padding: 5px 15px; display: flex; align-items: center; font-weight: 500; background: rgb(255, 255, 255); border-radius: 5px; margin: 5px;">[[ member_college.college_degree_num ]]</div>
            </div>
        </div>
    
        <div class="title">병역</div>
        <div style="border-bottom: 0.5px solid #e2e4e7; border-radius: 15px; background-color: #f7f6f9; margin-top: 10px; padding: 10px">
            <div class="row" style="padding: 0px 5px">
                <div class="col-1" style="padding: 5px 15px; display: flex; justify-content: left; align-items: center;">제대구분</div>
                <div class="col" style="padding: 5px 15px; display: flex; align-items: center; font-weight: 500; background: rgb(255, 255, 255); border-radius: 5px; margin: 5px;">[[ cdDtlNm(member_military.military_discharge_type) ]]</div>
                <div class="col-1" style="padding: 5px 15px; display: flex; justify-content: left; align-items: center;">특례구분</div>
                <div class="col" style="padding: 5px 15px; display: flex; align-items: center; font-weight: 500; background: rgb(255, 255, 255); border-radius: 5px; margin: 5px;">[[ member_military.military_etc_type ]]</div>
                <div class="col-1" style="padding: 5px 15px; display: flex; justify-content: left; align-items: center;">군별</div>
                <div class="col" style="padding: 5px 15px; display: flex; align-items: center; font-weight: 500; background: rgb(255, 255, 255); border-radius: 5px; margin: 5px;">[[ member_military.military_type ]]</div>
                <div class="col-1" style="padding: 5px 15px; display: flex; justify-content: left; align-items: center;">최종계급</div>
                <div class="col" style="padding: 5px 15px; display: flex; align-items: center; font-weight: 500; background: rgb(255, 255, 255); border-radius: 5px; margin: 5px;">[[ member_military.military_discharge_rank ]]</div>
                <div class="col-1" style="padding: 5px 15px; display: flex; justify-content: left; align-items: center;">병과</div>
                <div class="col" style="padding: 5px 15px; display: flex; align-items: center; font-weight: 500; background: rgb(255, 255, 255); border-radius: 5px; margin: 5px;">[[ member_military.military_skill ]]</div>
            </div>
            <div class="row" style="padding: 0px 5px">
                <div class="col-1" style="padding: 5px 15px; display: flex; justify-content: left; align-items: center;">복무시작일</div>
                <div class="col" style="padding: 5px 15px; display: flex; align-items: center; font-weight: 500; background: rgb(255, 255, 255); border-radius: 5px; margin: 5px;">[[ member_military.military_start_date ]]</div>
                <div class="col-1" style="padding: 5px 15px; display: flex; justify-content: left; align-items: center;">복무종료일</div>
                <div class="col" style="padding: 5px 15px; display: flex; align-items: center; font-weight: 500; background: rgb(255, 255, 255); border-radius: 5px; margin: 5px;">[[ member_military.military_end_date ]]</div>
                <div class="col-1" style="padding: 5px 15px; display: flex; justify-content: left; align-items: center;">군번</div>
                <div class="col" style="padding: 5px 15px; display: flex; align-items: center; font-weight: 500; background: rgb(255, 255, 255); border-radius: 5px; margin: 5px;">[[ member_military.military_num ]]</div>
            </div>
            <div class="row" style="padding: 0px 5px">
                <div class="col-1" style="padding: 5px 15px; display: flex; justify-content: left; align-items: center;">미필 사유</div>
                <div class="col" style="padding: 5px 15px; display: flex; align-items: center; font-weight: 500; background: rgb(255, 255, 255); border-radius: 5px; margin: 5px;">[[ member_military.memo ]]</div>
            </div>
        </div>

        <div class="title">자격증</div>
        <div v-for="member_certificate in member_certificates" style="border-bottom: 0.5px solid #e2e4e7; border-radius: 15px; background-color: #f7f6f9; margin-top: 10px; padding: 10px">
            <div class="row" style="padding: 0px 5px">
                <div class="col-1" style="padding: 5px 15px; display: flex; justify-content: left; align-items: center;">면허자격명</div>
                <div class="col" style="padding: 5px 15px; display: flex; align-items: center; font-weight: 500; background: rgb(255, 255, 255); border-radius: 5px; margin: 5px;">[[ member_certificate.certificate_name ]]</div>
                <div class="col-1" style="padding: 5px 15px; display: flex; justify-content: left; align-items: center;">취득일</div>
                <div class="col" style="padding: 5px 15px; display: flex; align-items: center; font-weight: 500; background: rgb(255, 255, 255); border-radius: 5px; margin: 5px;">[[ member_certificate.certificate_date ]]</div>
                <div class="col-1" style="padding: 5px 15px; display: flex; justify-content: left; align-items: center;">발행처</div>
                <div class="col" style="padding: 5px 15px; display: flex; align-items: center; font-weight: 500; background: rgb(255, 255, 255); border-radius: 5px; margin: 5px;">[[ member_certificate.certificate_issuer ]]</div>
            </div>
        </div>

        <div class="title">어학능력</div>
        <div v-for="member_foreign_lang in member_foreign_langs" style="border-bottom: 0.5px solid #e2e4e7; border-radius: 15px; background-color: #f7f6f9; margin-top: 10px; padding: 10px">
            <div class="row" style="padding: 0px 5px">
                <div class="col-1" style="padding: 5px 15px; display: flex; justify-content: left; align-items: center;">외국어명</div>
                <div class="col" style="padding: 5px 15px; display: flex; align-items: center; font-weight: 500; background: rgb(255, 255, 255); border-radius: 5px; margin: 5px;">[[ member_foreign_lang.foreign_lang_name ]]</div>
                <div class="col-1" style="padding: 5px 15px; display: flex; justify-content: left; align-items: center;">시험</div>
                <div class="col" style="padding: 5px 15px; display: flex; align-items: center; font-weight: 500; background: rgb(255, 255, 255); border-radius: 5px; margin: 5px;">[[ member_foreign_lang.foreign_lang_exam ]]</div>
                <div class="col-1" style="padding: 5px 15px; display: flex; justify-content: left; align-items: center;">공인점수</div>
                <div class="col" style="padding: 5px 15px; display: flex; align-items: center; font-weight: 500; background: rgb(255, 255, 255); border-radius: 5px; margin: 5px;">[[ member_foreign_lang.foreign_lang_exam_level ]]</div>
                <div class="col-1" style="padding: 5px 15px; display: flex; justify-content: left; align-items: center;">취득일</div>
                <div class="col" style="padding: 5px 15px; display: flex; align-items: center; font-weight: 500; background: rgb(255, 255, 255); border-radius: 5px; margin: 5px;">[[ member_foreign_lang.foreign_lang_date ]]</div>
            </div>
        </div>

        <div class="title">경력사항</div>
        <div v-for="member_company in member_companys" style="border-bottom: 0.5px solid #e2e4e7; border-radius: 15px; background-color: #f7f6f9; margin-top: 10px; padding: 10px">
            <div class="row" style="padding: 0px 5px">
                <div class="col-1" style="padding: 5px 15px; display: flex; justify-content: left; align-items: center;">근무처</div>
                <div class="col" style="padding: 5px 15px; display: flex; align-items: center; font-weight: 500; background: rgb(255, 255, 255); border-radius: 5px; margin: 5px;">[[ member_company.company_name ]]</div>
                <div class="col-1" style="padding: 5px 15px; display: flex; justify-content: left; align-items: center;">근무 시작일</div>
                <div class="col" style="padding: 5px 15px; display: flex; align-items: center; font-weight: 500; background: rgb(255, 255, 255); border-radius: 5px; margin: 5px;">[[ member_company.working_start_date ]]</div>
                <div class="col-1" style="padding: 5px 15px; display: flex; justify-content: left; align-items: center;">근무 종료일</div>
                <div class="col" style="padding: 5px 15px; display: flex; align-items: center; font-weight: 500; background: rgb(255, 255, 255); border-radius: 5px; margin: 5px;">[[ member_company.working_end_date ]]</div>
            </div>
            <div class="row" style="padding: 0px 5px">
                <div class="col-1" style="padding: 5px 15px; display: flex; justify-content: left; align-items: center;">담당부서</div>
                <div class="col" style="padding: 5px 15px; display: flex; align-items: center; font-weight: 500; background: rgb(255, 255, 255); border-radius: 5px; margin: 5px;">[[ member_company.division ]]</div>
                <div class="col-1" style="padding: 5px 15px; display: flex; justify-content: left; align-items: center;">직급</div>
                <div class="col" style="padding: 5px 15px; display: flex; align-items: center; font-weight: 500; background: rgb(255, 255, 255); border-radius: 5px; margin: 5px;">[[ member_company.position ]]</div>
                <div class="col-1" style="padding: 5px 15px; display: flex; justify-content: left; align-items: center;">담당업무</div>
                <div class="col" style="padding: 5px 15px; display: flex; align-items: center; font-weight: 500; background: rgb(255, 255, 255); border-radius: 5px; margin: 5px;">[[ member_company.job ]]</div>
                <div class="col-1" style="padding: 5px 15px; display: flex; justify-content: left; align-items: center;">연봉</div>
                <div class="col" style="padding: 5px 15px; display: flex; align-items: center; font-weight: 500; background: rgb(255, 255, 255); border-radius: 5px; margin: 5px;">[[ member_company.annual_income ]]</div>
            </div>
            <div class="row" style="padding: 0px 5px">
                <div class="col-1" style="padding: 5px 15px; display: flex; justify-content: left; align-items: center;">퇴사사유</div>
                <div class="col" style="padding: 5px 15px; display: flex; align-items: center; font-weight: 500; background: rgb(255, 255, 255); border-radius: 5px; margin: 5px;">[[ member_company.resign_memo ]]</div>
            </div>
        </div>

        <div class="title">가족관계</div>
        <div v-for="member_family in member_familys" style="border-bottom: 0.5px solid #e2e4e7; border-radius: 15px; background-color: #f7f6f9; margin-top: 10px; padding: 10px">
            <div class="row" style="padding: 0px 5px">
                <div class="col-1" style="padding: 5px 15px; display: flex; justify-content: left; align-items: center;">관계</div>
                <div class="col" style="padding: 5px 15px; display: flex; align-items: center; font-weight: 500; background: rgb(255, 255, 255); border-radius: 5px; margin: 5px;">[[ member_family.relationship ]]</div>
                <div class="col-1" style="padding: 5px 15px; display: flex; justify-content: left; align-items: center;">성명</div>
                <div class="col" style="padding: 5px 15px; display: flex; align-items: center; font-weight: 500; background: rgb(255, 255, 255); border-radius: 5px; margin: 5px;">[[ member_family.name ]]</div>
                <div class="col-1" style="padding: 5px 15px; display: flex; justify-content: left; align-items: center;">생년월일</div>
                <div class="col" style="padding: 5px 15px; display: flex; align-items: center; font-weight: 500; background: rgb(255, 255, 255); border-radius: 5px; margin: 5px;">[[ member_family.birthday ]]</div>
                <div class="col-1" style="padding: 5px 15px; display: flex; justify-content: left; align-items: center;">동거여부</div>
                <div class="col" style="padding: 5px 15px; display: flex; align-items: center; font-weight: 500; background: rgb(255, 255, 255); border-radius: 5px; margin: 5px;">[[ member_family.is_live == 'Y' ? '예' : "아니요" ]]</div>
            </div>
            <div class="row" style="padding: 0px 5px">
                <div class="col-1" style="padding: 5px 15px; display: flex; justify-content: left; align-items: center;">거주지</div>
                <div class="col" style="padding: 5px 15px; display: flex; align-items: center; font-weight: 500; background: rgb(255, 255, 255); border-radius: 5px; margin: 5px;">[[ member_family.addr ]]</div>
            </div>
        </div>        

        <div class="title">기타사항</div>
        <div style="border-bottom: 0.5px solid #e2e4e7; border-radius: 15px; background-color: #f7f6f9; margin-top: 10px; padding: 10px">
            <div class="row" style="padding: 0px 5px">
                <div class="col-1" style="padding: 5px 15px; display: flex; justify-content: left; align-items: center;">국가연구자번호</div>
                <div class="col" style="padding: 5px 15px; display: flex; align-items: center; font-weight: 500; background: rgb(255, 255, 255); border-radius: 5px; margin: 5px;">[[ member_etc_info.researcher_num ]]</div>
                <div class="col-1" style="padding: 5px 15px; display: flex; justify-content: left; align-items: center;">보훈대상자</div>
                <div class="col" style="padding: 5px 15px; display: flex; align-items: center; font-weight: 500; background: rgb(255, 255, 255); border-radius: 5px; margin: 5px;">[[ member_etc_info.ministry_patriots == 'Y' ? '대상' : "비대상" ]]</div>
                <div class="col-1" style="padding: 5px 15px; display: flex; justify-content: left; align-items: center;">장애등급</div>
                <div class="col" style="padding: 5px 15px; display: flex; align-items: center; font-weight: 500; background: rgb(255, 255, 255); border-radius: 5px; margin: 5px;">[[ member_etc_info.disabled_level ]]</div>
                <div class="col-1" style="padding: 5px 15px; display: flex; justify-content: left; align-items: center;">장애종류</div>
                <div class="col" style="padding: 5px 15px; display: flex; align-items: center; font-weight: 500; background: rgb(255, 255, 255); border-radius: 5px; margin: 5px;">[[ member_etc_info.disabled_type ]]</div>
            </div>
        </div>
    </div>   
</div>

<script>
    const member_info_card_vue = createApp({
        delimiters: ["[[", "]]"],
        data () {
            return {
                // 개인정보
                member_private_info: {},
                // 학교
                member_colleges: [],
                // 병역
                member_military: {},
                // 자격증
                member_certificates: [],
                // 어학능력
                member_foreign_langs: [],
                // 경력사항
                member_companys: [],
                // 가족관계
                member_familys: [],
                // 그외 정보
                member_etc_info: {},
            }
        },
        methods: {
            getMemberInfoCard() {
                this.getMember()              // 개인정보 & 병역 & etc
                this.getMemberColleges()      // 학교
                this.getMemberCertificates()  // 자격증
                this.getMemberForeignLang()   // 어학능력
                this.getMemberCompanys()      // 경력사항
                this.getMemberFamilys()       // 가족관계
            },
            getMember() {
				axios.get("/re-member/getMember/{{ member.member_id }}")
				.then((response) => {
                    let item = response.data

                    // 개인정보
                    this.member_private_info.member_name = item.member_name
                    this.member_private_info.member_eng_name = item.member_eng_name
                    this.member_private_info.member_chinese_name = item.member_chinese_name
                    this.member_private_info.member_social_id_first = item.member_social_id != "" && item.member_social_id != null ? item.member_social_id.split("-")[0] : ""
                    this.member_private_info.member_social_id_second = item.member_social_id != "" && item.member_social_id != null ? item.member_social_id.split("-")[1] : ""
                    this.member_private_info.member_addr = item.member_addr
                    this.member_private_info.member_hp_er = item.member_hp_er
                    this.member_private_info.member_hp_er_name = item.member_hp_er_name
                    this.member_private_info.member_bank = item.member_bank
                    this.member_private_info.member_bank_num = item.member_bank_num

                    // 병역
                    this.member_military.military_discharge_type = item.military_discharge_type
                    this.member_military.military_etc_type = item.military_etc_type
                    this.member_military.military_type = item.military_type
                    this.member_military.military_discharge_rank = item.military_discharge_rank
                    this.member_military.military_skill = item.military_skill
                    this.member_military.military_start_date = item.military_start_date
                    this.member_military.military_end_date = item.military_end_date
                    this.member_military.military_num = item.military_num
                    this.member_military.military_memo = item.military_memo

                    // etc
                    this.member_etc_info.researcher_num = item.researcher_num
                    this.member_etc_info.ministry_patriots = item.ministry_patriots
                    this.member_etc_info.disabled_level = item.disabled_level
                    this.member_etc_info.disabled_type = item.disabled_type
                    this.member_etc_info.memo = item.memo

                    console.log(this.member_etc_info.ministry_patriots)
                    
                })
				.catch(() => {
                    console.log('Error!')
				})
            },
            getMemberColleges() {
				axios.get("/re-member/getMemberColleges/{{ member.member_id }}")
				.then((response) => {
                    this.member_colleges = []
                    for (let inx = 0; inx < response.data.length; inx++) {
                        let item = response.data[inx]

                        this.member_colleges.push({
                            college_type: item.college_type,
                            college_name: item.college_name,
                            college_start_date: item.college_start_date,
                            college_end_date: item.college_end_date,
                            college_status: item.college_status,
                            college_major: item.college_major,
                            college_degree_num: item.college_degree_num,
                        })
                    }
                })
				.catch(() => {
                    console.log('Error!')
				})
            },
            getMemberCertificates() {
				axios.get("/re-member/getMemberCertificates/{{ member.member_id }}")
				.then((response) => {
                    this.member_certificates = []
                    for (let inx = 0; inx < response.data.length; inx++) {
                        let item = response.data[inx]

                        this.member_certificates.push({
                            certificate_name: item.certificate_name,
                            certificate_date: item.certificate_date,
                            certificate_issuer: item.certificate_issuer,
                        })
                    }
                })
            },
            getMemberForeignLang() {
				axios.get("/re-member/getMemberForeignLangs/{{ member.member_id }}")
				.then((response) => {
                    this.member_foreign_langs = []
                    for (let inx = 0; inx < response.data.length; inx++) {
                        let item = response.data[inx]

                        this.member_foreign_langs.push({
                            foreign_lang_name: item.foreign_lang_name,
                            foreign_lang_exam: item.foreign_lang_exam,
                            foreign_lang_exam_level: item.foreign_lang_exam_level,
                            foreign_lang_date: item.foreign_lang_date,
                        })
                    }
                })
            },
            getMemberCompanys() {
				axios.get("/re-member/getMemberCompanys/{{ member.member_id }}")
				.then((response) => {
                    this.member_companys = []
                    for (let inx = 0; inx < response.data.length; inx++) {
                        let item = response.data[inx]

                        this.member_companys.push({
                            company_name: item.company_name,
                            working_start_date: item.working_start_date,
                            working_end_date: item.working_end_date,
                            division: item.division,
                            position: item.position,
                            job: item.job,
                            annual_income: item.annual_income,
                            resign_memo: item.resign_memo,
                        })
                    }
                })
            },
            getMemberFamilys() {
				axios.get("/re-member/getMemberFamilys/{{ member.member_id }}")
				.then((response) => {
                    this.member_familys = []
                    for (let inx = 0; inx < response.data.length; inx++) {
                        let item = response.data[inx]

                        this.member_familys.push({
                            relationship: item.relationship,
                            name: item.name,
                            birthday: item.birthday,
                            is_live: item.is_live,
                            addr: item.addr,
                        })
                    }
                })
            },
            cdDtlNm(cdDtlNo) {
                return code_vue.getCodeDtl(cdDtlNo).cd_dtl_nm
            },            
        },
        mounted: function() {
            var self = this
            $("#member-info-card-tab").on('shown.bs.tab', function (event) {
                self.getMemberInfoCard()
            })            
        }
    }).mount('#member-info-card-tab-pane')
</script>
