{% load crispy_forms_tags %}
{% load bootstrap %}
{% load static %}



<th style="background-color:rgb(255,255,0,0.15)">
	문서 참조자 추가하기
</th>
<td colspan="3" style="background-color:rgb(255,255,0,0.05)">
	<table class="table">
		<tr>
			<th width="20%">
				이름으로 검색
			</th>
			<td widht="30%">
				<input type="text" :value="inputTextNameReferrer" @input="f_referrerSearch" class="form-control">
			</td>
			<th width="50%">
				추천 문서 참조자
			</th>
		</tr>

		<tr>
			<td colspan="2" width="50%">

				<table class="table">
					<tr
					v-for="dict_referrer_searched in list_dict_document_referrer_searched" :key="dict_referrer_searched"
					>
						<td>
							[[ dict_referrer_searched.name ]]
							<button type="button" class="btn btn-link btn-sm" @click="f_referrerSelect(dict_referrer_searched.hrlayout_id)" >
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
									<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
								</svg>
							</button>
							<br>
							[[ dict_referrer_searched.position ]]
						</td>
					</tr>
				</table>

			</td>

			<td >
				<table>
					<tr
					v-for="dict_referrer_recommended in list_dict_document_referrer_recommended" :key="dict_referrer_recommended"
					>
						<td>
							[[ dict_referrer_recommended.name ]]
							<button type="button" class="btn btn-link btn-sm" @click="f_referrerSelect(dict_referrer_recommended.hrlayout_id)" >
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
									<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
								</svg>
							</button>
							<br>
							[[ dict_referrer_recommended.position ]]
						</td>

						</td>
					</tr>
				</table>

			</td>
		</tr>
	</table>
</td>