{% load crispy_forms_tags %}
{% load bootstrap %}
{% load static %}



문서 참조자
<button type="button" class="btn"
v-if="status_dam_modal_view_search_member == 'REFERRER'"
>
	<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-toggle-on" viewBox="0 0 16 16">
		<path d="M5 3a5 5 0 0 0 0 10h6a5 5 0 0 0 0-10H5zm6 9a4 4 0 1 1 0-8 4 4 0 0 1 0 8z"/>
	</svg>
</button>
{% comment %} 
<button type="button" class="btn"
v-else-if="status_dam_modal_view_search_member == 'COMPLETED'"
>
</button> {% endcomment %}

<button type="button" class="btn"
v-else
v-on:click="f_selectSearchMemberMode('REFERRER')"
>
	<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-toggle-off" viewBox="0 0 16 16">
		<path d="M11 4a4 4 0 0 1 0 8H8a4.992 4.992 0 0 0 2-4 4.992 4.992 0 0 0-2-4h3zm-6 8a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM0 8a5 5 0 0 0 5 5h6a5 5 0 0 0 0-10H5a5 5 0 0 0-5 5z"/>
	</svg>
</button>