{% load crispy_forms_tags %}
{% load bootstrap %}
{% load static %}

<!--
기승인한 히스토리 표시
-->
* 승인 요청된 문서 결재 내역
<table class="table">
	<tr>
		<th>
			순번
		</th>
		<th>
			결재자
		</th>
		<th>
			포지션
		</th>
		<th>
			승인여부
		</th>
		<th>
			결재일자
		</th>
	</tr>
	<template v-for="dict_document_approver_validated in list_dict_document_approver_validated">
		<tr style="background-color:rgb(255,255,255,0.85);">
			<td>
				[[ dict_document_approver_validated.id ]]
			</td>
			<td>
				[[ dict_document_approver_validated.name ]]
			</td>
			<td>
				[[ dict_document_approver_validated.position ]]
			</td>
			<td>
				<span v-if="dict_document_approver_validated.validation == 'APPROVAL'">
					승인
				</span>
				<span v-else-if="dict_document_approver_validated.validation == 'REQ_MODIFICATION'">
					수정요청
				</span>
				<span v-else-if="dict_document_approver_validated.validation == 'REJECTION'">
					거절
				</span>

			</td>
			<td>
				[[ dict_document_approver_validated.datetime ]]
			</td>
		</tr>
		<tr v-if="dict_document_approver_validated.validation == 'REQ_MODIFICATION'" style="background-color:rgb(255,255,255,0.85);">
			<th colspan="2">
				수정요청내용
			</th>
			<td colspan="3">
				<h5>[[ dict_document_approver_validated.comment ]]</h5>
			</td>
		</tr>
	</template>

</table>
