{% load crispy_forms_tags %}
{% load bootstrap %}
{% load static %}




<div class="modal fade bd-example-modal-xl" id="hrDocumentApprovalManagementProgress" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true" >
	<div class="modal-dialog modal-xl" >
		<div class="modal-content">


			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">
					<strong>
						{{ q_mysettings_hr.hrapproval.owner.profile.name_korean }}님의 문서승인 프로세스 진행상황
					</strong>
				</h5>
				<button type="submit" name="button-my-workingtime-plan-activate-approval-progress-modal-view-close" value="true" class="btn btn-dark btn-sm" aria-label="Close">
					Close
				</button>
			</div>


			<div class="modal-body">
				<!--
					기존에 등록되어 있는 승인프로세스 내용 5개 아이콘 표시, 선택시 기존 내용 일괄로 적용
				-->
				<div>

				</div>
				<!--
					승인프로세스 입력폼
				-->
				<div>
					<table class="table">
						<tr style="background-color:rgb(240,240,240,0.5)">
							<th width="20%">
								승인 신청자
							</th>
							<td>
								{{ q_mysettings_hr.hrapproval.hrlayout_applicant.member.member_name }}
							</td>

							<th>
								소속
							</th>
							<td>
								{% if q_mysettings_hr.hrapproval.hrlayout_applicant.check_company_leader == True %}
									{{ q_mysettings_hr.hrapproval.hrlayout_applicant.company.company_name }} 회사장
								{% else %}
									{{ q_mysettings_hr.hrapproval.hrlayout_applicant.company.company_name }}
									{% if q_mysettings_hr.hrapproval.hrlayout_applicant.check_division_leader == True %}
										{{ q_mysettings_hr.hrapproval.hrlayout_applicant.division.division_name }} 부서장
									{% else %}
										{{ q_mysettings_hr.hrapproval.hrlayout_applicant.division.division_name }}
										{% if q_mysettings_hr.hrapproval.hrlayout_applicant.check_team_leader == True %}
											{{ q_mysettings_hr.hrapproval.hrlayout_applicant.team.team_name }} 팀장
										{% else %}
											{{ q_mysettings_hr.hrapproval.hrlayout_applicant.team.team_name }}
										{% endif %}
									{% endif %}
								{% endif %}
							</td>
						</tr>

						<tr>
							<th style="background-color:rgb(240,240,240,0.5)">
								진행중인 승인절차 문서제목
							</th>
							<td colspan="3">
								{{ q_mysettings_hr.hrapproval.title }}
							</td>
						</tr>


						<!--
							승인권자 //////////////////////////////////////////////////////////////////////////////////////////////////////////////////
						-->
						<tr>
							<!--
								Left
							-->
							<th style="background-color:rgb(240,240,240,0.5)">
								{% include 'hr/hr_document_approval_management_register_modal_form_contents_approver_list_left.html' %}
							</th>
							<!--
								Right
							-->
							<td colspan="3" style="background-color:rgb(255,255,255,0.5)">
								{% include 'hr/hr_document_approval_management_progress_modal_form_contents_approver_list_right.html' %}
							</td>
						</tr>


						<!--
							업무 인수자 //////////////////////////////////////////////////////////////////////////////////////////////////////////////////
						-->
						<tr>
							<!--
								Left
							-->
							<th style="background-color:rgb(240,240,240,0.5)">
								{% include 'hr/hr_document_approval_management_register_modal_form_contents_takeover_list_left.html' %}
							</th>
							<!--
								Right
							-->
							<td colspan="3" style="background-color:rgb(255,255,255,0.5)">
								{% include 'hr/hr_document_approval_management_register_modal_form_contents_takeover_list_right.html' %}
							</td>
						</tr>


						<!--
							문서 참조자 //////////////////////////////////////////////////////////////////////////////////////////////////////////////////
						-->
						<tr>
							<!--
								Left
							-->
							<th style="background-color:rgb(240,240,240,0.5)">
								{% include 'hr/hr_document_approval_management_register_modal_form_contents_referrer_list_left.html' %}
							</th>
							<!--
								Right
							-->
							<td colspan="3" style="background-color:rgb(255,255,255,0.5)">
								{% include 'hr/hr_document_approval_management_register_modal_form_contents_referrer_list_right.html' %}
							</td>
						</tr>


						<!--
							수신처 //////////////////////////////////////////////////////////////////////////////////////////////////////////////////
						-->
						<tr>
							<!--
								Left
							-->
							<th style="background-color:rgb(240,240,240,0.5)">
								{% include 'hr/hr_document_approval_management_register_modal_form_contents_receiver_list_left.html' %}
							</th>
							<!--
								Right
							-->
							<td colspan="3" style="background-color:rgb(255,255,255,0.5)">
								{% include 'hr/hr_document_approval_management_register_modal_form_contents_receiver_list_right.html' %}
							</td>
						</tr>
					</table>

				</div>
			</div>

		</div>
	</div>
</div>



<script>
	// const { createApp } = Vue
	var chartData;
	var chartTitleStr
	var postHandling = createApp({
        delimiters: ["[[", "]]"],
        data() {
        return {
            list_project_analysis_pie_chart_selected_member_data: [],
			selected_member_name: 'Selected Member Name Here',

			status_dam_modal_view_search_member: '',

			inputTextName: '',
			inputTextNameApprover: '',
			inputTextNameTakeover: '',
			inputTextNameReferrer: '',
			inputTextNameReceiver: '',

			list_dict_document_approver: [],
			list_dict_document_takeover: [],
			list_dict_document_referrer: [],
			list_dict_document_receiver: [],

			list_dict_document_approver_searched: [],
			list_dict_document_takeover_searched: [],
			list_dict_document_referrer_searched: [],
			list_dict_document_receiver_searched: [],

			list_dict_document_approver_recommended: [],
			list_dict_document_takeover_recommended: [],
			list_dict_document_referrer_recommended: [],
			list_dict_document_receiver_recommended: [],
        }
        },
        methods: {
            refreshData() {
                axios.get(variables.API_URL+'hr/hr_document_approval_management_register_modal_api_get_view/')
				.then((response) => {
					this.status_dam_modal_view_search_member = response.data['status_dam_modal_view_search_member']

					this.list_dict_document_approver = response.data['list_dict_document_approver']
					this.list_dict_document_approver_searched = response.data['list_dict_document_approver_searched']
					this.list_dict_document_approver_recommended = response.data['list_dict_document_approver_recommended']

					this.list_dict_document_takeover = response.data['list_dict_document_takeover']
					this.list_dict_document_takeover_searched = response.data['list_dict_document_takeover_searched']
					this.list_dict_document_takeover_recommended = response.data['list_dict_document_takeover_recommended']

					this.list_dict_document_referrer = response.data['list_dict_document_referrer']
					this.list_dict_document_referrer_searched = response.data['list_dict_document_referrer_searched']
					this.list_dict_document_referrer_recommended = response.data['list_dict_document_referrer_recommended']

					this.list_dict_document_receiver = response.data['list_dict_document_receiver']
					this.list_dict_document_receiver_searched = response.data['list_dict_document_receiver_searched']
					this.list_dict_document_receiver_recommended = response.data['list_dict_document_receiver_recommended']
                })
            },

			f_inputDateStart(event) {
				axios.post(variables.API_URL+'hr/hr_document_approval_management_register_modal_api_post_view/', {
					'inputDateStart': this.inputDateStart,
				}, {
                headers: {
                    'Content-Type': 'multipart/form-data',
					'X-CSRFToken': "{{ csrf_token }}"
                }
				})
                .then((response) => {
					this.refreshData()
                    console.log(response)
                })
				.catch(() => {
                    console.log('Error!')
				})
			},


			// f_approverSearch(event) {
            //     this.inputTextNameApprover = event.target.value
            //     console.log(this.inputTextNameApprover)
            //     searchData = this.inputTextNameApprover
            //     axios.post(variables.API_URL+'hr/hr_document_approval_management_register_modal_api_post_view_search_approver/', {
			// 		'inputTextNameApprover': this.inputTextNameApprover,
			// 	}, {
            //     headers: {
            //         'Content-Type': 'multipart/form-data',
					'X-CSRFToken': "{{ csrf_token }}"
            //     }
			// 	})
			// 	.then((response) => {
			// 		this.refreshData()
            //         console.log(response)
            //     })
			// 	.catch(() => {
            //         console.log('Error!')
			// 	})
            // },


			f_selectSearchMemberMode(event) {
				this.status_dam_modal_view_search_member = event
				status_dam_modal_view_search_member = this.status_dam_modal_view_search_member
				console.log(this.status_dam_modal_view_search_member)
				axios.get(variables.API_URL+'hr/hr_document_approval_management_register_modal_api_get_view_mode_switch/?status_dam_modal_view_search_member='+status_dam_modal_view_search_member)
				.then((response) => {
					this.refreshData()
					console.log(response)
				})
			},


			f_approverSearch(event) {
                this.inputTextName = event.target.value
                inputTextName = this.inputTextName
                axios.get(variables.API_URL+'hr/hr_document_approval_management_register_modal_api_get_view_search_approver/?inputTextName='+inputTextName)
				.then((response) => {
					this.list_dict_document_approver_searched=response.data
                    console.log(response)
                })
				.catch(() => {
                    console.log('Error!')
				})
            },


			f_approverSelect(event) {
				axios.post(variables.API_URL+'hr/hr_document_approval_management_register_modal_api_post_view_select_approver/', {
					'buttonSelectNameApprover': event,
				}, {
                headers: {
                    'Content-Type': 'multipart/form-data',
					'X-CSRFToken': "{{ csrf_token }}"
                }
				})
				.then((response) => {
					this.refreshData()
                    console.log(response)
                })
				.catch(() => {
                    console.log('Error!')
				})
			},

			f_approverDown(event) {
				axios.post(variables.API_URL+'hr/hr_document_approval_management_register_modal_api_post_view_down_approver/', {
					'buttonDownNameApprover': event,
				}, {
                headers: {
                    'Content-Type': 'multipart/form-data',
					'X-CSRFToken': "{{ csrf_token }}"
                }
				})
				.then((response) => {
					this.refreshData()
                    console.log(response)
                })
				.catch(() => {
                    console.log('Error!')
				})
			},

			f_approverUp(event) {
				axios.post(variables.API_URL+'hr/hr_document_approval_management_register_modal_api_post_view_up_approver/', {
					'buttonUpNameApprover': event,
				}, {
                headers: {
                    'Content-Type': 'multipart/form-data',
					'X-CSRFToken': "{{ csrf_token }}"
                }
				})
				.then((response) => {
					this.refreshData()
                    console.log(response)
                })
				.catch(() => {
                    console.log('Error!')
				})
			},

			f_approverDelete(event) {
				axios.post(variables.API_URL+'hr/hr_document_approval_management_register_modal_api_post_view_delete_approver/', {
					'buttonDeleteNameApprover': event,
				}, {
                headers: {
                    'Content-Type': 'multipart/form-data',
					'X-CSRFToken': "{{ csrf_token }}"
                }
				})
				.then((response) => {
					this.refreshData()
                    console.log(response)
                })
				.catch(() => {
                    console.log('Error!')
				})
			},





			f_takeoverSearch(event) {
                this.inputTextName = event.target.value
                inputTextName = this.inputTextName
                axios.get(variables.API_URL+'hr/hr_document_approval_management_register_modal_api_get_view_search_takeover/?inputTextName='+inputTextName)
				.then((response) => {
					this.list_dict_document_takeover_searched=response.data
                    console.log(response)
                })
				.catch(() => {
                    console.log('Error!')
				})
            },


			f_takeoverSelect(event) {
				axios.post(variables.API_URL+'hr/hr_document_approval_management_register_modal_api_post_view_select_takeover/', {
					'buttonSelectNameTakeover': event,
				}, {
                headers: {
                    'Content-Type': 'multipart/form-data',
					'X-CSRFToken': "{{ csrf_token }}"
                }
				})
				.then((response) => {
					this.refreshData()
                    console.log(response)
                })
				.catch(() => {
                    console.log('Error!')
				})
			},

			f_takeoverDelete(event) {
				console.log('hahaha')
				console.log(event)
				axios.post(variables.API_URL+'hr/hr_document_approval_management_register_modal_api_post_view_delete_takeover/', {
					'buttonDeleteNameTakeover': event,
				}, {
                headers: {
                    'Content-Type': 'multipart/form-data',
					'X-CSRFToken': "{{ csrf_token }}"
                }
				})
				.then((response) => {
					this.refreshData()
                    console.log(response)
                })
				.catch(() => {
                    console.log('Error!')
				})
			},






			f_referrerSearch(event) {
                this.inputTextName = event.target.value
                inputTextName = this.inputTextName
                axios.get(variables.API_URL+'hr/hr_document_approval_management_register_modal_api_get_view_search_referrer/?inputTextName='+inputTextName)
				.then((response) => {
					this.list_dict_document_referrer_searched=response.data
                    console.log(response)
                })
				.catch(() => {
                    console.log('Error!')
				})
            },


			f_referrerSelect(event) {
				axios.post(variables.API_URL+'hr/hr_document_approval_management_register_modal_api_post_view_select_referrer/', {
					'buttonSelectNameReferrer': event,
				}, {
                headers: {
                    'Content-Type': 'multipart/form-data',
					'X-CSRFToken': "{{ csrf_token }}"
                }
				})
				.then((response) => {
					this.refreshData()
                    console.log(response)
                })
				.catch(() => {
                    console.log('Error!')
				})
			},

			f_referrerDelete(event) {
				axios.post(variables.API_URL+'hr/hr_document_approval_management_register_modal_api_post_view_delete_referrer/', {
					'buttonDeleteNameReferrer': event,
				}, {
                headers: {
                    'Content-Type': 'multipart/form-data',
					'X-CSRFToken': "{{ csrf_token }}"
                }
				})
				.then((response) => {
					this.refreshData()
                    console.log(response)
                })
				.catch(() => {
                    console.log('Error!')
				})
			},





			f_receiverSearch(event) {
                this.inputTextName = event.target.value
                inputTextName = this.inputTextName
                axios.get(variables.API_URL+'hr/hr_document_approval_management_register_modal_api_get_view_search_receiver/?inputTextName='+inputTextName)
				.then((response) => {
					this.list_dict_document_receiver_searched=response.data
                    console.log(response)
                })
				.catch(() => {
                    console.log('Error!')
				})
            },


			f_receiverSelect(event) {
				axios.post(variables.API_URL+'hr/hr_document_approval_management_register_modal_api_post_view_select_receiver/', {
					'buttonSelectNameReceiver': event,
				}, {
                headers: {
                    'Content-Type': 'multipart/form-data',
					'X-CSRFToken': "{{ csrf_token }}"
                }
				})
				.then((response) => {
					this.refreshData()
                    console.log(response)
                })
				.catch(() => {
                    console.log('Error!')
				})
			},

			f_receiverDelete(event) {
				axios.post(variables.API_URL+'hr/hr_document_approval_management_register_modal_api_post_view_delete_receiver/', {
					'buttonDeleteNameReceiver': event,
				}, {
                headers: {
                    'Content-Type': 'multipart/form-data',
					'X-CSRFToken': "{{ csrf_token }}"
                }
				})
				.then((response) => {
					this.refreshData()
                    console.log(response)
                })
				.catch(() => {
                    console.log('Error!')
				})
			},






        },
		computed: {
		},
        mounted: function() {
            this.refreshData()
        }
    }).mount('#hrDocumentApprovalManagementProgress')

</script>



<style>
	.modal-content {
		max-width:none;
	}
</style>