{% load static %}
<style>
    .table thead th {
        text-align:center;
        position: sticky;
        top: -200px;
        background-color: gray !important;
        color: #f9f9f9;
        border-left: 0.1rem solid;
    }

    @media screen {
        #printSection {
            display: none;
        }
    }

    @media print {
    html, body {
        height:100vh !important;
        overflow-y:hidden !important;
        transform: scale(1);
    }

        body * {
            visibility:hidden;
        }

        #printSection, #printSection * {
            visibility:visible;
        }

        #printSection {
            position:absolute;
            left:0;
            top:0;
        }
    }

    @page {
        size: A4;      /* 페이지의 크기 설정 */
        margin: 2cm;   /* 페이지의 여백 설정 */
    }

    @page :first {
        margin-top: 4cm;    }

</style>
<div id="working_off_promote_plan_admin_modal" class="modal fade" data-backdrop="static" data-keyboard="true" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
                <div id="printThis">
                    <div class="modal-header">
                        <div class="row" style="width:100%;">
                            <div class="col-auto mr-auto"><h5 class="modal-title">미사용 연차유급휴가 사용촉진 통지서 및 사용계획서</h5></div>
                            <div class="col-auto"><span style="font-size: 14px; display:flex; align-self: flex-end;">[[ getYear() ]]</span></div>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="row" style="border-top: 0.5px solid #e2e4e7;">
                            <div class="col-3" style="padding: 15px;margin-top: 20px; padding-left: 30px">
                                <div class="row">
                                    <span style="font-size: 18px; font-weight: bold">[[ member.member_name ]]</span>
                                </div>
                                <div class="row" style="padding-top: 20px">
                                    <span style="font-size: 14px;">[[ member.group_name ]]</span>
                                </div>
                            </div>
                            <div class="col" style="padding-left: 30px; border-left: 0.5px solid #e2e4e7; ">
                                <div class="row" style="padding: 8px"><span>연차휴가 사용대상기간</span></div>
                                <div class="row" style="padding: 8px"><span>[[ workingOffDate() ]]</span></div>
                                <div class="row" style="padding: 5px">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th scope="col">전체일수</th>
                                                <th scope="col">사용일수</th>
                                                <th scope="col">미사용</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>[[ workingOffDays ]]</td>
                                                <td><span style="font-weight: bold;">[[ workingOffUseDays ]]</span></td>
                                                <td><span style="font-weight: bold; color: red">[[ workingOffRemainDays ]]</span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="display: flex; justify-content:center;font-size: 13px; line-height: 30px; text-align:center; padding: 30px; border-top: 0.5px solid #e2e4e7;">
                            [근로기준법] 제 61조 연차 유급휴가의 사용 촉진 조항에 근거하여&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>[[ workingOffPromotetLimitDate() ]]</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;까지<br>
                            <b>'미사용 연차유급휴가 사용계획서'</b>를 작성하여 통보 바랍니다.
                        </div>
                        <div class="row" style="display: flex; justify-content:center; font-size: 13px; line-height: 30px; text-align:center;">
                            회사의 사용촉구에도 불구하고
                        </div>
                        <div class="row" style="display: flex; justify-content:center; font-size: 13px; line-height: 30px; text-align:center">
                            <B>미사용 연차에 대해서는 다음 시기로 이월되거나 수당으로 지급되지 않고 자동 소멸됩니다.</B>
                        </div>
                        <div class="row" style="display: flex; justify-content:center; font-size: 13px; line-height: 30px; text-align:center; margin-bottom: 20px">
                            연차유급휴가를 적극적으로 사용해 주시기 바랍니다.
                        </div>
                        <div class="row" style="display: flex; justify-content:left;font-size: 13px; padding: 30px 30px 20px 20px; border-top: 0.5px solid #e2e4e7;">
                            <b>미사용 연차유급휴가 사용계획서</b>
                        </div>

                        <div v-for="(item, index) in workingOffPromotePlans" class="row" style="display: flex; justify-content:left; padding: 5px 40px;">
                            <div class="col-2" style="padding: 15px; background: #f7f6f9;" v-html="'연차 ' + (index + 1)"></div>
                            <div class="col-3" style="padding: 15px;">[[ item.working_off_start_date ]]</div>
                            <div class="col-3" style="padding: 15px;">[[ item.working_off_end_date ]]</div>
                            <div class="col-2" style="padding: 15px;">[[ item.working_off_use_num ]]</div>
                        </div>

                        <div class="row" style="display: flex; justify-content:left; padding: 5px 40px;">
                            <div class="col-2" style="padding: 15px; background: #f7f6f9;">총합</div>
                            <div class="col-7" style="font-size:14px;font-weight: bold; padding: 15px; text-align: end">[[ total() ]]</div>
                        </div>

                        <div class="row" style="font-size: 11px; line-height: 30px; text-align:center; margin-top: 50px; padding:10px 50px; border-top: 0.5px solid #e2e4e7;">
                            <B>※ 연차 사용 계획 안내</B>
                        </div>
                        <div class="row" style="font-size: 11px; line-height: 30px; padding:0px 50px;">
                            - 본인이 사용하고자 하는 지정 일자 및 일수를 계획서 칸에 기입해 주시기 바랍니다.
                        </div>
                        <div class="row" style="font-size: 11px; line-height: 30px; padding:0px 50px;">
                            - 본 계획은 예정사항으로, 실제 휴가 사용 시에는 전자결재를 통해 신청하셔야 합니다.
                        </div>
                        <div class="row" style="font-size: 11px; line-height: 30px; padding:0px 50px;">
                            - 또한, 사용하지 않은 연차 유급 휴가의 사용 시기를 별도로 지정하지 않는 경우,<br>
                            &nbsp;&nbsp;회사 측에서 사용 시기를 결정할 수 있습니다.
                        </div>
                        <div class="row" style="font-size: 11px; line-height: 30px; padding:0px 50px;">
                            - 연차 잔여일이 0개 이하일 경우에는 통지서 내용을 확인하신 후 제출하시기 바랍니다.
                        </div>
                        <div class="row" style="display: flex; justify-content:center; font-size: 13px; line-height: 30px; text-align:center; margin-top: 50px">
                            [[ this.workingOffPromoteSubmitDatetime  ]]
                        </div>
                        <!--
                        <div class="row" style="display: flex; justify-content:center; font-size: 13px; line-height: 30px; text-align:center; margin-top: 20px; margin-bottom: 20px">
                            <div class="col-2">작성자 :</div>
                            <div>[[ member.member_name ]]</div>
                            <div style="padding-left: 10px">(서명)</div>
                        </div>
                        -->
                        <div class="row" style="display: flex; justify-content:center; font-size: 18px; line-height: 30px; text-align:center; margin-top: 50px">
                            <b>보로노이 주식회사</b>
                        </div>
                    </div>
                </div>
                <div v-if="isShow" class="modal-footer">
                    <button type="button" class="btn btn-secondary" @click="close">취소</button>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <button type="button" id="btnPrint" class="btn btn-outline-info">프린트</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="printSection"></div>


<script>
    $(document).ready(function() {
        $("#btnPrint").on("click", function() {

            printElement(document.getElementById("printThis"));
        });
    });


    function printElement(elem) {
        var domClone = elem.cloneNode(true);

        var $printSection = document.getElementById("printSection");
        $printSection.innerHTML = "";
        $printSection.appendChild(domClone);
        window.print();
    }
</script>

<script>
    const working_off_promote_plan_admin_vue = createApp({
        delimiters: ['[[', ']]'],
        data () {
            return {
                member: {},
                workingOffPromote: {},
                workingOffDays: 0,
                workingOffUseDays: 0,
                workingOffRemainDays: 0,
                workingOffPromoteDate: "",
                workingOffPromoteSubmitDatetime: "",
                workingOffPromotePlans: [],
                alertText: "",
                isShow: true,
            }
        },
        methods: {
            getWorkingOffPromotePlans(workingOffPromoteId, workingOffPromoteNum, memberId, workingOffPromoteDate, workingOffPromoteSubmitDatetime) {
                if (workingOffPromoteNum == 1) {
                    this.workingOffDays = this.workingOffPromote.first_working_off_days
                    this.workingOffUseDays = this.workingOffPromote.first_working_off_use_days
                    this.workingOffRemainDays = this.workingOffPromote.first_working_off_remain_days
                } else if (workingOffPromoteNum == 2) {
                    this.workingOffDays = this.workingOffPromote.second_working_off_days
                    this.workingOffUseDays = this.workingOffPromote.second_working_off_use_days
                    this.workingOffRemainDays = this.workingOffPromote.second_working_off_remain_days
                }

                this.workingOffPromoteDate = workingOffPromoteDate
                if (workingOffPromoteSubmitDatetime != null) {
                    this.workingOffPromoteSubmitDatetime = moment(workingOffPromoteSubmitDatetime).format("YYYY-MM-DD")
                }
                this.getMember(memberId)

                axios.get("/re-working-admin/getWorkingOffPromotePlans/" + workingOffPromoteId + "?workingOffPromoteNum=" + workingOffPromoteNum)
                .then((response) => {
                    this.workingOffPromotePlans = response.data
                })
            },
            getMember(memberId) {
                axios.get("/re-member/getMember/" + memberId)
                .then((response) => {
                    this.member = response.data
                })
            },
            getYear() {
                return moment(this.workingOffPromote.first_promote_date).year() + "년"
            },
            getToday() {
                return moment().format("YYYY년 MM월 DD일")
            },
            workingOffDate() {
                if (this.workingOffPromote.working_off_start_date != undefined && this.workingOffPromote.working_off_start_date != "") {
                    return this.workingOffPromote.working_off_start_date + " ~ " + moment(this.workingOffPromote.working_off_start_date).add(1, 'years').add(-1, 'days').format("YYYY-MM-DD")
                }

                return ""
            },
            workingOffPromotetLimitDate() {
                return moment(this.workingOffPromoteDate).add(10, 'days').format("YYYY년 MM월 DD일")
            },
            total() {
                var totalWorkingOffUseNum = 0.0
                for (var workingOffPromotePlan of this.workingOffPromotePlans) {
                    totalWorkingOffUseNum += parseFloat(workingOffPromotePlan.working_off_use_num)
                }
                return totalWorkingOffUseNum
            },
            close() {
                $("#working_off_promote_plan_admin_modal").modal('hide')
                this.workingOffPromotePlans = []
            },
        },
        mounted: function() {
            var self = this
            $('#working_off_promote_plan_admin_modal').on('hidden.bs.modal', function (e) {
                self.close()
            })
        },
    }).mount('#working_off_promote_plan_admin_modal')
</script>