<div id="working_certificate_join_date_admin_modal" class="modal fade" data-backdrop="static" data-keyboard="true" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">입사일변경</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" @click="close">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="row" style="border-bottom: 0.5px solid #e2e4e7;">
                    <div class="col-2" style="padding: 15px; background: #f7f6f9;">입사일</div>
                    <div class="col" style="padding: 15px;">
                        <input type="date" class="form-control" style="width: 200px" v-model="joinDate"/>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" @click="close">취소</button>
                <button type="button" class="btn btn-primary" @click="changeJoinDate">변경</button>
            </div>
        </div>
    </div>
</div>

<script>
    const working_certificate_join_date_admin_vue = createApp({
        data () {
            return {
                workingCertificateId: 0,
                joinDate: ""
            }
        },
        methods: {
            loadData(workingCertificateId, joinDate) {
                this.workingCertificateId = workingCertificateId
                this.joinDate = joinDate
            },
            changeJoinDate() {
                var data = {
                    join_date: this.joinDate,
                }
                axios.post("/re-working-admin/updateWorkingCertificateJoinDate/" + this.workingCertificateId, {data: data})
                .then((response) => {
                    vue.getWorkingCertificates()
                    this.close()
                })
            },
            close() {
                $("#working_certificate_join_date_admin_modal").modal('hide')
            },
        },
        mounted: function() {
        },
    }).mount('#working_certificate_join_date_admin_modal')
</script>