<div id="working_off_yearly_admin_modal" class="modal fade" data-backdrop="static" data-keyboard="true" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">연차 내역 수정</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="row" style="border-bottom: 0.5px solid #e2e4e7;">
                    <div class="col-2" style="padding: 15px; background: #f7f6f9;">이름</div>
                    <div class="col" style="padding: 15px;">[[ member_name ]]</div>
                    <div class="col-2" style="padding: 15px; background: #f7f6f9;">부서</div>
                    <div class="col" style="padding: 15px;">[[ group_name ]]</div>
                </div>
                <div class="row" style="border-bottom: 0.5px solid #e2e4e7;">
                    <div class="col-2" style="padding: 15px; background: #f7f6f9;">자동발생일수</div>
                    <div class="col" style="padding: 15px;">
                        <input type="text" class="form-control" style="width: 6vw" v-model="working_off_days">
                    </div>
                </div>
                <div class="row" style="border-bottom: 0.5px solid #e2e4e7;">
                    <div class="col-2" style="padding: 15px; background: #f7f6f9;">추가발생일수</div>
                    <div class="col" style="padding: 15px;">
                        <input type="text" class="form-control" style="width: 6vw" v-model="working_off_etc_days">
                    </div>
                </div>
                <div class="row" style="border-bottom: 0.5px solid #e2e4e7;">
                    <div class="col-2" style="padding: 15px; background: #f7f6f9;">총발생일수</div>
                    <div class="col" style="padding: 15px;">
                        <input type="text" class="form-control" style="width: 6vw" v-model="working_off_total_days">
                    </div>
                </div>
                <div class="row" style="border-bottom: 0.5px solid #e2e4e7;">
                    <div class="col-2" style="padding: 15px; background: #f7f6f9;">사용일수</div>
                    <div class="col" style="padding: 15px;">
                        <input type="text" class="form-control" style="width: 6vw" v-model="working_off_use_days">
                    </div>
                </div>
                <div class="row" style="border-bottom: 0.5px solid #e2e4e7;">
                    <div class="col-2" style="padding: 15px; background: #f7f6f9;">잔여일수</div>
                    <div class="col" style="padding: 15px;">
                        <input type="text" class="form-control" style="width: 6vw" v-model="working_off_remain_days">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" @click="close">취소</button>
                <button type="button" class="btn btn-primary" @click="save">저장</button>
            </div>
        </div>
    </div>
</div>

<script>
    const working_off_yearly_admin_vue = createApp({
        delimiters: ["[[", "]]"],
        data () {
            return {
                working_off_yearly_id: 0,
                member_name: "",
                group_name: "",
                working_off_days: 0,
                working_off_etc_days: 0,
                working_off_total_days: 0,
                working_off_use_days: 0,
                working_off_remain_days: 0,
            }
        },
        methods: {
            loadData(workingOffYearly) {
                this.working_off_yearly_id = workingOffYearly.working_off_yearly_id
                this.member_name = workingOffYearly.member_name
                this.group_name = workingOffYearly.group_name
                this.working_off_days = workingOffYearly.working_off_days
                this.working_off_etc_days = workingOffYearly.working_off_etc_days
                this.working_off_total_days = workingOffYearly.working_off_total_days
                this.working_off_use_days = workingOffYearly.working_off_use_days
                this.working_off_remain_days = workingOffYearly.working_off_remain_days
            },
            save() {
                var data = {
                    working_off_days: this.working_off_days,
                    working_off_etc_days : this.working_off_etc_days,
                    working_off_total_days : this.working_off_total_days,
                    working_off_use_days: this.working_off_use_days,
                    working_off_remain_days : this.working_off_remain_days,
                }
                axios.post("/re-working-admin/updateWorkingOffYearlyDays/" + this.working_off_yearly_id, {data: data})
                .then((response) => {
                    vue.getWorkingOffYearlys()
                    $("#working_off_yearly_admin_modal").modal('hide')
                })
            },
            close() {
                this.working_off_yearly_id = 0
                this.member_name = ""
                this.group_name = ""
                this.working_off_days = 0
                this.working_off_etc_days = 0
                this.working_off_total_days = 0
                this.working_off_use_days = 0
                this.working_off_remain_days = 0
                $("#working_off_yearly_admin_modal").modal('hide')
            },
        },
        mounted: function() {
            var self = this
            $('#working_off_yearly_admin_modal').on('hidden.bs.modal', function (e) {
                self.close()
            })
        },
    }).mount('#working_off_yearly_admin_modal')
</script>