<div id="working_certificate_reject_admin_modal" class="modal fade" data-backdrop="static" data-keyboard="true" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">발급반려</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" @click="close">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="row" style="border-bottom: 0.5px solid #e2e4e7;">
                    <div class="col-2" style="padding: 15px; background: #f7f6f9;">사유</div>
                    <div class="col" style="padding: 15px;">
                        <textarea class="form-control" rows="4" cols="70" v-model="reason"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" @click="close">취소</button>
                <button type="button" class="btn btn-primary" @click="reject">반려</button>
            </div>
        </div>
    </div>
</div>

<script>
    const working_certificate_reject_admin_vue = createApp({
        data () {
            return {
                workingCertificateId: 0,
                reason: ""
            }
        },
        methods: {
            loadData(workingCertificateId) {
                this.workingCertificateId = workingCertificateId
                this.reason = ""
            },
            reject() {
                var data = {
                    reason: this.reason,
                }
                axios.post("/re-working-admin/updateWorkingCertificateStatusReject/" + this.workingCertificateId, {data: data})
                .then((response) => {
                    vue.getWorkingCertificates()
                    this.close()
                })
            },
            close() {
                $("#working_certificate_reject_admin_modal").modal('hide')
            },
        },
        mounted: function() {
            var self = this
        },
    }).mount('#working_certificate_reject_admin_modal')
</script>