<div id="working_off_etc_admin_modal" class="modal fade" data-backdrop="static" data-keyboard="true" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">휴가일수정</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="row" style="border-bottom: 0.5px solid #e2e4e7;">
                    <div class="col-2" style="padding: 15px; background: #f7f6f9;">이름</div>
                    <div class="col" style="padding: 15px;" v-html="member.member_name"></div>
                    <div class="col-2" style="padding: 15px; background: #f7f6f9;">부서</div>
                    <div class="col" style="padding: 15px;" v-html="member.group_name"></div>
                </div>
                <div class="row" style="border-bottom: 0.5px solid #e2e4e7;">
                    <div class="col-2" style="padding: 15px; background: #f7f6f9;">총 발생일수(누적)</div>
                    <div class="col" style="padding: 15px;">
                        <input type="text" class="form-control" style="width: 6vw" v-model="member.working_off_acc_days">
                    </div>
                </div>
                <div class="row" style="border-bottom: 0.5px solid #e2e4e7;">
                    <div class="col-2" style="padding: 15px; background: #f7f6f9;">총 사용일수(누적)</div>
                    <div class="col" style="padding: 15px;">
                        <input type="text" class="form-control" style="width: 6vw" v-model="member.working_off_acc_use_days">
                    </div>
                </div>
                <div class="row" style="border-bottom: 0.5px solid #e2e4e7;">
                    <div class="col-2" style="padding: 15px; background: #f7f6f9;">총 잔여일수(누적)</div>
                    <div class="col" style="padding: 15px;">
                        <input type="text" class="form-control" style="width: 6vw" v-model="member.working_off_acc_remain_days">
                    </div>
                </div>
                <div class="row" style="border-bottom: 0.5px solid #e2e4e7;">
                    <div class="col-2" style="padding: 15px; background: #f7f6f9;">자동발생 일수</div>
                    <div class="col" style="padding: 15px;">
                        <input type="text" class="form-control" style="width: 6vw" v-model="member.working_off_days">
                    </div>
                </div>
                <div class="row" style="border-bottom: 0.5px solid #e2e4e7;">
                    <div class="col-2" style="padding: 15px; background: #f7f6f9;">자동발생 사용일수</div>
                    <div class="col" style="padding: 15px;">
                        <input type="text" class="form-control" style="width: 6vw" v-model="member.working_off_use_days">
                    </div>
                </div>
                <div class="row" style="border-bottom: 0.5px solid #e2e4e7;">
                    <div class="col-2" style="padding: 15px; background: #f7f6f9;">자동발생 잔여일수</div>
                    <div class="col" style="padding: 15px;">
                        <input type="text" class="form-control" style="width: 6vw" v-model="member.working_off_remain_days">
                    </div>
                </div>
                <div class="row" style="border-bottom: 0.5px solid #e2e4e7;">
                    <div class="col-2" style="padding: 15px; background: #f7f6f9;">추가발생 일수</div>
                    <div class="col" style="padding: 15px;">
                        <input type="text" class="form-control" style="width: 6vw" v-model="member.working_off_etc_days">
                    </div>
                </div>
                <div class="row" style="border-bottom: 0.5px solid #e2e4e7;">
                    <div class="col-2" style="padding: 15px; background: #f7f6f9;">자동발생 + 추가발생 일수</div>
                    <div class="col" style="padding: 15px;" v-html="parseFloat(member.working_off_days) + parseFloat(member.working_off_etc_days)"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" @click="close">취소</button>
                <button type="button" class="btn btn-primary" @click="save">저장</button>
            </div>
        </div>
    </div>
</div>

<script>
    const working_off_etc_admin_vue = createApp({
        data () {
            return {
                member: {},
                workingOffEtcDays: 0,
            }
        },
        methods: {
            getMember(memberId) {
                axios.get("/re-member/getMember/" + memberId)
                .then((response) => {
                    this.member = response.data
                })
            },
            save() {
                //if (!/\d/.test(event.target.value)) {
                var data = {
                    working_off_acc_days: this.member.working_off_acc_days,
                    working_off_acc_use_days: this.member.working_off_acc_use_days,
                    working_off_acc_remain_days: this.member.working_off_acc_remain_days,
                    working_off_days: this.member.working_off_days,
                    working_off_use_days: this.member.working_off_use_days,
                    working_off_remain_days : this.member.working_off_remain_days,
                    working_off_etc_days : this.member.working_off_etc_days,
                }
                axios.post("/re-working-admin/updateWorkingOffDays/" + this.member.member_id, {data: data})
                .then((response) => {
                    vue.getMembers()
                    $("#working_off_etc_admin_modal").modal('hide')
                })
            },
            close() {
                $("#working_off_etc_admin_modal").modal('hide')
            },
        },
        mounted: function() {
            var self = this
            $('#working_off_etc_admin_modal').on('hidden.bs.modal', function (e) {
                self.close()
            })
        },
    }).mount('#working_off_etc_admin_modal')
</script>