<style>
    .table thead th {
        text-align:center;
        position: sticky;
        top: -100px;
        background-color: gray !important;
        color: #f9f9f9;
        border-left: 0.1rem solid;
    }
</style>

<div id="working_weekend_stat_admin_modal" class="modal fade" data-backdrop="static" data-keyboard="true" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">휴일 근무 내역</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th scope="col">근무일</th>
                            <th scope="col">휴일 근무 시간</th>
                            <th scope="col">휴일 휴게 시간</th>
                            <th scope="col">휴일 총 근무 시간</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(item, index) in workingWeekendStatsDaily">
                            <td v-html="item.working_weekend_date"></td>
                            <td v-html="item.working_weekend_datetime"></td>
                            <td v-html="item.working_weekend_free_time"></td>
                            <td v-html="item.total_working_weekend_datetime"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" @click="close">취소</button>
            </div>
        </div>
    </div>
</div>

<script>
    const working_weekend_stat_admin_vue = createApp({
        data () {
            return {
                workingWeekendStatsDaily: [],
            }
        },
        methods: {
            getWorkingWeekendStatsDaily(memberId, startDate, endDate) {
                axios.get("/re-working-admin/getWorkingWeekendStatsDaily/" + memberId + "?startDate=" + startDate + "&endDate=" + endDate)
                .then((response) => {
                    this.workingWeekendStatsDaily = response.data
                })
            },
            close() {
                $("#working_weekend_stat_admin_modal").modal('hide')
            },
        },
        mounted: function() {
            var self = this
            $('#working_weekend_stat_admin_modal').on('hidden.bs.modal', function (e) {
                self.close()
            })
        }
    }).mount('#working_weekend_stat_admin_modal')
</script>