
{% load crispy_forms_tags %}
{% load bootstrap %}
{% load static %}




<tr>
    <th width=5%>
        이름

    </th>
    <th width=12%>
        소속
    </th>

    {% if q_mysettings_hr.page_number_auth_panel == 1 %}
        <th width=5%>
            Member
        </th>
        <th>
            Todo
        </th>
        <th>
            chatGPT
        </th>
        <th>
            Competitor
        </th>
        <th>
            Program
        </th>
        <th>
            TPP
        </th>
        <th>
            Target
        </th>
        <th>
            Tracking
        </th>
    {% elif q_mysettings_hr.page_number_auth_panel == 2 %}
        <th>
            AI_ELN
        </th>
        <th>
            AI Lab<br>(MMPA)
        </th>
        <th>
            AI Lab<br>(PDF2Smiles)
        </th>
        <th>
            AI Lab<br>(RxnFinder)
        </th>
        <th>
            Compound
        </th>
        <th>
            Project
        </th>
        <th>
            Structure
        </th>
        <th>
            KP Viewer
        </th>
        <th>
            Patenability
        </th>
        <th>
            SAR
        </th>
        <th>
            Inventory
        </th>
        {% comment %} <th>
            Compound
            <br>
            Control
        </th>
        <th>
            Compound
            <br>
            Synthesis
        </th>
        <th>
            Compound
            <br>
            Screening
        </th> {% endcomment %}
    {% elif q_mysettings_hr.page_number_auth_panel == 3 %}
        <th>
            Bio Study
        </th>
        <th>
            Bio ELN
        </th>
        <th>
            Crystal
        </th>
        <th>
            Dashboard
        </th>
        <th>
            Assay
        </th>
        <th>
            Excel Download
        </th>
        <th>
            Tumor<br>Manager
        </th>
        <th>
            IACUC<br>(Animal)
        </th>
        <th>
            Protocol
        </th>
        <th>
            Screening<br>in-Vitro
        </th>
        <th>
            Screening<br>in-Vivo
        </th>
    {% elif q_mysettings_hr.page_number_auth_panel == 4 %}
        <th>
            Business D.
        </th>
        <th>
            BD QnA
        </th>
        <th>
            Financial M.
        </th>
        <th>
            Human R.
        </th>
        <th>
            Intellectual P.
        </th>
        <th>
            Material M.
        </th>
        <th>
            Purchasing M.
        </th>
    {% endif %}
</tr>