
{% load crispy_forms_tags %}
{% load bootstrap %}
{% load static %}





<table class="table">
    <tr>
        <td width=15%>
            <button type="submit" name="button-initiate-authpanel-status" value="true" class="btn btn-info btn-sm">Initiate Members Status</button>
            <br>
            <small>
                P: 참여, R: 담당, V: 평가, D: 설계,
            </small>
        </td>
        <td width=5%>
            <button type="submit" name="button-change-authpanel-page" value="next" class="btn btn-primary btn-lg">Next </button>
        </td>

        <td width=35% class="text-center">
            <input type="radio" name="radio-search-type" value="member" checked> Member
            <input type="radio" name="radio-search-type" value="team"> Team
            <input type="radio" name="radio-search-type" value="division"> Division



            <input placeholder="이름 검색" type="text" name="input-search-authpanel-byname" >

            <button type="submit" name="button-search-authpanel-byname" value="true" class="btn btn-info btn-lg">Search</button>
            <button type="submit" name="button-search-authpanel-byname-reset" value="true" class="btn btn-dark btn-sm">멤버선택 Reset</button>
        </td>

        <td width=20% class="table-right">
            <button type="submit" name="button-update-authpanel-participate" value="true" class="btn btn-info btn-sm">모두참가</button>
            <button type="submit" name="button-update-authpanel-register" value="true" class="btn btn-info btn-sm">모두책임</button>
            <button type="submit" name="button-update-authpanel-validation" value="true" class="btn btn-info btn-sm">모두평가</button>
            <button type="submit" name="button-update-authpanel-design" value="true" class="btn btn-info btn-sm">모두설계</button>
        </td>
        <td width=10% class="table-center">
            <button type="submit" name="button-update-authpanel-status" value="true" class="btn btn-warning btn-lg">Update</button>
        </td>
        <td width=12% class="table-right">
            {% if request.user.is_superuser == True %}
                <button type="submit" name="button-update-authpanel-reset" value="true" class="btn btn-outline-danger btn-sm">Reset Authority Selected Member</button>
                <br>
                <button type="submit" name="button-update-authpanel-resetall" value="true" class="btn btn-danger btn-sm">Reset Authority All Members</button>
            {% endif %}
        </td>
    </tr>
</table>
