
{% load crispy_forms_tags %}
{% load bootstrap %}
{% load static %}



<table class="table">
    <tr>
        <th rowspan=2 width="7%">
            멤버 선택<br>단축키: <br>
            <button type="submit" name="button-search-authpanel-byname-reset" value="true" class="btn btn-dark btn-sm">멤버선택 Reset</button>
        </th>
        <th width="5%">
            팀: 
        </th>
        <td colspan=3>
            {% for q_team in qs_team %}
                <button type="submit" name="button-search-authpanel-bytype-team" value="{{ q_team.id }}" class="btn btn-outline-dark btn-sm">{{ q_team.team_name }}</button>
            {% endfor %}
        </td>
    </tr>
    <tr>
        <th width="5%">
            부서: 
        </th>
        <td>
            {% for q_division in qs_division %}
                <button type="submit" name="button-search-authpanel-bytype-division" value="{{ q_division.id }}" class="btn btn-outline-dark btn-sm">{{ q_division.division_name }}</button>
            {% endfor %}
        </td>
        <th width="5%">
            회사: 
        </th>
        <td>
            {% for q_company in qs_company %}
                <button type="submit" name="button-search-authpanel-bytype-company" value="{{ q_company.id }}" class="btn btn-outline-dark btn-sm">{{ q_company.company_name }}</button>
            {% endfor %}
        </td>
    </tr>
</table>
