{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
{% include 'hr/hr_navbar_authority.html' %}
{% include 'hr/hr_navbar_authority_home.html' %}





<div class="row">
   <div class="col-md-12">

    <legend class="border-bottom mb-4">
        {{ q_authority.title }}
    </legend>

        <div class="content-section">
            <fieldset class="form-group">
                <legend class="border-bottom mb-4"> 검색된 멤버 수   {{ qs_hrlayout|length }}</legend>
                <div class="card card-body" style="background-color:rgb(240,240,240,0.5);">

                    <form method="POST" action="{% url 'hr-authority-home' %}">
                        {% csrf_token %}

                    <!--
                        팀/부서/회사 분류로 선택하기 버튼들
                    -->
                    {% include 'hr/hr_authority_home_default_buttons_select_members.html' %}

                    <!--
                        멤버/팀/부서 검색 및 권한부여 버튼 / 업데이트 버튼 / 리셋 버튼, 멤버 초기화
                    -->

                    {% include 'hr/hr_authority_home_default_buttons_apply_function.html' %}


                    <hr>

                    <!--
                        선택된 멤버의 권한 리스트 결과 테이블
                    -->
                    <table class="table" >
                        <tr>
                            <td class="text-left">
                                <button type="submit" name="button-select-searched-all" value="true" class="btn btn-info btn-sm">Select Searched All</button>
                            </td>
                        </tr>
                    </table>

                    <table class="table  table-hover">

                        {% include 'hr/hr_authority_home_default_table_index.html' %}


                        {% for q_hrlayout in qs_hrlayout %}
                            {% include 'hr/hr_authority_home_default_table_result.html' %}
                        {% endfor %}


                    </table>

                    </form>
                </div>
            </fieldset>
        </div>
    </div>

</div>





{% endblock content %}

