{% load crispy_forms_tags %}
{% load bootstrap %}
{% load static %}



<div class="col-md-9">
	<form method="POST" action="{% url 'hr-calendar-control' %}"  enctype="multipart/form-data">
		{% csrf_token %}
	<div class="content-section">
		<fieldset class="form-group">
			<legend class="border-bottom mb-4">보로노이 Event 리스트({{ ls_year }} - {{ ls_next_year }}년도)</legend>
			<div class="card card-body" style="background-color:rgb(240,240,240,0.5);">

				<table class="table table-sm">
					<tr>
						<th>Event 날짜</th>
						<th>Event 이름</th>
						<th>Event 종류</th>
						<th>Event 내용</th>
						<th>보로노이 지정 휴일 여부</th>
						<th>적용회사</th>
						<th>Option</th>
					</tr>
					{% for q_event_voronoi in qs_event_voronoi %}
					<tr>
						<td>
							{{q_event_voronoi.date_event|date:"Y-m-d"}}

						</td>
						<td>
							{{q_event_voronoi.name_event}}

						</td>
						<td>
							{% if q_event_voronoi.type_event_voronoi == VORONOI_EVENT_TYPES.0.0 %}
								{{ VORONOI_EVENT_TYPES.0.1 }}
							{% elif q_event_voronoi.type_event_voronoi == VORONOI_EVENT_TYPES.1.0 %}
								{{ VORONOI_EVENT_TYPES.1.1 }}
							{% elif q_event_voronoi.type_event_voronoi == VORONOI_EVENT_TYPES.2.0 %}
								{{ VORONOI_EVENT_TYPES.2.1 }}
							{% elif q_event_voronoi.type_event_voronoi == VORONOI_EVENT_TYPES.3.0 %}
								{{ VORONOI_EVENT_TYPES.3.1 }}
							{% elif q_event_voronoi.type_event_voronoi == VORONOI_EVENT_TYPES.4.0 %}
								{{ VORONOI_EVENT_TYPES.4.1 }}
							{% elif q_event_voronoi.type_event_voronoi == VORONOI_EVENT_TYPES.5.0 %}
								{{ VORONOI_EVENT_TYPES.5.1 }}
							{% else %}
							{% endif %}
						</td>
						<td>
							{{ q_event_voronoi.comment }}
						</td>
						<td>
							{% if q_event_voronoi.check_holiday == True %}
								<a type="button" href="#" class="btn btn-success btn-sm" > Yes </a>
							{% else %}
								<a type="button" href="#" class="btn btn-dark btn-sm" > No </a>
							{% endif %}
						</td>
						<td>
							{% if 'all' in q_event_voronoi.list_applied_company %}
								Voronoi 그룹 전체
							{% else %}
								{{ q_event_voronoi.list_applied_company }}
							{% endif %}
						</td>
						<td>
							<button type="submit" name="button-hr-calendar-control-delete-voronoi-holiday" value="{{ q_event_voronoi.id }}" class="btn btn-link btn-sm">
								Delete
							</button>
						</td>
					</tr>
					{% endfor %}

				</table>

			</div>
		</fieldset>
	</div>
	</form>
</div>


<div class="col-md-3">
	<form method="POST" action="{% url 'hr-calendar-control' %}"  enctype="multipart/form-data">
		{% csrf_token %}
	<div class="content-section">
		<fieldset class="form-group">
			<legend class="border-bottom mb-4">{{ ls_year }} - {{ ls_next_year }}년도 보로노이 Event 수동등록</legend>
			<div class="card card-body" style="background-color:rgb(240,240,240,0.5);">
				<form method="POST">
					{% csrf_token %}
					<fieldset class="form-group">
						<legend class="border-bottom mb-4">보로노이 Event 등록하기 폼</legend>
						<small>
							* 표: 필수 입력란
						</small>
						<hr>

						<p>
							{{ form_date_holiday|crispy }}
						</p>
						{{ form_hr_voronoi_event_register|crispy }}
						<p>
							휴일여부*<br>
							<input type="radio" name="radio-event-voronoi-holiday" value="false" checked> 휴일 아님<br>
							<input type="radio" name="radio-event-voronoi-holiday" value="true" unchecked> 회사 휴일로 지정
						</p>

						<p>
							적용회사 여부*<br>
							<input type="checkbox" name="checkbox-event-voronoi-apply" value="all" checked> 보로노이 그룹 전체<br>
							<input type="checkbox" name="checkbox-event-voronoi-apply" value="voronoi" > 보로노이<br>
							<input type="checkbox" name="checkbox-event-voronoi-apply" value="voronoibio" > 보로노이 바이오<br>
							<input type="checkbox" name="checkbox-event-voronoi-apply" value="b2sbio" > 비투에스 바이오<br>
						</p>
					</fieldset>
					<hr>
					<div class="form-group">
						<button type="submit" name="button-register-event-voronoi" value="true" class="btn btn-info" >Register</button>
					</div>
				</form>
			</div>
		</fieldset>
	</div>
</div>

