{% load crispy_forms_tags %}
{% load bootstrap %}
{% load static %}



<div class="col-md-9">
	<form method="POST" action="{% url 'hr-calendar-control' %}"  enctype="multipart/form-data">
		{% csrf_token %}

	<div class="content-section">
		<fieldset class="form-group">
			<legend class="border-bottom mb-4">
				{% if q_mysettings_hr.calendar_control.year_calendar != Null %}
					{{ q_mysettings_hr.calendar_control.year_calendar }}
				{% else %}
					{{ ls_year }}
				{% endif %}
				년도 공휴일/기념일/절기 리스트
			</legend>
			<div>
				{% for q_calendar_control in qs_calendar_control %}
					{% if q_calendar_control == q_mysettings_hr.calendar_control %}
						<button type="submit" name="button-calendar-control-select-calendar-year-for-national-event" class="btn btn-dark btn-sm" value="{{ q_calendar_control.id }}">{{ q_calendar_control.year_calendar }}</button>
					{% else %}
						<button type="submit" name="button-calendar-control-select-calendar-year-for-national-event" class="btn btn-link btn-sm" value="{{ q_calendar_control.id }}">{{ q_calendar_control.year_calendar }}</button>
					{% endif %}
				{% endfor %}
			</div>


			<div class="card card-body" style="background-color:rgb(240,240,240,0.5);">

				<table class="table table-sm">
					<tr>
						<th>Event 날짜</th>
						<th>Event 이름</th>
						<th>Event 종류</th>
						<th>Event 내용</th>
						<th>휴일 여부</th>
						<th>Option</th>
					</tr>
					{% for q_event_national in qs_event_national %}
					<tr>
						<td>
							{{q_event_national.date_event|date:"Y-m-d"}}

						</td>
						<td>
							{{q_event_national.name_event}}

						</td>
						<td>
							{% if q_event_national.type_event_national == NATIONAL_EVENT_TYPES.0.0 %}
								{{ NATIONAL_EVENT_TYPES.0.1 }}
							{% elif q_event_national.type_event_national == NATIONAL_EVENT_TYPES.1.0 %}
								{{ NATIONAL_EVENT_TYPES.1.1 }}
							{% elif q_event_national.type_event_national == NATIONAL_EVENT_TYPES.2.0 %}
								{{ NATIONAL_EVENT_TYPES.2.1 }}
							{% elif q_event_national.type_event_national == NATIONAL_EVENT_TYPES.3.0 %}
								{{ NATIONAL_EVENT_TYPES.3.1 }}
							{% else %}
							{% endif %}
						</td>
						<td>
							{{ q_event_national.comment }}
						</td>
						<td>
							{% if q_event_national.check_holiday == True %}
								<button type="submit" name="button-hr-calendar-control-update-holiday-activate-or-inactivate" value="{{ q_event_national.id }}" class="btn btn-success btn-sm">
									Yes
								</button>
							{% else %}
								<button type="submit" name="button-hr-calendar-control-update-holiday-activate-or-inactivate" value="{{ q_event_national.id }}" class="btn btn-dark btn-sm">
									No
								</button>
							{% endif %}
						</td>
						<td>
							<button type="submit" name="button-hr-calendar-control-update-holiday-details" value="{{ q_event_national.id }}" class="btn btn-link btn-sm">
								Update
							</button>
							<button type="submit" name="button-hr-calendar-control-delete-national-holiday" value="{{ q_event_national.id }}" class="btn btn-link btn-sm">
								Delete
							</button>
						</td>
					</tr>
					{% endfor %}

				</table>

			</div>
		</fieldset>
	</div>

	</form>
</div>



<div class="col-md-3">
	<form method="POST" action="{% url 'hr-calendar-control' %}"  enctype="multipart/form-data">
		{% csrf_token %}

		<div class="content-section">
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">공휴일/기념일/24절기 등 자동등록하기</legend>
				<div class="card card-body" style="background-color:rgb(240,240,240,0.5);">
					<fieldset class="form-group">
						<legend class="border-bottom mb-4">국가 Event 자동으로 등록하기</legend>

						<div>
							이벤트 등록된 년도
							<br>
							<ul>
								{% if qs_calendar_control.count == 0 %}
									등록된 년도가 없습니다.
								{% else %}
									{% for q_calendar_control in qs_calendar_control %}
										<li>
											{{ q_calendar_control.year_calendar }}
										</li>
									{% endfor %}
								{% endif %}
							</ul>
						</div>

						<div>
							년도 선택<br>
							<select class="form-control" name="select-hr-calendar-control-national-event-register">
								<option selected
								{% if q_mysettings_hr.calendar_control == Null %}
									value ="{{ ls_year }}"
								{% else %}
									value="{{ q_mysettings_hr.calendar_control.year_calendar }}"
								{% endif %}
								>
								{% if q_mysettings_hr.calendar_control == Null %}
									{{ ls_year }}
								{% else %}
									{{ q_mysettings_hr.calendar_control.year_calendar }}
								{% endif %}
								</option>

								{% for num_calendar_year in list_year_calendar_national_event_register %}
									{% if num_calendar_year != q_mysettings_hr.calendar_control.year_calendar %}
										<option value="{{ num_calendar_year }}">{{ num_calendar_year }}</option>
									{% endif %}
								{% endfor %}
							</select>
						</div>
						<br>
						<button type="submit" name="button-hr-calendar-control-register-api" value="true" class="btn btn-info">Register by API</button>
					</fieldset>

				</div>
			</fieldset>
		</div>
	</form>

	<hr>

	<form method="POST" action="{% url 'hr-calendar-control' %}"  enctype="multipart/form-data">
		{% csrf_token %}

		<div class="content-section">
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">공휴일/기념일/24절기 등 수동등록하기</legend>
				<div class="card card-body" style="background-color:rgb(240,240,240,0.5);">
					<form method="POST">
						{% csrf_token %}
						<fieldset class="form-group">
							<legend class="border-bottom mb-4">국가 Event 수동으로 등록하기 폼</legend>
							<p>{{ form_date_holiday|crispy }}</p>
							{{ form_hr_national_event_register|crispy }}
							<p>
								휴일여부*<br>
								<input type="radio" name="radio-event-national-holiday" value="false" checked> 휴일 아님<br>
								<input type="radio" name="radio-event-national-holiday" value="true" unchecked> 법정 휴일로 지정
							</p>
						</fieldset>
						<hr>
						<div class="form-group">
							<button class="btn btn-info" name="button-register-event-national" value="true" type="submit">Register</button>
						</div>
					</form>
				</div>
			</fieldset>
		</div>

	</form>
</div>

