
{% load crispy_forms_tags %}
{% load bootstrap %}
{% load static %}


<!--

LIST_VACATION_TYPES = (
    ('VC_REGULAR', '연차'),  # success
    ('VC_OFFICIAL', '공가'),  # 1  primary
    ('VC_SICK', '병가'),  # 2 # warning
    ('VC_BIRTH', '출산휴가'),  # 3 # secondary
    ('VC_EVENT', '경조휴가'),  # 4 # dark
    ('VC_MILITARY', '병무휴가'),  # 5 # info
    ('VC_SPECIAL', '보건휴가'),  # 6 # danger
    ('VC_ETC', '기타휴가'),  # 7 # secondary
    ('VC_NOPAY', '무급휴가'),  # 8 # light
)


LIST_VACATION_REGULAR_TYPES = (
    ('VC_WHOLEDAY', '하루'), # dark
    ('VC_HALFDAY', '반차'), # secondary
    ('VC_QUARTERDAY', '반반차'), # normal
)

-->


{% if q_vacation_plan.datetime_start.date == q_calendar_vacation_all.date_vacation %}
    <!-- 사용 타입 -->
    {% if q_vacation_plan.vacation_regular_type_start == 'VC_WHOLEDAY' %}
    <!-- 하루 -->
        <badge class="badge badge-dark">
            {{ LIST_VACATION_REGULAR_TYPES.0.1 }}
        </badge>
    {% elif q_vacation_plan.vacation_regular_type_start == 'VC_HALFDAY' %}
    <!-- 반차 -->
        <badge class="badge badge-secondary">
            {{ LIST_VACATION_REGULAR_TYPES.1.1 }}
        </badge>
    {% elif q_vacation_plan.vacation_regular_type_start == 'VC_QUARTERDAY' %}
    <!-- 반반차 -->
        <badge class="badge badge-light">
            {{ LIST_VACATION_REGULAR_TYPES.2.1 }}
        </badge>
    {% endif %}
{% endif %}
{% if q_vacation_plan.datetime_start.date < q_calendar_vacation_all.date_vacation and q_calendar_vacation_all.date_vacation < q_vacation_plan.datetime_end.date %}
    <badge class="badge badge-dark">
        {{ LIST_VACATION_REGULAR_TYPES.0.1 }}
    </badge>
{% endif %}
{% if q_vacation_plan.datetime_start.date != q_vacation_plan.datetime_end.date %}
    {% if q_vacation_plan.datetime_end.date == q_calendar_vacation_all.date_vacation %}
        <!-- 사용 타입 -->
        {% if q_vacation_plan.vacation_regular_type_end == 'VC_WHOLEDAY' %}
        <!-- 하루 -->
            <badge class="badge badge-dark">
                {{ LIST_VACATION_REGULAR_TYPES.0.1 }}
            </badge>
        {% elif q_vacation_plan.vacation_regular_type_end == 'VC_HALFDAY' %}
        <!-- 반차 -->
            <badge class="badge badge-secondary">
                {{ LIST_VACATION_REGULAR_TYPES.1.1 }}
            </badge>
        {% elif q_vacation_plan.vacation_regular_type_end == 'VC_QUARTERDAY' %}
        <!-- 반반차 -->
            <badge class="badge badge-light">
                {{ LIST_VACATION_REGULAR_TYPES.2.1 }}
            </badge>
        {% endif %}
    {% endif %}
{% endif %}




<!-- 휴가 타입-->
{% if q_vacation_plan.vacation_type == 'VC_REGULAR' %}
    <badge class="badge badge-success">
        {{ LIST_VACATION_TYPES.0.1 }}
    </badge>
{% elif q_vacation_plan.vacation_type == 'VC_OFFICIAL' %}
    <badge class="badge badge-primary">
        {{ LIST_VACATION_TYPES.1.1 }}
    </badge>
{% elif q_vacation_plan.vacation_type == 'VC_SICK' %}
    <badge class="badge badge-warning">
        {{ LIST_VACATION_TYPES.2.1 }}
    </badge>
{% elif q_vacation_plan.vacation_type == 'VC_BIRTH' %}
    <badge class="badge badge-secondary">
        {{ LIST_VACATION_TYPES.3.1 }}
    </badge>
{% elif q_vacation_plan.vacation_type == 'VC_EVENT' %}
    <badge class="badge badge-dark">
        {{ LIST_VACATION_TYPES.4.1 }}
    </badge>
{% elif q_vacation_plan.vacation_type == 'VC_MILITARY' %}
    <badge class="badge badge-info">
        {{ LIST_VACATION_TYPES.5.1 }}
    </badge>
{% elif q_vacation_plan.vacation_type == 'VC_SPECIAL' %}
    <badge class="badge badge-danger">
        {{ LIST_VACATION_TYPES.6.1 }}
    </badge>
{% elif q_vacation_plan.vacation_type == 'VC_ETC' %}
    <badge class="badge badge-secondary">
        {{ LIST_VACATION_TYPES.7.1 }}
    </badge>
{% elif q_vacation_plan.vacation_type == 'VC_NOPAY' %}
    <badge class="badge badge-secondary">
        {{ LIST_VACATION_TYPES.8.1 }}
    </badge>
{% else %}
    <badge class="badge badge-danger">
        미분류
    </badge>
{% endif %}
