{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
{% include 'hr/hr_navbar_calendar.html' %}



<legend class="border-bottom mb-4">
    <strong>
        {{ ls_today }}
    </strong>
</legend>


<div class="row">
	<div class="col-md-12">
		<form method="POST" action="{% url 'hr-calendar-control' %}"  enctype="multipart/form-data">
            {% csrf_token %}
			<ul class="nav nav-tabs">
				{% for ITEM in LIST_HR_CALENDAR_CONTROL_TYPE %}
					<li class="nav-item">
						<button type="submit" name="button-hr-calendar-control-type-switch" value="{{ ITEM.0 }}"
						{% if q_mysettings_hr.calendar_control_type == ITEM.0 %}
							class="btn btn-dark btn-sm"
						{% else %}
							class="nav-link"
						{% endif %}
						>
							{{ ITEM.1 }}
						</button>
					</li>
				{% endfor %}
			</ul>
        </form>
	</div>
</div>

<hr>

<div class="row">
	{% if q_mysettings_hr.calendar_control_type == LIST_HR_CALENDAR_CONTROL_TYPE.0.0 %}
		{% include 'hr/hr_calendar_control_calendar_main.html' %}
	{% elif q_mysettings_hr.calendar_control_type == LIST_HR_CALENDAR_CONTROL_TYPE.1.0 %}
		{% include 'hr/hr_calendar_control_register_national_event.html' %}
	{% elif q_mysettings_hr.calendar_control_type == LIST_HR_CALENDAR_CONTROL_TYPE.2.0 %}
		{% include 'hr/hr_calendar_control_register_voronoi_event.html' %}
	{% endif %}
</div>
{% endblock content %}