
{% load crispy_forms_tags %}
{% load bootstrap %}
{% load static %}



{% include 'hr/hr_calendar_control_calendar_vacation_status_badge.html' %}


<button type="submit" class="btn btn-link btn-sm"
{% if where_am_i == 'hr' %}
    name="button-hr-vacation-control-document-info-modal-view-open" value="{{ q_vacation_plan.id }}"
{% elif where_am_i == 'my' %}
    name="button-hr-vacation-control-document-info-modal-view-open" value="{{ q_vacation_plan.id }}"
{% else %}
{% endif %}
>
    {{ q_vacation_plan.owner.member.member_name }}
    {% if q_vacation_plan.hrapproval.hrlayout_applicant.check_division_leader != True and q_vacation_plan.hrapproval.hrlayout_applicant.check_company_leader != True %}
        ({{ q_vacation_plan.hrapproval.hrlayout_applicant.team.team_name }})
    {% else %}
        {% if q_vacation_plan.hrapproval.hrlayout_applicant.check_division_leader == True %}
            ({{ q_vacation_plan.hrapproval.hrlayout_applicant.division.division_name }})
        {% else %}
            ({{ q_vacation_plan.hrapproval.hrlayout_applicant.company.company_name }})
        {% endif %}
    {% endif %}
</button>
<br>
