
{% load crispy_forms_tags %}
{% load bootstrap %}
{% load static %}






<!--
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    Vacation Schedule
-->
{% for q_vacation_plan in qs_vacation_plan_calendar %}
    {% if q_vacation_plan.datetime_start.year == q_vacation_plan.datetime_end.year %}
    <!-- 휴가개시일의 년도가 휴가종료일의 년도와 일치하는 경우-->
        {% if q_vacation_plan.datetime_start.year == dy %}
            <!-- 휴가개시일의 년도로 필터링 -->
            {% if q_vacation_plan.datetime_start.month == q_vacation_plan.datetime_end.month %}
            <!-- 휴가개시일의 달이 휴가종료일의 달과 일치하는 경우-->
                {% if q_vacation_plan.datetime_start.month == dm %}
                <!-- 휴가개시일의 달로 필터링 -->
                    {% if q_vacation_plan.datetime_start.day <= cm_day and q_vacation_plan.datetime_end.day >= cm_day %}
                        <!-- 휴가개시일의 날로 필터링 -->
                        {% include 'hr/hr_calendar_control_calendar_fullweeks_event_vacation_detail.html' %}
                    {% endif %}
                {% endif %}
            {% else %}
            <!-- 휴가개시일의 달이 휴가종료일의 달과 일치하지 않는 경우-->
                {% if q_vacation_plan.datetime_start.month == dm %}
                <!-- 휴가개시일의 달이 매칭되는 달의 달력에서의 경우 -->
                <!-- 휴가개시일의 달로 필터링 -->
                    {% if q_vacation_plan.datetime_start.day <= cm_day %}
                        <!-- 휴가개시일의 날로 필터링 -->
                        {% include 'hr/hr_calendar_control_calendar_fullweeks_event_vacation_detail.html' %}
                    {% endif %}
                {% endif %}
                {% if q_vacation_plan.datetime_end.month == dm %}
                <!-- 휴가종료일의 달이 매칭되는 달의 달력에서의 경우 -->
                <!-- 휴가개시일의 달로 필터링 -->
                    {% if q_vacation_plan.datetime_end.day >= cm_day %}
                        <!-- 휴가개시일의 날로 필터링 -->
                        {% include 'hr/hr_calendar_control_calendar_fullweeks_event_vacation_detail.html' %}
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endif %}
    {% else %}
    <!-- 휴가개시일의 년도가 휴가종료일의 년도와 일치하지 않는 경우-->
        {% if q_vacation_plan.datetime_start.year == dy %}
        <!-- 휴가개시일의 년도가 달력과 일치하는 년도에 대해 -->
        <!-- 휴가개시일의 년도로 필터링 -->
            {% if q_vacation_plan.datetime_start.month == q_vacation_plan.datetime_end.month %}
            <!-- 휴가개시일의 달이 휴가종료일의 달과 일치하는 경우-->
                {% if q_vacation_plan.datetime_start.month == dm %}
                <!-- 휴가개시일의 달로 필터링 -->
                    {% if q_vacation_plan.datetime_start.day <= cm_day and q_vacation_plan.datetime_end.day >= cm_day %}
                        <!-- 휴가개시일의 날로 필터링 -->
                        {% include 'hr/hr_calendar_control_calendar_fullweeks_event_vacation_detail.html' %}
                    {% endif %}
                {% endif %}
            {% else %}
            <!-- 휴가개시일의 달이 휴가종료일의 달과 일치하지 않는 경우-->
                {% if q_vacation_plan.datetime_start.month == dm %}
                <!-- 휴가개시일의 달이 매칭되는 달의 달력에서의 경우 -->
                <!-- 휴가개시일의 달로 필터링 -->
                    {% if q_vacation_plan.datetime_start.day <= cm_day %}
                        <!-- 휴가개시일의 날로 필터링 -->
                        {% include 'hr/hr_calendar_control_calendar_fullweeks_event_vacation_detail.html' %}
                    {% endif %}
                {% endif %}
                {% if q_vacation_plan.datetime_end.month == dm %}
                <!-- 휴가종료일의 달이 매칭되는 달의 달력에서의 경우 -->
                <!-- 휴가개시일의 달로 필터링 -->
                    {% if q_vacation_plan.datetime_end.day >= cm_day %}
                        <!-- 휴가개시일의 날로 필터링 -->
                        {% include 'hr/hr_calendar_control_calendar_fullweeks_event_vacation_detail.html' %}
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endif %}
        {% if q_vacation_plan.datetime_end.year == dy %}
        <!-- 휴가종료일의 년도가 달력과 일치하는 년도에 대해-->
        <!-- 휴가개시일의 년도로 필터링 -->
            {% if q_vacation_plan.datetime_start.month == q_vacation_plan.datetime_end.month %}
            <!-- 휴가개시일의 달이 휴가종료일의 달과 일치하는 경우-->
                {% if q_vacation_plan.datetime_start.month == dm %}
                <!-- 휴가개시일의 달로 필터링 -->
                    {% if q_vacation_plan.datetime_start.day <= cm_day and q_vacation_plan.datetime_end.day >= cm_day %}
                        <!-- 휴가개시일의 날로 필터링 -->
                        {% include 'hr/hr_calendar_control_calendar_fullweeks_event_vacation_detail.html' %}
                    {% endif %}
                {% endif %}
            {% else %}
            <!-- 휴가개시일의 달이 휴가종료일의 달과 일치하지 않는 경우-->
                {% if q_vacation_plan.datetime_start.month == dm %}
                <!-- 휴가개시일의 달이 매칭되는 달의 달력에서의 경우 -->
                <!-- 휴가개시일의 달로 필터링 -->
                    {% if q_vacation_plan.datetime_start.day <= cm_day %}
                        <!-- 휴가개시일의 날로 필터링 -->
                        {% include 'hr/hr_calendar_control_calendar_fullweeks_event_vacation_detail.html' %}
                    {% endif %}
                {% endif %}
                {% if q_vacation_plan.datetime_end.month == dm %}
                <!-- 휴가종료일의 달이 매칭되는 달의 달력에서의 경우 -->
                <!-- 휴가개시일의 달로 필터링 -->
                    {% if q_vacation_plan.datetime_end.day >= cm_day %}
                        <!-- 휴가개시일의 날로 필터링 -->
                        {% include 'hr/hr_calendar_control_calendar_fullweeks_event_vacation_detail.html' %}
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endif %}
    {% endif %}
{% endfor %}


