{% load crispy_forms_tags %}
{% load bootstrap %}
{% load static %}


<ul class="nav nav-tabs">
    <li class="nav-item">
        <button type="submit" name="button-hr-calendar-control-full-calendar-delta-month" value="backward" class="nav-link">
           {{ dy_prev }} / {{ dm_prev }}
        </button>
    </li>
    <li class="nav-item">
        <button type="submit" name="button-hr-calendar-control-full-calendar-delta-month" value="current" class="btn btn-dark btn-sm">
            {{ dy }} / {{ dm }}
        </button>
    </li>
    <li class="nav-item">
        <button type="submit" name="button-hr-calendar-control-full-calendar-delta-month" value="forward" class="nav-link">
            {{dy_next}} / {{ dm_next }}
        </button>
    </li>
    <li class="nav-item">
        <button type="submit" name="button-hr-calendar-control-full-calendar-delta-month" value="reset" class="nav-link">
            Reset
        </button>
    </li>
</ul>
