
{% load crispy_forms_tags %}
{% load bootstrap %}
{% load static %}


<table class="table table-bordered">
    {% for cm_week in cm %}
        <tr>
            {% for cm_day in cm_week %}
                <td
                {% for q_event_national in qs_event_national %}
                    {% if q_event_national.date_event.year == dy and q_event_national.date_event.month == dm and q_event_national.date_event.day == cm_day and q_event_national.check_holiday == True %}
                        style="background-color:rgba(255, 0, 0, 0.15);"
                    {% endif %}
                {% endfor %}
                {% for q_event_voronoi in qs_event_voronoi %}
                    {% if q_event_voronoi.date_event.year == dy and q_event_voronoi.date_event.month == dm and q_event_voronoi.date_event.day == cm_day and q_event_voronoi.check_holiday == True %}
                        style="background-color:rgba(255, 125, 0, 0.15);"
                    {% endif %}
                {% endfor %}

                {% if ls_today.year == dy and dm == ls_today.month and ls_today.day == cm_day %}
                    style="background-color:rgba(0, 255, 255, 0.15);"
                {% else %}
                    {% if forloop.counter == 1 or forloop.counter == 7 %}
                        {% if ls_today.year == dy and dm == ls_today.month and ls_today.day == cm_day %}
                            style="background-color:rgba(255, 255, 0, 0.15);"
                        {% else %}
                            style="background-color:rgba(50, 50, 50, 0.15);"
                        {% endif %}
                    {% else %}
                        style="background-color:rgba(255, 255, 255, 0.85);"
                    {% endif %}
                {% endif %}
                width="14.3%"
                >

                    {% if cm_day != 0 %}

                        <span class="text-dark">
                            {{ dm }}/{{ cm_day }}
                        </span>

                        <!--
                            국가 이벤트
                        -->
                        {% include 'hr/hr_calendar_control_calendar_fullweeks_event_national.html' %}



                        {% comment %}
                            <button type="submit" name="button-calendar-save" value="{{ cm_day }}" class="btn btn-link btn-sm">
                                +
                            </button>
                        {% endcomment %}


                        <!--
                            보로노이 이벤트
                        -->
                        {% include 'hr/hr_calendar_control_calendar_fullweeks_event_voronoi.html' %}


                        <hr>
                        <!--
                            ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
                            휴가자 리스트
                        -->

                        <!--
                            ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
                            My Vacation
                        -->
                        {% for q_calendar_vacation_all in qs_calendar_vacation_all %}
                            {% if q_calendar_vacation_all.date_vacation.year == dy and q_calendar_vacation_all.date_vacation.month == dm and q_calendar_vacation_all.date_vacation.day == cm_day  %}
                            <!-- 캘린더 날짜와 이벤트가 매칭하는 날짜 -->
                                {% include 'hr/hr_calendar_control_calendar_fullweeks_event_vacation.html' %}
                            {% else %}
                            <!-- 캘린더 날짜와 이벤트 매칭 안되는 모든 날짜 -->
                            {% endif %}
                        {% endfor %}

                    {% endif %}
                </td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>
