
{% load crispy_forms_tags %}
{% load bootstrap %}
{% load static %}


<!--
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    보로노이 Event
-->
{% for q_event_voronoi in qs_event_voronoi %}
    {% if q_event_voronoi.date_event.year == dy and q_event_voronoi.date_event.month == dm and q_event_voronoi.date_event.day == cm_day %}
        {% if q_event_voronoi.check_holiday == False %}
            <span class="text-dark">
                <ul>
                    <li>
                        {{ q_event_voronoi.name_event }}
                        {% if q_event_voronoi.comment != Null %}
                            <br>
                            <small>
                                ({{ q_event_voronoi.comment }})
                            </small>
                        {% endif %}
                    </li>
                </ul>
            </span>
        {% else %}
            <span class="text-danger">
                <strong>
                    <ul>
                        <li>
                            {{ q_event_voronoi.name_event }}
                            {% if q_event_voronoi.comment != Null %}
                                <br>
                                <small>
                                    ({{ q_event_voronoi.comment }})
                                </small>
                            {% endif %}
                        </li>
                    </ul>
                </strong>
            </span>
        {% endif %}
    {% endif %}
{% endfor %}
