{% load crispy_forms_tags %}
{% load bootstrap %}
{% load static %}




<div class="modal fade bd-example-modal-xl" id="hrDocumentHistoryReadonly" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true" >
	<div class="modal-dialog modal-xl" >
		<div class="modal-content">


			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">
					<strong>
						{{ q_mysettings_hr.document_issued.owner.profile.name_korean }}님의 읽기전용 {{ q_mysettings_hr.document_issued.code }} 문서내용
					</strong>
					{% for ITEM in STATUS_HR_DOCUMENT_APPROVAL_PROCESS %}
						{% if q_mysettings_hr.document_issued.hrapproval.status_document_approval_process == ITEM.0 %}
							<button type="submit" name="button-my-workingtime-plan-activate-approval-progress-modal-view-open" value="{{ q_workingtime_plan.id }}"
							{% if q_mysettings_hr.document_issued.hrapproval.status_document_approval_process == STATUS_HR_DOCUMENT_APPROVAL_PROCESS.0.0 %}
								class="btn btn-light btn-sm"
							{% elif q_mysettings_hr.document_issued.hrapproval.status_document_approval_process == STATUS_HR_DOCUMENT_APPROVAL_PROCESS.1.0 %}
								class="btn btn-info btn-sm"
							{% elif q_mysettings_hr.document_issued.hrapproval.status_document_approval_process == STATUS_HR_DOCUMENT_APPROVAL_PROCESS.2.0 %}
								class="btn btn-warning btn-sm"
							{% elif q_mysettings_hr.document_issued.hrapproval.status_document_approval_process == STATUS_HR_DOCUMENT_APPROVAL_PROCESS.3.0 %}
								class="btn btn-primary btn-sm"
							{% elif q_mysettings_hr.document_issued.hrapproval.status_document_approval_process == STATUS_HR_DOCUMENT_APPROVAL_PROCESS.4.0 %}
								class="btn btn-success btn-sm"
							{% elif q_mysettings_hr.document_issued.hrapproval.status_document_approval_process == STATUS_HR_DOCUMENT_APPROVAL_PROCESS.5.0 %}
								class="btn btn-danger btn-sm"
							{% elif q_mysettings_hr.document_issued.hrapproval.status_document_approval_process == STATUS_HR_DOCUMENT_APPROVAL_PROCESS.6.0 %}
								class="btn btn-secondary btn-sm"
							{% else %}
								class="btn btn-secondary btn-sm"
							{% endif %}
							>
								{{ ITEM.1 }}
							</button>
						{% endif %}
					{% endfor %}
				</h5>

				<button type="submit" name="button-hr-vacation-control-document-info-modal-view-close" value="true" class="btn btn-dark btn-sm" aria-label="Close">
					Close
				</button>
			</div>


			<div class="modal-body">
				<!--
					문서 내용 표시

				-->
				<div>
					{% if q_mysettings_hr.document_issued.document_format.type_format == 'vacation_plan' %}
						{% include 'hr/hr_document_history_modal_form_registered_vacation_plan.html' %}
					{% elif q_mysettings_hr.document_issued.document_format.type_format == 'workingtime_plan' %}
						{% include 'hr/hr_document_history_modal_form_registered_workingtime_plan.html' %}
					{% else %}
					{% endif %}
				</div>
				<div>
					{% if q_mysettings_hr.document_issued.hrapproval.status_document_approval_process != 'CANCEL'%}
						<div style="background-color:rgb(240,240,240,0.5);">
							{% include 'my/my_document_approval_requested_hrapproval_process_validation_modal_table_history.html' %}
						</div>
					{% endif %}
				</div>
			</div>

			<div class="modal-footer">
				<button type="submit" name="button-hr-vacation-control-document-info-modal-view-close" value="true" class="btn btn-dark btn-sm" aria-label="Close">
					Close
				</button>
			</div>
		</div>
	</div>
</div>



<script>
	// const { createApp } = Vue
	var chartData;
	var chartTitleStr
	var postHandling = createApp({
        delimiters: ["[[", "]]"],
        data() {
        return {
			list_dict_document_approver_validated: [],
        }
        },
        methods: {
            refreshData() {
				axios.get(variables.API_URL+'hr/hr_xxx_document_history_readonly_modal_api_refresh_get_view/')
				.then((response) => {
					this.list_dict_document_approver_validated = response.data['list_dict_document_approver_validated']
                    console.log(response.data)
                })
				.catch(() => {
                    console.log('Error!')
				})
            },

			f_check_completed(event) {
				console.log(event)
			},

        },
		computed: {
		},
        mounted: function() {
            this.refreshData()
        }
    }).mount('#hrDocumentHistoryReadonly')

</script>



<style>
	.modal-content {
		max-width:none;
	}
</style>