{% load crispy_forms_tags %}
{% load bootstrap %}
{% load static %}



			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">
					<strong>
						{{ q_mysettings_hr.document_issued.owner.profile.name_korean }}님 휴가계획서 등록내용
					</strong>
				</h5>
			</div>


			<div class="modal-body">
				<table class="table">
					<tr style="background-color:rgb(240,240,240,0.5);">
						<th colspan="4">
							등록 내용 {{ q_mysettings_hr.document_issued.id }}
						</th>
					</tr>
					<tr>
						<th colspan="1" style="background-color:rgb(240,240,240,0.5);">
							<label for="my-vacation-control-form-vacation-plan-type">휴가 타입</label>
						</th>
						<td colspan="1">
							{% for ITEM in LIST_VACATION_TYPES %}
								{% if q_mysettings_hr.document_issued.vacation_plan.vacation_type == ITEM.0 %}
									{{ ITEM.1}}
								{% endif %}
							{% endfor %}
						</td>
						<th colspan="1" style="background-color:rgb(240,240,240,0.5);">
							<label for="my-vacation-control-form-vacation-plan-type">사용한 Credit</label>
						</th>
						<td colspan="1">
							{{ q_mysettings_hr.document_issued.vacation_plan.credit_used_total }}
						</td>
					</tr>

					<tr>
						<th width="20%" style="background-color:rgb(240,240,240,0.5);">
							<label for="my-vacation-control-form-vacation-plan-start">휴가 시작 날짜/시간</label>
						</th>
						<td width="30%">
							{{ q_mysettings_hr.document_issued.vacation_plan.datetime_start|date:"Y-m-d H:i" }}
						</td>
						<th width="20%" style="background-color:rgb(240,240,240,0.5);">
							<label for="my-vacation-control-form-vacation-plan-end">휴가 종료 날짜/시간</label>
						</th>
						<td width="30%">
							{{ q_mysettings_hr.document_issued.vacation_plan.datetime_end|date:"Y-m-d H:i" }}
						</td>
					</tr>
					<tr>
						<th style="background-color:rgb(240,240,240,0.5);">
							<label for="my-vacation-control-form-vacation-plan-start">업무인수자</label>
						</th>
						<td >
							<ul>
								{% for dict_document_takeover in q_mysettings_hr.document_issued.vacation_plan.hrapproval.list_dict_document_takeover %}
									<li>
										{{ dict_document_takeover.name }} ({{ dict_document_takeover.position }})
									</li>
								{% endfor %}
							</ul>
						</td>
						<th style="background-color:rgb(240,240,240,0.5);">
							<label for="my-vacation-control-form-vacation-plan-end">참조자</label>
						</th>
						<td >
							<ul>
								{% for dict_document_referrer in q_mysettings_hr.document_issued.vacation_plan.hrapproval.list_dict_document_referrer %}
									<li>
										{{ dict_document_referrer.name }} ({{ dict_document_referrer.position }})
									</li>
								{% endfor %}
							</ul>
						</td>
					</tr>

					<tr>
						<th colspan="1" style="background-color:rgb(240,240,240,0.5);">
							<label for="my-vacation-control-form-vacation-plan-reason">이유</label>
						</th>
						<td colspan="3">
							{{ q_mysettings_hr.document_issued.vacation_plan.reason }}
						</td>
					</tr>

					<tr>
						<th colspan="1" style="background-color:rgb(240,240,240,0.5);">
							<label for="formFile" class="form-label">첨부파일(선택)</label>
						</th>
						<td colspan="3">
							{% if q_mysettings_hr.document_issued.vacation_plan.reference_file != Null and q_mysettings_hr.document_issued.vacation_plan.reference_file != ''  %}
								<a type="button" class="btn btn-outline-primary btn-sm" href="{{ q_mysettings_hr.document_issued.vacation_plan.reference_file.url }}" download> File Download </a>
							{% else %}
							 	첨부파일 없음
							{% endif %}
						</td>
					</tr>

				</table>

			</div>







