{% load crispy_forms_tags %}
{% load bootstrap %}
{% load static %}



<div
{% if q_mysettings_hr.check_display_size_document_format_table_fullwidth == True %}
	class="col-md-12"
{% else %}
	class="col-md-9"
{% endif %}
>

	<div class="content-section">
		<fieldset class="form-group">
			<form method="POST" action="{% url 'hr-document-control' %}"  enctype="multipart/form-data">
				{% csrf_token %}

				{% include 'hr/hr_document_control_document_approved_table_filter.html' %}


				<div class="card card-body" style="background-color:rgb(240,240,240,0.5);">

					<table class="table table-sm">
						<tr>
							<th width="3%">
								순번
							</th>
							{% for ITEM in LIST_MY_DOCUMENT_HISTORY_TABLE_COLUMN_INDEX %}
								<th>
									<button type="submit" name="button-my-document-history-sorting-by-table-column-index" value="{{ ITEM.0 }}" class="btn btn-link btn-sm">
										{{ ITEM.1 }}
									</button>
								</th>
							{% endfor %}

							<th width="25%">
								비고
							</th>
						</tr>


						<!--
							선택된 문서포맷
						-->
						{% for qs_document_issued in qs_document_issued_approved %}
							{% if q_hr_document_issued.id in q_mysettings_hr.list_document_issued_id_searched %}
								{% include 'hr/hr_document_control_document_approved_table_row.html' %}
							{% else %}
							{% endif %}
						{% endfor %}

						<!--
							나머지 근무계획서 쿼리
						-->
						{% for q_hr_document_issued in qs_document_issued_approved %}
							{% if q_hr_document_issued.id in q_mysettings_hr.list_document_issued_id_searched %}
							{% else %}
								{% include 'hr/hr_document_control_document_approved_table_row.html' %}
							{% endif %}
						{% endfor %}
					</table>
				</div>

			</form>
		</fieldset>
	</div>

</div>



{% if q_mysettings_hr.check_display_size_document_format_table_fullwidth == False %}
	<div class="col-md-3">

		<form method="POST" action="{% url 'hr-document-control' %}"  enctype="multipart/form-data">
			{% csrf_token %}

			extension

		</form>
	</div>
{% endif %}


