{% load crispy_forms_tags %}
{% load bootstrap %}
{% load static %}



			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">
					<strong>
						{{ q_mysettings_hr.document_issued.owner.profile.name_korean }}님 근무계획서 등록내용
					</strong>
				</h5>
			</div>


			<div class="modal-body">
				<table class="table">
					<tr style="background-color:rgb(240,240,240,0.5);">
						<th colspan="4">
							등록 내용
						</th>
					</tr>
					<tr>
						<th colspan="1" style="background-color:rgb(240,240,240,0.5);">
							<label for="my-workingtime-control-form-workingtime-plan-type">근무계획서 종류</label>
						</th>
						<td colspan="3">
							{% for ITEM in LIST_TYPE_WORKINGTIME %}
								{% if q_mysettings_hr.document_issued.workingtime_plan.type_workingtime == ITEM.0 %}
									{{ ITEM.1}}
								{% endif %}
							{% endfor %}

						</td>
					</tr>

					<tr>
						<th width="20%" style="background-color:rgb(240,240,240,0.5);">
							<label for="my-workingtime-control-form-workingtime-plan-start">외부근무 시작 날짜/시간</label>
						</th>
						<td width="30%">
							{{ q_mysettings_hr.document_issued.workingtime_plan.datetime_start|date:"Y-m-d" }}
						</td>
						<th width="20%" style="background-color:rgb(240,240,240,0.5);">
							<label for="my-workingtime-control-form-workingtime-plan-end">외부근무 종료 날짜/시간</label>
						</th>
						<td width="30%">
							{{ q_mysettings_hr.document_issued.workingtime_plan.datetime_end|date:"Y-m-d" }}
						</td>
					</tr>

					{% if q_mysettings_hr.document_issued.workingtime_plan.type_workingtime == LIST_TYPE_WORKINGTIME.0.0 %}
						<tr>
							<th style="background-color:rgb(240,240,240,0.5);">
								<label for="my-workingtime-control-form-workingtime-plan-field-type">출장(외부근무) 종류</label>
							</th>
							<td >
								{% for ITEM in LIST_TYPE_WORKINGTIME_FIELD %}
									{% if q_mysettings_hr.document_issued.workingtime_plan.type_workingtime_field == ITEM.0 %}
										{{ ITEM.1}}
									{% endif %}
								{% endfor %}
							</td>
							<th style="background-color:rgb(240,240,240,0.5);">
								<label for="my-workingtime-control-form-workingtime-plan-reason">출장지(행선지)</label>
							</th>
							<td >
								{{ q_mysettings_hr.document_issued.workingtime_plan.destination }}
							</td>
						</tr>
					{% endif %}

					<tr>
						<th colspan="1" style="background-color:rgb(240,240,240,0.5);">
							<label for="my-workingtime-control-form-workingtime-plan-reason">이유</label>
						</th>
						<td colspan="3">
							{{ q_mysettings_hr.document_issued.workingtime_plan.reason }}
						</td>
					</tr>

					<tr>
						<th colspan="1" style="background-color:rgb(240,240,240,0.5);">
							<label for="formFile" class="form-label">첨부파일(선택)</label>
						</th>
						<td colspan="3">
							{% if q_mysettings_hr.document_issued.hrdocfile != Null and q_mysettings_hr.document_issued.hrdocfile != ''  %}
								<a type="button" class="btn btn-outline-primary btn-sm" href="{{ q_mysettings_hr.document_issued.hrdocfile.file.url }}" download> File Download </a>
							{% else %}
							 	첨부파일 없음
							{% endif %}

						</td>
					</tr>

				</table>

			</div>







