{% load crispy_forms_tags %}
{% load bootstrap %}
{% load static %}




<div class="modal fade bd-example-modal-xl" id="hrDocumentFormatRegister" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true" >
	<div class="modal-dialog modal-xl" >
		<div class="modal-content">


			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">
					<strong>
						{% if q_mysettings_hr.document_format == Null %}
							문서양식 등록
						{% else %}
							문서양식 업데이트
						{% endif %}
					</strong>
				</h5>
				<button type="submit" name="button-hr-document-control-register-new-document-modal-view-close" value="true" class="btn btn-dark btn-sm" aria-label="Close">
					Close
				</button>
			</div>


			<div class="modal-body">
				<!--
					기존에 등록되어 있는 승인프로세스 내용 5개 아이콘 표시, 선택시 기존 내용 일괄로 적용
				-->
				<div>

				</div>
				<!--
					승인프로세스 입력폼
				-->
				<div>
					<table class="table">
						<tr style="background-color:rgb(240,240,240,0.5)">
							<th width="14%">
								항목
							</th>
							<th width="43%">
								등록 내용
							</th>
							<th width="43%">
								입력 / 검색
							</th>

						</tr>


						<!--
							문서 Title  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////
						-->
						<tr>
							<!--
								Left
							-->
							<th style="background-color:rgb(240,240,240,0.5)">
								문서제목
							</th>

							<!--
								Right
							-->
							<td >
								<div v-if="inputTextTitle != ''">
									[[ inputTextTitle ]]
								</div>
								<div v-else>
									제목을 입력하세요.
								</div>
							</td>
							<td style="background-color:rgb(255,255,255,0.05)">
								<input type="text" :value="inputTextTitle" @input="f_inputTextTitle" class="form-control" disabled>
							</td>

						</tr>

						<!--
							문서 Description  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////
						-->
						<tr>
							<!--
								Left
							-->
							<th style="background-color:rgb(240,240,240,0.5)">
								문서 상세내용
							</th>

							<!--
								Right
							-->
							<td >
								<div v-if="inputTextDescription != ''">
									[[ inputTextDescription ]]
								</div>
								<div v-else>
									상세내용을 입력하세요.
								</div>
							</td>
							<td style="background-color:rgb(255,255,255,0.05)">
								<input type="text" :value="inputTextDescription" @input="f_inputTextDescription" class="form-control">
							</td>

						</tr>


						<!--
							문서 참조자 //////////////////////////////////////////////////////////////////////////////////////////////////////////////////
						-->
						<tr>
							<!--
								Left
							-->
							<th style="background-color:rgb(240,240,240,0.5)" >
								문서 참조자
							</th>
							<!--
								Right
							-->
							<td style="background-color:rgb(255,255,255,0.5)">
								<div v-if="list_dict_document_referrer.length == 0">
									문서 참조자를 등록하세요.
								</div>
								<div v-else class="card card-body" style="background-color:rgb(255,255,255,0.5)">
									<table class="table">
										<tr>
											<th>
												순번
											</th>
											<th>
												이름
											</th>
											<th>
												포지션
											</th>
											<th>
												비고
											</th>
										</tr>
										<tr
										v-for="(dict_referrer, index) in list_dict_document_referrer" :key="dict_referrer"
										>
											<td>
												[[ index + 1 ]]
											</td>
											<td>
												[[ dict_referrer.name ]]
											</td>
											<td>
												[[ dict_referrer.position ]]
											</td>
											<td class="text-right">
												<button type="button" class="btn" @click="f_referrerDelete(dict_referrer.hrlayout_id)">
													<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
														<path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
													</svg>
												</button>
											</td>
										</tr>
									</table>
								</div>

							</td>
							<td style="background-color:rgb(255,255,255,0.5)" >
								<input type="text" :value="inputTextNameReferrer" @input="f_referrerSearch" class="form-control" placeholder="멤버이름 / 팀이름으로 검색">

								<div
								v-for="(dict_referrer_searched, index) in list_dict_document_referrer_searched" :key="dict_referrer_searched"
								>
									[[ dict_referrer_searched.name ]]
									<button type="button" class="btn btn-link btn-sm" @click="f_referrerSelect(dict_referrer_searched.hrlayout_id)" >
										<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
											<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
										</svg>
									</button>
									<br>
									[[ dict_referrer_searched.position ]]
								</div>

							</td>

						</tr>


						<!--
							수신처 //////////////////////////////////////////////////////////////////////////////////////////////////////////////////
						-->
						<tr>
							<!--
								Left
							-->
							<th style="background-color:rgb(240,240,240,0.5)" >
								수신처
							</th>
							<!--
								Right
							-->
							<td style="background-color:rgb(255,255,255,0.5)">
								<div v-if="list_dict_document_receiver.length == 0">
									문서 참조자를 등록하세요.
								</div>
								<div v-else class="card card-body" style="background-color:rgb(255,255,255,0.5)">
									<table class="table">
										<tr>
											<th>
												순번
											</th>
											<th>
												이름
											</th>
											<th>
												포지션
											</th>
											<th>
												비고
											</th>
										</tr>
										<tr
										v-for="(dict_receiver, index) in list_dict_document_receiver" :key="dict_receiver"
										>
											<td>
												[[ index + 1 ]]
											</td>
											<td>
												[[ dict_receiver.name ]]
											</td>
											<td>
												[[ dict_receiver.position ]]
											</td>
											<td class="text-right">
												<button type="button" class="btn" @click="f_receiverDelete(dict_receiver.hrlayout_id)">
													<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
														<path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
													</svg>
												</button>
											</td>
										</tr>
									</table>
								</div>

							</td>
							<td style="background-color:rgb(255,255,255,0.5)" >
								<input type="text" :value="inputTextNameReceiver" @input="f_receiverSearch" class="form-control" placeholder="멤버이름 / 팀이름으로 검색">

								<div
								v-for="(dict_receiver_searched, index) in list_dict_document_receiver_searched" :key="dict_receiver_searched"
								>
									[[ dict_receiver_searched.name ]]
									<button type="button" class="btn btn-link btn-sm" @click="f_receiverSelect(dict_receiver_searched.hrlayout_id)" >
										<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
											<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
										</svg>
									</button>
									<br>
									[[ dict_receiver_searched.position ]]
								</div>

							</td>
						</tr>
					</table>

				</div>
			</div>

			<div class="modal-footer">
				<div v-if="inputTextTitle != ''">
					작성완료
				</div>
				<div v-else>
					제목 미입력
				</div>


				<button type="button" class="btn"
				v-if="check_completed == true"
				v-on:click="f_check_completed(false)"
				>
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-toggle-on" viewBox="0 0 16 16">
						<path d="M5 3a5 5 0 0 0 0 10h6a5 5 0 0 0 0-10H5zm6 9a4 4 0 1 1 0-8 4 4 0 0 1 0 8z"/>
					</svg>
				</button>

				<button type="button" class="btn"
				v-else
				v-on:click="f_check_completed(true)"
				>
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-toggle-off" viewBox="0 0 16 16">
						<path d="M11 4a4 4 0 0 1 0 8H8a4.992 4.992 0 0 0 2-4 4.992 4.992 0 0 0-2-4h3zm-6 8a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM0 8a5 5 0 0 0 5 5h6a5 5 0 0 0 0-10H5a5 5 0 0 0-5 5z"/>
					</svg>
				</button>

				<button type="submit" name="button-hr-document-format-register-confirm" value="true" class="btn btn-primary"
				v-if="check_completed == true"
				>
				{% if q_mysettings_hr.document_format == Null %}
					문서양식 등록하기
				{% else %}
					문서양식 업데이트하기
				{% endif %}

				</button>

				<button type="submit" name="button-hr-document-format-register-confirm" value="true" class="btn btn-primary"
				disabled
				v-else
				>
				{% if q_mysettings_hr.document_format == Null %}
					문서양식 등록하기
				{% else %}
					문서양식 업데이트하기
				{% endif %}
				</button>
			</div>
		</div>
	</div>
</div>



<script>
	// const { createApp } = Vue
	var chartData;
	var chartTitleStr
	var postHandling = createApp({
        delimiters: ["[[", "]]"],
        data() {
        return {
            list_project_analysis_pie_chart_selected_member_data: [],
			selected_member_name: 'Selected Member Name Here',

			check_completed: false,

			inputText: '',
			inputTextTitle: '',
			inputTextDescription: '',

			inputTextNameReferrer: '',
			inputTextNameReceiver: '',

			list_dict_document_referrer: [],
			list_dict_document_receiver: [],

			list_dict_document_referrer_searched: [],
			list_dict_document_receiver_searched: [],

			// list_dict_document_referrer_recommended: [],
			// list_dict_document_receiver_recommended: [],
        }
        },
        methods: {
            refreshData() {
                axios.get(variables.API_URL+'hr/hr_document_format_register_modal_api_get_view_refresh_data/')
				.then((response) => {
					this.inputTextTitle = response.data['inputTextTitle']
					this.list_dict_document_referrer = response.data['list_dict_document_referrer']
					this.list_dict_document_referrer_searched = response.data['list_dict_document_referrer_searched']
					this.list_dict_document_receiver = response.data['list_dict_document_receiver']
					this.list_dict_document_receiver_searched = response.data['list_dict_document_receiver_searched']
                })
            },

			f_inputTextTitle(event) {
				this.inputTextTitle = event.target.value
				axios.post(variables.API_URL+'hr/hr_document_format_register_modal_api_get_view_title/', {
					'inputTextTitle': event.target.value,
				}, {
                headers: {
                    'Content-Type': 'multipart/form-data',
					'X-CSRFToken': "{{ csrf_token }}"
                }
				})
                .then((response) => {
                    console.log(response.data)
                })
				.catch(() => {
                    console.log('Error!')
				})
			},

			f_inputTextDescription(event) {
				this.inputTextDescription = event.target.value
				axios.post(variables.API_URL+'hr/hr_document_format_register_modal_api_get_view_description/', {
					'inputTextDescription': event.target.value,
				}, {
                headers: {
                    'Content-Type': 'multipart/form-data',
					'X-CSRFToken': "{{ csrf_token }}"
                }
				})
                .then((response) => {
                    console.log(response.data)
                })
				.catch(() => {
                    console.log('Error!')
				})
			},

			f_check_completed(event) {
				console.log(event)
				this.check_completed = event
			},


			f_inputDateStart(event) {
				axios.post(variables.API_URL+'hr/hr_document_approval_management_register_modal_api_post_view/', {
					'inputDateStart': this.inputDateStart,
				}, {
                headers: {
                    'Content-Type': 'multipart/form-data',
					'X-CSRFToken': "{{ csrf_token }}"
                }
				})
                .then((response) => {
					this.refreshData()
                    console.log(response)
                })
				.catch(() => {
                    console.log('Error!')
				})
			},



			// 문서 참조자
			f_referrerSearch(event) {
                this.inputTextNameReferrer = event.target.value
                inputText = this.inputTextNameReferrer
                axios.get(variables.API_URL+'hr/hr_document_format_register_modal_api_get_view_search_referrer/?inputText='+inputText)
				.then((response) => {
					this.list_dict_document_referrer_searched=response.data['list_dict_document_referrer_searched']
                })
				.catch(() => {
                    console.log('Error!')
				})
            },

			f_referrerSelect(event) {
				axios.post(variables.API_URL+'hr/hr_document_format_register_modal_api_post_view_select_referrer/', {
					'buttonSelectNameReferrer': event,
				}, {
				headers: {
					'Content-Type': 'multipart/form-data',
					'X-CSRFToken': "{{ csrf_token }}"
				}
				})
				.then((response) => {
					this.inputTextNameReferrer = ''
					this.list_dict_document_referrer=response.data['list_dict_document_referrer']
				})
				.catch(() => {
					console.log('Error!')
				})
			},

			f_referrerDelete(event) {
				axios.post(variables.API_URL+'hr/hr_document_format_register_modal_api_post_view_delete_referrer/', {
					'buttonDeleteNameReferrer': event,
				}, {
                headers: {
                    'Content-Type': 'multipart/form-data',
					'X-CSRFToken': "{{ csrf_token }}"
                }
				})
				.then((response) => {
					this.list_dict_document_referrer=response.data['list_dict_document_referrer']
                })
				.catch(() => {
                    console.log('Error!')
				})
			},




			// 수신처
			f_receiverSearch(event) {
                this.inputTextNameReceiver = event.target.value
                inputText = this.inputTextNameReceiver
                axios.get(variables.API_URL+'hr/hr_document_format_register_modal_api_get_view_search_receiver/?inputText='+inputText)
				.then((response) => {
					this.list_dict_document_receiver_searched=response.data['list_dict_document_receiver_searched']
                })
				.catch(() => {
                    console.log('Error!')
				})
            },

			f_receiverSelect(event) {
				axios.post(variables.API_URL+'hr/hr_document_format_register_modal_api_post_view_select_receiver/', {
					'buttonSelectNameReceiver': event,
				}, {
				headers: {
					'Content-Type': 'multipart/form-data',
					'X-CSRFToken': "{{ csrf_token }}"
				}
				})
				.then((response) => {
					this.inputTextNameReceiver = ''
					this.list_dict_document_receiver=response.data['list_dict_document_receiver']
				})
				.catch(() => {
					console.log('Error!')
				})
			},

			f_receiverDelete(event) {
				axios.post(variables.API_URL+'hr/hr_document_format_register_modal_api_post_view_delete_receiver/', {
					'buttonDeleteNameReceiver': event,
				}, {
                headers: {
                    'Content-Type': 'multipart/form-data',
					'X-CSRFToken': "{{ csrf_token }}"
                }
				})
				.then((response) => {
					this.list_dict_document_receiver=response.data['list_dict_document_receiver']
                })
				.catch(() => {
                    console.log('Error!')
				})
			},






        },
		computed: {
		},
        mounted: function() {
            this.refreshData()
        }
    }).mount('#hrDocumentFormatRegister')

</script>



<style>
	.modal-content {
		max-width:none;
	}
</style>







