{% load crispy_forms_tags %}
{% load bootstrap %}
{% load static %}




<table class="table">
	<tr>
		<td>
			<legend class="border-bottom mb-4">
				<strong>
					수정요청된 문서
				</strong>
			</legend>
		</td>
		<td>
			<input type="text" class="form-control" name="text-hr-document-control-member-search-keyword" placeholder="이름 입력">
		</td>
		<td>
			<button type="submit" name="button-hr-document-control-search-document" value="true" class="btn btn-info btn-md">Search</button>
		</td>
		<td>
			<button type="submit" name="button-hr-document-control-reset-document-search" value="true" class="btn btn-dark btn-sm">
				Reset
			</button>
		</td>
		<td>
			<button type="submit" name="button-hr-document-control-delete-selected-document-view" value="true" class="btn btn-warning btn-sm">
				Delete
			</button>
		</td>
		<td>
			{% if request.user.is_superuser == True %}
				<button type="submit" name="button-hr-document-control-register-new-document-modal-view-open" value="true" class="btn btn-primary btn-md">
					Register
				</button>
			{%  endif %}
		</td>
		<td>
			<button type="submit" name="button-hr-document-control-statistics-table-display-size-switch" value="true" class="btn btn-light btn-sm">
				{% if q_mysettings_hr.check_display_size_document_today_table_fullwidth == False %}
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrows-fullscreen" viewBox="0 0 16 16">
						<path fill-rule="evenodd" d="M5.828 10.172a.5.5 0 0 0-.707 0l-4.096 4.096V11.5a.5.5 0 0 0-1 0v3.975a.5.5 0 0 0 .5.5H4.5a.5.5 0 0 0 0-1H1.732l4.096-4.096a.5.5 0 0 0 0-.707zm4.344 0a.5.5 0 0 1 .707 0l4.096 4.096V11.5a.5.5 0 1 1 1 0v3.975a.5.5 0 0 1-.5.5H11.5a.5.5 0 0 1 0-1h2.768l-4.096-4.096a.5.5 0 0 1 0-.707zm0-4.344a.5.5 0 0 0 .707 0l4.096-4.096V4.5a.5.5 0 1 0 1 0V.525a.5.5 0 0 0-.5-.5H11.5a.5.5 0 0 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 0 .707zm-4.344 0a.5.5 0 0 1-.707 0L1.025 1.732V4.5a.5.5 0 0 1-1 0V.525a.5.5 0 0 1 .5-.5H4.5a.5.5 0 0 1 0 1H1.732l4.096 4.096a.5.5 0 0 1 0 .707z"/>
					</svg>
				{% else %}
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-fullscreen-exit" viewBox="0 0 16 16">
						<path d="M5.5 0a.5.5 0 0 1 .5.5v4A1.5 1.5 0 0 1 4.5 6h-4a.5.5 0 0 1 0-1h4a.5.5 0 0 0 .5-.5v-4a.5.5 0 0 1 .5-.5zm5 0a.5.5 0 0 1 .5.5v4a.5.5 0 0 0 .5.5h4a.5.5 0 0 1 0 1h-4A1.5 1.5 0 0 1 10 4.5v-4a.5.5 0 0 1 .5-.5zM0 10.5a.5.5 0 0 1 .5-.5h4A1.5 1.5 0 0 1 6 11.5v4a.5.5 0 0 1-1 0v-4a.5.5 0 0 0-.5-.5h-4a.5.5 0 0 1-.5-.5zm10 1a1.5 1.5 0 0 1 1.5-1.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 0-.5.5v4a.5.5 0 0 1-1 0v-4z"/>
					</svg>
				{% endif %}
			</button>
		</td>
	</tr>
</table>



{% comment %}
<table class="table">
	<tr>
		<form method="POST" action="{% url 'my-document' %}"  enctype="multipart/form-data">
			{% csrf_token %}
			<td>
				<legend class="border-bottom mb-4">
					{{ request.user.profile.name_korean }}님이 등록한 문서 현황
				</legend>
			</td>
		</form>
		<form method="POST" action="{% url 'my-document' %}"  enctype="multipart/form-data">
			{% csrf_token %}
			<td width="20%">
				<select class="form-control" name="select-my-document-history-document-format">
					{% if q_mysettings_my.status_my_document_format_type_selected == Null %}
						<option value="none" selected>문서포맷 선택</option>
					{% else %}
						{% for ITEM in LIST_HR_DOCUMENT_FORMAT_TYPE_ACTIVATED %}
							{% if q_mysettings_my.status_my_document_format_type_selected == ITEM.0 %}
								<option value="{{ ITEM.0 }}" selected>{{ ITEM.1 }}</option>
							{% endif %}
						{% endfor %}
					{% endif %}

					{% if q_mysettings_my.status_my_document_format_type_selected != Null %}
						<option value="none" >문서포맷 선택</option>
					{% endif %}
					{% for ITEM in LIST_HR_DOCUMENT_FORMAT_TYPE_ACTIVATED %}
						{% if q_mysettings_my.status_my_document_format_type_selected != ITEM.0 %}
							<option value="{{ ITEM.0 }}">{{ ITEM.1 }}</option>
						{% endif %}
					{% endfor %}
				</select>
			</td>
			<td width="20%">
				<select class="form-control" name="select-my-document-history-hrapproval-process">
					{% if q_mysettings_my.status_document_approval_process == Null %}
						<option value="none" selected>승인상태 선택</option>
					{% else %}
						{% for ITEM in STATUS_HR_DOCUMENT_APPROVAL_PROCESS %}
							{% if q_mysettings_my.status_document_approval_process == ITEM.0 %}
								<option value="{{ ITEM.0 }}" selected>{{ ITEM.1 }}</option>
							{% endif %}
						{% endfor %}
					{% endif %}

					{% if q_mysettings_my.status_document_approval_process != Null %}
						<option value="none" >승인상태 선택</option>
					{% endif %}
					{% for ITEM in STATUS_HR_DOCUMENT_APPROVAL_PROCESS %}
						{% if q_mysettings_my.status_document_approval_process != ITEM.0 %}
							<option value="{{ ITEM.0 }}">{{ ITEM.1 }}</option>
						{% endif %}
					{% endfor %}
				</select>
			</td>
			<td width="20%">
				<input type="text" class="form-control" name="input-my-document-history-keyword-text" placeholder="내용 검색" >
			</td>
			<td width="5%">
				<button type="submit" name="button-my-document-history-search-document" value="true" class="btn btn-info btn-md">Search</button>
			</td>
		</form>
		<form method="POST" action="{% url 'my-document' %}"  enctype="multipart/form-data">
			{% csrf_token %}
			<td width="5%">
				<button type="submit" name="button-my-document-history-search-document-reset" value="true" class="btn btn-dark btn-sm">
					Reset
				</button>
			</td>
			<td width="5%">
				<button type="submit" name="button-my-document-statistics-table-display-size-switch" value="true" class="btn btn-light btn-sm">
					{% if q_mysettings_my.check_display_size_document_history_table_fullwidth == False %}
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrows-fullscreen" viewBox="0 0 16 16">
							<path fill-rule="evenodd" d="M5.828 10.172a.5.5 0 0 0-.707 0l-4.096 4.096V11.5a.5.5 0 0 0-1 0v3.975a.5.5 0 0 0 .5.5H4.5a.5.5 0 0 0 0-1H1.732l4.096-4.096a.5.5 0 0 0 0-.707zm4.344 0a.5.5 0 0 1 .707 0l4.096 4.096V11.5a.5.5 0 1 1 1 0v3.975a.5.5 0 0 1-.5.5H11.5a.5.5 0 0 1 0-1h2.768l-4.096-4.096a.5.5 0 0 1 0-.707zm0-4.344a.5.5 0 0 0 .707 0l4.096-4.096V4.5a.5.5 0 1 0 1 0V.525a.5.5 0 0 0-.5-.5H11.5a.5.5 0 0 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 0 .707zm-4.344 0a.5.5 0 0 1-.707 0L1.025 1.732V4.5a.5.5 0 0 1-1 0V.525a.5.5 0 0 1 .5-.5H4.5a.5.5 0 0 1 0 1H1.732l4.096 4.096a.5.5 0 0 1 0 .707z"/>
						</svg>
					{% else %}
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-fullscreen-exit" viewBox="0 0 16 16">
							<path d="M5.5 0a.5.5 0 0 1 .5.5v4A1.5 1.5 0 0 1 4.5 6h-4a.5.5 0 0 1 0-1h4a.5.5 0 0 0 .5-.5v-4a.5.5 0 0 1 .5-.5zm5 0a.5.5 0 0 1 .5.5v4a.5.5 0 0 0 .5.5h4a.5.5 0 0 1 0 1h-4A1.5 1.5 0 0 1 10 4.5v-4a.5.5 0 0 1 .5-.5zM0 10.5a.5.5 0 0 1 .5-.5h4A1.5 1.5 0 0 1 6 11.5v4a.5.5 0 0 1-1 0v-4a.5.5 0 0 0-.5-.5h-4a.5.5 0 0 1-.5-.5zm10 1a1.5 1.5 0 0 1 1.5-1.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 0-.5.5v4a.5.5 0 0 1-1 0v-4z"/>
							</svg>
					{% endif %}
				</button>

			</td>

	</tr>

</table>
 {% endcomment %}
