{% load crispy_forms_tags %}
{% load bootstrap %}
{% load static %}



<div class="card card-body" style="background-color:rgb(255,255,255,0.5)">
	<table class="table">
		<tr
		v-for="(dict_approver, index) in list_dict_document_approver" :key="dict_approver"
		>
			<th>
				순번
			</th>
			<td>
				[[ dict_approver.id ]]
			</td>
			<th>
				이름
			</th>
			<td>
				[[ dict_approver.name ]]
			</td>
			<th>
				포지션
			</th>
			<td>
				[[ dict_approver.position ]]
			</td>
			<td class="text-right"
			v-if="status_dam_modal_view_search_member == 'APPROVAL'"
			>
				<button type="button" class="btn" @click="f_approverDown(dict_approver.hrlayout_id)">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-circle-fill" viewBox="0 0 16 16">
						<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"/>
					</svg>
				</button>
				<button type="button" class="btn" @click="f_approverUp(dict_approver.hrlayout_id)">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16">
						<path d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
					  </svg>
				</button>
				<button type="button" class="btn" @click="f_approverDelete(dict_approver.hrlayout_id)">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
						<path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
					  </svg>
				</button>
			</td>

		</tr>
	</table>
</div>