{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
{% include 'hr/hr_navbar_document.html' %}



<!--

<script>
	const { createApp } = Vue;
</script> -->

<!-- Modal 문서포맷 등록하기 보기 -->
{% if q_mysettings_hr.check_activate_document_format_register_modal_view == True %}
	{% include 'hr/hr_document_control_document_format_register_modal_activation_condition.html' %}
	<form method="POST" action="{% url 'hr-document-control' %}"  enctype="multipart/form-data">
		{% csrf_token %}
		{% include 'hr/hr_document_control_document_format_register_modal_form_contents.html' %}
	</form>
{% endif %}


<!-- Modal 문서 수정요청 커뮤니케이션 모달창 보기 -->
{% if q_mysettings_hr.check_activate_xxx_document_communication_modal_view == True %}
	<script type="text/javascript">
		$(window).on('load', function() {$('#hrDocumentModificationCommunication').modal({show:true, backdrop:false});});
	</script>
	<form method="POST" action="{% url 'hr-document-control' %}"  enctype="multipart/form-data">
		{% csrf_token %}
		{% include 'hr/hr_document_control_document_requested_modification_modal_view.html' %}
	</form>
{% endif %}








<legend class="border-bottom mb-4">
    <strong>
        {{ ls_today }}
    </strong>
</legend>


<div class="row">
	<div class="col-md-12">
		<form method="POST" action="{% url 'hr-document-control' %}"  enctype="multipart/form-data">
            {% csrf_token %}
			<ul class="nav nav-tabs">
				{% for ITEM in LIST_HR_DOCUMENT_CONTROL_TYPE %}
					<li class="nav-item">
						<button type="submit" name="button-hr-document-control-type-switch" value="{{ ITEM.0 }}"
						{% if q_mysettings_hr.document_control_type == ITEM.0 %}
							class="btn btn-dark btn-sm"
						{% else %}
							class="nav-link"
						{% endif %}
						>
							{{ ITEM.1 }}

							{% if ITEM.0 == LIST_HR_DOCUMENT_CONTROL_TYPE.2.0 and qs_document_issued_requested|length > 0%}
								<span class="badge badge-warning">{{ qs_document_issued_requested|length }}</span>
							{% endif %}
						</button>
					</li>
				{% endfor %}
			</ul>
        </form>
	</div>
</div>

<hr>

<div class="row">
	{% if q_mysettings_hr.document_control_type == LIST_HR_DOCUMENT_CONTROL_TYPE.0.0 %}
		{% include 'hr/hr_document_control_document_format.html' %}
	{% elif q_mysettings_hr.document_control_type == LIST_HR_DOCUMENT_CONTROL_TYPE.1.0 %}
		{% include 'hr/hr_document_control_document_approved.html' %}
	{% elif q_mysettings_hr.document_control_type == LIST_HR_DOCUMENT_CONTROL_TYPE.2.0 %}
		{% include 'hr/hr_document_control_document_requested.html' %}
	{% elif q_mysettings_hr.document_control_type == LIST_HR_DOCUMENT_CONTROL_TYPE.3.0 %}
		{% include 'hr/hr_document_control_etc_settings.html' %}
	{% endif %}
</div>



{% endblock content %}