{% load static %}

<header class="site-header">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <small class="text-muted">VORONOI RESEARCH GROUPWARE</small>
    
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a type="button"  class="btn btn-dark btn-sm" href="{% url 'hr-layout-design-home' %}">
            조직 디자인 홈 
          </a>
        </li>
        <li class="nav-item active">
          <a type="button"  class="btn btn-dark btn-sm" href="{% url 'hr-layout-design-m2t-step1' %}">
            팀 구성 
          </a>
        </li>
        <li class="nav-item active">
          <a type="button"  class="btn btn-dark btn-sm" href="{% url 'hr-layout-design-t2d-step1' %}">
            부서 구성 
          </a>
        </li>
        <li class="nav-item active">
          <a type="button"  class="btn btn-dark btn-sm" href="{% url 'hr-layout-design-d2c-step1' %}">
            회사 구성 
          </a>
        </li>
        <li class="nav-item active">
          <a type="button"  class="btn btn-warning btn-sm" href="{% url 'hr-layout-design-c2g-step1' %}">
            그룹 구성 
          </a>
        </li>
 

      </ul>
    </div>
  </nav>
</header>