{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load bootstrap %}
{% load static %}
{% block content %}
{% include 'hr/hr_navbar_layout.html' %}
{% include 'hr/hr_navbar_layout_register_team.html' %}



<div class="row">

    <div class="col-md-12">
    <legend class="border-bottom mb-4">
            <strong>
                팀 관리
            </strong>
    </legend>
    </div>

    <div class="col-md-9">
        <div class="card card-body" style="background-color:rgb(255,255,255,0.5)">
            <table class="table table-hover table-striped">
                <tr>
                    <th>
                        등록된 팀명
                    </th>
                    <th>
                        팀에 등록된 멤버명
                    </th>
                    <th>
                        코멘트
                    </th>
                    <th>
                        수정
                    </th>
                </tr>



                {% for q_team in qs_team %}
                    <tr>
                        <td>
                            {{ q_team.team_name }}
                        </td>
                        <td>
                            {% for k_q_team, v_qs_member in dict_m2t.items %}
                                {% if q_team == k_q_team %}
                                    <ul>
                                        {% for q_member in v_qs_member %}
                                            <li>
                                                {{ q_member.member_name }}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% if q_team.comment != Null %}
                            {{ q_team.comment }}
                            {% endif %}
                        </td>

                        <td>
                            <a href="{% url 'hr-layout-update-team' q_team.id %}" type="button" class="btn btn-info btn-sm" >Update</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>

        </div>
    </div>

    <div class="col-md-3">
        <div class="card card-body" style="background-color:rgb(240,240,240,0.5);">
            <form method = "POST" action = "{% url 'hr-layout-register-team' %}">
                {% csrf_token %}
                {{ form|bootstrap}}
                <button type="submit" name="button-register-team-individual" value="true" class="btn btn-info btn-lg" >Save</button>
            </form>
        </div>
    </div>
</div>

{% endblock content %}



{% comment %}

<hr>

<legend class="border-bottom mb-4">
    Team 파일로 등록하기
</legend>
<div class="card card-body" style="background-color:rgb(240,240,240,0.5);">

    <fieldset class="form-group">
        <legend class="border-bottom mb-4">Excel 파일 업로드하기</legend>
        <div class="card card-body" style="background-color:rgb(240,240,240,0.5);">

            <form method="POST" action="{% url 'hr-layout-register-team' %}" enctype="multipart/form-data">
                {% csrf_token %}

                <h6>파일 업로드를 통해 VGW DB에 Team 등록하기</h6>
                <input class="btn btn-sm btn-success" type="file" name="team-upload"><br>

                <small class="text-muted">
                    <ul>
                        <li>
                            Upload Member Profile CSV Format File
                        </li>
                        <li>
                            Check The Layout Before Submitting The File
                        </li>
                        <li>
                            파일명은 영어/숫자만 인식
                        </li>
                    </ul>
                </small>

                <button class="btn btn-primary btn-lg" name="button-register-team-file" value="true" type="submit">Upload Team File</button>
            </form>
        </div>
        <br>
    </fieldset>
</div>
{% endcomment %}