{% load crispy_forms_tags %}
{% load bootstrap %}
{% load static %}




<div class="card card-body" style="background-color:rgb(240,240,240,0.5);">
    <legend>
        <strong>
            Step 1. 포지션 선택
        </strong>
    </legend>

    {% if q_mysettings_hr.hrlayout == Null %}
        <table class="table">
            {% for q_hrlayout in qs_hrlayout %}
                <tr>
                    <th colspan="6">
                        <input type="radio" name="radio-resign-member-hrlayout-id" value="{{ q_hrlayout.id }}"
                        {% if qs_hrlayout|length == 1 or q_hrlayout == q_mysettings_hr.hrlayout_management.hrlayout %}
                            checked
                        {% endif %}
                        required
                        >
                        <strong>
                            소속  {{ forloop.counter }}
                        </strong>
                    </th>
                </tr>
                {% if q_hrlayout.check_company_leader == True %}
                    <tr class="text-center">
                        <th>
                            이름
                        </th>
                        <td style="background-color:rgb(255,255,255,0.85);">
                            {{ q_profile.name_korean }}
                        </td>
                        <th>
                            소속 회사
                        </th>
                        <td style="background-color:rgb(255,255,255,0.85);">
                            {{ q_hrlayout.company.company_name }}
                        </td>
                        <th>
                            지위
                        </th>
                        <td style="background-color:rgb(255,255,255,0.85);">
                            회사 리더
                        </td>
                    </tr>
                {% elif q_hrlayout.check_division_leader == True %}
                    <tr class="text-center">
                        <th>
                            이름
                        </th>
                        <td style="background-color:rgb(255,255,255,0.85);">
                            {{ q_profile.name_korean }}
                        </td>
                        <th>
                            소속 부서
                        </th>
                        <td style="background-color:rgb(255,255,255,0.85);">
                            {{ q_hrlayout.division.division_name }}
                        </td>
                        <th>
                            지위
                        </th>
                        <td style="background-color:rgb(255,255,255,0.85);">
                            부서 리더
                        </td>
                    </tr>
                {% elif q_hrlayout.check_team_leader == True %}
                    <tr class="text-center">
                        <th>
                            이름
                        </th>
                        <td style="background-color:rgb(255,255,255,0.85);">
                            {{ q_profile.name_korean }}
                        </td>
                        <th>
                            소속 팀
                        </th>
                        <td style="background-color:rgb(255,255,255,0.85);">
                            {{ q_hrlayout.team.team_name }}
                        </td>
                        <th>
                            지위
                        </th>
                        <td style="background-color:rgb(255,255,255,0.85);">
                            팀 리더
                        </td>
                    </tr>
                {% else %}
                    <tr class="text-center">
                        <th>
                            이름
                        </th>
                        <td style="background-color:rgb(255,255,255,0.85);">
                            {{ q_profile.name_korean }}
                        </td>
                        <th>
                            소속 팀
                        </th>
                        <td style="background-color:rgb(255,255,255,0.85);">
                            {{ q_hrlayout.team.team_name }}
                        </td>
                        <th>
                            지위
                        </th>
                        <td style="background-color:rgb(255,255,255,0.85);">
                            팀원
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
        <hr>
        <div class="text-right">
            <button type="submit" name="button-resign-member-hrlayout-select" value="true" class="btn btn-info btn-lg">
                Select
            </button>
        </div>
        <hr>
    {% else %}
        <table class="table">
            <tr>
                <th colspan="6">
                    <strong>
                        선택된 소속
                    </strong>
                </th>
            </tr>
            {% if q_mysettings_hr.hrlayout.check_company_leader == True %}
                <tr class="text-center">
                    <th>
                        이름
                    </th>
                    <td style="background-color:rgb(255,255,255,0.85);">
                        {{ q_profile.name_korean }}
                    </td>
                    <th>
                        소속 회사
                    </th>
                    <td style="background-color:rgb(255,255,255,0.85);">
                        {{ q_mysettings_hr.hrlayout.company.company_name }}
                    </td>
                    <th>
                        지위
                    </th>
                    <td style="background-color:rgb(255,255,255,0.85);">
                        회사 리더
                    </td>
                </tr>
            {% elif q_mysettings_hr.hrlayout.check_division_leader == True %}
                <tr class="text-center">
                    <th>
                        이름
                    </th>
                    <td style="background-color:rgb(255,255,255,0.85);">
                        {{ q_profile.name_korean }}
                    </td>
                    <th>
                        소속 부서
                    </th>
                    <td style="background-color:rgb(255,255,255,0.85);">
                        {{ q_mysettings_hr.hrlayout.division.division_name }}
                    </td>
                    <th>
                        지위
                    </th>
                    <td style="background-color:rgb(255,255,255,0.85);">
                        부서 리더
                    </td>
                </tr>
            {% elif q_mysettings_hr.hrlayout.check_team_leader == True %}
                <tr class="text-center">
                    <th>
                        이름
                    </th>
                    <td style="background-color:rgb(255,255,255,0.85);">
                        {{ q_profile.name_korean }}
                    </td>
                    <th>
                        소속 팀
                    </th>
                    <td style="background-color:rgb(255,255,255,0.85);">
                        {{ q_mysettings_hr.hrlayout.team.team_name }}
                    </td>
                    <th>
                        지위
                    </th>
                    <td style="background-color:rgb(255,255,255,0.85);">
                        팀 리더
                    </td>
                </tr>
            {% else %}
                <tr class="text-center">
                    <th>
                        이름
                    </th>
                    <td style="background-color:rgb(255,255,255,0.85);">
                        {{ q_profile.name_korean }}
                    </td>
                    <th>
                        소속 팀
                    </th>
                    <td style="background-color:rgb(255,255,255,0.85);">
                        {{ q_mysettings_hr.hrlayout.team.team_name }}
                    </td>
                    <th>
                        지위
                    </th>
                    <td style="background-color:rgb(255,255,255,0.85);">
                        팀원
                    </td>
                </tr>
            {% endif %}
        </table>
        <hr>
        {% if q_mysettings_hr.resign_step == 2 %}
            <div class="text-right">
                <button type="submit" name="button-resign-member-hrlayout-select-reset" value="true" class="btn btn-dark btn-sm">
                    Cancel
                </button>
            </div>
        {% endif %}
    {% endif %}
</div>
<hr>
