{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load bootstrap %}
{% load static %}
{% block content %}
{% include 'hr/hr_navbar_layout.html' %}
{% include 'hr/hr_navbar_layout_design.html' %}
{% include 'hr/hr_layout_design_navbar_home.html' %}



<div class="row">

    <div class="col-md-10">
    <legend class="border-bottom mb-4">등록된 조직도 </legend>

        {% include 'hr/hr_layout_design_home_default_layout_table.html' %}

    </div>





    <div class="col-md-2">
        <legend class="border-bottom mb-4">Export & Import</legend>

            <form method="POST" action="{% url 'hr-layout-design-home' %}"  enctype="multipart/form-data" >
                {% csrf_token %}

                {% include 'hr/hr_layout_design_home_default_export_import.html' %}


            </form>


    </div>

</div>

{% endblock content %}
