{% load crispy_forms_tags %}
{% load bootstrap %}
{% load static %}



<!--
    등록된 User 리스트
-->

<legend class="border-bottom mb-4">
    <strong>
        퇴사한 멤버 리스트
    </strong>
</legend>


<div class="card card-body" style="background-color:rgb(240,240,240,0.5);">

    <table class="table table-hover ">
        <form method="POST" action="{% url 'hr-layout-resign-member' %}">
            {% csrf_token %}
            <tr>
                {% for member_field in MEMBER_REGISTER_FIELD %}
                    <th>
                        <button type="submit" name="button-list-member-ordering" value="{{ member_field.0 }}" class="btn btn-link btn-sm">
                            {{ member_field.1 }}
                        </button>
                    </th>
                {% endfor %}
                <th>
                    수정
                </th>
            </tr>
        </form>
        <form method="POST" action="{% url 'hr-layout-resign-member' %}">
            {% csrf_token %}
            <tr>
                <th>
                    검색어
                </th>
                <td colspan='{{ MEMBER_REGISTER_FIELD|length|add:"-3"  }}'>
                    <input type="text" name="input-text-search-member" class="form-control">
                </td>
                <td>
                    <button type="submit" name="button-search-member-by-keyowrd" class="btn btn-info btn-md">
                        Search
                    </button>
                </td>
                <td>
                    <input type="checkbox" name="check-subsearch-member-by-keyword" >
                    <small>
                        결과 내 재검색
                    </small>
                </td>
                <td>
                    <button type="submit" name="button-reset-member-by-keyowrd" value='true' class="btn btn-dark btn-sm">
                        Reset
                    </button>
                </td>
            </tr>
        </form>




        <form method="POST" action="{% url 'hr-layout-resign-member' %}">
            {% csrf_token %}
        <!--
            선택된 멤버 - 최상단 배치 (생성시 자동 선택)
        -->
        {% for q_profile in qs_profile_resign %}
            {% if q_mysettings_hr.profile_resign == q_profile %}
                <tr style="background-color:rgb(0,255,255,0.1);" >
                    {% include 'hr/hr_layout_member_resign_list_member_table_row.html' %}
                </tr>
            {% endif %}
        {% endfor %}

        <!--
            선택 안된 and 검색된 멤버 - 상단 배치
        -->
        {% for q_profile in qs_profile_resign %}
            {% if q_profile.id in q_mysettings_hr.list_resign_profile_id_searched %}
                <tr  style="background-color:rgb(255,255,0,0.1);" >
                    {% include 'hr/hr_layout_member_resign_list_member_table_row.html' %}
                </tr>
            {% endif %}
        {% endfor %}


        <!--
            검색에 걸리지 않은 and 선택 안된 나머지 멤버 - 중간 배치
        -->
        {% for q_profile in qs_profile_resign %}
            {% if q_profile.id in q_mysettings_hr.list_resign_profile_id_searched %}

            {% else %}
                {% if q_mysettings_hr.profile_resign != q_profile %}
                    <tr>
                        {% include 'hr/hr_layout_member_resign_list_member_table_row.html' %}
                    </tr>
                {% endif %}
            {% endif %}
        {% endfor %}


        </form>

    </table>
</div>

