{% load crispy_forms_tags %}
{% load bootstrap %}
{% load static %}




<!--
    멤버 Profile로 등록하기
-->

<div class="card card-body" style="background-color:rgb(240,240,240,0.5);">

    <fieldset class="form-group">
        <legend class="border-bottom mb-4">
            <strong>
                HR 기본값 등록하기
            </strong>
        </legend>


            <div class="card card-body" style="background-color:rgb(240,240,240,0.5);">
                <legend class="border-bottom mb-4">멤버 기본 패쓰워드 등록</legend>
                <form method="POST" action="{% url 'hr-layout-register-member' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <table class="table">
                        <tr>
                            <th colspan="3">
                                현재 기본값
                            </th>
                            <td style="background-color:rgb(255,255,255,0.85)" colspan="3">
                                {{ q_hr_default_settings.default_user_password }}
                             </td>
                        </tr>
                        <tr>
                            <th colspan="3">
                                수정하기
                            </th>
                            <td style="background-color:rgb(255,255,255,0.85)" colspan="3">
                               <input type="text" class="form-control" name="text-hr-layout-control-update-member-default-password">
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right" colspan="2">
                                <button type="submit" name="button-hr-layout-control-update-member-default-password" value="true" class="btn btn-info btn-sm">
                                    Update
                                </button>
                            </td>
                        </tr>

                    </table>
                </form>
            </div>

            <hr>

    </fieldset>
</div>
