{% load crispy_forms_tags %}
{% load bootstrap %}
{% load static %}

<!--
    Member 기본 정보 테이블
-->
<div class="card card-body" style="background-color:rgb(240,240,240,0.5);">
    <table class="table table-hover ">
        <tr>
            <th>
                멤버 이름
            </th>
            <th>
                영문 이름
            </th>
            <th>
                영문 성
            </th>
            <th>
                회사 전화번호
            </th>
            <th>
                핸드폰 번호
            </th>
            <th>
                Email
            </th>
        </tr>

        <tr style="background-color:rgb(255,255,255,0.85);">

            <td>
                {{ q_profile.name_korean }}
            </td>
            <td>
                {{ q_profile.first_name }}
            </td>
            <td>
                {{ q_profile.last_name }}
            </td>
            <td>
                {{ q_profile.phone_office }}
            </td>
            <td>
                {{ q_profile.phone_mobile }}
            </td>
            <td>
                {{ q_profile.email }}
            </td>
        </tr>

    </table>
    <table class="table">
        <tr>
            <th>
                닉네임
            </th>
            <th>
                입사일
            </th>
            <th>
                퇴사일
            </th>
            <th>
                재입사여부
            </th>
            <th>
                재입사일
            </th>
            <th>
                생일
            </th>
        </tr>
        <tr style="background-color:rgb(255,255,255,0.85);">
            <td>
                {{ q_profile.nickname }}
            </td>
            <td>
                {{ q_profile.date_joined|date:"Y-m-d" }}
            </td>
            <td>
                {{ q_profile.date_left|date:"Y-m-d" }}
            </td>
            <td>
                {% if q_profile.check_comeback == True %}
                    재입사
                {% endif %}
            </td>
            <td>
                {{ q_profile.date_rejoined|date:"Y-m-d" }}
            </td>
            <td>
                {{ q_profile.date_of_birth|date:"Y-m-d" }}
            </td>
        </tr>

    </table>
    <table class="table">
        <tr>
            <th width="10%">
                자기소개
            </th>
            <td style="background-color:rgb(255,255,255,0.85);">
                {{ q_profile.introduction }}
            </td>
        </tr>
        <tr>
            <td>
                주소
            </td>
            <td style="background-color:rgb(255,255,255,0.85);">
                {{ q_profile.address }}
            </td>
        </tr>
    </table>

    <table class="table">
        <tr>
            <th width="10%">
                코멘트
            </th>
            <td style="background-color:rgb(255,255,255,0.85);">
                <ul>
                    {% for k_member_id, v_comment in q_profile.dict_comment.items %}
                        {% if k_member_id == COMMENT_HR.0.0  %}
                            <li>
                                <a type="button" href="#" class="btn btn-danger btn-sm" >{{ COMMENT_HR.0.1 }}</a>
                                {{ v_comment }}
                            </li>
                        {% elif k_member_id == COMMENT_HR.1.0 %}
                            <li>
                                <a type="button" href="#" class="btn btn-info btn-sm" >{{ COMMENT_HR.1.1 }}</a>
                                {{ v_comment }}
                            </li>
                        {% elif k_member_id == COMMENT_HR.2.0 %}
                            <li>
                                <a type="button" href="#" class="btn btn-info btn-sm" >{{ COMMENT_HR.2.1 }}</a>
                                {{ v_comment }}
                            </li>
                        {% elif k_member_id == COMMENT_HR.3.0 %}
                            <li>
                                <a type="button" href="#" class="btn btn-info btn-sm" >{{ COMMENT_HR.3.1 }}</a>
                                {{ v_comment }}
                            </li>
                        {% elif k_member_id == COMMENT_HR.4.0 %}
                            <li>
                                <a type="button" href="#" class="btn btn-info btn-sm" >{{ COMMENT_HR.4.1 }}</a>
                                {{ v_comment }}
                            </li>
                        {% elif k_member_id == COMMENT_HR.5.0 %}
                            <li>
                                <a type="button" href="#" class="btn btn-info btn-sm" >{{ COMMENT_HR.5.1 }}</a>
                                {{ v_comment }}
                            </li>
                        {% elif k_member_id == COMMENT_HR.6.0 %}
                            <li>
                                <a type="button" href="#" class="btn btn-info btn-sm" >{{ COMMENT_HR.6.1 }}</a>
                                {{ v_comment }}
                            </li>
                        {% else %}
                            {% for q_member in qs_member %}
                                {% if k_member_id == q_member.id|slugify %}
                                    <li>
                                        <a type="button" href="#" class="btn btn-info btn-sm" >{{ q_member.member_name }}</a>
                                        {{ v_comment }}
                                    </li>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </ul>
            </td>
        </tr>
    </table>

</div>
