{% load crispy_forms_tags %}
{% load bootstrap %}
{% load static %}





{% if qs_hrlayout_management_resign|length > 0 %}
    <div class="card card-body" style="background-color:rgb(240,240,240,0.5);">
        <legend>
            <strong>
                퇴사 처리된 {{ q_mysettings_hr.profile_resign.name_korean }} 님의 포지션
            </strong>
        </legend>
        {% for q_hrlayout_management_resign in qs_hrlayout_management_resign %}
            <table
            {% if q_mysettings_hr.hrlayout.member == q_hrlayout_management_resign.hrlayout_predecessor_backup.member and q_mysettings_hr.hrlayout.team == q_hrlayout_management_resign.hrlayout_predecessor_backup.team %}
                class="table table-success"
            {% else %}
                class="table"
            {% endif %}
             >
                <tr>
                    <th width="25%">
                        회사
                    </th>
                    <td style="background-color:rgb(255,255,255,0.85);">
                        {{ q_hrlayout_management_resign.hrlayout_predecessor_backup.company.company_name }}
                    </td>
                </tr>
                <tr>
                    <th>
                        부서
                    </th>
                    <td style="background-color:rgb(255,255,255,0.85);">
                        {{ q_hrlayout_management_resign.hrlayout_predecessor_backup.division.division_name }}
                    </td>
                </tr>
                <tr>
                    <th>
                        팀
                    </th>
                    <td style="background-color:rgb(255,255,255,0.85);">
                        {{ q_hrlayout_management_resign.hrlayout_predecessor_backup.team.team_name }}
                    </td>
                </tr>
                <tr>
                    <th>
                        후임자
                    </th>
                    <td style="background-color:rgb(255,255,255,0.85);">
                        {% if q_hrlayout_management_resign.check_member_successor_exist == True %}
                            {{ q_hrlayout_management_resign.member_successor.member_name }}
                        {% else %}
                            후임자 없음
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>
                        보직변경일
                    </th>
                    <td style="background-color:rgb(255,255,255,0.85);">
                        {{ q_hrlayout_management_resign.date_shift|date:"Y-m-d" }}
                    </td>
                </tr>
                <tr>
                    <th>
                        코멘트
                    </th>
                    <td style="background-color:rgb(255,255,255,0.85);">
                        {{ q_hrlayout_management_resign.comment }}
                    </td>
                </tr>
            </table>
            <hr>
        {% endfor %}
    </div>
{% endif %}
