{% load crispy_forms_tags %}
{% load static %}
{% load mathfilters %}



<div class="modal fade" id="hrMemberDeletePermanentlyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
	<div class="modal-content">
		<div class="modal-header">
		<h5 class="modal-title" id="exampleModalLabel">
			<strong>
				멤버 정보 삭제 경고
			</strong>
		</h5>

		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		</div>
		<div class="modal-body">
			{{ request.user.profile.name_korean }}님!
			<br><br>
			선택하신 <strong> {{ q_profile.name_korean }} </strong> 님의 <strong> {{ q_profile.email }} </strong>계정을 영구히 삭제하시겠습니까?
			<br><br>
			삭제 후에는 데이터를 복구할 수 없으며, 계정과 연동된 모든 정보들이 함께 삭제됩니다.
			<br><br>
			확실하지 않을 경우 서버 관라자(최재호님)에게 문의하세요.
		</div>
		<div class="modal-footer">
			<input type="checkbox" name="checkbox-hr-layout-delete-member-permanently-confirm"> 내용을 이해하였습니다.
			<button type="submit" name="button-hr-layout-member-delete-permanently" value="{{ q_profile.id }}" class="btn btn-primary"
			{% if request.user.member.id in q_authority.auth_hr_design or request.user.is_superuser == True %}
			{% else %}
				disabled
			{% endif %}
			 >Confirm</button>
			<button type="submit" name="button-hr-layout-member-delete-permanently-cancel" value="{{ q_profile.id }}" class="btn btn-dark btn-sm" >Cancel</button>
		</div>
	</div>
	</div>
</div>
