{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load bootstrap %}
{% load static %}
{% block content %}
{% include 'hr/hr_navbar_layout.html' %}
{% include 'hr/hr_navbar_layout_register_member.html' %}



<div class="row">

   <!--
       등록된 User 리스트
    -->
    <div
    {% if q_mysettings_hr.check_display_size_member_control_table_fullwidth == True %}
        class="col-md-12"
    {% else %}
        class="col-md-8"
    {% endif %}
    >

        {% include 'hr/hr_layout_member_register_list_member.html' %}

    </div>


    {% if q_mysettings_hr.check_display_size_member_control_table_fullwidth == False %}
        <!--
            멤버 관리 폼
        -->
        <div class="col-md-4">
            <br>
            <form method="POST" action="{% url 'hr-layout-register-member' %}"  enctype="multipart/form-data">
                {% csrf_token %}
                <ul class="nav nav-tabs">
                    {% for ITEM in LIST_HR_MEMBER_REGISTER_TYPE %}
                        <li class="nav-item">
                            <button type="submit" name="button-hr-member-register-status-switch-submenu" value="{{ ITEM.0 }}"
                            {% if q_mysettings_hr.status_member_register_type == ITEM.0 %}
                                class="btn btn-dark btn-sm"
                            {% else %}
                                class="nav-link"
                            {% endif %}
                            >
                                {{ ITEM.1 }}
                            </button>
                        </li>
                    {% endfor %}
                </ul>
            </form>

            <hr>

            <!--
                휴가계획서 자동 / 수동 등록
            -->
            {% if q_mysettings_hr.status_member_register_type == LIST_HR_MEMBER_REGISTER_TYPE.0.0 %}
                {% include 'hr/hr_layout_member_register_by_form.html' %}
            {% elif q_mysettings_hr.status_member_register_type == LIST_HR_MEMBER_REGISTER_TYPE.1.0 %}
                {% include 'hr/hr_layout_member_register_by_file.html' %}
            {% elif q_mysettings_hr.status_member_register_type == LIST_HR_MEMBER_REGISTER_TYPE.2.0 %}
                {% include 'hr/hr_layout_member_register_settings.html' %}
            {% else %}
                휴가계획서 입력양식이 지정되지 않았습니다.
            {% endif %}

        </div>
    {% endif %}

</div>

{% endblock content %}
