{% load crispy_forms_tags %}
{% load bootstrap %}
{% load static %}



<!--
    등록된 User 리스트
-->

<legend class="border-bottom mb-4">
    <strong>
        등록된 멤버 리스트
    </strong>
</legend>


<div class="card card-body" style="background-color:rgb(240,240,240,0.5);">

    <table class="table table-hover ">

        <form method="POST" action="{% url 'hr-layout-register-member' %}">
            {% csrf_token %}
            <tr>
                <th>
                    검색어
                </th>
                <td colspan='{{ MEMBER_REGISTER_FIELD|length|add:"-4" }}'>
                    <input type="text" name="input-text-search-member" class="form-control">
                </td>
                <td>
                    <button type="submit" name="button-search-member-by-keyowrd" class="btn btn-info btn-md">
                        Search
                    </button>
                </td>
                <td>
                    <input type="checkbox" name="check-subsearch-member-by-keyword" >
                    <small>
                        결과 내 재검색
                    </small>
                </td>
                <td>
                    <button type="submit" name="button-reset-member-by-keyowrd" value='true' class="btn btn-dark btn-sm">
                        Reset
                    </button>
                </td>
                <td>
                    <button type="submit" name="button-hr-member-control-table-display-size-switch" value="true" class="btn btn-light btn-sm">
                        {% if q_mysettings_hr.check_display_size_member_control_table_fullwidth == False %}
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrows-fullscreen" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M5.828 10.172a.5.5 0 0 0-.707 0l-4.096 4.096V11.5a.5.5 0 0 0-1 0v3.975a.5.5 0 0 0 .5.5H4.5a.5.5 0 0 0 0-1H1.732l4.096-4.096a.5.5 0 0 0 0-.707zm4.344 0a.5.5 0 0 1 .707 0l4.096 4.096V11.5a.5.5 0 1 1 1 0v3.975a.5.5 0 0 1-.5.5H11.5a.5.5 0 0 1 0-1h2.768l-4.096-4.096a.5.5 0 0 1 0-.707zm0-4.344a.5.5 0 0 0 .707 0l4.096-4.096V4.5a.5.5 0 1 0 1 0V.525a.5.5 0 0 0-.5-.5H11.5a.5.5 0 0 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 0 .707zm-4.344 0a.5.5 0 0 1-.707 0L1.025 1.732V4.5a.5.5 0 0 1-1 0V.525a.5.5 0 0 1 .5-.5H4.5a.5.5 0 0 1 0 1H1.732l4.096 4.096a.5.5 0 0 1 0 .707z"/>
                            </svg>
                            &nbsp; 100% 화면
                        {% else %}
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-fullscreen-exit" viewBox="0 0 16 16">
                                <path d="M5.5 0a.5.5 0 0 1 .5.5v4A1.5 1.5 0 0 1 4.5 6h-4a.5.5 0 0 1 0-1h4a.5.5 0 0 0 .5-.5v-4a.5.5 0 0 1 .5-.5zm5 0a.5.5 0 0 1 .5.5v4a.5.5 0 0 0 .5.5h4a.5.5 0 0 1 0 1h-4A1.5 1.5 0 0 1 10 4.5v-4a.5.5 0 0 1 .5-.5zM0 10.5a.5.5 0 0 1 .5-.5h4A1.5 1.5 0 0 1 6 11.5v4a.5.5 0 0 1-1 0v-4a.5.5 0 0 0-.5-.5h-4a.5.5 0 0 1-.5-.5zm10 1a1.5 1.5 0 0 1 1.5-1.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 0-.5.5v4a.5.5 0 0 1-1 0v-4z"/>
                            </svg>
                            &nbsp; 멤버 등록하기
                        {% endif %}
                    </button>
                </td>
            </tr>
        </form>


        <form method="POST" action="{% url 'hr-layout-register-member' %}">
            {% csrf_token %}
            <tr>
                {% for member_field in MEMBER_REGISTER_FIELD %}
                    <th>
                        <button type="submit" name="button-list-member-ordering" value="{{ member_field.0 }}" class="btn btn-link btn-sm">
                            {{ member_field.1 }}
                        </button>
                    </th>
                {% endfor %}
                <th>
                    Option
                </th>
            </tr>
        </form>






        <!--
            선택된 멤버 - 최상단 배치 (생성시 자동 선택)
        -->
        {% for q_profile in qs_profile_all %}
            {% if q_mysettings_hr.profile == q_profile %}
                <form method="POST" action="{% url 'hr-layout-register-member' %}">
                    {% csrf_token %}
                    {% include 'hr/hr_layout_member_register_list_member_table_row.html' %}
                </form>
            {% endif %}
        {% endfor %}


        <!--
            선택 안된 and 검색된 멤버 - 상단 배치
        -->
        {% for q_profile in qs_profile_searched %}
            {% if q_profile.id in q_mysettings_hr.list_profile_id_searched %}
                {% if q_mysettings_hr.profile != q_profile %}
                    <form method="POST" action="{% url 'hr-layout-register-member' %}">
                        {% csrf_token %}
                        {% include 'hr/hr_layout_member_register_list_member_table_row.html' %}
                    </form>
                {% endif %}
            {% endif %}
        {% endfor %}


        <!--
            검색에 걸리지 않은 and 선택 안된 나머지 멤버 - 중간 배치
        -->
        {% for q_profile in qs_profile_all %}
            {% if q_profile.id in q_mysettings_hr.list_profile_id_searched %}

            {% else %}
                {% if q_mysettings_hr.profile != q_profile %}
                    <form method="POST" action="{% url 'hr-layout-register-member' %}">
                        {% csrf_token %}
                        {% include 'hr/hr_layout_member_register_list_member_table_row.html' %}
                    </form>
                {% endif %}
            {% endif %}
        {% endfor %}

    </table>
</div>

