{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load bootstrap %}
{% load static %}
{% block content %}
{% include 'hr/hr_navbar_layout.html' %}
{% include 'hr/hr_navbar_layout_design.html' %}
{% include 'hr/hr_layout_design_navbar_group.html' %}



<div class="row">


    <div class="col-md-12">
        <legend class="border-bottom mb-4">
                회사 구성하기
        </legend>
    </div>

        <div class="col-md-6">
            <legend class="border-bottom mb-4">
                Step 7: 그룹 선택하기
            </legend>
            <div class="card card-body" style="background-color:rgb(240,240,240,0.5);">

                <form method="POST" action="{% url 'hr-layout-design-c2g-step1' %}">
                    {% csrf_token %}

                <table class="table table-hover">
                    <tr>
                        <th width=23% >
                            그룹 선택<br>
                            <button type="submit" name="button-group-select" value="true" class="btn btn-info btn-sm" >Select</button>
                        </th>

                        <th>
                            소속된 회사
                        </th>

                        <th>
                            회사 리더
                        </th>
                        <th width=5% >
                            선택 해제
                            <br>
                            <button type="submit" name="button-company-deselect" value="true" class="btn btn-danger btn-sm" disabled="disabled">Deselect</button>
                        </th>
                    </tr>

                    {% for q_group in qs_group %}
                    <tr>

                        <td>
                            <input type="radio" name="group-selected-id" value="{{ q_group.id }}" />
                            {{ q_group.group_name }}
                            <br>
                            {% if q_group.comment != Null %}
                            ({{ q_group.comment }})
                            {% endif %}
                        </td>

                        <td>
                            {% for k_q_group, v_list_q_c2g in dict_c2g_selected.items %}
                                {% if k_q_group == q_group %}
                                    <ul>
                                        {% for v_q_c2g in v_list_q_c2g %}
                                            {% if v_q_c2g.company != Null %}
                                                <li>
                                                    <input type="checkbox" name="company-deselected-id" value="{{v_q_c2g.id}}" disabled="disabled"/>
                                                    <button class="btn btn-outline-info btn-sm">{{ v_q_c2g.company.company_name }}</button>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            {% endfor %}
                        </td>

                        <td colspan="2">
                            {% for k_q_company, v_list_q_m2c in dict_m2c_selected.items %}
                                {% if k_q_company == q_c2g.company %}
                                <ul>
                                    {% for v_q_m2c in v_list_q_m2c %}
                                        {% if v_q_m2c.member != Null %}
                                            {% if v_q_m2c.check_company_leader == True %}
                                                <li>
                                                    <input type="checkbox" name="member-deselected-id" value="{{v_q_m2c.id}}" disabled="disabled" />
                                                    <button class="btn btn-outline-info btn-sm">{{ v_q_m2c.member.member_name }}</button>
                                                </li>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                                {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                </form>
            </div>
        </div>

        <div class="col-md-6">

            <legend class="border-bottom mb-4">
                Step 8: 회사 선택하기 (그룹을 먼저 선택하세요)
            </legend>

            <div class="card card-body" style="background-color:rgb(240,240,240,0.5);">

                <table class="table table-hover">
                    <tr>
                        <th width=23%>
                            회사 이름
                        </th>

                        <th>
                            멤버 이름
                            <br>
                            {{form.search_keyword|bootstrap}}
                        </th>
                        <th>
                            <input type="checkbox" name="check_company_search_duplication" value="on" unchecked/>중복검색허용
                        </th>
                        <th>
                            <button type="submit" name="button-select" value="true" class="btn btn-info btn-sm" disabled>Select</button>
                            <button type="submit" name="button-reset" value="true" class="btn btn-dark btn-sm" disabled >Reset</button>
                        </th>
                    </tr>

                    {% for q_company in qs_company %}
                    <tr>
                        <td>
                            <input type="checkbox" name="company-selected-id" value="{{q_company.id}}" />
                            {{ q_company.company_name}}
                        </td>

                        <td colspan="3">
                            {% for k_q_company, v_list_q_m2c in dict_m2c_selected.items %}
                                {% if k_q_company == q_company %}
                                {% for v_q_m2c in v_list_q_m2c %}
                                <button class="btn btn-outline-info btn-sm">{{ v_q_m2c.member.member_name }}</button>
                                {% endfor %}
                                {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>

</div>

{% endblock content %}
