{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load bootstrap %}
{% load static %}
{% block content %}
{% include 'hr/hr_navbar.html' %}
{% include 'hr/hr_layout_navbar.html' %}



<div class="row">

    <div class="col-md-12">
    <legend class="border-bottom mb-4">
            회사 관리
    </legend>
    </div>

    <div class="col-md-9">
        <div class="card card-body" style="background-color:rgb(240,240,240,0.5);">
            <table>
                <tr>
                    <th>
                        회사명
                    </th>
                    <th>
                        코멘트
                    </th>

                    <th>
                        수정
                    </th>
                    <th>
                        삭제
                    </th>
                </tr>

                {% for q_company in qs_company %}
                <tr>
                    <td>
                        {{ q_company.company_name }}
                    </td>
                    <td>
                        {% if q_company.comment != Null %}
                        {{ q_company.comment }}
                        {% endif %}
                    </td>
                    <td>
                        <a href="{% url 'hr-layout-update-company' q_company.id %}" type="button" class="btn btn-info btn-sm" >Update</a>
                    </td>
                    <td>
                        <form method = "POST" action = "{% url 'hr-layout-delete-company' q_company.id %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-sm" >Delete</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </table>

        </div>
    </div>

    <div class="col-md-3">
        <div class="card card-body" style="background-color:rgb(240,240,240,0.5);">
            <form method = "POST" action = "{% url 'hr-layout-register-company' %}">
                {% csrf_token %}
                {{ form|bootstrap}}
                <button type="submit" class="btn btn-info btn-sm" >Save</button>
            </form>
        </div>
    </div>
</div>

{% endblock content %}
