{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load bootstrap %}
{% load static %}
{% block content %}
{% include 'hr/hr_navbar_layout.html' %}
{% include 'hr/hr_navbar_layout_register_resign.html' %}



<div class="row">

   <!--
       등록된 User 리스트
    -->
    <div class="col-md-12">

        {% include 'hr/hr_layout_member_resign_list_member.html' %}

    </div>




</div>

{% endblock content %}


{% comment %}

    <!--
        멤버 관리 폼
    -->
    <div class="col-md-4">

        <legend class="border-bottom mb-4">
            <strong>
                퇴사한 멤버의 포지션
            </strong>
        </legend>


            {% include 'hr/hr_layout_member_delete_position_processed.html' %}

        </div>

{% endcomment %}