{% load crispy_forms_tags %}
{% load bootstrap %}
{% load static %}



<!--
    멤버 수동 등록하기
-->


<div class="card card-body" style="background-color:rgb(240,240,240,0.5);">

    <form method="POST" action="{% url 'hr-layout-register-member' %}">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">
                <strong>
                    멤버 수동 등록
                </strong>
            </legend>

            <table class="table">
                <tr>
                    <th width="40%">
                        e-mail
                    </th>
                    <td>
                        <input type="email" name="input-email-member-register" class="form-control" placeholder="hong@voronoi.io">
                    </td>
                </tr>
                <tr>
                    <th>
                        한글이름
                    </th>
                    <td>
                        <input type="text" name="input-namekorean-member-register" class="form-control" placeholder="홍길동">
                    </td>
                </tr>
                <tr>
                    <th>
                        영어 성(Family Name)
                    </th>
                    <td>
                        <input type="text" name="input-name-last-member-register" class="form-control" placeholder="Hong">
                    </td>
                </tr>
                <tr>
                    <th>
                        영어 이름(Given Name)
                    </th>
                    <td>
                        <input type="text" name="input-name-first-member-register" class="form-control" placeholder="Gildong(O), Gil-Dong(X), GilDong(X)">
                    </td>
                </tr>
                <tr>
                    <th>
                        핸드폰 번호
                    </th>
                    <td>
                        <input type="text" name="input-phonenumber-mobile-member-register" class="form-control" placeholder="010-1234-5678">
                    </td>
                </tr>
                <tr>
                    <th>
                        사무실 전화번호
                    </th>
                    <td>
                        <input type="text" name="input-phonenumber-office-member-register" class="form-control" placeholder="032-1234-5678">
                    </td>
                </tr>
                <tr>
                    <th>
                        입사일
                    </th>
                    <td>
                        {{ form_date.date_joined|bootstrap }}
                    </td>
                </tr>
                <tr>
                    <th>
                        생년월일
                    </th>
                    <td>
                        {{ form_date.date_of_birth|bootstrap }}
                    </td>
                </tr>
                <tr>
                    <th>
                        등록 코드
                    </th>
                    <td>
                        <input type="text" name="input-code-member-register" class="form-control" placeholder="Register Code">
                    </td>
                </tr>
            </table>
        </fieldset>
        <div class="text-right">
            <button type="submit" class="btn btn-info btn-sm" name="button-register-member-by-form" value="true" >멤버 등록</button>
        </div>
    </form>
</div>

