{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load bootstrap %}
{% load static %}
{% block content %}
{% include 'hr/hr_navbar_layout.html' %}
{% include 'hr/hr_navbar_layout_register_member.html' %}






<!-- Modal 사용자 영구 삭제 -->

<form method="POST" action="{% url 'hr-layout-update-member' q_profile.id %}"  enctype="multipart/form-data">
	{% csrf_token %}


	{% include 'hr/hr_layout_member_delete_permanently_warning_modal_contents.html' %}

</form>

{% include 'hr/hr_layout_member_delete_permanently_warning_modal_activation_condition.html' %}







<div class="row">

    <div class="col-md-12">
    <legend class="border-bottom mb-4">
        <strong>
            {{ q_profile.name_korean }} 인사정보
        </strong>
        <br>
        <small>
            <a href="{% url 'hr-layout-register-member' %}">
                <<< 멤버 리스트 페이지로 돌아가기
            </a>
        </small>
    </legend>

    </div>


    <div class="col-md-8">
        <legend>
            <strong>
                기본 인사 정보
            </strong>
        </legend>
        <!--
            Member 기본 정보 테이블
        -->
        {% include 'hr/hr_layout_member_table_information_basic.html' %}

        <br>

        <div class="text-right">
            <table class="table">
                <tr>
                    <td>

                    </td>
                    <td width="9%">
                        {% if q_profile.check_resign == True %}
                            <button class="btn btn-danger btn-sm" >퇴사자</button>
                        {% else %}
                            <a type="button" href="{% url 'hr-layout-delete-member' q_profile.id %}"  name="button-member-update-resign" value="true" class="btn btn-warning btn-sm" >
                                퇴사처리
                            </a>
                        {% endif %}
                    </td>
                    <td width="9%">
                        <form method="POST" action="{% url 'hr-layout-update-member' q_profile.id %}">
                            {% csrf_token %}
                            <button type="submit" name="button-hr-layout-member-delete-permanently-warning-activate" value="{{ q_profile.id }}" class="btn btn-danger btn-sm">
                                삭제하기
                            </button>
                        </form>
                    </td>
                </tr>
            </table>



        </div>

    </div>

    <div class="col-md-4">
        <legend>
            <strong>
                기본 인사 정보 업데이트
            </strong>
        </legend>

        <!--
            멤버 기본 정보 업데이트 폼
        -->
        <form method = "POST" action = "{% url 'hr-layout-update-member' q_profile.id %}">
            {% csrf_token %}

            {% include 'hr/hr_layout_member_update_form_information_basic.html' %}

        </form>

        <hr>

    </div>
</div>

{% endblock content %}
