
{% load crispy_forms_tags %}
{% load bootstrap %}
{% load static %}


<!--
    멤버 기본 정보 업데이트 폼
-->
<div class="card card-body" style="background-color:rgb(240,240,240,0.5);">
    {% if q_profile.check_discard == False %}
        코멘트
        <textarea name="textarea-comment-member-register" cols="50" rows="5" class="form-control" ></textarea>
        <hr>
        <div class="text-right">
            <button type="submit" name="button-update-member-info" value="true" class="btn btn-info btn-lg" >Update</button>
        </div>
    {% else %}
            <legend>
                <strong>
                    퇴사자, 수정불가
                </strong>
            </legend>

            <div>
                <table class="table">
                    <tr>
                        <th>
                            코멘트 입력
                        </th>
                        <td>
                            <input type="text" name="resign-member-add-comment" class="form-control">
                        </td>
                    </tr>
                </table>
            </div>
            <hr>
            <div class="text-right">
                <button type="submit" name="button-update-resign-member-info" value="true" class="btn btn-info btn-lg" >Update</button>
            </div>
    {% endif %}

</div>
