{% load static %}

<header class="site-header">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <small class="text-muted">VORONOI RESEARCH GROUPWARE</small>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a type="button"  class="btn btn-dark btn-sm" href="{% url 'hr-home' %}">
            인사 홈
          </a>
        </li>
        <li class="nav-item active">
          <a type="button"  class="btn btn-dark btn-sm" href="{% url 'hr-layout-home' %}">
            조직구성
          </a>
        </li>
        <li class="nav-item active">
          <a type="button"  class="btn btn-dark btn-sm" href="{% url 'hr-authority-home' %}">
            권한설정
          </a>
        </li>
        <li class="nav-item active">
          <a type="button"  class="btn btn-dark btn-sm" href="{% url 'hr-document-control' %}">
            문서관리
          </a>
        </li>
        <li class="nav-item active">
          <a type="button"  class="btn btn-warning btn-sm" href="{% url 'hr-workingtime-control' %}">
            출퇴근관리
          </a>
        </li>
        <li class="nav-item active">
          <a type="button"  class="btn btn-dark btn-sm" href="{% url 'hr-vacation-control' %}">
            휴가관리
          </a>
        </li>
        <li class="nav-item active">
          <a type="button"  class="btn btn-dark btn-sm" href="{% url 'hr-task-control' %}">
            업무관리
          </a>
        </li>
        <li class="nav-item active">
          <a type="button"  class="btn btn-dark btn-sm" href="{% url 'hr-evaluation-control' %}">
            인사평가
          </a>
        </li>
        <li class="nav-item active">
          <a type="button"  class="btn btn-dark btn-sm" href="{% url 'hr-calendar-control' %}">
            Calendar 관리
          </a>
        </li>

      </ul>
      <ul class="navbar-nav" style="position:absolute; right:10px;">
        <li class="nav-item active">
          <a type="button" class="btn btn-warning btn-sm" style="background-color: #ec4c23;border-color: #ec4c23;color: #fff;" href="javascript:callPopup('/inquiry/inquiries?page=hr/workingtime');">
            문의 / 이용방법
          </a>
        </li>
    </ul>
    </div>
  </nav>
</header>