{% load crispy_forms_tags %}
{% load bootstrap %}
{% load static %}




<form method="POST" action="{% url 'hr-task-control' %}"  enctype="multipart/form-data">
	{% csrf_token %}

	<div class="content-section">
		<fieldset class="form-group">
			<legend class="border-bottom mb-4">프로젝트별 참여율 파일 다운로드</legend>
			<div class="card card-body" style="background-color:rgb(240,240,240,0.5);">
				<table class="table">
					<tr>
						<th>
							프로젝트 시작일 지정
						</th>
						<td style="background-color:rgb(255,255,255,0.85);">
							<input type="date" class="form-control" name="hr-task-control-project-file-download-date-start">
						</td>
					</tr>
					<tr>
						<th>
							프로젝트 종료일 지정
						</th>
						<td style="background-color:rgb(255,255,255,0.85);">
							<input type="date" class="form-control" name="hr-task-control-project-file-download-date-end">
						</td>
					</tr>
					<tr>
						<td style="background-color:rgb(255,255,255,0.85);">
							<input type="radio" name="hr-task-control-input-type-radio-add-no-paticipant-data-member-to-file" value="true" checked> 미기입자 추가함
						</td>
						<td style="background-color:rgb(255,255,255,0.85);">
							<input type="radio" name="hr-task-control-input-type-radio-add-no-paticipant-data-member-to-file" value="false" > 미기입자 추가안함
						</td>
					</tr>

					<tr>
						<td colspan="2">
							* 기간을 지정하지 않을 경우, 현재 선택된 달에 해당하는 정보만 다운로드
						</td>
					</tr>
				</table>
				<button type="submit" name="button-hr-task-control-project-file-download-confirm" value="true" class="btn btn-primary" >File Download</button>
			</div>
		</fieldset>
	</div>
</form>



