{% load crispy_forms_tags %}
{% load bootstrap %}
{% load static %}
{% load mathfilters %}



<tr
{% if q_task_plan.check_hr_confirmed == True %}
	style="background-color:rgba(0, 255, 255, 0.15)"
{% else %}
	style="background-color:rgb(255,255,255,0.85)"
{% endif %}
>
	<td colspan="10">
		{% include 'hr/hr_task_control_task_main_table_row_member_tasks_for_year_chart.html' %}
	</td>
</tr>


<!--
	1년치 등록한 선택멤버의 프로젝트 참여율 리스트
-->
	<tr
	{% if q_task_plan == q_mysettings_hr.task_plan %}
		{% if q_task_plan.check_hr_confirmed == True %}
			style="background-color:rgba(0, 255, 255, 0.15)"
		{% else %}
			style="background-color:rgba(255, 255, 0, 0.15)"
		{% endif %}
	{% else %}
		style="background-color:rgb(255,255,255,0.85)"
	{% endif %}
	>
		<td>
		</td>
		<td colspan="{{ num_colspan_table_for_yearly_project_participant }}">
			<div class="card card-body" style="background-color:rgb(240,240,240,0.5);">
				<table class="table">
					<tr>
						<th width="20%">
							기간
						</th>
						<th colspan="{{ qs_project_simple_onprogress|length }}">
							프로젝트별 참여율
						</th>
						<th width="10%">
							Option
						</th>
					</tr>
					{% for q_task_plan_selected_member in qs_task_plan_selected_member %}
					<tr>
						<td>
							{{ q_task_plan_selected_member.date_deadline_task_submission|date:"Y-m" }}-01 ~ {{ q_task_plan_selected_member.date_deadline_task_submission|date:"Y-m-d" }}
						</td>
						<td colspan="{{ qs_project_simple_onprogress|length }}">
							{% if q_task_plan_selected_member.list_dict_project_id_project_percent != Null %}
								{% if q_task_plan_selected_member.check_activate_submission_form == True %}
									{% for item_dict in q_task_plan_selected_member.list_dict_project_id_project_percent %}
										<button type="button" class="btn btn-outline-info btn-sm">
											{{ item_dict.project_name }} :
											<span
											{% if item_dict.participant_percent == 0 %}
												class="badge badge-danger text-white"
											{% else %}
												class="badge badge-primary text-white"
											{% endif %}
											>
												{{ item_dict.participant_percent }}
											</span>
										</button>
									{% endfor %}
								{% else %}
									{% if q_task_plan_selected_member.date_deadline_task_submission < ls_today %}
										<button type="button" class="btn btn-danger btn-sm"	>
											미작성(기한만료)
										</button>
									{% else %}
										{% if q_task_plan_selected_member.date_start_task_submission < ls_today %}
											<button type="button" class="btn btn-warning btn-sm">
												미작성(작성기간 중)
											</button>
										{% else %}
											<button type="button" class="btn btn-secondary btn-sm">
												작성기간 미도래
											</button>
										{% endif %}
									{% endif %}
								{% endif %}
							{% else %}
									{% if q_task_plan_selected_member.date_deadline_task_submission < ls_today %}
										<button type="button" class="btn btn-danger btn-sm"	>
											미작성(기한만료)
										</button>
									{% else %}
										{% if q_task_plan_selected_member.date_start_task_submission < ls_today %}
											<button type="button" class="btn btn-warning btn-sm">
												미작성(작성기간 중)
											</button>
										{% else %}
											<button type="button" class="btn btn-secondary btn-sm">
												작성기간 미도래
											</button>
										{% endif %}
									{% endif %}
							{% endif %}
						</td>
						<td>

						</td>
					</tr>
					{% endfor %}
				</table>
			</div>
		</td>
	</tr>
