{% load crispy_forms_tags %}
{% load bootstrap %}
{% load static %}



<div class="col-md-9">

		<div class="content-section">
			<fieldset class="form-group">

				<table class="table">
					<tr>
						<form method="POST" action="{% url 'hr-task-control' %}"  enctype="multipart/form-data">
							{% csrf_token %}
							<td>
								<legend class="border-bottom mb-4">
									보로노이 프로젝트 관리
								</legend>
							</td>
						</form>
						<form method="POST" action="{% url 'hr-task-control' %}"  enctype="multipart/form-data">
							{% csrf_token %}
							<td>
								<input type="text" class="form-control" name="text-hr-task-control-project-search-keyword" placeholder="검색어 입력">
							</td>
							<td>
								<button type="submit" name="button-hr-task-control-project-search" value="true" class="btn btn-info btn-md">Search</button>
							</td>
						</form>
						<form method="POST" action="{% url 'hr-task-control' %}"  enctype="multipart/form-data">
							{% csrf_token %}
							<td>
								<button type="submit" name="button-hr-task-control-project-select" value="true" class="btn btn-primary btn-md">
									Select
								</button>
							</td>
							<td>
								<button type="submit" name="button-hr-task-control-project-select-reset" value="true" class="btn btn-dark btn-sm">
									Reset
								</button>
							</td>
						</form>
					</tr>

				</table>


				<div class="card card-body" style="background-color:rgb(240,240,240,0.5);">

					<table class="table table-sm">
						<tr>
							<th>프로젝트 이름</th>
							<th>프로젝트 상태</th>
							<th>프로젝트 타겟</th>
							<th>프로젝트 개시일</th>
							<th>프로젝트 종료일</th>
							<th>코멘트</th>
							<th>Option</th>
						</tr>

						{% for q_project_simple in qs_project_simple %}
							{% if q_project_simple ==  q_mysettings_hr.project_simple %}
								<form method="POST" action="{% url 'hr-task-control' %}"  enctype="multipart/form-data">
									{% csrf_token %}
									{% include 'hr/hr_task_control_project_main_table_row.html' %}
								</form>
							{% endif %}
						{% endfor %}

						{% for q_project_simple in qs_project_simple %}
							{% if q_project_simple ==  q_mysettings_hr.project_simple %}
							{% else %}
								<form method="POST" action="{% url 'hr-task-control' %}"  enctype="multipart/form-data">
									{% csrf_token %}
									{% include 'hr/hr_task_control_project_main_table_row.html' %}
								</form>
							{% endif %}
						{% endfor %}
					</table>
				</div>
			</fieldset>
		</div>
	</form>
</div>


<div class="col-md-3">
	<!--
		프로젝트 입력 폼
	-->
	<form method="POST" action="{% url 'hr-task-control' %}"  enctype="multipart/form-data">
		{% csrf_token %}
		<ul class="nav nav-tabs">
			{% for ITEM in LIST_TASK_PROJECT_CONTROL_SUBMENU %}
				<li class="nav-item">
					<button type="submit" name="button-hr-task-project-submenu-switch" value="{{ ITEM.0 }}"
					{% if q_mysettings_hr.status_task_project_control_submenu == ITEM.0 %}
						class="btn btn-dark btn-sm"
					{% else %}
						class="nav-link"
					{% endif %}
					>
						{{ ITEM.1 }}
					</button>
				</li>
			{% endfor %}
		</ul>
	</form>

	{% if q_mysettings_hr.status_task_project_control_submenu == LIST_TASK_PROJECT_CONTROL_SUBMENU.0.0 %}
		{% include 'hr/hr_task_control_project_main_form_register_project.html' %}
	{% elif q_mysettings_hr.status_task_project_control_submenu == LIST_TASK_PROJECT_CONTROL_SUBMENU.1.0 %}
		{% include 'hr/hr_task_control_project_main_form_update_project.html' %}
	{% elif q_mysettings_hr.status_task_project_control_submenu == LIST_TASK_PROJECT_CONTROL_SUBMENU.2.0 %}
		{% include 'hr/hr_task_control_project_main_form_delete_project.html' %}
	{% endif %}
</div>

