{% load crispy_forms_tags %}
{% load static %}
{% load mathfilters %}





<div class="modal fade" id="hrTaskPlanContributionAnalysisModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">
					<strong>
						프로젝트 기준 참여비율 분석
					</strong>
				</h5>
				<!-- <button v-on:click="f_closeModalView" type="button" class="close" data-dismiss="modal" aria-label="Close" >
					<span aria-hidden="true">&times;</span>
				</button>
				-->
				<button type="submit" name="button-hr-task-control-project-analysis-modal-view-close" value="true" class="close" aria-label="Close">
					  <span aria-hidden="true">&times;</span>
				</button>

			</div>


			<div class="modal-body">
				<div>
					<button
					v-for="(item, index) in list_project_simple" :key="index"
					v-on:click="f_project_name_project_id(item.id)"
					type="button" class="btn btn-outline-info btn-sm">
						[[ item.project_name ]]
					</button>
 				</div>

				<div>
					<table class="table">
						<tr>
							<th width="20%">
								프로젝트 기간 지정: <br>시작일
							</th>
							<td width="30%">
								<input type="date" class="form-control" v-model="inputDateStart" v-on:change="f_inputDateStart()">
							</td>

							<th width="20%">
								프로젝트 기간 지정: <br>종료일
							</th>
							<td width="30%">
								<input type="date" class="form-control" v-model="inputDateEnd" v-on:change="f_inputDateEnd()">
							</td>
						</tr>

						<tr>
							<td colspan="4">
								<br>
								* 시작일/종료일 모두 지정하지 않을 경우, 현재 선택된 달에 해당하는 정보만 분석
								<br>
								* 시작일을 지정하지 않을 경우, 오늘이 포함된 달에 해당하는 정보만 분석
								<br>
								* 종료일을 지정하지 않을 경우, 오늘이 포함된 달까지 정보 분석
							</td>
						</tr>
					</table>

				</div>

				<div class="card card-body" style="background-color:rgb(240,240,240,0.5);">
					<legend>
						<strong>[[ chart_title ]]</strong> 프로젝트 분석 ([[ inputDateStart ]] ~ [[ inputDateEnd ]]) : 전체 멤버의 프로젝트별 참여비율
					</legend>
					<figure class="highcharts-figure">
						<div id="container1"></div>
						<p class="highcharts-description">
							챠트 우상단 상병 아이콘 클릭시 이미지 다운 가능
						</p>
					</figure>
				</div>

				<hr>

				<div class="card card-body" style="background-color:rgb(240,240,240,0.5);">
					<legend>
						<strong>[[ chart_title ]]</strong> 프로젝트 분석 ([[ inputDateStart ]] ~ [[ inputDateEnd ]]) : 팀별 해당 프로젝트 참여비율
					</legend>
					<figure class="highcharts-figure">
						<div id="container2"></div>
						<p class="highcharts-description">
							챠트 우상단 상병 아이콘 클릭시 이미지 다운 가능
						</p>
					</figure>
				</div>
				<hr>

			</div>
		</div>
	</div>
</div>


<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

<script>
	// const { createApp } = Vue
	var chartData1;
	var chartData2;
	var chartTitleStr
	var postHandling = createApp({
        delimiters: ["[[", "]]"],
        data() {
        return {
            list_project_analysis_pie_chart_selected_project_data: [],
			list_project_analysis_pie_chart_selected_project_data_by_team: [],
			list_project_simple: [],
			contribution_current_total: 0,
			chart_title: 'No_Title',
			inputDateStart:'',
			inputDateEnd:'',

        }
        },
        methods: {
            refreshData() {
                console.log(variables.API_URL+'hr/hr_task_plan_modal_project_analysis_api_view/')
				axios.get(variables.API_URL+'hr/hr_task_plan_modal_project_analysis_api_view/')
				.then((response) => {

                    this.list_project_simple = response.data['data_serialsizer_project_simple']
					this.list_project_analysis_pie_chart_selected_project_data = response.data['list_project_analysis_pie_chart_selected_project_data']
					chartData1 = response.data['list_project_analysis_pie_chart_selected_project_data']
					chartData2 = response.data['list_project_analysis_pie_chart_selected_project_data_by_team']
					drawChart();
					this.chart_title = response.data['chart_title']
					this.inputDateStart = response.data['list_date_project_analysis'][0]
					this.inputDateEnd = response.data['list_date_project_analysis'][1]
                })
            },
			f_project_name_project_id(event) {
				console.log(event)
                axios.post(variables.API_URL+'hr/hr_task_plan_modal_project_analysis_update_api_view/', {
					'id': event,
				}, {
                headers: {
                    'Content-Type': 'multipart/form-data',
					'X-CSRFToken': "{{ csrf_token }}"
                }
				})
                .then((response) => {
					this.refreshData()
                    console.log(response)
                })
				.catch(() => {
                    console.log('Error!')
				})
            },

			f_inputDateStart(event) {
				console.log('input date start changed')
				console.log(this.inputDateStart)
				axios.post(variables.API_URL+'hr/hr_task_plan_modal_project_analysis_update_inputdatestart_api_view/', {
					'inputDateStart': this.inputDateStart,
				}, {
                headers: {
                    'Content-Type': 'multipart/form-data',
					'X-CSRFToken': "{{ csrf_token }}"
                }
				})
                .then((response) => {
					this.refreshData()
                    console.log(response)
                })
				.catch(() => {
                    console.log('Error!')
				})
			},

			f_inputDateEnd(event) {
				console.log('input date end changed')
				console.log(this.inputDateEnd)
				axios.post(variables.API_URL+'hr/hr_task_plan_modal_project_analysis_update_inputdateend_api_view/', {
					'inputDateEnd': this.inputDateEnd,
				}, {
                headers: {
                    'Content-Type': 'multipart/form-data',
					'X-CSRFToken': "{{ csrf_token }}"
                }
				})
                .then((response) => {
					this.refreshData()
                    console.log(response)
                })
				.catch(() => {
                    console.log('Error!')
				})
			},

			f_closeModalView() {
				axios.post(variables.API_URL+'hr/hr_task_plan_modal_project_analysis_update_closemodalview_api_view/', {
					'check_activate_task_plan_analysis_modal_view': False,
				}, {
                headers: {
                    'Content-Type': 'multipart/form-data',
					'X-CSRFToken': "{{ csrf_token }}"
                }
				})
                .catch(() => {
                    console.log('Error!')
				})
			}
			,
        },
		computed: {
		},
        mounted: function() {
            this.refreshData()
        }
    }).mount('#hrTaskPlanContributionAnalysisModal')



	function drawChart() {
		Highcharts.chart('container1', {
			chart: {
				plotBackgroundColor: null,
				plotBorderWidth: null,
				plotShadow: false,
				type: 'pie'
			},
			title: {
				text: chartTitleStr,
				align: 'left'
			},
			tooltip: {
				pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
			},
			accessibility: {
				point: {
					valueSuffix: '%'
				}
			},
			plotOptions: {
				pie: {
					allowPointSelect: true,
					cursor: 'pointer',
					dataLabels: {
						enabled: true,
						format: '<b>{point.name}</b>: {point.percentage:.1f} %'
					}
				}
			},
			series: [{
				name: 'Brands',
				colorByPoint: true,
				data : chartData1,
			}]
		}),

		Highcharts.chart('container2', {
			chart: {
				plotBackgroundColor: null,
				plotBorderWidth: null,
				plotShadow: false,
				type: 'pie'
			},
			title: {
				text: chartTitleStr,
				align: 'left'
			},
			tooltip: {
				pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
			},
			accessibility: {
				point: {
					valueSuffix: '%'
				}
			},
			plotOptions: {
				pie: {
					allowPointSelect: true,
					cursor: 'pointer',
					dataLabels: {
						enabled: true,
						format: '<b>{point.name}</b>: {point.percentage:.1f} %'
					}
				}
			},
			series: [{
				name: 'Brands',
				colorByPoint: true,
				data : chartData2,
			}
			]
		});
	}
</script>



<style>
	.highcharts-data-table table {
		font-family: Verdana, sans-serif;
		border-collapse: collapse;
		border: 1px solid #ebebeb;
		margin: 10px auto;
		text-align: center;
		width: 100%;
		max-width: 500px;
	}

	.highcharts-data-table caption {
		padding: 1em 0;
		font-size: 1.2em;
		color: #555;
	}

	.highcharts-data-table th {
		font-weight: 600;
		padding: 0.5em;
	}

	.highcharts-data-table td,
	.highcharts-data-table th,
	.highcharts-data-table caption {
		padding: 0.5em;
	}

	.highcharts-data-table thead tr,
	.highcharts-data-table tr:nth-child(even) {
		background: #f8f8f8;
	}

	.highcharts-data-table tr:hover {
		background: #f1f7ff;
	}

	input[type="number"] {
		min-width: 50px;
	}
</style>