{% load crispy_forms_tags %}
{% load bootstrap %}
{% load static %}






<form method="POST" action="{% url 'hr-task-control' %}"  enctype="multipart/form-data">
	{% csrf_token %}

	<div class="content-section">
		<fieldset class="form-group">
			<legend class="border-bottom mb-4">프로젝트 정보 삭제</legend>
			<div class="card card-body" style="background-color:rgb(240,240,240,0.5)">
				<fieldset class="form-group">

					{% if q_mysettings_hr.project_simple != Null %}
						{{ form_hr_task_project_update|bootstrap }}
						{{ form_hr_task_project_date_start_register|bootstrap }}
						{{ form_hr_task_project_date_end_register|bootstrap }}
					{% else %}
						<div class="text-center" style="background-color:rgb(255,255,255,0.85)">
							선택된 프로젝트가 없습니다.
						</div>
						<hr>
					{% endif %}
					<div class="text-right">
						<button type="submit" name="button-hr-task-control-update-project-simple" value="true" class="btn btn-info"
						{% if q_mysettings_hr.project_simple == Null %}
							disabled
						{% endif %}
						>
							Update
						</button>
						<button type="submit" name="button-hr-task-control-cancel-action-project-simple" value="true" class="btn btn-dark btn-sm"
						{% if q_mysettings_hr.project_simple == Null %}
							disabled
						{% endif %}
						>
							Cancel
						</button>
					</div>
				</fieldset>
			</div>
		</fieldset>
	</div>
</form>


