{% load crispy_forms_tags %}
{% load bootstrap %}
{% load static %}



<div
{% if q_mysettings_hr.check_display_size_task_table_fullwidth == True %}
	class="col-md-12"
{% else %}
	class="col-md-9"
{% endif %}
>

	<div class="content-section">
		<fieldset class="form-group">

			<table class="table">
				<tr>
					<td>
						<legend class="border-bottom mb-4">
							보로노이 멤버 월간 프로젝트별 참여비율 관리
						</legend>
					</td>

					<form method="POST" action="{% url 'hr-task-control' %}"  enctype="multipart/form-data">
						{% csrf_token %}
						<td>
							<input type="text" class="form-control" name="text-hr-task-control-task-plan-search-keyword" placeholder="검색어 입력">
						</td>
						<td>
							<button type="submit" name="button-hr-task-control-task-plan-search" value="true" class="btn btn-info btn-md">Search</button>
						</td>
					</form>

					<form method="POST" action="{% url 'hr-task-control' %}"  enctype="multipart/form-data">
						{% csrf_token %}
						<td>
							<button type="submit" name="button-hr-task-control-task-plan-selected-activate" value="true" class="btn btn-primary btn-md">
								Activate
							</button>
						</td>
						<td>
							<button type="submit" name="button-hr-task-control-task-plan-selected-deactivate" value="true" class="btn btn-secondary btn-md">
								Deactivate
							</button>
						</td>
						<td>
							<button type="submit" name="button-hr-task-control-task-plan-select-reset" value="true" class="btn btn-dark btn-sm">
								Reset
							</button>
						</td>
						<td>
							<button type="submit" name="button-hr-task-control-task-plan-selected-delete" value="true" class="btn btn-warning btn-sm">
								Delete
							</button>
						</td>
						<td>
							{% if request.user.is_superuser == True %}
								<button type="submit" name="button-hr-task-control-task-plan-generate-random" value="true" class="btn btn-danger btn-sm">
									Random Generation
								</button>
							{% endif %}
						</td>

						<td>
							<button type="submit" name="button-hr-task-control-table-display-size-switch" value="true" class="btn btn-light btn-sm">

								{% if q_mysettings_hr.check_display_size_task_table_fullwidth == False %}
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrows-fullscreen" viewBox="0 0 16 16">
										<path fill-rule="evenodd" d="M5.828 10.172a.5.5 0 0 0-.707 0l-4.096 4.096V11.5a.5.5 0 0 0-1 0v3.975a.5.5 0 0 0 .5.5H4.5a.5.5 0 0 0 0-1H1.732l4.096-4.096a.5.5 0 0 0 0-.707zm4.344 0a.5.5 0 0 1 .707 0l4.096 4.096V11.5a.5.5 0 1 1 1 0v3.975a.5.5 0 0 1-.5.5H11.5a.5.5 0 0 1 0-1h2.768l-4.096-4.096a.5.5 0 0 1 0-.707zm0-4.344a.5.5 0 0 0 .707 0l4.096-4.096V4.5a.5.5 0 1 0 1 0V.525a.5.5 0 0 0-.5-.5H11.5a.5.5 0 0 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 0 .707zm-4.344 0a.5.5 0 0 1-.707 0L1.025 1.732V4.5a.5.5 0 0 1-1 0V.525a.5.5 0 0 1 .5-.5H4.5a.5.5 0 0 1 0 1H1.732l4.096 4.096a.5.5 0 0 1 0 .707z"/>
									</svg> &nbsp Full Width
								{% else %}
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-fullscreen-exit" viewBox="0 0 16 16">
										<path d="M5.5 0a.5.5 0 0 1 .5.5v4A1.5 1.5 0 0 1 4.5 6h-4a.5.5 0 0 1 0-1h4a.5.5 0 0 0 .5-.5v-4a.5.5 0 0 1 .5-.5zm5 0a.5.5 0 0 1 .5.5v4a.5.5 0 0 0 .5.5h4a.5.5 0 0 1 0 1h-4A1.5 1.5 0 0 1 10 4.5v-4a.5.5 0 0 1 .5-.5zM0 10.5a.5.5 0 0 1 .5-.5h4A1.5 1.5 0 0 1 6 11.5v4a.5.5 0 0 1-1 0v-4a.5.5 0 0 0-.5-.5h-4a.5.5 0 0 1-.5-.5zm10 1a1.5 1.5 0 0 1 1.5-1.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 0-.5.5v4a.5.5 0 0 1-1 0v-4z"/>
								  	</svg> &nbsp File Download
								{% endif %}
							</button>
						</td>
				</tr>

			</table>



				<div class="card card-body" style="background-color:rgb(240,240,240,0.5);">

					{% include 'hr/hr_calendar_control_calendar_fullweeks_nav.html' %}

					<table class="table table-sm ">
						<tr>
							<td colspan="5" class="text-left">
								<input type="checkbox" name="checkbox-hr-task-plan-owner-select" value="all"> 전체선택
								/
								<button type="submit" name="button-hr-task-plan-selected-month-deselect-all" value="true" class="btn btn-link btn-sm">전체선택해제</button>
							</td>
						</tr>
						<tr>
							<th
							rowspan="2"
							{% if q_mysettings_hr.check_display_size_task_table_fullwidth == True %}
								width="5%"
							{% else %}
								width="7%"
							{% endif %}
							>
							<button type="submit" name="button-hr-task-paln-sorting-table-by-index-field" class="btn btn-link btn-sm" value="{{ LIST_TASK_PLAN_TABLE_COLUMN_INDEX.0.0 }}">
								{{ LIST_TASK_PLAN_TABLE_COLUMN_INDEX.0.1 }}
							</button>

							</th>
							<th rowspan="2" width="9%">
								<button type="submit" name="button-hr-task-paln-sorting-table-by-index-field" class="btn btn-link btn-sm" value="{{ LIST_TASK_PLAN_TABLE_COLUMN_INDEX.1.0 }}">
									{{ LIST_TASK_PLAN_TABLE_COLUMN_INDEX.1.1 }}
								</button>
								<br>
								<button type="submit" name="button-hr-task-paln-sorting-table-by-index-field" class="btn btn-link btn-sm" value="{{ LIST_TASK_PLAN_TABLE_COLUMN_INDEX.2.0 }}">
									{{ LIST_TASK_PLAN_TABLE_COLUMN_INDEX.2.1 }}
								</button>
							</th>

							{% if q_mysettings_hr.check_display_size_task_table_fullwidth == True %}
								<th rowspan="2" width="6%">기간</th>
							{% else %}

							{% endif %}

							<th colspan="{{ qs_project_simple_onprogress|length }}">프로젝트별 참여율</th>
							<th rowspan="2"
							{% if q_mysettings_hr.check_display_size_task_table_fullwidth == True %}
								width="13%"
							{% else %}
							 	width="10%"
							{% endif %}
							 >Option</th>
						</tr>
						<tr>
							{% for q_project_simple_onprogress in qs_project_simple_onprogress %}
								<td width="{{ percent_table_width_project_participants }}">
									<button type="submit" class="btn btn-link btn-sm" name="button-hr-task-control-analysis-by-project" value="{{ q_project_simple_onprogress.id }}">
										{{ q_project_simple_onprogress.project_name }}
									</button>
								</td>
							{% endfor %}
						</tr>



						{% for q_task_plan in qs_task_plan_selected_month %}
							{% if q_task_plan ==  q_mysettings_hr.task_plan %}
								{% include 'hr/hr_task_control_task_main_table_row.html' %}
							{% else %}
							{% endif %}
						{% endfor %}


						{% for q_task_plan in qs_task_plan_selected_month %}
							{% if q_task_plan ==  q_mysettings_hr.task_plan %}
							{% else %}
								{% include 'hr/hr_task_control_task_main_table_row.html' %}
							{% endif %}
						{% endfor %}

					</table>
				</div>
			</form>

		</fieldset>
	</div>

</div>




{% if q_mysettings_hr.check_display_size_task_table_fullwidth == False %}
	<div class="col-md-3">

		<form method="POST" action="{% url 'hr-task-control' %}"  enctype="multipart/form-data">
			{% csrf_token %}
			<ul class="nav nav-tabs">
				{% for ITEM in LIST_TASK_PROJECT_PARTICIPANT_SUBMENU %}
					<li class="nav-item">
						<button type="submit" name="button-hr-task-control-project-participant-switch-submenu" value="{{ ITEM.0 }}"
						{% if q_mysettings_hr.status_task_project_participant_submenu == ITEM.0 %}
							class="btn btn-dark btn-sm"
						{% else %}
							class="nav-link"
						{% endif %}
						>
							{{ ITEM.1 }}
						</button>
					</li>
				{% endfor %}
			</ul>
		</form>

		<hr>

		<!--
			프로젝트 참여비율 분석
		-->
		{% if q_mysettings_hr.status_task_project_participant_submenu == LIST_TASK_PROJECT_PARTICIPANT_SUBMENU.0.0 %}
			{% include 'hr/hr_task_control_project_participant_statistics_project.html' %}
		{% elif q_mysettings_hr.status_task_project_participant_submenu == LIST_TASK_PROJECT_PARTICIPANT_SUBMENU.1.0 %}
			{% include 'hr/hr_task_control_project_participant_statistics_team.html' %}
		{% elif q_mysettings_hr.status_task_project_participant_submenu == LIST_TASK_PROJECT_PARTICIPANT_SUBMENU.2.0 %}
			{% include 'hr/hr_task_control_project_participant_statistics_member.html' %}
		{% else %}
			프로젝트 참여비율 입력양식이 지정되지 않았습니다.
		{% endif %}

	</div>
{% endif %}
