{% load crispy_forms_tags %}
{% load bootstrap %}
{% load static %}
{% load mathfilters %}



<tr
{% if q_task_plan.check_hr_confirmed == True %}
	style="background-color:rgba(0, 255, 255, 0.15)"
{% else %}
	style="background-color:rgb(255,255,255,0.85)"
{% endif %}
>
	
<!--
	프로젝트별 참여율 수정하기 창
-->
	<tr
	{% if q_task_plan.check_hr_confirmed == True %}
		style="background-color:rgba(0, 255, 255, 0.15)"
	{% else %}
		style="background-color:rgb(255,255,0,0.15)"
	{% endif %}
	>
		<td
		{% if q_mysettings_hr.check_display_size_task_table_fullwidth == True %}
			colspan="3"
		{% else %}
			colspan="2"
		{% endif %}
		>
		</td>
		<td colspan="{{ num_colspan_table_for_yearly_project_participant }}">
			<div class="card card-body" style="background-color:rgb(240,240,240,0.5);">
				<table class="table">
					<tr>
						{% for q_project_simple_onprogress in qs_project_simple_onprogress %} 
							<th>
								{{ q_project_simple_onprogress.project_name }}
							</th>
						{% endfor %}
						<th>
							비고
						</th>
					</tr>
					<tr>
						{% for q_project_simple_onprogress in qs_project_simple_onprogress %} 
							<td>
								<input type="hidden" name="input-hr-task-plan-project-name-modified" value="{{ q_project_simple_onprogress.project_name }}">
								<input type="number" name="input-hr-task-plan-project-percent-modified" class="form-control" value="{{ item.participant_percent }}">
							</td>
						{% endfor %}
						<td>
							<button type="submit" name="button-hr-task-control-modify-registered-by-hr-confirm" class="btn btn-link btn-sm" value="true">Confirm</button>
							<button type="submit" name="button-hr-task-control-modify-registered-by-hr-cancel" class="btn btn-link btn-sm" value="true">Cancel</button>
						</td>
					</tr>

{% comment %} 					
					<tr>
						{% for item in q_task_plan.list_dict_project_id_project_percent %}
							<th>
								{{ item.project_name }}
								<input type="hidden" name="input-hr-task-plan-project-name-modified" value="{{ item.project_name }}">
							</th>
						{% endfor %}
					</tr>
					<tr>
						{% for item in q_task_plan.list_dict_project_id_project_percent %}
							<th>
								<input type="number" name="input-hr-task-plan-project-percent-modified" class="form-control">
							</th>
						{% endfor %}
						<td>
							
							<button type="submit" name="button-hr-task-control-modify-registered-by-hr-confirm" class="btn btn-link btn-sm" value="true">Confirm</button>
							<button type="submit" name="button-hr-task-control-modify-registered-by-hr-cancel" class="btn btn-link btn-sm" value="true">Cancel</button>
						</td> {% endcomment %}
					</tr>
				</table>
			</div>
		</td>
	</tr>

