{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
{% include 'hr/hr_navbar_vacation.html' %}

<!--

<script>
	const { createApp } = Vue;
</script> -->

<legend class="border-bottom mb-4">
    <strong>
        {{ ls_today }}
    </strong>
</legend>



<!-- Modal 문서 읽기전용 모달창 띄우기  -->
{% if q_mysettings_hr.check_activate_xxx_document_plan_readonly_info_modal_view == True %}
	<script type="text/javascript">
		$(window).on('load', function() {$('#hrDocumentHistoryReadonly').modal({show:true, backdrop:false});});
	</script>
	<form method="POST" action="{% url 'hr-vacation-control' %}"  enc type="multipart/form-data">
		{% csrf_token %}
		{% include 'hr/hr_document_history_document_plan_readonly_modal_view.html' %}
	</form>
{% endif %}



<div class="row">
	<div class="col-md-12">
		<form method="POST" action="{% url 'hr-vacation-control' %}"  enctype="multipart/form-data">
            {% csrf_token %}
			<ul class="nav nav-tabs">
				{% for ITEM in LIST_HR_VACATION_CONTROL_TYPE %}
					<li class="nav-item">
						<button type="submit" name="button-hr-vacation-control-type-switch" value="{{ ITEM.0 }}"
						{% if q_mysettings_hr.vacation_control_type == ITEM.0 %}
							class="btn btn-dark btn-sm"
						{% else %}
							class="nav-link"
						{% endif %}
						>
							{{ ITEM.1 }}
						</button>
					</li>
				{% endfor %}
			</ul>
        </form>

	</div>

</div>

<hr>


	{% if q_mysettings_hr.vacation_control_type == LIST_HR_VACATION_CONTROL_TYPE.0.0 %}
	<div class="row">
		{% include 'hr/hr_vacation_control_calendar_main.html' %}
	</div>
	{% elif q_mysettings_hr.vacation_control_type == LIST_HR_VACATION_CONTROL_TYPE.1.0 %}
	<div class="row">
		{% include 'hr/hr_vacation_control_register_member_vacation.html' %}
	</div>
	{% elif q_mysettings_hr.vacation_control_type == LIST_HR_VACATION_CONTROL_TYPE.2.0 %}
		{% include 'hr/hr_vacation_control_plan_registered.html' %}
	{% elif q_mysettings_hr.vacation_control_type == LIST_HR_VACATION_CONTROL_TYPE.3.0 %}
	<div class="row">
		{% include 'hr/hr_vacation_control_promotion.html' %}
	</div>
	{% endif %}

{% endblock content %}