{% load crispy_forms_tags %}
{% load bootstrap %}
{% load static %}





<ul class="nav nav-tabs">


    <li>
        <select class="form-control" name="hr-vacation-control-form-vacation-type">

            {% if q_mysettings_hr.check_vacation_type == Null %}
                <option value="none" selected>휴가 종류 선택</option>
            {% else %}
                {% for ITEM in LIST_VACATION_TYPES %}
                    {% if q_mysettings_hr.check_vacation_type == ITEM.0 %}
                        <option value="{{ ITEM.0 }}" selected>{{ ITEM.1 }}</option>
                    {% endif %}
                {% endfor %}
            {% endif %}

            {% if q_mysettings_hr.check_vacation_type != Null %}
                <option value="none" >휴가 종류 선택</option>
            {% else %}
                {% for ITEM in LIST_VACATION_TYPES %}
                    {% if q_mysettings_hr.check_vacation_type != ITEM.0 %}
                        <option value="{{ ITEM.0 }}">{{ ITEM.1 }}</option>
                    {% endif %}
                {% endfor %}
            {% endif %}
		</select>
    </li>
    <li>
        <select class="form-control" name="hr-vacation-control-form-vacation-regular-type">
            {% if q_mysettings_hr.check_vacation_regular_type == Null %}
                <option value="none" selected>연차 사용타입 선택</option>
            {% else %}
                {% for ITEM in LIST_VACATION_REGULAR_TYPES %}
                    {% if q_mysettings_hr.check_vacation_regular_type == ITEM.0 %}
                        <option value="{{ ITEM.0 }}" selected>{{ ITEM.1 }}</option>
                    {% endif %}
                {% endfor %}
            {% endif %}

            {% if q_mysettings_hr.check_vacation_regular_type != Null %}
                <option value="none" >연차 사용타입 선택</option>
            {% else %}
                {% for ITEM in LIST_VACATION_REGULAR_TYPES %}
                    {% if q_mysettings_hr.check_vacation_regular_type != ITEM.0 %}
                        <option value="{{ ITEM.0 }}">{{ ITEM.1 }}</option>
                    {% endif %}
                {% endfor %}
            {% endif %}
		</select>
    </li>


</ul>
