{% load crispy_forms_tags %}
{% load bootstrap %}
{% load static %}




<form method="POST" action="{% url 'hr-vacation-control' %}"  enctype="multipart/form-data">
	{% csrf_token %}

	<div class="content-section">
		<fieldset class="form-group">
			<legend class="border-bottom mb-4">휴가계획서 파일 업로드 통한 자동 등록</legend>
			<div class="card card-body" style="background-color:rgb(240,240,240,0.5);">
				<table class="table">


						{% if q_mysettings_hr.check_vc_plan_file_upload_error_report_view_activate == False %}
						멤버 휴가 계획서 자동등록 오류 리포트 보기
							<button type="submit" name="button-vc-plan-file-upload-error-report-view-open-close" value="true" class="btn btn-link btn-sm">
								[O]
							</button>
						{% endif %}

					{% if request.user.is_superuser == True %}
						<tr>
							<th colspan="3">
								서식 업로드(관리자 화면)
							</th>
						</tr>
						<tr>
							<td style="background-color:rgb(255,255,255,0.85)" colspan="3">
								{{ form_vacation_plan_autoupload|bootstrap }}
							</td>
						</tr>
						<tr>
							<td class="text-right" colspan="3">
								<button type="submit" name="button-hr-vc-plan-autoregister-upload-format" value="true" class="btn btn-info btn-sm">
									Upload File
								</button>
							</td>
						</tr>
					{% endif %}
					<tr>
						<th colspan="3">
							서식 다운로드
						</th>
					</tr>
					<tr>
						<td style="background-color:rgb(255,255,255,0.85)" colspan="3">
							{% if q_hr_vacation_document_management.file_vc_plan_autoupload == Null or q_hr_vacation_document_management.file_vc_plan_autoupload == '' %}
								<strong>서식 업로드가 필요합니다.</strong>
							{% else %}
								<a href="{{ q_hr_vacation_document_management.file_vc_plan_autoupload.url }}" download>
									휴가 계획서 자동업로드 서식
								</a>
							{% endif %}
						</td>
					</tr>
					<hr>
					<tr>
                        <th>
                            파일타입선택
                        </th>
                        <td style="background-color:rgb(255,255,255,0.85);">
                            <input type="radio" name="file-type" value="xlsx" checked> xlsx 파일 타입</input>
                        </td>
                        <td style="background-color:rgb(255,255,255,0.85);">
                            <input type="radio" name="file-type" value="csv"> csv 파일 타입</input>
                        </td>
                    </tr>

					<tr>
						<th colspan="3">
							작성한 파일 업로드
						</th>
					</tr>

					<tr>

						<td style="background-color:rgb(255,255,255,0.85)" colspan="3">
							<b>
								<u>
									파일 작성 규칙:
								</u>
							</b>
							<ul>
								<li>
									같은 사람의 휴가 계획서는 과거일수록 위쪽 열, 최근일수록 아래쪽 열에 배치
								</li>
								<li>
									파일명은 영어/숫자만 인식
								</li>
							</ul>
							{{ form_vacation_plan_autoupload|bootstrap }}
						</td>
					</tr>
					<tr>
                        <th>
                            업로드 타입 선택
                        </th>
                        <td style="background-color:rgb(255,255,255,0.85);">
                            <input type="radio" name="file-upload-type" value="new" checked>신규 생성</input>
                        </td>
                        <td style="background-color:rgb(255,255,255,0.85);">
                            <input type="radio" name="file-upload-type" value="remove">모두 삭제후 생성</input>
                        </td>
                    </tr>
					<tr>
						<td class="text-right" colspan="3">
							<button type="submit" name="button-hr-vc-plan-autoregister-upload-file" value="true" class="btn btn-info btn-sm">
								Upload File
							</button>
						</td>
					</tr>

				</table>

			</div>
		</fieldset>
	</div>
</form>

