{% load crispy_forms_tags %}
{% load bootstrap %}
{% load static %}




<div class="col-md-12">
	<div class="content-section">
		<fieldset class="form-group">

			<table class="table">
				<tr>
					<form method="POST" action="{% url 'hr-vacation-control' %}"  enctype="multipart/form-data">
						{% csrf_token %}
						<td colspan="2">
							<legend class="border-bottom mb-4">
								멤버 휴가 계획서 자동등록 오류 리포트

								{% if q_mysettings_hr.check_vc_plan_file_upload_error_report_view_activate == True %}
									<button type="submit" name="button-vc-plan-file-upload-error-report-view-open-close" value="true" class="btn btn-link btn-sm">
										접기 [x]
									</button>
								{% else %}
								{% endif %}
							</legend>
						</td>

					</form>
				</tr>
				{% for k_key_str, v_list_name in q_hr_vacation_document_management.dict_error_type_and_name_upload_vc_plan_file.items %}
					{% if k_key_str != 'exist_vc_plan' %}
						<tr>
							<td>
								{{ k_key_str }}
							</td>
							<td>
								{% for v_name in v_list_name %}
									{{ v_name }}
								{% endfor %}
							</td>

						</tr>
					{% endif %}
				{% endfor %}
			</table>

		</fieldset>
	</div>
</div>

