{% load crispy_forms_tags %}
{% load bootstrap %}
{% load static %}




<form method="POST" action="{% url 'hr-vacation-control' %}"  enctype="multipart/form-data">
	{% csrf_token %}

	<div class="content-section">
		<fieldset class="form-group">
			<legend class="border-bottom mb-4">연차촉진 관리자 세팅</legend>
			<div class="card card-body" style="background-color:rgb(240,240,240,0.5);">
				<table class="table">
					<tr>
						<td>
							{{ form_vacation_promotion_settings|bootstrap }}
						</td>
						
					</tr>
					<tr>
						<td>
						</td>
					</tr>
				</table>

				<fieldset class="form-group">
					<button type="submit" name="button-hr-vacation-control-promotion-settings-update" value="true" class="btn btn-info">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-arrow-up" viewBox="0 0 16 16">
							<path d="M8.5 11.5a.5.5 0 0 1-1 0V7.707L6.354 8.854a.5.5 0 1 1-.708-.708l2-2a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 7.707V11.5z"/>
							<path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
						</svg>
						Update
					</button>
				</fieldset>
			</div>
		</fieldset>
	</div>
</form>

