{% load crispy_forms_tags %}
{% load bootstrap %}
{% load static %}



<tr
{% if where_am_i == 'hr' %}

	{% if q_vacation_plan.check_hr_vc_plan_request_from_hr_activated == True or q_vacation_plan.check_hr_xxx_document_plan_request_to_hr_activated == True %}
		style="background-color:rgba(255, 0, 255, 0.15)"
	{% else %}
		{% if q_vacation_plan == q_mysettings_hr.vacation_plan or q_vacation_plan.id in q_mysettings_hr.list_vacation_plan_id_selected %}
			style="background-color:rgba(255, 255, 0, 0.15)"
		{% else %}
			{% if q_vacation_plan.id in q_mysettings_hr.list_vacation_plan_id_searched  %}
				style="background-color:rgba(0, 255, 255, 0.15)"
			{% else %}
			{% endif %}
		{% endif %}
	{% endif %}

{% elif where_am_i == 'my' %}

	{% if q_vacation_plan.check_hr_vc_plan_request_from_hr_activated == True or q_vacation_plan.check_hr_xxx_document_plan_request_to_hr_activated == True %}
		style="background-color:rgba(255, 0, 255, 0.15)"
	{% else %}
		{% if q_vacation_plan == q_mysettings_my.vacation_plan or q_vacation_plan == q_mysettings_my.vacation_plan_approval %}
			style="background-color:rgba(255, 255, 0, 0.15)"
		{% else %}
			{% if q_vacation_plan.id in q_mysettings_my.list_vacation_plan_id_searched  %}
				style="background-color:rgba(0, 255, 255, 0.15)"
			{% else %}
			{% endif %}
		{% endif %}
	{% endif %}

{% endif %}
>

	<td>

	</td>
	<td colspan="10">
		<div class="card card-body" style="background-color:rgb(240,240,240,0.5);">
			<!--
				휴가 계획서 신청 내용
			-->
			<legend>
				<strong>
					휴가신청내용
					<span>
						{% if q_vacation_plan.status_vacation_plan == STATUS_MY_VACATION_PLAN.0.0 %}
							<a type="button" href="#" class="btn btn-light btn-sm" >
								{{ STATUS_MY_VACATION_PLAN.0.1 }}
							</a>
						{% elif q_vacation_plan.status_vacation_plan == STATUS_MY_VACATION_PLAN.1.0 %}
							<a type="button" href="#" class="btn btn-info btn-sm" >
								{{ STATUS_MY_VACATION_PLAN.1.1 }}
							</a>
						{% elif q_vacation_plan.status_vacation_plan == STATUS_MY_VACATION_PLAN.2.0 %}
							<a type="button" href="#" class="btn btn-warning btn-sm" >
								{{ STATUS_MY_VACATION_PLAN.2.1 }}
							</a>
						{% elif q_vacation_plan.status_vacation_plan == STATUS_MY_VACATION_PLAN.3.0 %}
							<a type="button" href="#" class="btn btn-primary btn-sm" >
								{{ STATUS_MY_VACATION_PLAN.0.1 }}
							</a>
						{% elif q_vacation_plan.status_vacation_plan == STATUS_MY_VACATION_PLAN.4.0 %}
							<a type="button" href="#" class="btn btn-success btn-sm" >
								{{ STATUS_MY_VACATION_PLAN.4.1 }}
							</a>
						{% elif q_vacation_plan.status_vacation_plan == STATUS_MY_VACATION_PLAN.5.0 %}
							<a type="button" href="#" class="btn btn-danger btn-sm" >
								{{ STATUS_MY_VACATION_PLAN.5.1 }}
							</a>
						{% elif q_vacation_plan.status_vacation_plan == STATUS_MY_VACATION_PLAN.6.0 %}
							<a type="button" href="#" class="btn btn-secondary btn-sm" >
								{{ STATUS_MY_VACATION_PLAN.6.1 }}
							</a>
						{% elif q_vacation_plan.status_vacation_plan == STATUS_MY_VACATION_PLAN.7.0 %}
							<a type="button" href="#" class="btn btn-dark btn-sm" >
								{{ STATUS_MY_VACATION_PLAN.7.1 }}
							</a>
						{% endif %}
						</span>
						<span>
							{% include 'hr/hr_calendar_control_calendar_vacation_status_badge.html' %}
						</span>
						{% if q_vacation_plan.datetime_start < ls_now %}
							<span class="badge badge-warning">사용후</span>
						{% else %}
							<span class="badge badge-primary">사용전</span>
						{% endif %}
						{% if q_vacation_plan.check_hr_vc_plan_request_to_hr_process_dismissed == True %}
							{% if q_vacation_plan.check_discard == False %}
								<span class="badge badge-danger">정정됨</span>
							{% else %}
								<span class="badge badge-danger">취소됨</span>
							{% endif %}
						{% endif %}
				</strong>
			</legend>

			{% include 'hr/hr_vacation_control_plan_registered_vacation_plan_table_row_detail_1_plan_info.html' %}

			<hr>

			<!--
				신청후 남은 휴가 내용
			-->
			{% include 'hr/hr_vacation_control_plan_registered_vacation_plan_table_row_detail_2_control_info_.html' %}


			<hr>

			<!--
				휴가 승인 과정
			-->
			{% include 'hr/hr_vacation_control_plan_registered_vacation_plan_table_row_detail_3_approval_info.html' %}

		</div>
	</td>
</tr>

