{% load crispy_forms_tags %}
{% load bootstrap %}
{% load static %}




<legend>
	<strong>
		결재자 정보 입력 (Step 2)
	</strong>
</legend>

{% if q_mysettings_hr.hrlayout_approver_1 == Null %}
	{% include 'hr/hr_vacation_control_plan_form_register_plan_manually_step2_approver_1.html' %}
{% elif q_mysettings_hr.hrlayout_approver_1 != Null and q_mysettings_hr.hrlayout_approver_2 == Null %}
	{% include 'hr/hr_vacation_control_plan_form_register_plan_manually_step2_approver_1.html' %}
	<hr>
	{% include 'hr/hr_vacation_control_plan_form_register_plan_manually_step2_approver_2.html' %}
{% elif q_mysettings_hr.hrlayout_approver_2 != Null and q_mysettings_hr.hrlayout_approver_3 == Null %}
	{% include 'hr/hr_vacation_control_plan_form_register_plan_manually_step2_approver_1.html' %}
	<hr>
	{% include 'hr/hr_vacation_control_plan_form_register_plan_manually_step2_approver_2.html' %}
	<hr>
	{% include 'hr/hr_vacation_control_plan_form_register_plan_manually_step2_approver_3.html' %}
{% else %}
	{% include 'hr/hr_vacation_control_plan_form_register_plan_manually_step2_approver_1.html' %}
	<hr>
	{% include 'hr/hr_vacation_control_plan_form_register_plan_manually_step2_approver_2.html' %}
	<hr>
	{% include 'hr/hr_vacation_control_plan_form_register_plan_manually_step2_approver_3.html' %}
{% endif %}


{% if q_mysettings_hr.hrlayout_approver_1 != Null %}
	<hr>
	<form method="POST" action="{% url 'hr-vacation-control' %}"  enctype="multipart/form-data">
	{% csrf_token %}
		<fieldset class="form-group">
			<button type="submit" name="button-hr-vacation-plan-save-step2-to-step1" class="btn btn-secondary btn-sm" value="true">Previous Step</button>
			<button type="submit" name="button-hr-vacation-plan-save-step2-to-step3" class="btn btn-info" value="true">Next Step</button>
			<button type="submit" name="button-hr-vacation-plan-save-step-cancel" value="true" class="btn btn-dark btn-sm">Cancel</button>
		</fieldset>
	</form>
{% endif %}
