{% load crispy_forms_tags %}
{% load bootstrap %}
{% load static %}


{% if q_mysettings_hr.check_vc_plan_file_upload_error_report_view_activate == True %}
	<div class="row">
		{% include 'hr/hr_vacation_control_plan_registered_file_error_report_view.html' %}
	</div>
{% endif %}




<div class="row">
	{% if q_mysettings_hr.vacation_plan_register == Null %}

	<!--
		등록된 맴버들 휴가계획서 표시
	-->
		<div class="col-md-9">
			<div class="content-section">
				<fieldset class="form-group">

					<!--
						휴가계획서 필터링 / 리셋 바
					-->
					{% include 'hr/hr_vacation_control_plan_registered_filter_and_search_bar.html' %}


					<!--
						휴가계획서 한 줄씩 표시
					-->

					<div class="card card-body" style="background-color:rgb(240,240,240,0.5);">
						<table class="table">
							<tr>
								<th colspan="5">휴가계획서 상태</th>
								<th colspan="4">휴가기간 및 소모휴가일수</th>
								<th colspan="3">사유 및 첨부파일</th>
								<th>Option</th>
							</tr>





							<!--
								선택된 휴가계획서 표시
							-->
							{% for q_document_issued in qs_document_issued_approved_vacation %}
								{% if q_mysettings_xxx.document_issued == q_document_issued %}
								<!--
									선택된 휴가계획서 요약줄 표시
								-->
									<form method="POST" action="{% url 'hr-vacation-control' %}"  enctype="multipart/form-data">
										{% csrf_token %}
										{% include 'hr/hr_vacation_control_plan_registered_plan_summary.html' %}
									</form>
									{% if q_mysettings_xxx.check_plan_detail_display_activated == True %}
									<!--
										선택된 휴가계획서 펼친경우 세부내용 표시
									-->
										<form method="POST" action="{% url 'hr-vacation-control' %}"  enctype="multipart/form-data">
											{% csrf_token %}
											{% include 'hr/hr_vacation_control_plan_registered_plan_detail.html' %}
										</form>
									{% endif %}
								{% else %}
								{% endif %}
							{% endfor %}


							<!--
								요청된 휴가계획서 표시
							-->
							{% for q_document_issued in qs_document_issued_approved_vacation %}
								{% if q_mysettings_xxx.document_issued == q_document_issued %}

								{% else %}
									<!--
										선택되지 않은 휴가계획서
									-->
									{% if q_document_issued.vacation_plan.check_hr_xxx_document_plan_request_to_hr_activated == True or q_document_issued.vacation_plan.check_hr_vc_plan_request_from_hr_activated == True %}
									<!--
										요청된 휴가계획서 표시
									-->
										<form method="POST" action="{% url 'hr-vacation-control' %}"  enctype="multipart/form-data">
											{% csrf_token %}
											{% include 'hr/hr_vacation_control_plan_registered_plan_summary.html' %}
										</form>
									{% else %}
									{% endif %}
								{% endif %}
							{% endfor %}


							<!--
								선택되지 않은 휴가계획서
							-->
							{% for q_document_issued in qs_document_issued_approved_vacation %}
								{% if q_mysettings_xxx.document_issued == q_document_issued %}
								{% else %}
									{% if q_document_issued.vacation_plan.check_hr_xxx_document_plan_request_to_hr_activated == True or q_document_issued.vacation_plan.check_hr_vc_plan_request_from_hr_activated == True %}
									{% else %}
									<!--
										요청되지 않은 휴가계획서
									-->
									<!--
										선택되지 않은 모든 휴가계획서는 세부내용을 볼 수 없음
									-->
										<form method="POST" action="{% url 'hr-vacation-control' %}"  enctype="multipart/form-data">
											{% csrf_token %}
											{% include 'hr/hr_vacation_control_plan_registered_plan_summary.html' %}
										</form>
									{% endif %}
								{% endif %}
							{% endfor %}


						</table>
					</div>

				</fieldset>
			</div>
		</div>

	{% else %}
		<!--
			수동등록중인 휴가계획서 내용 표시
		-->
		<div class="col-md-9">
			<div class="content-section">
				<fieldset class="form-group">
					<legend class="border-bottom mb-4">
						수동등록중인 멤버 휴가계획서
					</legend>

					<div class="card card-body" style="background-color:rgb(240,240,240,0.5)">

					<table class="table table-sm">
						<tr>
							<th>이름</th>
							<th>입사일</th>
							<th>미사용 만료 이월된<br>직전년차 연차개수</th>
							<th>이번년차 받은 연차개수</th>
							<th>신청중인 연차개수</th>
							<th>사용된 연차개수</th>
							<th>미사용 만료된 연차개수</th>
							<th>미사용 만료 이월된<br>이번년차 연차개수</th>
							<th>사용가능한 연차개수</th>
							<th>연차외 휴가개수</th>
							<th>선택한근무년차/<br>현재근무년차</th>
						</tr>
						<!--
							선택된 휴가계획서
						-->
						{% for q_document_issued in qs_document_issued_approved_vacation %}
							{% if q_mysettings_hr.vacation_plan_register == q_document_issued %}
								{% if q_mysettings_hr.vacation_plan_register.vacation_control != Null %}
									{% include 'hr/hr_vacation_control_plan_registered_vacation_plan_control.html' %}
								{% else %}
									<tr  style="background-color:rgb(255,255,255,0.85)">
										<td colspan="11" class="text-center">
											등록하려는 휴가계획서의 근무년차가 지정되지 않았습니다.
										</td>
									</tr>
								{% endif %}
								{% include 'hr/hr_vacation_control_plan_registered_vacation_plan_table_row.html' %}
							{% endif %}
						{% endfor %}
					</table>
				</fieldset>
			</div>
		</div>
	{% endif %}





	<div class="col-md-3">

		<form method="POST" action="{% url 'hr-vacation-control' %}"  enctype="multipart/form-data">
			{% csrf_token %}
			<ul class="nav nav-tabs">
				{% for ITEM in LIST_HR_VACATION_CONTROL_PLAN_SUBMENU_TYPE %}
					<li class="nav-item">
						<button type="submit" name="button-hr-vacation-control-type-switch-submenu-plan" value="{{ ITEM.0 }}"
						{% if q_mysettings_hr.vacation_control_plan_submenu_type == ITEM.0 %}
							class="btn btn-dark btn-sm"
						{% else %}
							class="nav-link"
						{% endif %}
						>
							{{ ITEM.1 }}
						</button>
					</li>
				{% endfor %}
			</ul>
		</form>
		<hr>

		<!--
			휴가계획서 자동 / 수동 등록
		-->
		{% if q_mysettings_hr.vacation_control_plan_submenu_type == LIST_HR_VACATION_CONTROL_PLAN_SUBMENU_TYPE.0.0 %}
			{% include 'hr/hr_vacation_control_plan_form_register_plan_automatically.html' %}
		{% elif q_mysettings_hr.vacation_control_plan_submenu_type == LIST_HR_VACATION_CONTROL_PLAN_SUBMENU_TYPE.1.0 %}
			{% include 'hr/hr_vacation_control_plan_form_register_plan_manually.html' %}
		{% elif q_mysettings_hr.vacation_control_plan_submenu_type == LIST_HR_VACATION_CONTROL_PLAN_SUBMENU_TYPE.2.0 %}
			{% include 'hr/hr_vacation_control_plan_form_registered_plan_download.html' %}
		{% else %}
			휴가계획서 입력양식이 지정되지 않았습니다.
		{% endif %}



	</div>


<div class="row">





