{% load crispy_forms_tags %}
{% load bootstrap %}
{% load static %}




<form method="POST" action="{% url 'hr-vacation-control' %}"  enctype="multipart/form-data">
	{% csrf_token %}

	<div class="content-section">
		<fieldset class="form-group">
			<legend class="border-bottom mb-4">등록된 휴가계획서 파일로 내려받기</legend>
			<div class="card card-body" style="background-color:rgb(240,240,240,0.5);">
				<table class="table">
					{% if request.user.member.id in q_authority.auth_hr_validation or request.user.is_superuser == True %}
						<tr>
							<th colspan="3">
								멤버 휴가계획서 파일 다운로드 
							</th>
						</tr>
						<tr>
							<th>
								내용 선택
							</th>
							<td style="background-color:rgb(255,255,255,0.85);">
								<input type="radio" name="vc-plan-file-download-status-working-year-type" value="last" checked> 현재 근무년차만</input>
							</td>
							<td style="background-color:rgb(255,255,255,0.85);">
								<input type="radio" name="vc-plan-file-download-status-working-year-type" value="all"> 모든 근무년차</input>
							</td>
						</tr>
						<tr>
							<td class="text-right" colspan="3">
								<button type="submit" name="button-hr-vc-plan-autoregister-download-file" value="true" class="btn btn-info btn-sm">
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-arrow-down" viewBox="0 0 16 16">
										<path d="M8.5 6.5a.5.5 0 0 0-1 0v3.793L6.354 9.146a.5.5 0 1 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 10.293V6.5z"/>
										<path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
									</svg>
									Download File
								</button>
							</td>
						</tr>
					{% else %}
					<tr>
						<th colspan="3">
							파일 다운 권한이 없습니다. 관리자에게 문의하세요.
						</th>
					</tr>
					{% endif %}
				</table>

			</div>
		</fieldset>
	</div>
</form>

