{% load crispy_forms_tags %}
{% load bootstrap %}
{% load static %}



<!--
	휴가 승인 과정
-->
<legend>
	<strong>
		승인과정
	</strong>
</legend>
<table class="table">
	<tr>
		<th>
			실행
		</th>
		<th>
			사용자
		</th>
		<th>
			단계
		</th>
		<th>
			시간
		</th>
		<th>
			내용
		</th>
		<th>
			코멘트
		</th>
	</tr>

	<!--
		상신자 내용
	-->
	<tr style="background-color:rgb(255,255,255,0.85)">
		<td>
			상신
		</td>
		<td>
			{{ q_vacation_plan.hrlayout_applicant }}
			{% if q_vacation_plan.hrlayout_applicant.check_division_leader != True and q_vacation_plan.hrlayout_applicant.check_company_leader != True %}
				({{ q_vacation_plan.hrlayout_applicant.team.team_name }} / {{ q_vacation_plan.hrlayout_applicant.division.division_name }})
			{% else %}
				{% if q_vacation_plan.hrlayout_applicant.check_division_leader == True %}
					({{ q_vacation_plan.hrlayout_applicant.division.division_name }})
				{% else %}
					({{ q_vacation_plan.hrlayout_applicant.company.company_name }})
				{% endif %}
			{% endif %}
		</td>
		<td>
			상신자
		</td>
		<td>
			{{ q_vacation_plan.datetime_submission|date:"Y-m-d H:i" }}
		</td>
		<td>
			결재요청
		</td>
		<td>

		</td>
	</tr>

	<!--
		승인자 팀장 내용
	-->
	{% if q_vacation_plan.hrlayout_approver_teamleader != Nulll %}
		<tr style="background-color:rgb(255,255,255,0.85)">
			<td>
				결재자
			</td>
			<td>
				{{ q_vacation_plan.hrlayout_approver_teamleader }}
				{% if q_vacation_plan.hrlayout_approver_teamleader.check_division_leader != True and q_vacation_plan.hrlayout_approver_teamleader.check_company_leader != True %}
					({{ q_vacation_plan.hrlayout_approver_teamleader.team.team_name }} / {{ q_vacation_plan.hrlayout_approver_teamleader.division.division_name }})
				{% else %}
					{% if q_vacation_plan.hrlayout_approver_teamleader.check_division_leader == True %}
						({{ q_vacation_plan.hrlayout_approver_teamleader.division.division_name }})
					{% else %}
						({{ q_vacation_plan.hrlayout_approver_teamleader.company.company_name }})
					{% endif %}
				{% endif %}
			</td>
			<td>
				팀장
			</td>
			<td>
				{{ q_vacation_plan.datetime_approval_teamleader|date:"Y-m-d H:i" }}
			</td>
			<td>
				{% if q_vacation_plan.status_vacation_plan == STATUS_MY_VACATION_PLAN.1.0 or q_vacation_plan.status_vacation_plan == STATUS_MY_VACATION_PLAN.2.0 or q_vacation_plan.status_vacation_plan == STATUS_MY_VACATION_PLAN.3.0 %}
					{% if q_vacation_plan.check_approver_teamleader_approved == True %}
						승인함
					{% endif %}
				{% elif q_vacation_plan.status_vacation_plan == STATUS_MY_VACATION_PLAN.4.0 %}
					승인함
				{% elif q_vacation_plan.status_vacation_plan == STATUS_MY_VACATION_PLAN.5.0 %}
					{% if q_vacation_plan.check_approver_divisionleader_approved == Nulll %}
						거절함
					{% else %}
						승인함
					{% endif%}
				{% endif %}
			</td>
			<td>
				{% if q_vacation_plan.status_vacation_plan == STATUS_MY_VACATION_PLAN.1.0 or q_vacation_plan.status_vacation_plan == STATUS_MY_VACATION_PLAN.2.0 or q_vacation_plan.status_vacation_plan == STATUS_MY_VACATION_PLAN.3.0 %}
					{% if q_vacation_plan.check_approver_teamleader_approved == True %}
						{% for k_hrlayout_id_str, v_comment in q_vacation_plan.dict_vc_plan_approval_reason_accept.items %}
							{% if q_vacation_plan.hrlayout_approver_teamleader.id|slugify == k_hrlayout_id_str %}
								{{ v_comment }}
							{% endif %}
						{% endfor %}
					{% endif %}
				{% elif q_vacation_plan.status_vacation_plan == STATUS_MY_VACATION_PLAN.4.0 %}
					{% for k_hrlayout_id_str, v_comment in q_vacation_plan.dict_vc_plan_approval_reason_accept.items %}
						{% if q_vacation_plan.hrlayout_approver_teamleader.id|slugify == k_hrlayout_id_str %}
							{{ v_comment }}
						{% endif %}
					{% endfor %}
				{% elif q_vacation_plan.status_vacation_plan == STATUS_MY_VACATION_PLAN.5.0 %}
					{% if q_vacation_plan.check_approver_divisionleader_approved == Nulll %}
						{{ q_vacation_plan.reject_reason }}
					{% else %}
						{% for k_hrlayout_id_str, v_comment in q_vacation_plan.dict_vc_plan_approval_reason_accept.items %}
							{% if q_vacation_plan.hrlayout_approver_teamleader.id|slugify == k_hrlayout_id_str %}
								{{ v_comment }}
							{% endif %}
						{% endfor %}
					{% endif%}
				{% endif %}
			</td>
		</tr>
	{% endif %}

	<!--
		승인자 부서장 내용
	-->
	{% if q_vacation_plan.hrlayout_approver_divisionleader != Nulll %}
		<tr style="background-color:rgb(255,255,255,0.85)">
			<td>
				결재자
			</td>
			<td>
				{{ q_vacation_plan.hrlayout_approver_divisionleader }}
				{% if q_vacation_plan.hrlayout_approver_divisionleader.check_division_leader != True and q_vacation_plan.hrlayout_approver_divisionleader.check_company_leader != True %}
					({{ q_vacation_plan.hrlayout_approver_divisionleader.team.team_name }} / {{ q_vacation_plan.hrlayout_approver_divisionleader.division.division_name }})
				{% else %}
					{% if q_vacation_plan.hrlayout_approver_divisionleader.check_division_leader == True %}
						({{ q_vacation_plan.hrlayout_approver_divisionleader.division.division_name }})
					{% else %}
						({{ q_vacation_plan.hrlayout_approver_divisionleader.company.company_name }})
					{% endif %}
				{% endif %}
			</td>
			<td>
				부서장
			</td>
			<td>
				{{ q_vacation_plan.datetime_approval_divisionleader|date:"Y-m-d H:i" }}
			</td>
			<td>
				{% if q_vacation_plan.status_vacation_plan == STATUS_MY_VACATION_PLAN.1.0 or q_vacation_plan.status_vacation_plan == STATUS_MY_VACATION_PLAN.2.0 or q_vacation_plan.status_vacation_plan == STATUS_MY_VACATION_PLAN.3.0 %}
					{% if q_vacation_plan.check_approver_divisionleader_approved == True %}
						승인함
					{% endif %}
				{% elif q_vacation_plan.status_vacation_plan == STATUS_MY_VACATION_PLAN.4.0 %}
					승인함
				{% elif q_vacation_plan.status_vacation_plan == STATUS_MY_VACATION_PLAN.5.0 %}
					{% if q_vacation_plan.hrlayout_approver_companyleader == Nulll %}
						거절함
					{% else %}
						승인함
					{% endif%}
				{% endif %}
			</td>
			<td>
				{% if q_vacation_plan.status_vacation_plan == STATUS_MY_VACATION_PLAN.1.0 or q_vacation_plan.status_vacation_plan == STATUS_MY_VACATION_PLAN.2.0 or q_vacation_plan.status_vacation_plan == STATUS_MY_VACATION_PLAN.3.0 %}
					{% if q_vacation_plan.check_approver_divisionleader_approved == True %}
						{% for k_hrlayout_id_str, v_comment in q_vacation_plan.dict_vc_plan_approval_reason_accept.items %}
							{% if q_vacation_plan.hrlayout_approver_divisionleader.id|slugify == k_hrlayout_id_str %}
								{{ v_comment }}
							{% endif %}
						{% endfor %}
					{% endif %}
				{% elif q_vacation_plan.status_vacation_plan == STATUS_MY_VACATION_PLAN.4.0 %}
					{% for k_hrlayout_id_str, v_comment in q_vacation_plan.dict_vc_plan_approval_reason_accept.items %}
						{% if q_vacation_plan.hrlayout_approver_divisionleader.id|slugify == k_hrlayout_id_str %}
							{{ v_comment }}
						{% endif %}
					{% endfor %}
				{% elif q_vacation_plan.status_vacation_plan == STATUS_MY_VACATION_PLAN.5.0 %}
					{% if q_vacation_plan.check_approver_companyleader_approved == Nulll %}
						{{ q_vacation_plan.reject_reason }}
					{% else %}
						{% for k_hrlayout_id_str, v_comment in q_vacation_plan.dict_vc_plan_approval_reason_accept.items %}
							{% if q_vacation_plan.hrlayout_approver_divisionleader.id|slugify == k_hrlayout_id_str %}
								{{ v_comment }}
							{% endif %}
						{% endfor %}
					{% endif%}
				{% endif %}
			</td>
		</tr>
	{% endif %}


	<!--
		승인자 회사장 내용
	-->
	{% if q_vacation_plan.hrlayout_approver_companyleader != Nulll %}
		<tr style="background-color:rgb(255,255,255,0.85)">
			<td>
				결재자
			</td>
			<td>
				{{ q_vacation_plan.hrlayout_approver_companyleader }}
				{% if q_vacation_plan.hrlayout_approver_companyleader.check_division_leader != True and q_vacation_plan.hrlayout_approver_companyleader.check_company_leader != True %}
					({{ q_vacation_plan.hrlayout_approver_companyleader.team.team_name }} / {{ q_vacation_plan.hrlayout_approver_companyleader.division.division_name }})
				{% else %}
					{% if q_vacation_plan.hrlayout_approver_companyleader.check_division_leader == True %}
						({{ q_vacation_plan.hrlayout_approver_companyleader.division.division_name }})
					{% else %}
						({{ q_vacation_plan.hrlayout_approver_companyleader.company.company_name }})
					{% endif %}
				{% endif %}
			</td>
			<td>
				회사장
			</td>
			<td>
				{{ q_vacation_plan.datetime_approval_companyleader|date:"Y-m-d H:i" }}
			</td>
			<td>
				{% if q_vacation_plan.status_vacation_plan == STATUS_MY_VACATION_PLAN.4.0 %}
					승인함
				{% elif q_vacation_plan.status_vacation_plan == STATUS_MY_VACATION_PLAN.5.0 %}
					거절함
				{% endif %}
			</td>
			<td>
				{% if q_vacation_plan.status_vacation_plan == STATUS_MY_VACATION_PLAN.4.0 %}
					{% for k_hrlayout_id_str, v_comment in q_vacation_plan.dict_vc_plan_approval_reason_accept.items %}
						{% if q_vacation_plan.hrlayout_approver_companyleader.id|slugify == k_hrlayout_id_str %}
							{{ v_comment }}
						{% endif %}
					{% endfor %}
				{% elif q_vacation_plan.status_vacation_plan == STATUS_MY_VACATION_PLAN.5.0 %}
					{{ q_vacation_plan.reject_reason }}
				{% endif %}
			</td>
		</tr>
	{% endif %}


	<!--
		코멘트 내용
	-->
	{% if q_vacation_plan.dict_comment != Nulll and q_vacation_plan.dict_comment|length > 0 %}
		<tr style="background-color:rgb(255,255,255,0.85)">
			<td>
				인사팀 코멘트
			</td>
			<td colspan="5">
				{% for k_member_id_str, v_comment in q_vacation_plan.dict_comment.items %}
					{{ v_comment }}
				{% endfor %}
			</td>

		</tr>
	{% endif %}

</table>

