{% load crispy_forms_tags %}
{% load bootstrap %}
{% load static %}



<td>
	<input type="checkbox" name="checkbox-hr-vacation-control-select-vacation-control" value="{{ q_vacation_control.id }}"
	{% if q_vacation_control.id in q_mysettings_hr.list_vacation_control_id_selected %}
		checked
	{% endif %}
	>
	<button type="submit" name="button-hr-vacation-control-select-vacation-control" value="{{ q_vacation_control.id }}" class="btn btn-link btn-sm">
		{{ q_vacation_control.owner.profile.name_korean }}
	</button>
</td>
<td>
	{% if q_vacation_control.owner.profile.date_joined != Null %}
		{{ q_vacation_control.owner.profile.date_joined|date:"Y-m-d" }}
	{% else %}
		<button type="submit" name="button-hr-vacation-control-activate-form-profile-date-joined" value="{{ q_vacation_control.owner.profile.id }}" class="btn btn-warning btn-sm" >
			N/A
		</button>
	{% endif %}
</td>
<td>
	{{ q_vacation_control.vc_count_revived_prev_unused_expired_total }}
</td>
<td>
	{{ q_vacation_control.vc_count_issued_total }}
</td>
<td>
	{{ q_vacation_control.vc_count_underapproval_total }}
</td>
<td>
	{{ q_vacation_control.vc_count_used_total }}
</td>
<td>
	{{ q_vacation_control.vc_count_unused_expired_total }}
</td>
<td>
	{{ q_vacation_control.vc_count_revived_unused_expired_total }}
</td>
<td>
	{{ q_vacation_control.vc_count_available_total }}
</td>
<td>
	{{ q_vacation_control.list_vc_issued_additionally|length }}
</td>
<td>
	{% if q_vacation_control.status_working_year == 1 %}
		<a type="button" href="#" class="btn btn-warning btn-sm" >
			{% if where_am_i == 'hr' %}
				{{ q_vacation_control.status_working_year }} 년차 ({{ q_vacation_control.status_working_month_first_year }}) / {{ q_vacation_control.owner.profile.status_working_year }} 년차
			{% else %}
				{{ q_vacation_control.status_working_year }} 년차 ({{ q_vacation_control.status_working_month_first_year }})
			{% endif %}
		</a>
	{% else %}
		{% if where_am_i == 'hr' %}
			{{ q_vacation_control.status_working_year }} 년차 / {{ q_vacation_control.owner.profile.status_working_year }} 년차
		{% else %}
			{{ q_vacation_control.status_working_year }} 년차
		{% endif %}
	{% endif %}
</td>
