{% load crispy_forms_tags %}
{% load bootstrap %}
{% load static %}



<tr
	{% if q_vacation_plan.check_hr_vc_plan_request_from_hr_activated == True %}
		style="background-color:rgba(255, 0, 255, 0.15)"
	{% else %}
		{% if q_vacation_plan == q_mysettings_xxx.vacation_plan or q_vacation_plan.id in q_mysettings_xxx.list_vacation_plan_id_selected %}
			style="background-color:rgba(255, 255, 0, 0.15);"
		{% else %}
			{% if q_vacation_plan.id in q_mysettings_xxx.list_vacation_plan_id_searched  %}
				style="background-color:rgba(0, 255, 255, 0.15);"
			{% else %}
			{% endif %}
		{% endif %}
	{% endif %}
>

	<td></td>
	<td colspan="12">

		<!--
			휴가 계획서 Communication 내용
		-->

		<div class="card card-body" style="background-color:rgb(240,240,240,0.5);">
			<legend>
				<strong>
					휴가계획서 자료보충 요청
				</strong>

				{% if q_vacation_plan.check_hr_vc_plan_request_from_hr_activated == True %}
					<!-- 인사팀으로 부터 요청이 온 경우 -->
					<span>
						{% if where_am_i == 'my' and request.user == q_vacation_plan.owner %}
						<!-- 사용자 -->
							{% if q_vacation_plan.status_vacation_plan_requested_from_hr == STATUS_MY_VACATION_PLAN_REQUEST_FROM_HR.1.0 %}
								<span class="badge badge-warning">요청 받음</span>
							{% elif q_vacation_plan.status_vacation_plan_requested_from_hr == STATUS_MY_VACATION_PLAN_REQUEST_FROM_HR.3.0 %}
								<span class="badge badge-primary">응답 보냄</span>
							{% elif q_vacation_plan.status_vacation_plan_requested_from_hr == STATUS_MY_VACATION_PLAN_REQUEST_FROM_HR.4.0 %}
								<span class="badge badge-success">요청 해결 완료</span>
							{% else %}
								<span class="badge badge-secondary">진행중</span>
							{% endif %}
						{% else %}
						<!-- 인사팀 -->
							{% if q_vacation_plan.status_vacation_plan_requested_from_hr == STATUS_MY_VACATION_PLAN_REQUEST_FROM_HR.1.0 %}
								<span class="badge badge-primary">요청 완료</span>
							{% elif q_vacation_plan.status_vacation_plan_requested_from_hr == STATUS_MY_VACATION_PLAN_REQUEST_FROM_HR.3.0 %}
								<span class="badge badge-warning">응답 도착</span>
							{% elif q_vacation_plan.status_vacation_plan_requested_from_hr == STATUS_MY_VACATION_PLAN_REQUEST_FROM_HR.4.0 %}
								<span class="badge badge-success">요청 해결 완료</span>
							{% else %}
								<span class="badge badge-secondary">진행중</span>
							{% endif %}
						{% endif %}
					</span>
				{% else %}
				<!-- 인사팀으로 부터 요청이 안온 경우 -->
				{{ q_vacation_plan.status_vacation_plan_requested_from_hr }}
					{% if q_vacation_plan.status_vacation_plan_requested_from_hr == STATUS_MY_VACATION_PLAN_REQUEST_FROM_HR.4.0 %}
						<span class="badge badge-success">요청 해결 완료</span>
					{% else %}
					{% endif %}

				{% endif %}

			</legend>


			<div class="text-right">
				{% if where_am_i == 'hr' %}
					<!-- 인사팀 화면 -->

					{% if q_vacation_plan.status_vacation_plan_requested_from_hr != STATUS_MY_VACATION_PLAN_REQUEST_FROM_HR.4.0  %}
					<!-- 완료 아닌 상태 -->
						{% if q_vacation_plan.check_hr_vc_plan_request_from_hr_activated == True %}
							{% if q_vacation_plan.status_vacation_plan_requested_from_hr == STATUS_MY_VACATION_PLAN_REQUEST_FROM_HR.1.0 %}
								<button type="submit" name="button-hr-vacation-control-vacation-plan-cancel-request-cancel" value="{{ q_vacation_plan.id }}" class="btn btn-link btn-sm">
									요청내용 취소하기
								</button>
							{% elif q_vacation_plan.status_vacation_plan_requested_from_hr == STATUS_MY_VACATION_PLAN_REQUEST_FROM_HR.3.0 %}
								<button type="submit" name="button-hr-vacation-control-vacation-plan-request-from-hr-submit" value="{{ q_vacation_plan.id }}" class="btn btn-link btn-sm">
									멤버에게 재요청하기
								</button>
								<button type="submit" name="button-hr-vacation-control-vacation-plan-request-from-hr-dismiss" value="{{ q_vacation_plan.id }}" class="btn btn-link btn-sm">
									응답결과 수용 및 종료하기
								</button>
							{% else %}
							{% endif %}
						{% else %}
							<button type="submit" name="button-hr-vacation-control-vacation-plan-request-from-hr-submit" value="{{ q_vacation_plan.id }}" class="btn btn-link btn-sm">
								멤버에게 요청하기
							</button>
						{% endif %}
					{% else %}
					<!-- 완료 상태 -->
						{% if q_vacation_plan.check_hr_vc_plan_request_from_hr_activated == False %}
						<!-- 정정/취소요청 완료된 상태 프로세스 종료-->
							<button type="submit" name="button-hr-vacation-control-vacation-plan-request-from-hr-submit" value="{{ q_vacation_plan.id }}" class="btn btn-link btn-sm">
								멤버에게 재요청하기
							</button>
						{% else %}
						<!-- 정정/취소요청 완료 후 상태 프로세스 재개시 된 상태-->
							{% if q_vacation_plan.status_vacation_plan_requested_from_hr == STATUS_MY_VACATION_PLAN_REQUEST_FROM_HR.1.0 %}
								<button type="submit" name="button-hr-vacation-control-vacation-plan-cancel-request-cancel" value="{{ q_vacation_plan.id }}" class="btn btn-link btn-sm">
									요청내용 취소하기
								</button>
							{% elif q_vacation_plan.status_vacation_plan_requested_from_hr == STATUS_MY_VACATION_PLAN_REQUEST_FROM_HR.3.0 %}
								<button type="submit" name="button-hr-vacation-control-vacation-plan-request-from-hr-submit" value="{{ q_vacation_plan.id }}" class="btn btn-link btn-sm">
									멤버에게 재요청하기
								</button>
								<button type="submit" name="button-hr-vacation-control-vacation-plan-request-from-hr-dismiss" value="{{ q_vacation_plan.id }}" class="btn btn-link btn-sm">
									응답결과 수용 및 종료하기
								</button>
							{% endif %}
						{% endif %}

					{% endif %}




				{% elif where_am_i == 'my' %}
				<!--
					사용자 화면
				-->

					{% if request.user == q_vacation_plan.owner %}

						{% if q_vacation_plan.check_hr_vc_plan_request_from_hr_activated == True %}
							{% if q_vacation_plan.status_vacation_plan_requested_from_hr == STATUS_MY_VACATION_PLAN_REQUEST_FROM_HR.1.0 %}
								<button type="submit" name="button-hr-vacation-control-vacation-plan-request-reply-confirm" value="{{ q_vacation_plan.id }}" class="btn btn-link btn-sm">
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-reply" viewBox="0 0 16 16">
										<path d="M6.598 5.013a.144.144 0 0 1 .202.134V6.3a.5.5 0 0 0 .5.5c.667 0 2.013.005 3.3.822.984.624 1.99 1.76 2.595 3.876-1.02-.983-2.185-1.516-3.205-1.799a8.74 8.74 0 0 0-1.921-.306 7.404 7.404 0 0 0-.798.008h-.013l-.005.001h-.001L7.3 9.9l-.05-.498a.5.5 0 0 0-.45.498v1.153c0 .108-.11.176-.202.134L2.614 8.254a.503.503 0 0 0-.042-.028.147.147 0 0 1 0-.252.499.499 0 0 0 .042-.028l3.984-2.933zM7.8 10.386c.068 0 .143.003.223.006.434.02 1.034.086 1.7.271 1.326.368 2.896 1.202 3.94 3.08a.5.5 0 0 0 .933-.305c-.464-3.71-1.886-5.662-3.46-6.66-1.245-.79-2.527-.942-3.336-.971v-.66a1.144 1.144 0 0 0-1.767-.96l-3.994 2.94a1.147 1.147 0 0 0 0 1.946l3.994 2.94a1.144 1.144 0 0 0 1.767-.96v-.667z"/>
									</svg>
									요청 내용 응답하기
								</button>
							{% elif q_vacation_plan.status_vacation_plan_requested_from_hr == STATUS_MY_VACATION_PLAN_REQUEST_FROM_HR.3.0 %}
							{% elif q_vacation_plan.status_vacation_plan_requested_from_hr == STATUS_MY_VACATION_PLAN_REQUEST_FROM_HR.4.0 %}
							{% endif %}

						{% endif %}


					{% endif %}

				{% else %}
				{% endif %}
			</div>

			<!-- 휴가계획서 자료요청 내용 및 응답 내용-->

			{% include 'hr/hr_vacation_control_plan_registered_plan_detail_communication_request_from_hr_content.html' %}

		</div>

	</td>
</tr>

