{% load crispy_forms_tags %}
{% load bootstrap %}
{% load static %}




<td>
	{% for ITEM in LIST_VACATION_TYPES %}
		{% if ITEM.0 == q_vacation_issued_mine.vacation_type %}
			{{ ITEM.1 }}
		{% endif %}
	{% endfor %}
</td>
<td>
	{{ q_vacation_issued_mine.credit }}
</td>
<td>
	{% if q_vacation_issued_mine.check_issued_regularly == True %}
		{% if q_vacation_issued_mine.status == 'REVIVED' %}
			정기발행(이월된연차)
		{% else %}
			정기발행({{ q_vacation_issued_mine.vacation_control.status_working_year }}년차)
		{% endif %}
	{% else %}
		비정기발행({{ q_vacation_issued_mine.vacation_control.status_working_year }}년차)
	{% endif %}
</td>
<td>
	{% if q_vacation_issued_mine.status == 'VALID' %}
		<a type="button" href="#" class="btn btn-success btn-sm" > 사용가능</a>
	{% elif q_vacation_issued_mine.status == 'REVIVED' %}
		<a type="button" href="#" class="btn btn-success btn-sm" > 사용가능</a>
	{% elif q_vacation_issued_mine.status == 'UNDERAPPROVAL' %}
		<a type="button" href="#" class="btn btn-primary btn-sm" > 승인요청중</a>
	{% elif q_vacation_issued_mine.status == 'USED' %}
	 	<a type="button" href="#" class="btn btn-dark btn-sm" > 모두사용</a>
	{% elif q_vacation_issued_mine.status == 'REFUNDED' %}
		<a type="button" href="#" class="btn btn-warning btn-sm" > 돈으로지급</a>
	{% elif q_vacation_issued_mine.status == 'EXPIRED' %}
		<a type="button" href="#" class="btn btn-secondary btn-sm" > 사용만료</a>
	{% elif q_vacation_issued_mine.status == 'INVALID' %}
		<a type="button" href="#" class="btn btn-danger btn-sm" > 사용중지</a>
	{% else %}
	{% endif %}
</td>
<td>
	{{ q_vacation_issued_mine.date_issued|date:"Y-m-d" }} ~ {{ q_vacation_issued_mine.date_expired|date:"Y-m-d" }}
</td>

<td>
	{% if where_am_i == 'hr' %}
		{% if q_vacation_issued_mine.list_linked_vacation_plan != Null %}
			{% for q_vacation_plan_mine in qs_vacation_plan_mine %}
				{% if q_vacation_plan_mine.id in q_vacation_issued_mine.list_linked_vacation_plan %}
					<button type="submit" name="button-hr-vacation-control-document-info-modal-view-open" value="{{ q_vacation_plan_mine.id }}" class="btn btn-link btn-sm" >
						휴가계획서({{ q_vacation_plan_mine.datetime_start|date:"Y-m-d" }} - {{ q_vacation_plan_mine.datetime_end|date:"Y-m-d" }})
					</button>
					<br>
				{% endif %}
			{% endfor %}
		{% else %}
			None
		{% endif %}
	{% elif where_am_i == 'my' %}
		{% if q_vacation_issued_mine.list_linked_vacation_plan != Null %}
			{% for q_vacation_plan_mine in qs_vacation_plan_mine %}
				{% if q_vacation_plan_mine.id in q_vacation_issued_mine.list_linked_vacation_plan %}
					<button type="submit" name="button-hr-vacation-control-document-info-modal-view-open" value="{{ q_vacation_plan_mine.id }}" class="btn btn-link btn-sm" >
						휴가계획서({{ q_vacation_plan_mine.datetime_start|date:"Y-m-d" }} - {{ q_vacation_plan_mine.datetime_end|date:"Y-m-d" }})
					</button>
					<br>
				{% endif %}
			{% endfor %}
		{% else %}
			None
		{% endif %}
	{% endif %}
</td>
<td class="text-right">
	{% if where_am_i == 'hr' %}
		{% if request.user.is_superuser == True or request.user.profile.check_hr_head == True or request.user.member.id in q_authority.auth_hr_design %}
			<button type="submit" name="button-hr-vacation-control-vacation-issued-modify-activate" value="{{ q_vacation_issued_mine.id }}" class="btn btn-link btn-sm"
			{% if q_vacation_issued_mine.status == 'EXPIRED' %}
				disabled
			{% endif %}
			>
			{% if q_mysettings_xxx.vacation_issued == q_vacation_issued_mine %}
				{% if q_mysettings_xxx.check_activate_detail_vacation_issued_modification_view == False %}
					수정하기창 펼치기
				{% else %}
					수정하기창 접기
				{% endif %}
			{% else %}
				수정하기창 펼치기
			{% endif %}

			</button>
			{% if q_vacation_issued_mine.status_vacation_issued_requested_to_hr == STATUS_MY_VACATION_ISSUED_REQUEST_TO_HR.1.0 %}
				<span class="badge badge-danger">문제수정요청</span>
			{% elif q_vacation_issued_mine.status_vacation_issued_requested_to_hr == STATUS_MY_VACATION_ISSUED_REQUEST_TO_HR.2.0 %}
				<span class="badge badge-dark">문제해결중</span>
			{% elif q_vacation_issued_mine.status_vacation_issued_requested_to_hr == STATUS_MY_VACATION_ISSUED_REQUEST_TO_HR.3.0 %}
				<span class="badge badge-primary">문제수정완료고지</span>
			{% elif q_vacation_issued_mine.status_vacation_issued_requested_to_hr == STATUS_MY_VACATION_ISSUED_REQUEST_TO_HR.4.0 %}
				<span class="badge badge-success">문제해결</span>
			{% endif %}
			<button type="submit" name="button-hr-vacation-control-vacation-issued-revive-activate" value="{{ q_vacation_issued_mine.id }}" class="btn btn-link btn-sm"
			{% if q_vacation_issued_mine.status == 'EXPIRED' %}
				disabled
			{% endif %}
			>
				Revive
			</button>
			<button type="submit" name="button-hr-vacation-control-vacation-issued-delete" value="{{ q_vacation_issued_mine.id }}" class="btn btn-link btn-sm"
			{% if q_vacation_issued_mine.check_issued_regularly == True or q_vacation_issued_mine.status == 'EXPIRED' %}
				disabled
			{% endif %}
			>
				Delete
			</button>
		{% endif %}
	{% elif where_am_i == 'my' %}
<!--
		<button type="submit" name="button-my-vacation-control-vacation-issued-request-activate" value="{{ q_vacation_issued_mine.id }}" class="btn btn-link btn-sm" >
			{% if q_mysettings_xxx.vacation_issued == q_vacation_issued_mine %}
				{% if q_mysettings_xxx.check_vc_issued_request_to_hr_communication_panel_show == False %}
					수정요청창 펼치기
				{% else %}
					수정요청창 접기
				{% endif %}
			{% else %}
				수정요청창 펼치기
			{% endif %}
		</button>

		{% if q_vacation_issued_mine.status_vacation_issued_requested_to_hr == STATUS_MY_VACATION_ISSUED_REQUEST_TO_HR.1.0 %}
			<span class="badge badge-danger">문제수정요청</span>
		{% elif q_vacation_issued_mine.status_vacation_issued_requested_to_hr == STATUS_MY_VACATION_ISSUED_REQUEST_TO_HR.2.0 %}
			<span class="badge badge-dark">문제해결중</span>
		{% elif q_vacation_issued_mine.status_vacation_issued_requested_to_hr == STATUS_MY_VACATION_ISSUED_REQUEST_TO_HR.3.0 %}
			<span class="badge badge-primary">문제수정완료고지</span>
		{% elif q_vacation_issued_mine.status_vacation_issued_requested_to_hr == STATUS_MY_VACATION_ISSUED_REQUEST_TO_HR.4.0 %}
			<span class="badge badge-success">문제해결</span>
		{% endif %} -->
	{% else %}
	{% endif %}
</td>
