{% load crispy_forms_tags %}
{% load bootstrap %}
{% load static %}



<!--
	인사팀 요청된 휴가계획서
-->

<!--
	휴가컨트롤 종합정보
-->

<form method="POST"
{% if where_am_i == 'hr' %}
	action="{% url 'hr-vacation-control' %}"
{% elif where_am_i == 'my' %}
	action="{% url 'my-vacation' %}"
{% endif %}
enctype="multipart/form-data">
	{% csrf_token %}
	{% include 'hr/hr_vacation_control_plan_registered_plan_detail_control_info.html' %}
</form>

<!--
	해당휴가계획서 디테일 정보
-->
<form method="POST"
{% if where_am_i == 'hr' %}
	action="{% url 'hr-vacation-control' %}"
{% elif where_am_i == 'my' %}
	action="{% url 'my-vacation' %}"
{% endif %}
enctype="multipart/form-data">
	{% csrf_token %}
	{% include 'hr/hr_vacation_control_plan_registered_plan_detail_plan_info.html' %}
</form>

<!--
	인사팀이 휴가계획서 정보 추가 요청
-->

{% if q_mysettings_xxx.check_vc_plan_request_from_hr_communication_panel_show == True %}
	<form method="POST"
	{% if where_am_i == 'hr' %}
		action="{% url 'hr-vacation-control' %}"
	{% elif where_am_i == 'my' %}
		action="{% url 'my-vacation' %}"
	{% endif %}
	enctype="multipart/form-data">
		{% csrf_token %}
		{% include 'hr/hr_vacation_control_plan_registered_plan_detail_communication_request_from_hr.html' %}
	</form>
{% endif %}

<!--
	사용자가 지난 휴가계획서 정정/취소 요청
-->
{% if q_mysettings_xxx.check_vc_plan_request_to_hr_communication_panel_show == True %}
	<form method="POST"
	{% if where_am_i == 'hr' %}
		action="{% url 'hr-vacation-control' %}"
	{% elif where_am_i == 'my' %}
		action="{% url 'my-vacation' %}"
	{% endif %}
	enctype="multipart/form-data">
		{% csrf_token %}
		{% include 'hr/hr_vacation_control_plan_registered_plan_detail_communication_request_to_hr.html' %}
	</form>
{% endif %}

<!--
	추가업무 입력창, 승인전 휴가계획서 취소하기
-->
{% if q_mysettings_xxx.check_activate_vc_plan_cancel_view == True %}
	<form method="POST"
		{% if where_am_i == 'hr' %}
			action="{% url 'hr-vacation-control' %}"
		{% elif where_am_i == 'my' %}
			action="{% url 'my-vacation' %}"
		{% endif %}
		enctype="multipart/form-data">
			{% csrf_token %}
			{% include 'hr/hr_vacation_control_plan_registered_plan_detail_delete_plan_before_approval.html' %}
		</form>
{% endif %}

<!--
	추가업무 관련 메뉴바
-->
<form method="POST"
{% if where_am_i == 'hr' %}
	action="{% url 'hr-vacation-control' %}"
{% elif where_am_i == 'my' %}
	action="{% url 'my-vacation' %}"
{% endif %}
enctype="multipart/form-data">
	{% csrf_token %}
	{% include 'hr/hr_vacation_control_plan_registered_plan_detail_additional_process_menu_bar.html' %}
</form>







