{% load crispy_forms_tags %}
{% load bootstrap %}
{% load static %}




	<div class="content-section">
		<fieldset class="form-group">
			<legend class="border-bottom mb-4">수동 등록</legend>
			<div class="card card-body" style="background-color:rgb(240,240,240,0.5);">

				{% if q_mysettings_hr.status_hr_vacation_plan_register_manually == STATUS_HR_VACATION_PLAN_REGISTER_MANUALLY.0.0 %}

					{% include 'hr/hr_vacation_control_plan_form_register_plan_manually_step1.html' %}

				{% elif q_mysettings_hr.status_hr_vacation_plan_register_manually == STATUS_HR_VACATION_PLAN_REGISTER_MANUALLY.1.0 %}

					{% include 'hr/hr_vacation_control_plan_form_register_plan_manually_step2.html' %}

				{% elif q_mysettings_hr.status_hr_vacation_plan_register_manually == STATUS_HR_VACATION_PLAN_REGISTER_MANUALLY.2.0 %}

					{% include 'hr/hr_vacation_control_plan_form_register_plan_manually_step3.html' %}

				{% elif q_mysettings_hr.status_hr_vacation_plan_register_manually == STATUS_HR_VACATION_PLAN_REGISTER_MANUALLY.3.0 %}

					{% include 'hr/hr_vacation_control_plan_form_register_plan_manually_step4.html' %}

				{% endif %}


			</div>
		</fieldset>
	</div>
</form>

