{% load crispy_forms_tags %}
{% load bootstrap %}
{% load static %}



<!--
	신청후 남은 휴가 내용
-->
<legend>
	<strong>
		남은휴가내용
	</strong>
</legend>
<table class="table">
	<tr>
		<th>
			받은 연차
		</th>
		<th>
			기 사용한 연차
		</th>
		<th>
			이번 휴가에 사용하는 연차
		</th>
		<th>
			남은 연차
		</th>
	</tr>
	<tr style="background-color:rgb(255,255,255,0.85)">
		<td>
			{{ q_vacation_plan.vc_count_issued_and_revied }}
		</td>
		<td>
			{{ q_vacation_plan.vc_count_used }}
		</td>
		<td>
			{{ q_vacation_plan.vc_count_plan }}
		</td>
		<td>
			{{ q_vacation_plan.vc_count_remained }}
		</td>
	</tr>
</table>
