{% load crispy_forms_tags %}
{% load bootstrap %}
{% load static %}



<!--
	등록된 맴버들 휴가계획서 표시
-->
<div
{% if q_mysettings_hr.check_display_size_vc_promotion_fullwidth == False %}
	class="col-md-9"
{% else %}
	class="col-md-12"
{% endif %}
>
	<div class="content-section">
		<fieldset class="form-group">


		<!-- 필터링 -->
			<table class="table">
				<tr>
					<td>
						<legend class="border-bottom mb-4">
							연차 소모 관리
						</legend>
					</td>


					<form method="POST" action="{% url 'hr-vacation-control' %}"  enctype="multipart/form-data">
						{% csrf_token %}
						<td>
							<select class="form-control" name="select-hr-vacation-control-promotion-sort">
								{% if q_mysettings_hr.status_vc_promotion_ordering_type == Null %}
									<option value="none" selected>정렬 방법 선택</option>
								{% else %}
									{% for ITEM in LIST_VACATION_PROMOTION_ORDERING_TYPES %}
										{% if q_mysettings_hr.status_vc_promotion_ordering_type == ITEM.0 %}
											<option value="{{ ITEM.0 }}" selected>{{ ITEM.1 }}</option>
										{% endif %}
									{% endfor %}
								{% endif %}

								{% if q_mysettings_hr.status_vc_promotion_ordering_type != Null %}
									<option value="none" >정렬 방법 선택</option>
								{% endif %}
								{% for ITEM in LIST_VACATION_PROMOTION_ORDERING_TYPES %}
									{% if q_mysettings_hr.status_vc_promotion_ordering_type != ITEM.0 %}
										<option value="{{ ITEM.0 }}">{{ ITEM.1 }}</option>
									{% endif %}
								{% endfor %}
							</select>
						</td>
						<td>
							<select class="form-control" name="select-hr-vacation-control-promotion-filter">
								{% if q_mysettings_hr.status_vacation_control == Null %}
									<option value="none" selected>알림 상태 선택</option>
								{% else %}
									{% for ITEM in STATUS_MY_VACATION_CONTROL %}
										{% if q_mysettings_hr.status_vacation_control == ITEM.0 %}
											<option value="{{ ITEM.0 }}" selected>{{ ITEM.1 }}</option>
										{% endif %}
									{% endfor %}
								{% endif %}

								{% if q_mysettings_hr.status_vacation_control != Null %}
									<option value="none" >알림 상태 정렬</option>
								{% endif %}
								{% for ITEM in STATUS_MY_VACATION_CONTROL %}
									{% if q_mysettings_hr.status_vacation_control != ITEM.0 %}
										<option value="{{ ITEM.0 }}">{{ ITEM.1 }}</option>
									{% endif %}
								{% endfor %}
							</select>
						</td>

						<td>
							<input type="text" class="form-control" name="text-hr-vacation-control-promotion-search-keyword" placeholder="검색어 입력(e.g.: 김대권)">
						</td>
						<td>
							<button type="submit" name="button-hr-vacation-control-promotion-table-search" value="true" class="btn btn-info btn-md">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
									<path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
								</svg>
								Search
							</button>
						</td>
					</form>
					<form method="POST" action="{% url 'hr-vacation-control' %}"  enctype="multipart/form-data">
						{% csrf_token %}
						<td>
							<button type="submit" name="button-hr-vacation-control-promotion-table-reset" value="true" class="btn btn-dark btn-sm">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
									<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
									<path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
								</svg>
								Reset
							</button>
						</td>
						<td>
							<button type="submit" name="button-hr-vacation-control-promotion-table-refresh" value="true" class="btn btn-light btn-sm">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
									<path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"/>
									<path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"/>
								</svg>
								Refresh
							</button>
						</td>
						<td>
							<button type="submit" name="button-hr-vacation-control-promotion-table-display-size-switch" value="true" class="btn btn-light btn-sm">
								{% if q_mysettings_hr.check_display_size_vc_promotion_fullwidth == False %}
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrows-fullscreen" viewBox="0 0 16 16">
										<path fill-rule="evenodd" d="M5.828 10.172a.5.5 0 0 0-.707 0l-4.096 4.096V11.5a.5.5 0 0 0-1 0v3.975a.5.5 0 0 0 .5.5H4.5a.5.5 0 0 0 0-1H1.732l4.096-4.096a.5.5 0 0 0 0-.707zm4.344 0a.5.5 0 0 1 .707 0l4.096 4.096V11.5a.5.5 0 1 1 1 0v3.975a.5.5 0 0 1-.5.5H11.5a.5.5 0 0 1 0-1h2.768l-4.096-4.096a.5.5 0 0 1 0-.707zm0-4.344a.5.5 0 0 0 .707 0l4.096-4.096V4.5a.5.5 0 1 0 1 0V.525a.5.5 0 0 0-.5-.5H11.5a.5.5 0 0 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 0 .707zm-4.344 0a.5.5 0 0 1-.707 0L1.025 1.732V4.5a.5.5 0 0 1-1 0V.525a.5.5 0 0 1 .5-.5H4.5a.5.5 0 0 1 0 1H1.732l4.096 4.096a.5.5 0 0 1 0 .707z"/>
									</svg>
								{% else %}
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-fullscreen-exit" viewBox="0 0 16 16">
										<path d="M5.5 0a.5.5 0 0 1 .5.5v4A1.5 1.5 0 0 1 4.5 6h-4a.5.5 0 0 1 0-1h4a.5.5 0 0 0 .5-.5v-4a.5.5 0 0 1 .5-.5zm5 0a.5.5 0 0 1 .5.5v4a.5.5 0 0 0 .5.5h4a.5.5 0 0 1 0 1h-4A1.5 1.5 0 0 1 10 4.5v-4a.5.5 0 0 1 .5-.5zM0 10.5a.5.5 0 0 1 .5-.5h4A1.5 1.5 0 0 1 6 11.5v4a.5.5 0 0 1-1 0v-4a.5.5 0 0 0-.5-.5h-4a.5.5 0 0 1-.5-.5zm10 1a1.5 1.5 0 0 1 1.5-1.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 0-.5.5v4a.5.5 0 0 1-1 0v-4z"/>
								  	</svg>
								{% endif %}
							</button>
						</td>
					</form>

				</tr>
			</table>



		<!-- 결과표시 -->
		<form method="POST" action="{% url 'hr-vacation-control' %}"  enctype="multipart/form-data">
			{% csrf_token %}
			<div class="card card-body" style="background-color:rgb(240,240,240,0.5);">

				<table class="table table-sm">
					<tr>
						<td colspan="8" class="text-left">
							<button type="submit" name="button-vc-control-promotion-select-member-vc-control-id" value="true" class="btn btn-link btn-sm">
								Select Members
							</button>
							<button type="submit" name="button-vc-control-promotion-select-member-vc-control-id-reset" value="true" class="btn btn-link btn-sm">
								Reset Select Members
							</button>
							<input type="number" name="button-vc-control-promotion-select-member-vc-control-days-from" placeholder="남은일수 from (예: 20)">
							~
							<input type="number" name="button-vc-control-promotion-select-member-vc-control-days-to" placeholder="남은일수 to (예: 55)">
						</td>
					</tr>
					<tr>
						<th>
							<input type="checkbox" name="checkbox-vc-control-promotion-select-member-vc-control-id" value="all">
						</th>
						<th width="10%">이름</th>
						<th>연차만료일</th>
						<th width="25%">연차사용진도표</th>
						<th width="25%">연차만료시간표</th>
						<th>알람고지상태</th>
						<th>1차확인일/2차확인일</th>
						<th>지정통보서</th>
					</tr>

					<!--
						선택된 휴가계획서
					-->
					{% for q_vacation_control_promotion in qs_vacation_control_promotion %}
						{% if q_mysettings_hr.vacation_control == q_vacation_control_promotion %}
							{% include 'hr/hr_vacation_control_promotion_control_table_row.html' %}
						{% else %}
						{% endif %}
					{% endfor %}

					<!--
						선택 안된 휴가계획서
					-->
					{% for q_vacation_control_promotion in qs_vacation_control_promotion %}
						{% if q_mysettings_hr.vacation_control == q_vacation_control_promotion %}
						{% else %}
							{% include 'hr/hr_vacation_control_promotion_control_table_row.html' %}
						{% endif %}
					{% endfor %}


				</table>

			</div>
		</form>

		</fieldset>
	</div>

</div>




{% if q_mysettings_hr.check_display_size_vc_promotion_fullwidth == False %}
	<div class="col-md-3">

		<form method="POST" action="{% url 'hr-vacation-control' %}"  enctype="multipart/form-data">
			{% csrf_token %}
			<ul class="nav nav-tabs">
				{% for ITEM in LIST_VACATION_PROMOTION_SUBMENU %}
					<li class="nav-item">
						<button type="submit" name="button-hr-vacation-control-promotion-switch-submenu" value="{{ ITEM.0 }}"
						{% if q_mysettings_hr.status_vacation_promotion_submenu == ITEM.0 %}
							class="btn btn-dark btn-sm"
						{% else %}
							class="nav-link"
						{% endif %}
						>
							{{ ITEM.1 }}
						</button>
					</li>
				{% endfor %}
			</ul>
		</form>

		<hr>

		<!--
			휴가계획서 자동 / 수동 등록
		-->
		{% if q_mysettings_hr.status_vacation_promotion_submenu == LIST_VACATION_PROMOTION_SUBMENU.0.0 %}
			{% include 'hr/hr_vacation_control_promotion_control_inform_manually.html' %}
		{% elif q_mysettings_hr.status_vacation_promotion_submenu == LIST_VACATION_PROMOTION_SUBMENU.1.0 %}
			{% include 'hr/hr_vacation_control_promotion_control_settings.html' %}
		{% else %}
			휴가계획서 입력양식이 지정되지 않았습니다.
		{% endif %}

	</div>
{% endif %}




	{% comment %}
		<form method="POST" action="{% url 'hr-vacation-control' %}"  enctype="multipart/form-data">
			{% csrf_token %}
			<ul class="nav nav-tabs">
				{% for ITEM in LIST_HR_VACATION_CONTROL_PLAN_SUBMENU_TYPE %}
					<li class="nav-item">
						<button type="submit" name="button-hr-vacation-control-type-switch-submenu-plan" value="{{ ITEM.0 }}"
						{% if q_mysettings_hr.vacation_control_plan_submenu_type == ITEM.0 %}
							class="btn btn-dark btn-sm"
						{% else %}
							class="nav-link"
						{% endif %}
						>
							{{ ITEM.1 }}
						</button>
					</li>
				{% endfor %}
			</ul>
		</form>
		<hr>
		<!--
			휴가계획서 자동 / 수동 등록
		-->
		{% if q_mysettings_hr.vacation_control_plan_submenu_type == LIST_HR_VACATION_CONTROL_PLAN_SUBMENU_TYPE.0.0 %}
			{% include 'hr/hr_vacation_control_plan_form_register_plan_automatically.html' %}
		{% elif q_mysettings_hr.vacation_control_plan_submenu_type == LIST_HR_VACATION_CONTROL_PLAN_SUBMENU_TYPE.1.0 %}
			{% include 'hr/hr_vacation_control_plan_form_register_plan_manually.html' %}
		{% else %}
			휴가계획서 입력양식이 지정되지 않았습니다.
		{% endif %}






		<td>
			<select class="form-control" name="select-hr-vacation-control-promotion-sort-by-consumption">
				{% if q_mysettings_hr.status_ordering_vc_promotion_by_percent_consumption == Null %}
					<option value="none" selected>연차 사용순으로 정렬</option>
				{% else %}
					{% for ITEM in LIST_VACATION_PROMOTION_SORTING_TYPES_USED_PROGRESS %}
						{% if q_mysettings_hr.status_ordering_vc_promotion_by_percent_consumption == ITEM.0 %}
							<option value="{{ ITEM.0 }}" selected>{{ ITEM.1 }}</option>
						{% endif %}
					{% endfor %}
				{% endif %}

				{% if q_mysettings_hr.status_ordering_vc_promotion_by_percent_consumption != Null %}
					<option value="none" >연차 사용순으로 정렬</option>
				{% endif %}
				{% for ITEM in LIST_VACATION_PROMOTION_SORTING_TYPES_USED_PROGRESS %}
					{% if q_mysettings_hr.status_ordering_vc_promotion_by_percent_consumption != ITEM.0 %}
						<option value="{{ ITEM.0 }}">{{ ITEM.1 }}</option>
					{% endif %}
				{% endfor %}
			</select>
		</td>
		<td>
			<select class="form-control" name="select-hr-vacation-control-promotion-sort-by-deadline">
				{% if q_mysettings_hr.status_ordering_vc_promotion_by_percent_deadline == Null %}
					<option value="none" selected>연차 만료순으로 정렬</option>
				{% else %}
					{% for ITEM in LIST_VACATION_PROMOTION_SORTING_TYPES_DEADLINE_REMAINED %}
						{% if q_mysettings_hr.status_ordering_vc_promotion_by_percent_deadline == ITEM.0 %}
							<option value="{{ ITEM.0 }}" selected>{{ ITEM.1 }}</option>
						{% endif %}
					{% endfor %}
				{% endif %}

				{% if q_mysettings_hr.status_ordering_vc_promotion_by_percent_deadline != Null %}
					<option value="none" >연차 만료순으로 정렬</option>
				{% endif %}
				{% for ITEM in LIST_VACATION_PROMOTION_SORTING_TYPES_DEADLINE_REMAINED %}
					{% if q_mysettings_hr.status_ordering_vc_promotion_by_percent_deadline != ITEM.0 %}
						<option value="{{ ITEM.0 }}">{{ ITEM.1 }}</option>
					{% endif %}
				{% endfor %}
			</select>
		</td>


	{% endcomment %}




