{% load crispy_forms_tags %}
{% load bootstrap %}
{% load static %}
{% load mathfilters %}





<table class="table">
	<tr>
		<th width="10%">
			대화내용
		</th>
		<td width="40%"  style="background-color:rgb(255,255,255,0.85)">
			{% for k_member_name, v_comment in q_vacation_plan.dict_request_talk_for_reference.items %}
				<ul>
					<li>
						{{ k_member_name }} : {{ v_comment }}
						{% if q_vacation_plan.owner.profile.name_korean == k_member_name %}
							{% if forloop.counter == q_vacation_plan.dict_request_talk_for_reference|length %}
								<span class="badge badge-danger">New</span>
							{% endif %}
						{% endif %}
						{% if forloop.counter == q_vacation_plan.dict_request_talk_for_reference|length %}
							{% if request.user.profile.name_korean in k_member_name %}
								<button type="submit" name="button-hr-vacation-control-vacation-plan-response-delete-last-comment" value="{{ q_vacation_plan.id }}" class="btn btn-link btn-sm">
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
										<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
										<path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
									</svg>
								</button>
							{% endif %}
						{% endif %}
					</li>
				</ul>
			{% endfor %}
			{% if q_vacation_plan.reference_file != Null and q_vacation_plan.reference_file != '' %}
				<a href="{{ q_vacation_plan.reference_file.url }}" download>
					첨부 파일 다운로드
				</a>
			{% else %}
				<strong>첨부 파일이 없습니다.</strong>
			{% endif %}
		</td>
		<th width="10%">
			내용 입력
		</th>
		<td>
			<input type="text" name="text-hr-vacation-control-vacation-plan-response-contents" class="form-control">
		</td>
		<td class="text-right">
			<button type="submit" name="button-hr-vacation-control-vacation-plan-response-confirm" value="{{ q_vacation_plan.id }}" class="btn btn-info btn-sm"
			{% if q_vacation_plan.check_hr_vc_plan_request_from_hr_activated == False and  where_am_i == 'my' and request.user == q_vacation_plan.owner %}
				disabled
			{% endif %}
			>
				Talk
			</button>

		</td>
	</tr>
</table>

{% if q_vacation_plan.check_hr_vc_plan_request_from_hr_activated == True %}
	{% if request.user == q_vacation_plan.owner %}
		<table>
			<tr>
				<th width="10%">첨부파일 등록</th>
				<td colspan="2"  style="background-color:rgb(255,255,255,0.85)">
					{{ form_my_vacation_reference|bootstrap }}
				</td>
				<td>
					<button type="submit" name="button-my-vacation-control-vacation-plan-request-file-upload" value="{{ q_vacation_plan.id }}" class="btn btn-info btn-sm"
					{% if q_vacation_plan.status_vacation_plan_requested_from_hr != STATUS_MY_VACATION_PLAN_REQUEST_FROM_HR.1.0 %}
						disabled
					{% endif %}
					>
						Upload
					</button>
				</td>
			</tr>
		</table>
	{% endif %}
{% endif %}

