{% load crispy_forms_tags %}
{% load bootstrap %}
{% load static %}



<table class="table">
	<tr>
		<form method="POST" action="{% url 'hr-vacation-control' %}"  enctype="multipart/form-data">
			{% csrf_token %}
			<td>
				<legend class="border-bottom mb-4">
					멤버 등록된 휴가계획서 관리
				</legend>
			</td>

		</form>

		<form method="POST"
		{% if where_am_i == 'hr' %}
			action="{% url 'hr-vacation-control' %}"
		{% elif where_am_i == 'my' %}
			action="{% url 'my-vacation' %}"
		{% endif %}
		enctype="multipart/form-data">
			{% csrf_token %}
			<td>
				<input type="radio" name="radio-hr-vacation-control-search-vacation-plan-lastworkingyear" value="true"
				{% if q_mysettings_xxx.check_search_only_last_workingyear == True %}
					checked
				{% endif %}
				> 현재년차만
				<br>
				<input type="radio" name="radio-hr-vacation-control-search-vacation-plan-lastworkingyear" value="false"
				{% if q_mysettings_xxx.check_search_only_last_workingyear == False %}
					checked
				{% endif %}
				> 과거년차포함
			</td>
			<td>
				<select class="form-control" name="select-hr-vacation-control-form-vacation-type">
					{% if q_mysettings_xxx.check_vacation_type == Null %}
						<option value="none" selected>휴가 종류 선택</option>
					{% else %}
						{% for ITEM in LIST_VACATION_TYPES %}
							{% if q_mysettings_xxx.check_vacation_type == ITEM.0 %}
								<option value="{{ ITEM.0 }}" selected>{{ ITEM.1 }}</option>
							{% endif %}
						{% endfor %}
					{% endif %}

					{% if q_mysettings_xxx.check_vacation_type != Null %}
						<option value="none" >휴가 종류 선택</option>
					{% endif %}
					{% for ITEM in LIST_VACATION_TYPES %}
						{% if q_mysettings_xxx.check_vacation_type != ITEM.0 %}
							<option value="{{ ITEM.0 }}">{{ ITEM.1 }}</option>
						{% endif %}
					{% endfor %}
				</select>
			</td>
			{% comment %}
			<td>
				<select class="form-control" name="select-hr-vacation-control-form-vacation-regular-type">
					{% if q_mysettings_xxx.check_vacation_regular_type == Null %}
						<option value="none" selected>연차 사용타입 선택</option>
					{% else %}
						{% for ITEM in LIST_VACATION_REGULAR_TYPES %}
							{% if q_mysettings_xxx.check_vacation_regular_type == ITEM.0 %}
								<option value="{{ ITEM.0 }}" selected>{{ ITEM.1 }}</option>
							{% endif %}
						{% endfor %}
					{% endif %}

					{% if q_mysettings_xxx.check_vacation_regular_type != Null %}
						<option value="none" >연차 사용타입 선택</option>
					{% endif %}
					{% for ITEM in LIST_VACATION_REGULAR_TYPES %}
						{% if q_mysettings_xxx.check_vacation_regular_type != ITEM.0 %}
							<option value="{{ ITEM.0 }}">{{ ITEM.1 }}</option>
						{% endif %}
					{% endfor %}
				</select>
			</td>
			{% endcomment %}
			<td>
				<input type="text" class="form-control" name="text-hr-vacation-control-search-vacation-plan-keyword" placeholder="검색어 입력(e.g.: 김대권)">
			</td>
			<td>
				<button type="submit" name="button-hr-vacation-control-search-vacation-plan" value="true" class="btn btn-info btn-md">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
						<path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
					</svg>
					Search
				</button>
			</td>
		</form>
		<form method="POST"
		{% if where_am_i == 'hr' %}
			action="{% url 'hr-vacation-control' %}"
		{% elif where_am_i == 'my' %}
			action="{% url 'my-vacation' %}"
		{% endif %}
		enctype="multipart/form-data">
			{% csrf_token %}
			<td>
				<button type="submit" name="button-hr-vacation-control-select-vacation-plan-multi-reset" value="true" class="btn btn-dark btn-sm">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
						<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
						<path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
					</svg>
					Reset
				</button>
			</td>
		</form>

	</tr>

</table>
