{% load crispy_forms_tags %}
{% load bootstrap %}
{% load static %}


<tr
{% if where_am_i == 'hr' %}
	{% if q_workingtime_plan.check_hr_xxx_document_plan_request_to_hr_activated == True %}
		{% if q_workingtime_plan.status_xxx_document_plan_requested_to != STATUS_MY_WORKINGTIME_ISSUED_REQUEST_TO_HR.3.0 %}
			style="background-color:rgba(255, 0, 255, 0.15)"
		{% else %}
			style="background-color:rgba(0, 255, 255, 0.15)"
		{% endif %}
	{% else %}
		{% if q_workingtime_plan == q_mysettings_hr.workingtime_plan or q_workingtime_plan == q_mysettings_hr.workingtime_plan_approval %}
			style="background-color:rgb(255,255,0,0.15)"
		{% else %}
			style="background-color:rgb(255,255,255,0.75)"
		{% endif %}
	{% endif %}
{% elif where_am_i == 'my' %}
	{% if q_workingtime_plan.check_hr_xxx_document_plan_request_to_hr_activated == True %}
		{% if q_workingtime_plan.status_xxx_document_plan_requested_to != STATUS_MY_WORKINGTIME_ISSUED_REQUEST_TO_HR.3.0 %}
			style="background-color:rgba(255, 0, 255, 0.15)"
		{% else %}
			style="background-color:rgba(0, 255, 255, 0.15)"
		{% endif %}
	{% else %}
		{% if q_workingtime_plan == q_mysettings_my.workingtime_plan or q_workingtime_plan == q_mysettings_my.workingtime_plan_approval %}
			style="background-color:rgba(255, 255, 0, 0.15)"
		{% else %}
			style="background-color:rgb(255,255,255,0.85)"
		{% endif %}
	{% endif %}
{% else %}

{% endif %}
>
	<td width="5%">
		<input type="checkbox" name="checkbox-hr-workingtime-select-member" value="{{ q_workingtime_plan.id }}"
		{% if q_workingtime_plan.id in q_mysettings_hr.list_workingtime_issued_id_selected %}
			checked
		{% endif %}
		>
		{{ q_workingtime_plan.owner.profile.name_korean }}
	</td>
	<!--
		소속
	-->
	{% if where_am_i == 'hr' %}
		<td width="9%">
			{% if q_workingtime_plan.hrapproval.hrlayout_applicant.check_division_leader != True and q_workingtime_plan.hrapproval.hrlayout_applicant.check_company_leader != True %}
				<button type="submit" name="button-hr-workingtime-control-select-workingtime-today-table-row-division" value="{{ q_workingtime_plan.id }}" class="btn btn-link btn-sm">
					{{ q_workingtime_plan.hrapproval.hrlayout_applicant.division.division_name }}
				</button>
			{% else %}
				{% if q_workingtime_plan.hrapproval.hrlayout_applicant.check_division_leader == True %}
					<button type="submit" name="button-hr-workingtime-control-select-workingtime-today-table-row-division" value="{{ q_workingtime_plan.id }}" class="btn btn-link btn-sm">
						{{ q_workingtime_plan.hrapproval.hrlayout_applicant.division.division_name }}
					</button>
				{% else %}
					{{ q_workingtime_plan.hrapproval.hrlayout_applicant.company.company_name }}
				{% endif %}
			{% endif %}
		</td>
		<td width="9%">

			{% if q_workingtime_plan.hrapproval.hrlayout_applicant.check_division_leader != True and q_workingtime_plan.hrapproval.hrlayout_applicant.check_company_leader != True %}
				<button type="submit" name="button-hr-workingtime-control-select-workingtime-today-table-row-team" value="{{ q_workingtime_plan.id }}" class="btn btn-link btn-sm">
					{{ q_workingtime_plan.hrapproval.hrlayout_applicant.team.team_name }}
				</button>
			{% else %}
				{% if q_workingtime_plan.hrapproval.hrlayout_applicant.check_division_leader == True %}
				{% else %}
				{% endif %}
			{% endif %}
		</td>
	{% endif %}

	<td>
		{% for ITEM in LIST_TYPE_WORKINGTIME %}
			{% if ITEM.0 == q_workingtime_plan.type_workingtime %}
				{{ ITEM.1}}
			{% endif %}
		{% endfor %}
	</td>
	<td>
		{{ q_workingtime_plan.datetime_start|date:"Y-m-d H:i" }}
	</td>
	<td>
		{{ q_workingtime_plan.datetime_end|date:"Y-m-d H:i" }}
	</td>
	<td>
		{% if q_workingtime_plan.type_workingtime == LIST_TYPE_WORKINGTIME.0.0 %}
			{% for ITEM in LIST_TYPE_WORKINGTIME_FIELD %}
				{% if q_workingtime_plan.type_workingtime_field == ITEM.0 %}
					{{ ITEM.1 }}
				{% endif %}
			{% endfor %}
		{% endif %}
	</td>
	<td>
		{{ q_workingtime_plan.destination }}
	</td>
	<td>
		{{ q_workingtime_plan.reason }}
	</td>
	<td>
		{% if q_workingtime_plan.reference_file != Null and q_workingtime_plan.reference_file != '' %}
			<a href="{{ q_workingtime_plan.reference_file.url }}" download>
				{{ q_workingtime_plan.filename }}"
			</a>
		{% else %}
			첨부파일 없음
		{% endif %}
	</td>
	<td>
		{% if q_workingtime_plan.hrapproval != Null %}
			{% if q_workingtime_plan.hrapproval.status_document_approval_process == STATUS_HR_DOCUMENT_APPROVAL_PROCESS.0.0 and q_workingtime_plan.hrapproval.check_process_activated == False %}
				<button type="submit" name="button-my-xxx-document-plan-register-hrapproval-modal-view-open" value="{{ q_workingtime_plan.id }}" class="btn btn-link btn-sm">
					승인과정 등록하기
				</button>
			{% else %}
				{% for ITEM in STATUS_HR_DOCUMENT_APPROVAL_PROCESS %}
					{% if q_workingtime_plan.hrapproval.status_document_approval_process == ITEM.0 %}
						<button type="submit" name="button-my-workingtime-plan-activate-approval-progress-modal-view-open" value="{{ q_workingtime_plan.id }}"
						{% if q_workingtime_plan.hrapproval.status_document_approval_process == STATUS_HR_DOCUMENT_APPROVAL_PROCESS.0.0 %}
							class="btn btn-light btn-sm"
						{% elif q_workingtime_plan.hrapproval.status_document_approval_process == STATUS_HR_DOCUMENT_APPROVAL_PROCESS.1.0 %}
							class="btn btn-info btn-sm"
						{% elif q_workingtime_plan.hrapproval.status_document_approval_process == STATUS_HR_DOCUMENT_APPROVAL_PROCESS.2.0 %}
							class="btn btn-warning btn-sm"
						{% elif q_workingtime_plan.hrapproval.status_document_approval_process == STATUS_HR_DOCUMENT_APPROVAL_PROCESS.3.0 %}
							class="btn btn-primary btn-sm"
						{% elif q_workingtime_plan.hrapproval.status_document_approval_process == STATUS_HR_DOCUMENT_APPROVAL_PROCESS.4.0 %}
							class="btn btn-success btn-sm"
						{% elif q_workingtime_plan.hrapproval.status_document_approval_process == STATUS_HR_DOCUMENT_APPROVAL_PROCESS.5.0 %}
							class="btn btn-danger btn-sm"
						{% elif q_workingtime_plan.hrapproval.status_document_approval_process == STATUS_HR_DOCUMENT_APPROVAL_PROCESS.6.0 %}
							class="btn btn-secondary btn-sm"
						{% else %}
							class="btn btn-secondary btn-sm"
						{% endif %}
						>
							{{ ITEM.1 }}
						</button>
					{% endif %}
				{% endfor %}
			{% endif %}
		{% else %}
			Draft 작성중
		{% endif %}
	</td>

	<td class="text-right">
		{% if q_workingtime_plan.hrapproval != Null %}
			{% if q_workingtime_plan.status_xxx_document_plan_requested_to == STATUS_MY_XXX_DOCUMENT_PLAN_REQUEST_TO.1.0 %}
				<span class="badge badge-danger">문제 수정요청</span>
			{% elif q_workingtime_plan.status_xxx_document_plan_requested_to == STATUS_MY_XXX_DOCUMENT_PLAN_REQUEST_TO.2.0 %}
				<span class="badge badge-primary">인사팀 요청확인/검토중</span>
			{% elif q_workingtime_plan.status_xxx_document_plan_requested_to == STATUS_MY_XXX_DOCUMENT_PLAN_REQUEST_TO.3.0 %}
				<span class="badge badge-warning">인사팀 수정내용 도착</span>
			{% elif q_workingtime_plan.status_xxx_document_plan_requested_to == STATUS_MY_XXX_DOCUMENT_PLAN_REQUEST_TO.4.0 %}
				<span class="badge badge-success">수정내용 동의/종료</span>
			{% endif %}
		{% endif %}

		{% if where_am_i == 'hr' %}
			{% if q_workingtime_plan.hrapproval != Null %}
				{% if request.user.is_superuser == True or request.user.profile.check_hr_head == True or request.user.member.id in q_authority.auth_hr_validation %}
					{% if q_mysettings_hr.workingtime_control_type == LIST_HR_WORKINGTIME_CONTROL_TYPE.4.0 %}
						{% if q_workingtime_plan.check_hr_xxx_document_plan_request_to_hr_activated == True %}
							<a href="{% url 'hr-workingtime-control-redirect-request' q_workingtime_plan.id  %}" class="btn btn-link btn-sm">
								수정하기 창 펼치기
							</a>
						{% else %}
							<button type="submit" name="button-hr-workingtime-plan-activate-communicate-with-hr-view" value="{{ q_workingtime_plan.id }}" class="btn btn-link btn-sm">
								{% if q_mysettings_hr.check_activate_modify_view_for_workingtime_plan == True and q_mysettings_hr.workingtime_plan == q_workingtime_plan %}
									수정하기 창 접기
								{% else %}
									수정하기 창 펼치기
								{% endif %}
							</button>
						{% endif %}
					{% elif q_mysettings_hr.workingtime_control_type == LIST_HR_WORKINGTIME_CONTROL_TYPE.5.0 %}
						<button type="submit" name="button-hr-workingtime-plan-activate-communicate-with-hr-view" value="{{ q_workingtime_plan.id }}" class="btn btn-link btn-sm">
							{% if q_mysettings_hr.check_activate_modify_view_for_workingtime_plan == True and q_mysettings_hr.workingtime_plan == q_workingtime_plan %}
								수정하기 창 접기
							{% else %}
								수정하기 창 펼치기
							{% endif %}
						</button>
					{% endif %}
				{% endif %}
			{% endif %}
		{% elif where_am_i == 'my' %}
			{% if q_workingtime_plan.hrapproval != Null %}
			<!--
				문서승인과정 등록된 경우
			-->
				{% if q_workingtime_plan.hrapproval.check_process_completed == True %}
				<!--
					문서승인과정 완료된 경우
				-->
					<button type="submit" name="button-my-workingtime-plan-activate-communicate-with-hr-view" value="{{ q_workingtime_plan.id }}" class="btn btn-link btn-sm" >
						{% if q_mysettings_my.check_activate_modify_view_for_workingtime_plan == True and q_mysettings_my.workingtime_plan == q_workingtime_plan %}
							수정 요청 접기
						{% else %}
							{% if q_workingtime_plan.hrapproval.status_document_approval_process == STATUS_HR_DOCUMENT_APPROVAL_PROCESS.4.0 %}
								수정 요청 펼치기 1
							{% endif %}
						{% endif %}
					</button>
				{% else %}
				<!--
					문서승인과정 미완료된 경우
				-->
					{% if q_workingtime_plan.hrapproval.check_process_activated == False %}
					<!--
						문서승인과정 진행하기 전인 경우
					-->
						{% if q_mysettings_my.check_activate_wkt_plan_draft_register_form_for_update == False %}
						<!--
							문서승인과정 업데이트 비활성화 상태인 경우
						-->
							<button type="submit" name="button-my-workingtime-plan-update-draft" value="{{ q_workingtime_plan.id }}" class="btn btn-link btn-sm">
								업데이트하기
							</button>
						{% else %}
							<!--
								문서승인과정 업데이트 활성화 상태인 경우
							-->
							<button type="submit" name="button-my-workingtime-plan-update-draft" value="{{ q_workingtime_plan.id }}" class="btn btn-link btn-sm">
								업데이트하기
							</button>
							<button type="submit" name="button-my-workingtime-plan-delete-draft-activate-view" value="{{ q_workingtime_plan.id }}" class="btn btn-link btn-sm"
							{% if q_mysettings_my.workingtime_plan == q_workingtime_plan and q_mysettings_my.check_activate_wkt_plan_draft_delete_confirm_view == True %}
								disabled
							{% endif %}
							>
								삭제하기
							</button>
						{% endif %}
					{% else %}
						<!--
							문서승인과정 진행중인 경우
						-->
						{% if q_workingtime_plan.owner == request.user %}
							{% if q_workingtime_plan.hrapproval.status_document_approval_process == STATUS_HR_DOCUMENT_APPROVAL_PROCESS.2.0 %}
								<button type="submit" name="button-my-workingtime-plan-update-draft" value="{{ q_workingtime_plan.id }}" class="btn btn-link btn-sm">
									수정하기
								</button>
							{% endif %}

							<button type="submit" name="button-my-workingtime-plan-delete-progress-activate-view" value="{{ q_workingtime_plan.id }}" class="btn btn-link btn-sm"
							{% if q_mysettings_my.workingtime_plan == q_workingtime_plan and q_mysettings_my.check_activate_wkt_plan_progress_delete_confirm_view == True %}
								disabled
							{% endif %}
							>
								삭제하기
							</button>

						{% else %}
							<button type="submit" name="button-my-workingtime-plan-approval-progress-activate-view" value="{{ q_workingtime_plan.id }}" class="btn btn-link btn-sm"
							{% if q_workingtime_plan.hrapproval.status_document_approval_process == STATUS_HR_DOCUMENT_APPROVAL_PROCESS.2.0 %}
								disabled
							{% endif %}
							>
								승인/거절하기
							</button>
						{% endif %}
					{% endif %}
				{% endif %}
			{% else %}
			<!--
				문서승인과정 등록 안된 경우
			-->
				<button type="submit" name="button-my-workingtime-plan-update-draft" value="{{ q_workingtime_plan.id }}" class="btn btn-link btn-sm">
					업데이트하기
				</button>
				<button type="submit" name="button-my-workingtime-plan-delete-draft-activate-view" value="{{ q_workingtime_plan.id }}" class="btn btn-link btn-sm"
				{% if q_mysettings_my.workingtime_plan == q_workingtime_plan and q_mysettings_my.check_activate_wkt_plan_draft_delete_confirm_view == True %}
					disabled
				{% endif %}
				>
					삭제하기
				</button>
			{% endif %}
		{% else %}
		{% endif %}
	</td>
</tr>




{% if where_am_i == 'my' %}
	<!--
		나의 선택된 근무계획서
	-->
	{% if q_mysettings_my.workingtime_plan == q_workingtime_plan %}
		<!--
			수정요청 내용 표시
		-->
		{% if q_workingtime_plan.hrapproval.status_document_approval_process == STATUS_HR_DOCUMENT_APPROVAL_PROCESS.2.0 %}
			{% include 'my/my_workingtime_plan_registered_table_row_request_modification_contents_view.html' %}
		{% endif %}

		<!--
			Workingtime Plan 선택된 경우 근무계획서 수정하기 폼 창 활성화
		-->
		{% if q_mysettings_my.check_activate_modify_view_for_workingtime_plan == True %}
			{% include 'hr/hr_workingtime_control_plan_table_row_communication.html' %}

			{% if q_workingtime_plan.dict_modified_draft_for_workingtime_plan_from_my != Null %}
				{% include 'hr/hr_workingtime_control_plan_table_row_draft_display.html' %}
			{% endif %}
		{% endif %}

		<!--
			Draft 근무계획서 삭제하기 확인 창
		-->
		{% if q_mysettings_my.check_activate_wkt_plan_draft_delete_confirm_view == True %}
			{% include 'my/my_workingtime_plan_registered_table_row_draft_delete_confirm_view.html' %}
		{% endif %}

		<!--
			승인 진행중인 근무계획서 삭제하기 확인 창
		-->
		{% if q_mysettings_my.check_activate_wkt_plan_progress_delete_confirm_view == True %}
			{% include 'my/my_workingtime_plan_registered_table_row_progress_delete_confirm_view.html' %}
		{% endif %}

	{% endif %}



	<!--
		선택된 승인요청된 근무계획서
	-->
	{% if q_mysettings_my.workingtime_plan_approval == q_workingtime_plan %}
		{% if q_mysettings_my.workingtime_control_type == LIST_MY_WORKINGTIME_CONTROL_TYPE.3.0 %}
			<!--
				승인요청된 근무계획서의 기존 승인한 내용(승인히스토리) 표시 창
			-->
			{% if q_workingtime_plan.hrapproval.check_process_validated_first == True %}
				{% include 'my/my_workingtime_plan_registered_table_row_progress_detail_view.html' %}
			{% endif %}
		{% endif %}
	{% endif %}

{% endif %}




{% if where_am_i == 'hr' %}
	<!--
		Workingtime Plan 선택된 경우
	-->
	{% if q_mysettings_hr.workingtime_plan == q_workingtime_plan %}
		<!--
			선택된 근무계획서 현황/관리
		-->
		{% if q_mysettings_hr.workingtime_control_type == LIST_HR_WORKINGTIME_CONTROL_TYPE.4.0 %}
			{% if q_mysettings_hr.check_activate_modify_view_for_workingtime_plan == True %}
				<!--선택된 근무계획서 인사팀 수정요청하지 않은 상태인 경우-->
				{% if q_workingtime_plan.check_hr_xxx_document_plan_request_to_hr_activated == False %}
					<!-- 수정내용 입력 창-->
					{% include 'hr/hr_workingtime_control_plan_table_row_modification_form.html' %}
					<!--수정한 내용 임시저장 창-->
					{% if q_workingtime_plan.dict_modified_draft_for_xxx_document_plan_from_hr != Null %}
						{% include 'hr/hr_workingtime_control_plan_table_row_draft_display.html' %}
					{% endif %}
				{% endif %}
			{% endif %}
		{% endif %}


		<!--
			선택된 멤버 근무계획서 요청대응
		-->
		{% if q_mysettings_hr.workingtime_control_type == LIST_HR_WORKINGTIME_CONTROL_TYPE.5.0 %}
			{% if q_mysettings_hr.check_activate_modify_view_for_workingtime_plan == True %}
				<!-- 수정요청내용 대화 창-->
				{% include 'hr/hr_workingtime_control_plan_table_row_communication.html' %}
				<!-- 수정내용 입력 창-->
				{% include 'hr/hr_workingtime_control_plan_table_row_modification_form.html' %}
				{% if q_workingtime_plan.dict_modified_draft_for_xxx_document_plan_from_hr != Null %}
					<!--수정한 내용 임시저장 창-->
					{% include 'hr/hr_workingtime_control_plan_table_row_draft_display.html' %}
				{% endif %}
			{% endif %}
		{% endif %}



	{% endif %}
{% endif %}