{% load crispy_forms_tags %}
{% load bootstrap %}
{% load static %}



<!--
	수정한 내용 임시저장 창
-->

<tr
{% if where_am_i == 'hr' %}
	{% if q_workingtime_plan.check_hr_xxx_document_plan_request_to_hr_activated == True %}
		{% if q_workingtime_plan.status_xxx_document_plan_requested_to != STATUS_MY_XXX_DOCUMENT_PLAN_REQUEST_TO.3.0 %}
			style="background-color:rgba(255, 0, 255, 0.15)"
		{% else %}
			style="background-color:rgba(0, 255, 255, 0.15)"
		{% endif %}
	{% else %}
		{% if q_workingtime_plan == q_mysettings_hr.workingtime_plan %}
			style="background-color:rgb(255,255,0,0.15)"
		{% else %}
			style="background-color:rgb(255,255,255,0.75)"
		{% endif %}
	{% endif %}
{% elif where_am_i == 'my' %}
	{% if q_workingtime_plan.check_hr_xxx_document_plan_request_to_hr_activated == True %}
		{% if q_workingtime_plan.status_xxx_document_plan_requested_to != STATUS_MY_XXX_DOCUMENT_PLAN_REQUEST_TO.3.0 %}
			style="background-color:rgba(255, 0, 255, 0.15)"
		{% else %}
			style="background-color:rgba(0, 255, 255, 0.15)"
		{% endif %}
	{% else %}
		{% if q_workingtime_plan == q_mysettings_my.workingtime_plan %}
			style="background-color:rgba(255, 255, 0, 0.15)"
		{% else %}
			style="background-color:rgb(255,255,255,0.85)"
		{% endif %}
	{% endif %}
{% else %}
{% endif %}
>
	<td
	></td>
	<td colspan="11">

		<div class="card card-body" style="background-color:rgb(250,250,250,0.75)">
			<div>
				<h6>
					<strong>
						출퇴근 수정내용 임시저장
					</strong>
				</h6>
			</div>

			<!--
				수정내용
			-->
			<table class="table">
				<tr>
					<th>
						근무계획서 종류
					</th>
					<th>
						시작일
					</th>
					<th>
						시작시간
					</th>
					<th>
						종료일
					</th>
					<th>
						종료시간
					</th>
					<th>
						출장종류
					</th>
					<th>
						출장지
					</th>
					<th>
						비고
					</th>
				</tr>
				<tr>
					<td>
						{% for ITEM in LIST_TYPE_WORKINGTIME %}
							{% if q_workingtime_plan.type_workingtime == ITEM.0 %}
								<option value="{{ ITEM.0 }}" selected>{{ ITEM.1 }}</option>
							{% endif %}
						{% endfor %}
					</td>
					<td>
						{{ q_workingtime_plan.dict_modified_draft_for_xxx_document_plan_from_hr.date_wkt_plan_start }}
					</td>
					<td>
						{{ q_workingtime_plan.dict_modified_draft_for_xxx_document_plan_from_hr.time_wkt_plan_start }}
					</td>
					<td>
						{{ q_workingtime_plan.dict_modified_draft_for_xxx_document_plan_from_hr.date_wkt_plan_end }}
					</td>
					<td>
						{{ q_workingtime_plan.dict_modified_draft_for_xxx_document_plan_from_hr.time_wkt_plan_end }}
					</td>
					<td>
						{% for ITEM in LIST_TYPE_WORKINGTIME_FIELD %}
							{% if q_workingtime_plan.type_workingtime_field == ITEM.0 %}
								<option value="{{ ITEM.0 }}" selected>{{ ITEM.1 }}</option>
							{% endif %}
						{% endfor %}
					</td>
					<td>
						{{ q_workingtime_plan.dict_modified_draft_for_xxx_document_plan_from_hr.destination }}
					</td>
					<td width="20%" rowspan="2">
						{% if where_am_i == 'hr' %}

							{% comment %}
								<button type="submit" name="button-hr-workingtime-control-response-modification-draft-to-requestor" value="{{ q_workingtime_plan.id }}" class="btn btn-link btn-sm"
									{% if q_workingtime_plan.status_xxx_document_plan_requested_to != STATUS_MY_XXX_DOCUMENT_PLAN_REQUEST_TO.2.0 %}
										disabled
									{% endif %}
								>수정안 요청자에게 보내기</button>
							{% endcomment %}

							<button type="submit" name="button-hr-workingtime-plan-control-modification-confirm-case-close" value="{{ q_workingtime_plan.id }}" class="btn btn-link btn-sm"
								{% if q_workingtime_plan.status_xxx_document_plan_requested_to != STATUS_MY_XXX_DOCUMENT_PLAN_REQUEST_TO.2.0 %}
									disabled
								{% endif %}
							>수정안 적용/완료하기</button>

							<button type="submit" name="button-hr-workingtime-control-response-modification-draft-to-requestor-cancel" value="{{ q_workingtime_plan.id }}" class="btn btn-link btn-sm"
								{% if q_workingtime_plan.status_xxx_document_plan_requested_to != STATUS_MY_XXX_DOCUMENT_PLAN_REQUEST_TO.3.0 %}
									disabled
								{% endif %}
							>다시 수정하기</button>
						{% endif %}
					</td>
				</tr>
				<tr>
					<th>
						이유
					</th>
					<td colspan="6">
						{{ q_workingtime_plan.dict_modified_draft_for_xxx_document_plan_from_hr.reason }}
					</td>
				</tr>
			</table>

		</div>
	</td>
</tr>

