{% load crispy_forms_tags %}
{% load static %}
{% load mathfilters %}





<div class="modal fade" id="hrWorkingtimeControlAnlayticsGraphChart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">
					<strong>
						월별 출퇴근 선택항목 분석 챠트
					</strong>
				</h5>
				<button type="submit" name="button-hr-workingtime-control-analytics-graph-chart-modal-view-close" value="true" class="btn btn-dark btn-sm">
					  Close
				</button>
			</div>


			<div class="modal-body">
				<div>
					<button
					v-for="(item, index) in list_status_wkt_analytics_chart_target" :key="index"
					v-on:click="f_selectAnalyticsChartTarget(item.key)"
					type="button" class="btn btn-outline-info btn-sm">
						[[ item.value ]]
					</button>
 				</div>
				<!-- 기간 지정 -->
				 {% comment %} <div>
					<table class="table">
						<tr>
							<th width="20%">
								출퇴근 기간 지정: <br>시작일
							</th>
							<td width="30%">
								<input type="date" class="form-control" v-model="inputDateStart" v-on:change="f_inputDateStart()">
							</td>

							<th width="20%">
								출퇴근 기간 지정: <br>종료일
							</th>
							<td width="30%">
								<input type="date" class="form-control" v-model="inputDateEnd" v-on:change="f_inputDateEnd()">
							</td>
						</tr>
					</table>
				</div> {% endcomment %}


				<div class="card card-body" style="background-color:rgb(240,240,240,0.5);">
					<legend class="text-center">
						<h5>[[ chart_title ]]</h5>
					</legend>
					<figure class="highcharts-figure">
						<div id="container"></div>
						<p class="highcharts-description">
							Chart showing the use of a bell curve computed automatically from a
							dataset. The source dataset is visualized as a scatter plot.
						</p>
					</figure>
					Mean: [[ mean_time ]] ([[ mean ]])<br>
					Standard Deviation: [[ sd ]]<br>
					N: [[ number ]]
				</div>
				<hr>

			</div>
		</div>
	</div>
</div>


<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/histogram-bellcurve.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

<script>
	// const { createApp } = Vue

	var chartData;
	var chartTitleStr
	var postHandling = createApp({
        delimiters: ["[[", "]]"],
        data() {
        return {
			selected_team_name: 'Selected Team Name Here',
			list_status_wkt_analytics_chart_target: [],
			inputDateStart:'',
			inputDateEnd:'',
			chart_title: 'No_Title',
			mean: '',
			mean_time: '',
			sd: '',
			number: '',
        }
        },
        methods: {
            refreshData() {
                axios.get(variables.API_URL+'hr/hr_workingtime_control_analytics_graph_chart_modal_refresh_api_view/')
				.then((response) => {
					this.list_status_wkt_analytics_chart_target = response.data['list_status_wkt_analytics_chart_target']
					this.inputDateStart = response.data['inputDateStart']
					this.inputDateEnd = response.data['inputDateEnd']
					this.chart_title = response.data['chart_title']
					this.mean = response.data['mean']
					this.mean_time = response.data['mean_time']
					this.sd = response.data['sd']
					this.number = response.data['number']
					chartData = response.data['list_chart_data_workingtime_analytics']
					chartTitleStr = response.data['chart_title']
					drawChart();
                })
            },

			f_selectAnalyticsChartTarget(event) {
				console.log(event)
                axios.post(variables.API_URL+'hr/hr_workingtime_control_analytics_graph_chart_modal_target_api_view/', {
					'target_model_key': event,
				}, {
                headers: {
                    'Content-Type': 'multipart/form-data',
					'X-CSRFToken': "{{ csrf_token }}"
                }
				})
                .then((response) => {
					this.refreshData()
                    console.log(response)
                })
				.catch(() => {
                    console.log('Error!')
				})
            },

			f_inputDateStart(event) {
				console.log('input date start changed')
				console.log(this.inputDateStart)
				axios.post(variables.API_URL+'hr/hr_workingtime_control_analytics_graph_chart_update_inputdatestart_api_view/', {
					'inputDateStart': this.inputDateStart,
				}, {
                headers: {
                    'Content-Type': 'multipart/form-data',
					'X-CSRFToken': "{{ csrf_token }}"
                }
				})
                .then((response) => {
					this.refreshData()
                    console.log(response)
                })
				.catch(() => {
                    console.log('Error!')
				})
			},

			f_inputDateEnd(event) {
				console.log('input date end changed')
				console.log(this.inputDateEnd)
				axios.post(variables.API_URL+'hr/hr_workingtime_control_analytics_graph_chart_update_inputdateend_api_view/', {
					'inputDateEnd': this.inputDateEnd,
				}, {
                headers: {
                    'Content-Type': 'multipart/form-data',
					'X-CSRFToken': "{{ csrf_token }}"
                }
				})
                .then((response) => {
					this.refreshData()
                    console.log(response)
                })
				.catch(() => {
                    console.log('Error!')
				})
			},

        },
		computed: {
		},
        mounted: function() {
            this.refreshData()
        }
    }).mount('#hrWorkingtimeControlAnlayticsGraphChart')

	var pointsInInterval = 5;
	var labels = ['4σ', '3σ', '2σ', 'σ', 'μ', 'σ', '2σ', '3σ', '4σ'];

	function drawChart() {
		
		Highcharts.chart('container', {


			title: {
				text: ''
			},

			xAxis: [{
				title: {
					text: 'Data'
				},
				alignTicks: false
			}, {
				title: {
					text: 'Time'
				},
				alignTicks: false,
				opposite: true
			}],

			yAxis: [{
				title: { text: 'Number1' }
			}, {
				title: { text: 'Number2' },
				opposite: true
			}],
		  
			series: [{
				name: 'Bell curve',
				type: 'bellcurve',
				pointsInInterval: pointsInInterval,
        		intervals: 4,
				marker: {
					enabled: true
				},
				xAxis: 1,
				yAxis: 1,
				baseSeries:1,
				zIndex: -1,
			},
			{
				name: 'Histogram',
				type: 'histogram',
				xAxis: 1,
				
				baseSeries: 2,
				zIndex: -2,
				data: chartData,
				
			}, 
			{
				name: 'Data',
				type: 'scatter',
				data: chartData,
				accessibility: {
					exposeAsGroupOnly: true
				},
				marker: {
					radius: 0
				}
			}

			]
		});
	}
</script>



<style>
	#container {
		height: 400px;
	}

	.highcharts-figure,
	.highcharts-data-table table {
		min-width: 310px;
		max-width: 800px;
		margin: 1em auto;
	}

	.highcharts-data-table table {
		font-family: Verdana, sans-serif;
		border-collapse: collapse;
		border: 1px solid #ebebeb;
		margin: 10px auto;
		text-align: center;
		width: 100%;
		max-width: 1000px;
	}

	.highcharts-data-table caption {
		padding: 1em 0;
		font-size: 1.2em;
		color: #555;
	}

	.highcharts-data-table th {
		font-weight: 600;
		padding: 0.5em;
	}

	.highcharts-data-table td,
	.highcharts-data-table th,
	.highcharts-data-table caption {
		padding: 0.5em;
	}

	.highcharts-data-table thead tr,
	.highcharts-data-table tr:nth-child(even) {
		background: #f8f8f8;
	}

	.highcharts-data-table tr:hover {
		background: #f1f7ff;
	}

	.modal-content {
		max-width:none;
	}
</style>