{% load crispy_forms_tags %}
{% load static %}
{% load bootstrap %}





<!--
	미출근자 리스트 테이블
-->
{% if qs_profile_unknown|length > 0 %}
<div style="background-color:rgba(255, 255, 0, 0.15)" class="text-center">
	<h6>
		선택한 날짜에 미출근자가 <storng>{{ qs_profile_unknown|length }}명</storng>이 있습니다.
	</h6>
</div>
	<table class="table">
		<tr>
			<th>
				이름
			</th>
			<th>
				소속
			</th>
			<th>
				이메일
			</th>
			<th>
				핸드폰번호
			</th>
		</tr>
		{% for q_profile in qs_profile_unknown %}
			<tr style="background-color:rgba(255, 255, 255, 0.85)">
				<td>
					{{ q_profile.name_korean }}
				</td>
				<td>
					{{ q_profile.position }}
				</td>
				<td>
					{{ q_profile.email }}
				</td>
				<td>
					{{ q_profile.phone_mobile }}
				</td>
			</tr>
		{% endfor %}
	</table>
{% else %}
	<h6>
		선택한 날짜에 미출근자가 없습니다.
	</h6>
{% endif %}