{% load crispy_forms_tags %}
{% load bootstrap %}
{% load static %}


<!--
	Workingtime 선택된 경우 출퇴근 시간 수정하기 창 활성화
-->

<tr
{% if q_workingtime_plan.check_hr_xxx_document_plan_request_to_hr_activated == True %}
	{% if q_workingtime_plan.status_xxx_document_plan_requested_to != STATUS_MY_XXX_DOCUMENT_PLAN_REQUEST_TO.3.0 %}
		style="background-color:rgba(255, 0, 255, 0.15)"
	{% else %}
		style="background-color:rgba(0, 255, 255, 0.15)"
	{% endif %}
{% else %}
	{% if q_workingtime_plan == q_mysettings_hr.workingtime_plan %}
		style="background-color:rgb(255,255,0,0.15)"
	{% else %}
		style="background-color:rgb(255,255,255,0.75)"
	{% endif %}
{% endif %}
>
	<td></td>
	<td colspan="11">

		<div class="card card-body" style="background-color:rgb(250,250,250,0.75)">
			<div>
				<h6>
					<strong>
						근무계획서 내용 수정하기
					</strong>
				</h6>
			</div>

			<table class="table">
				<tr>
					<th>
						근무계획서 종류
					</th>
					<th>
						시작일
					</th>
					<th>
						시작시간
					</th>
					<th>
						종료일
					</th>
					<th>
						종료시간
					</th>
					<th>
						출장종류
					</th>
					<th>
						출장지
					</th>
					<th>
						비고
					</th>
				</tr>
				<tr>
					<td>
						<select class="form-control" name="select-hr-workingday-control-plan-type-workingtime">

							{% for ITEM in LIST_TYPE_WORKINGTIME %}
								{% if q_workingtime_plan.type_workingtime == ITEM.0 %}
									<option value="{{ ITEM.0 }}" selected>{{ ITEM.1 }}</option>
								{% endif %}
							{% endfor %}

							{% for ITEM in LIST_TYPE_WORKINGTIME %}
								{% if q_workingtime_plan.type_workingtime != ITEM.0 %}
									<option value="{{ ITEM.0 }}">{{ ITEM.1 }}</option>
								{% endif %}
							{% endfor %}
						</select>
					</td>
					<td>
						<input type="date" class="form-control" name="input-date-hr-workingtime-control-plan-modification-start" value="{{ q_workingtime_plan.datetime_start|date:'Y-m-d' }}">
					</td>
					<td>
						<input type="time" class="form-control" name="input-time-hr-workingtime-control-plan-modification-start" value="{{ q_workingtime_plan.datetime_start|time:'H:i' }}">
					</td>
					<td>
						<input type="date" class="form-control" name="input-date-hr-workingtime-control-plan-modification-end" value="{{ q_workingtime_plan.datetime_end|date:'Y-m-d' }}">
					</td>
					<td>
						<input type="time" class="form-control" name="input-time-hr-workingtime-control-plan-modification-end" value="{{ q_workingtime_plan.datetime_end|time:'H:i' }}">
					</td>
					<td>
						<select class="form-control" name="select-hr-workingday-control-plan-type-type_workingtime-field">

							{% for ITEM in LIST_TYPE_WORKINGTIME_FIELD %}
								{% if q_workingtime_plan.type_workingtime_field == ITEM.0 %}
									<option value="{{ ITEM.0 }}" selected>{{ ITEM.1 }}</option>
								{% endif %}
							{% endfor %}

							{% for ITEM in LIST_TYPE_WORKINGTIME_FIELD %}
								{% if q_workingtime_plan.type_workingtime_field != ITEM.0 %}
									<option value="{{ ITEM.0 }}">{{ ITEM.1 }}</option>
								{% endif %}
							{% endfor %}
						</select>
					</td>
					<td>
						<input type="text" class="form-control" name="input-text-hr-workingtime-control-plan-modification-destination" value="{{ q_workingtime_plan.destination }}">
					</td>

					<td rowspan="2">
						<button type="submit" name="button-hr-workingtime-control-workingtime-plan-modify-update" value="{{ q_workingtime_plan.id }}" class="btn btn-link btn-sm"
						{% if q_workingtime_plan.status_xxx_document_plan_requested_to == STATUS_MY_XXX_DOCUMENT_PLAN_REQUEST_TO.3.0  %}
						disabled
						{% endif %}
						>수정내용 임시저장하기</button>
					</td>
				</tr>
				<tr>
					<th>
						이유
					</th>
					<td colspan="6">
						<input type="text" class="form-control" name="input-text-hr-workingtime-control-plan-modification-reason" value="{{ q_workingtime_plan.reason }}">
					</td>
				</tr>
			</table>
		</div>
	</td>
</tr>
