{% load crispy_forms_tags %}
{% load static %}
{% load bootstrap %}





<div class="modal fade bd-example-modal-xl" id="hrWorkingtimePersonalizedMemberListModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
	<div class="modal-dialog modal-xl" role="document">

		<div class="modal-content">

			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">
					<strong>
						개인별 맞춤형 출퇴근관리 멤버 리스트
					</strong>
				</h5>
				<button type="submit" name="button-hr-workingtime-issued-personalized-member-list-modal-view" value="false" class="btn btn-dark btn-sm" >Close</button>
			</div>

			<div class="modal-body">
				<div>
					<template v-if="status_toggle_document_display == 'ACTIVE'">
						* 멤버 추가하기 숨기기
						<button type="button" class="btn"
						v-on:click="f_toggleDocumentDisplay('SWITCH')"
						>
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-toggle-on" viewBox="0 0 16 16">
								<path d="M5 3a5 5 0 0 0 0 10h6a5 5 0 0 0 0-10H5zm6 9a4 4 0 1 1 0-8 4 4 0 0 1 0 8z"/>
							</svg>
						</button>
					</template>
					<template v-else>
						* 멤버 추가하기 보기
						<button type="button" class="btn"
						v-on:click="f_toggleDocumentDisplay('SWITCH')"
						>
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-toggle-off" viewBox="0 0 16 16">
								<path d="M11 4a4 4 0 0 1 0 8H8a4.992 4.992 0 0 0 2-4 4.992 4.992 0 0 0-2-4h3zm-6 8a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM0 8a5 5 0 0 0 5 5h6a5 5 0 0 0 0-10H5a5 5 0 0 0-5 5z"/>
							</svg>
						</button>
					</template>
				</div>

				<table class="table">
					<tr>
						<td >
							<!--
								맞춤형 출퇴근자 등록 리스트
							-->
							<legend>
								개인맞춤형 출퇴근자 리스트  [[ selectedMemberEmail ]]
							</legend>

							<div class="card card-body" style="background-color:rgb(240,240,240,0.5);">
								{% include 'hr/hr_workingtime_issued_personalized_member_modal_contents_table.html' %}
							</div>

						</td>
						<template v-if="status_toggle_document_display == 'ACTIVE'">
							<td width="40%">
								<!--
									맞춤형 출퇴근자 검색하기
								-->
								<legend>
									개인맞춤형 출퇴근자 추가하기
								</legend>

								<div class="card card-body" style="background-color:rgb(240,240,240,0.5);">
									{% include 'hr/hr_workingtime_issued_personalized_member_modal_contents_table_search.html' %}
								</div>

							</td>
						</template>
					</tr>
				</table>
			</div>


			<div class="modal-footer">
				<button type="submit" name="button-hr-workingtime-issued-personalized-member-list-modal-view" value="false" class="btn btn-dark btn-sm" >Close</button>
			</div>

		</div>
	</div>
</div>



<script>
	//const { createApp } = Vue;
	var uncheckedMemberExceptModal = createApp({
        delimiters: ["[[", "]]"],
        data() {
        return {
			list_dict_personalized: [],
			list_dict_personalized_searched: [],
			inputTextName: '',

			status_toggle_document_display: 'ACTIVE',
			selectedMemberEmail: '',
        }
        },
        methods: {

            refreshData() {
				axios.get(variables.API_URL+'hr/hr_workingtime_issued_personalized_member_modal_api_refresh_view/')
				.then((response) => {
					this.list_dict_personalized = response.data['list_dict_wkt_issued_check_personalized']
					console.log(response.data)
                })
            },


			f_toggleDocumentDisplay(event) {
				let result = this.status_toggle_document_display
				if (result == 'ACTIVE') {
					this.status_toggle_document_display = 'INACTIVE'
				} else {
					this.status_toggle_document_display = 'ACTIVE'
				}
			},




			f_selectedMemberEmail(event) {
				this.selectedMemberEmail = event
				axios.post(variables.API_URL+'hr/hr_workingtime_issued_personalized_member_modal_api_select_member_from_selected_list_view/', {
					'selectedMemberEmail': event,
				}, {
                headers: {
                    'Content-Type': 'multipart/form-data',
					'X-CSRFToken': "{{ csrf_token }}"
                }
				})
				.then((response) => {
					this.refreshData()
                    console.log(response)
                })
				.catch(() => {
                    console.log('Error!')
				})
			},


			f_timeWKTDownMonday(event) {
				axios.post(variables.API_URL+'hr/hr_workingtime_issued_personalized_member_modal_api_select_wkt_down_monday_view/', {
					'selectedMemberEmail': event,
				}, {
                headers: {
                    'Content-Type': 'multipart/form-data',
					'X-CSRFToken': "{{ csrf_token }}"
                }
				})
				.then((response) => {
					this.refreshData()
                    console.log(response)
                })
				.catch(() => {
                    console.log('Error!')
				})
			},
			f_timeWKTUpMonday(event) {
				axios.post(variables.API_URL+'hr/hr_workingtime_issued_personalized_member_modal_api_select_wkt_up_monday_view/', {
					'selectedMemberEmail': event,
				}, {
                headers: {
                    'Content-Type': 'multipart/form-data',
					'X-CSRFToken': "{{ csrf_token }}"
                }
				})
				.then((response) => {
					this.refreshData()
                    console.log(response)
                })
				.catch(() => {
                    console.log('Error!')
				})
			},
			f_timeWKTDownTuesday(event) {
				axios.post(variables.API_URL+'hr/hr_workingtime_issued_personalized_member_modal_api_select_wkt_down_tuesday_view/', {
					'selectedMemberEmail': event,
				}, {
                headers: {
                    'Content-Type': 'multipart/form-data',
					'X-CSRFToken': "{{ csrf_token }}"
                }
				})
				.then((response) => {
					this.refreshData()
                    console.log(response)
                })
				.catch(() => {
                    console.log('Error!')
				})
			},
			f_timeWKTUpTuesday(event) {
				axios.post(variables.API_URL+'hr/hr_workingtime_issued_personalized_member_modal_api_select_wkt_up_tuesday_view/', {
					'selectedMemberEmail': event,
				}, {
                headers: {
                    'Content-Type': 'multipart/form-data',
					'X-CSRFToken': "{{ csrf_token }}"
                }
				})
				.then((response) => {
					this.refreshData()
                    console.log(response)
                })
				.catch(() => {
                    console.log('Error!')
				})
			},
			f_timeWKTDownWednesday(event) {
				axios.post(variables.API_URL+'hr/hr_workingtime_issued_personalized_member_modal_api_select_wkt_down_wednesday_view/', {
					'selectedMemberEmail': event,
				}, {
                headers: {
                    'Content-Type': 'multipart/form-data',
					'X-CSRFToken': "{{ csrf_token }}"
                }
				})
				.then((response) => {
					this.refreshData()
                    console.log(response)
                })
				.catch(() => {
                    console.log('Error!')
				})
			},
			f_timeWKTUpWednesday(event) {
				axios.post(variables.API_URL+'hr/hr_workingtime_issued_personalized_member_modal_api_select_wkt_up_wednesday_view/', {
					'selectedMemberEmail': event,
				}, {
                headers: {
                    'Content-Type': 'multipart/form-data',
					'X-CSRFToken': "{{ csrf_token }}"
                }
				})
				.then((response) => {
					this.refreshData()
                    console.log(response)
                })
				.catch(() => {
                    console.log('Error!')
				})
			},
			f_timeWKTDownThursday(event) {
				axios.post(variables.API_URL+'hr/hr_workingtime_issued_personalized_member_modal_api_select_wkt_down_thursday_view/', {
					'selectedMemberEmail': event,
				}, {
                headers: {
                    'Content-Type': 'multipart/form-data',
					'X-CSRFToken': "{{ csrf_token }}"
                }
				})
				.then((response) => {
					this.refreshData()
                    console.log(response)
                })
				.catch(() => {
                    console.log('Error!')
				})
			},
			f_timeWKTUpThursday(event) {
				axios.post(variables.API_URL+'hr/hr_workingtime_issued_personalized_member_modal_api_select_wkt_up_thursday_view/', {
					'selectedMemberEmail': event,
				}, {
                headers: {
                    'Content-Type': 'multipart/form-data',
					'X-CSRFToken': "{{ csrf_token }}"
                }
				})
				.then((response) => {
					this.refreshData()
                    console.log(response)
                })
				.catch(() => {
                    console.log('Error!')
				})
			},
			f_timeWKTDownFriday(event) {
				axios.post(variables.API_URL+'hr/hr_workingtime_issued_personalized_member_modal_api_select_wkt_down_friday_view/', {
					'selectedMemberEmail': event,
				}, {
                headers: {
                    'Content-Type': 'multipart/form-data',
					'X-CSRFToken': "{{ csrf_token }}"
                }
				})
				.then((response) => {
					this.refreshData()
                    console.log(response)
                })
				.catch(() => {
                    console.log('Error!')
				})
			},
			f_timeWKTUpFriday(event) {
				axios.post(variables.API_URL+'hr/hr_workingtime_issued_personalized_member_modal_api_select_wkt_up_friday_view/', {
					'selectedMemberEmail': event,
				}, {
                headers: {
                    'Content-Type': 'multipart/form-data',
					'X-CSRFToken': "{{ csrf_token }}"
                }
				})
				.then((response) => {
					this.refreshData()
                    console.log(response)
                })
				.catch(() => {
                    console.log('Error!')
				})
			},



			f_personalizedSearch(event) {
                this.inputTextName = event.target.value
                inputTextName = this.inputTextName
                axios.get(variables.API_URL+'hr/hr_workingtime_issued_personalized_member_modal_api_search_member_view/?inputTextName='+inputTextName)
				.then((response) => {
					this.list_dict_personalized_searched = response.data['list_dict_personalized_searched']
                    console.log(response)
                })
				.catch(() => {
                    console.log('Error!')
				})
            },

			f_personalizedSelect(event) {
				axios.post(variables.API_URL+'hr/hr_workingtime_issued_personalized_member_modal_api_select_member_view/', {
					'buttonSelectNameExcepter': event,
				}, {
                headers: {
                    'Content-Type': 'multipart/form-data',
					'X-CSRFToken': "{{ csrf_token }}"
                }
				})
				.then((response) => {
					this.refreshData()
                    console.log(response)
                })
				.catch(() => {
                    console.log('Error!')
				})
			},

			f_personalizedDelete(event) {
				axios.post(variables.API_URL+'hr/hr_workingtime_issued_personalized_member_modal_api_delete_member_view/', {
					'buttonDeleteNameExcepter': event,
				}, {
                headers: {
                    'Content-Type': 'multipart/form-data',
					'X-CSRFToken': "{{ csrf_token }}"
                }
				})
				.then((response) => {
					this.refreshData()
                    console.log(response)
                })
				.catch(() => {
                    console.log('Error!')
				})
			},
        },


		computed: {
		},
        mounted: function() {
            this.refreshData()
        }
    }).mount('#hrWorkingtimePersonalizedMemberListModal')
</script>


<style>
.modal-content {
		max-width:none;
	}
</style>
