{% load crispy_forms_tags %}
{% load bootstrap %}
{% load static %}




<div class="modal fade bd-example-modal-xl" id="hrSelectedMemberMonthlyWorkingtimeIssuedTable" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true" >
	<div class="modal-dialog modal-xl" >
		<div class="modal-content">


			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">
					<strong>
						{{ q_mysettings_hr.workingtime_issued.owner.profile.name_korean }}님의  출퇴근 기록 정보 분석 ([[ inputDateStart ]] ~ [[ inputDateEnd ]])
					</strong>
				</h5>


				<button type="submit" name="button-hr-workingtime-control-selected-member-monthly-wkt-issued-modal-view-close" value="true" class="btn btn-dark btn-sm" aria-label="Close">
					Close
				</button>
			</div>


			<div class="modal-body">
				<!--
					기간 지정
				-->
				<div>
					<table class="table">
						<tr style="background-color:rgb(240,240,240,0.5);">
							<th colspan="4">
								출퇴근 기간 설정하기
							</th>
						</tr>
						<tr>
							<th width="20%">
								출퇴근 기간 지정: <br>시작일
							</th>
							<td width="30%">
								<input type="date" class="form-control" v-model="inputDateStart" v-on:change="f_inputDateStart()">
							</td>

							<th width="20%">
								출퇴근 기간 지정: <br>종료일
							</th>
							<td width="30%">
								<input type="date" class="form-control" v-model="inputDateEnd" v-on:change="f_inputDateEnd()">
							</td>
						</tr>
					</table>
				</div>

				<!--
					문서 내용 표시 여부
				-->
				<div >
					<table class="table">
						<tr style="background-color:rgb(240,240,240,0.5);">
							<th>
								총근무일수(휴일)
							</th>
							<th>
								총순근무시간
							</th>
							<th>
								총평일순근무시간
							</th>
							<th>
								총휴일순근무시간
							</th>
							<th>
								평균평일출근시간
							</th>
							<th>
								평균평일퇴근시간
							</th>
							<th>
								총평일지각시간
							</th>
							<th>
								총평일야근시간
							</th>
						</tr>
						<tr style="background-color:rgb(255,255,255,0.85)">
							<td>
								[[ num_workingdays_all_checkin_monthly ]]([[ num_workingdays_holiday_checkin_all_monthly ]])
							</td>
							<td>
								[[ total_net_workingtime ]]
							</td>
							<td>
								[[ total_net_workingtime_business ]]
							</td>
							<td>
								[[ total_net_workingtime_holiday ]]
							</td>
							<td>
								[[ time_wkt_business_avg_checkin_monthly ]]
							</td>
							<td>
								[[ time_wkt_business_avg_checkout_monthly ]]
							</td>
							<td>
								[[ total_net_late_checkin_business ]]
							</td>
							<td>
								[[ total_net_late_checkout_business ]]
							</td>

						</tr>

					</table>
					<table class="table">
						<tr style="background-color:rgb(240,240,240,0.5);">
							<th width="20%">
								근무일자(상태)
							</th>
							<th width="10%">
								근무위치상태
							</th>
							<th width="10%">
								출근시간
							</th>
							<th width="10%">
								출근상태
							</th>
							<th width="10%">
								퇴근시간
							</th>
							<th width="10%">
								퇴근상태
							</th>
							<th width="10%">
								순근무시간
							</th>
							<th width="10%">
								옵션
							</th>

						</tr>
						<tr style="background-color:rgb(255,255,255,0.85)"
						v-for="(dict_member, index) in list_dict_member_wkt_issued_monthly"
						:key="index"
						>
							<td >
								[[ dict_member.date_of_work ]]([[ dict_member.status_working_day ]])
							</td>
							<td >
								[[ dict_member.status_working_type_location ]]
							</td>
							<td >
								[[ dict_member.time_start ]]
							</td>
							<td >
								[[ dict_member.status_wkt_start ]]
							</td>
							<td >
								[[ dict_member.time_end ]]
							</td>
							<td >
								[[ dict_member.status_wkt_end ]]
							</td>
							<td >
								[[ dict_member.net_workingtime ]]
							</td>
							<td>
								<button type="button" class="btn btn-link btn-sm" v-on:click="f_buttonDeleteWktIssued(dict_member.id)">
									Delete [[ dict_member.id ]]
								</button>
							</td>
						</tr>

					</table>
				</div>

			</div>

			<div class="modal-footer">
				<button type="submit" name="button-hr-workingtime-control-selected-member-monthly-wkt-issued-modal-view-remove-dup" value="true" class="btn btn-link btn-sm">
					Remove Duplication
				</button>
				<button type="submit" name="button-hr-workingtime-control-selected-member-monthly-wkt-issued-modal-view-close" value="true" class="btn btn-dark btn-sm" aria-label="Close">
					Close
				</button>
			</div>
		</div>
	</div>
</div>



<script>
	// const { createApp } = Vue
	var chartData;
	var chartTitleStr
	var postHandling = createApp({
        delimiters: ["[[", "]]"],
        data() {
        return {
			inputDateStart:'',
			inputDateEnd:'',

			list_dict_member_wkt_issued_monthly: [],
			num_workingdays_all_checkin_monthly: '',
			num_workingdays_holiday_checkin_all_monthly: '',
			total_net_workingtime: '',
			total_net_workingtime_business: '',
			total_net_workingtime_holiday: '',
			total_net_late_checkin_business: '',
			total_net_late_checkout_business: '',
			time_wkt_business_avg_checkin_monthly: '',
			time_wkt_business_avg_checkout_monthly: '',

			status_dam_modal_view_search_member: '',
        }
        },
        methods: {
            refreshData() {
				axios.get(variables.API_URL+'hr/hr_workingtime_control_selected_member_monthly_wkt_issued_modal_api_refresh_get_view/')
				.then((response) => {
					this.inputDateStart = response.data['inputDateStart']
					this.inputDateEnd = response.data['inputDateEnd']
					this.list_dict_member_wkt_issued_monthly = response.data['list_dict_member_wkt_issued_monthly']
					this.num_workingdays_all_checkin_monthly = response.data['num_workingdays_all_checkin_monthly']
					this.num_workingdays_holiday_checkin_all_monthly = response.data['num_workingdays_holiday_checkin_all_monthly']
					this.total_net_workingtime = response.data['total_net_workingtime']
					this.total_net_workingtime_business = response.data['total_net_workingtime_business']
					this.total_net_workingtime_holiday = response.data['total_net_workingtime_holiday']
					this.total_net_late_checkin_business = response.data['total_net_late_checkin_business']
					this.total_net_late_checkout_business = response.data['total_net_late_checkout_business']
					this.time_wkt_business_avg_checkin_monthly = response.data['time_wkt_business_avg_checkin_monthly']
					this.time_wkt_business_avg_checkout_monthly = response.data['time_wkt_business_avg_checkout_monthly']

                    console.log(response.data)
                })
				.catch(() => {
                    console.log('Error!')
				})
            },


			f_inputDateStart(event) {
				console.log('input date start changed')
				console.log(this.inputDateStart)
				axios.post(variables.API_URL+'hr/hr_workingtime_control_selected_member_monthly_wkt_issued_modal_api_inputdatestart_view/', {
					'inputDateStart': this.inputDateStart,
				}, {
                headers: {
                    'Content-Type': 'multipart/form-data',
					'X-CSRFToken': "{{ csrf_token }}"
                }
				})
                .then((response) => {
					//this.refreshData()
                    console.log(response)
					this.inputDateStart = response.data['inputDateStart']
					this.inputDateEnd = response.data['inputDateEnd']
					this.refreshData()
                })
				.catch(() => {
                    console.log('Error!')
				})
			},

			f_inputDateEnd(event) {
				console.log('input date end changed')
				console.log(this.inputDateEnd)
				axios.post(variables.API_URL+'hr/hr_workingtime_control_selected_member_monthly_wkt_issued_modal_api_inputdateend_view/', {
					'inputDateEnd': this.inputDateEnd,
				}, {
                headers: {
                    'Content-Type': 'multipart/form-data',
					'X-CSRFToken': "{{ csrf_token }}"
                }
				})
                .then((response) => {
					// this.refreshData()
                    console.log(response)
					this.inputDateStart = response.data['inputDateStart']
					this.inputDateEnd = response.data['inputDateEnd']
					this.refreshData()
                })
				.catch(() => {
                    console.log('Error!')
				})
			},


			f_buttonDeleteWktIssued(event) {
				console.log(event)
				axios.post(variables.API_URL+'hr/hr_workingtime_control_selected_member_monthly_wkt_issued_modal_api_delete_view/', {
					'q_wkt_issued_id': event,
				}, {
                headers: {
                    'Content-Type': 'multipart/form-data',
					'X-CSRFToken': "{{ csrf_token }}"
                }
				})
                .then((response) => {
					// this.refreshData()
                    console.log(response)
					this.refreshData()
                })
			},

        },
		computed: {
		},

        mounted: function() {
            this.refreshData()
        }
    }).mount('#hrSelectedMemberMonthlyWorkingtimeIssuedTable')

</script>



<style>
	.modal-content {
		max-width:none;
	}
</style>