{% load crispy_forms_tags %}
{% load bootstrap %}
{% load static %}



<div
{% if q_mysettings_hr.check_display_size_workingtime_plan_table_fullwidth == True %}
	class="col-md-12"
{% else %}
	class="col-md-9"
{% endif %}
>


		<div class="content-section">
			<fieldset class="form-group">

				<table class="table">
					<tr>
						<td>
							<legend class="border-bottom mb-4">
								<strong>
									등록된 근무계획서 현황
								</strong>
							</legend>
						</td>

						<form method="POST" action="{% url 'hr-workingtime-control' %}"  enctype="multipart/form-data">
							{% csrf_token %}
							<td>
								<select class="form-control" name="select-hr-workingday-control-form-workingtime-start">
									{% if q_mysettings_hr.type_workingtime == Null %}
										<option value="none" selected>근무계획서 종류 선택</option>
									{% else %}
										{% for ITEM in LIST_TYPE_WORKINGTIME %}
											{% if q_mysettings_hr.workingtime_plan.type_workingtime == ITEM.0 %}
												<option value="{{ ITEM.0 }}" selected>{{ ITEM.1 }}</option>
											{% endif %}
										{% endfor %}
									{% endif %}

									{% if q_mysettings_hr.type_workingtime_field != Null %}
										<option value="none" >근무계획서 종류 선택</option>
									{% endif %}
									{% for ITEM in LIST_TYPE_WORKINGTIME %}
										{% if q_mysettings_hr.workingtime_plan.type_workingtime != ITEM.0 %}
											<option value="{{ ITEM.0 }}">{{ ITEM.1 }}</option>
										{% endif %}
									{% endfor %}
								</select>
							</td>
							<td>
								<select class="form-control" name="select-hr-workingday-control-form-workingtime-end">
									{% if q_mysettings_hr.status_wkt_end_workingtime == Null %}
										<option value="none" selected>외근(출장)형태 선택</option>
									{% else %}
										{% for ITEM in LIST_TYPE_WORKINGTIME_FIELD %}
											{% if q_mysettings_hr.workingtime_plan.type_workingtime_field == ITEM.0 %}
												<option value="{{ ITEM.0 }}" selected>{{ ITEM.1 }}</option>
											{% endif %}
										{% endfor %}
									{% endif %}

									{% if q_mysettings_hr.status_wkt_end_workingtime != Null %}
										<option value="none" >외근(출장)형태 선택</option>
									{% endif %}
									{% for ITEM in LIST_TYPE_WORKINGTIME_FIELD %}
										{% if q_mysettings_hr.workingtime_plan.type_workingtime_field != ITEM.0 %}
											<option value="{{ ITEM.0 }}">{{ ITEM.1 }}</option>
										{% endif %}
									{% endfor %}
								</select>
							</td>
							<td>
								<input type="text" class="form-control" name="text-hr-workingtime-plan-member-search-keyword" placeholder="이름 입력">
							</td>
							<td>
								<button type="submit" name="button-hr-workingtime-plan-search-workingtime" value="true" class="btn btn-info btn-md">Search</button>
							</td>
						</form>
						<form method="POST" action="{% url 'hr-workingtime-control' %}"  enctype="multipart/form-data">
							{% csrf_token %}
							{% comment %}
								<td>
									<button type="submit" name="button-hr-workingtime-plan-select-workingtime-member" value="true" class="btn btn-primary btn-md">
										Select
									</button>
								</td>
							{% endcomment %}
							<td>
								<button type="submit" name="button-hr-workingtime-plan-reset-workingtime-search" value="true" class="btn btn-dark btn-sm">
									Reset
								</button>
							</td>
							<td>
								<button type="submit" name="button-hr-workingtime-plan-refresh-workingtime-search" value="true" class="btn btn-secondary btn-sm">
									Refresh
								</button>
							</td>
							<td>
								<button type="submit" name="button-hr-workingtime-plan-delete-selected-workingtime-view" value="true" class="btn btn-warning btn-sm">
									Delete
								</button>
							</td>
							<td>
								{% if request.user.is_superuser == True %}
									<button type="submit" name="button-hr-workingtime-plan-autogeneration-workingtime" value="true" class="btn btn-danger btn-sm" style="display:none;">
										Auto Generation
									</button>
								{% endif %}
							</td>
							<td>
								<button type="submit" name="button-hr-workingtime-plan-registered-table-display-size-switch" value="true" class="btn btn-light btn-sm">
									{% if q_mysettings_hr.check_display_size_workingtime_plan_table_fullwidth == False %}
										<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrows-fullscreen" viewBox="0 0 16 16">
											<path fill-rule="evenodd" d="M5.828 10.172a.5.5 0 0 0-.707 0l-4.096 4.096V11.5a.5.5 0 0 0-1 0v3.975a.5.5 0 0 0 .5.5H4.5a.5.5 0 0 0 0-1H1.732l4.096-4.096a.5.5 0 0 0 0-.707zm4.344 0a.5.5 0 0 1 .707 0l4.096 4.096V11.5a.5.5 0 1 1 1 0v3.975a.5.5 0 0 1-.5.5H11.5a.5.5 0 0 1 0-1h2.768l-4.096-4.096a.5.5 0 0 1 0-.707zm0-4.344a.5.5 0 0 0 .707 0l4.096-4.096V4.5a.5.5 0 1 0 1 0V.525a.5.5 0 0 0-.5-.5H11.5a.5.5 0 0 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 0 .707zm-4.344 0a.5.5 0 0 1-.707 0L1.025 1.732V4.5a.5.5 0 0 1-1 0V.525a.5.5 0 0 1 .5-.5H4.5a.5.5 0 0 1 0 1H1.732l4.096 4.096a.5.5 0 0 1 0 .707z"/>
										</svg>
									{% else %}
										<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-fullscreen-exit" viewBox="0 0 16 16">
											<path d="M5.5 0a.5.5 0 0 1 .5.5v4A1.5 1.5 0 0 1 4.5 6h-4a.5.5 0 0 1 0-1h4a.5.5 0 0 0 .5-.5v-4a.5.5 0 0 1 .5-.5zm5 0a.5.5 0 0 1 .5.5v4a.5.5 0 0 0 .5.5h4a.5.5 0 0 1 0 1h-4A1.5 1.5 0 0 1 10 4.5v-4a.5.5 0 0 1 .5-.5zM0 10.5a.5.5 0 0 1 .5-.5h4A1.5 1.5 0 0 1 6 11.5v4a.5.5 0 0 1-1 0v-4a.5.5 0 0 0-.5-.5h-4a.5.5 0 0 1-.5-.5zm10 1a1.5 1.5 0 0 1 1.5-1.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 0-.5.5v4a.5.5 0 0 1-1 0v-4z"/>
										  </svg>
									{% endif %}
								</button>
							</td>
					</tr>


					{% if q_mysettings_hr.check_activate_task_plan_delete_view == True %}
						<tr>
							<td></td>
							<td colspan="10">

								<div class="content-section">
									<div>
										<h6>
											<strong>
												출퇴근 내용 삭제하기
											</strong>
										</h6>
									</div>

									<table class="table">
										<tr>
											<th width="10%">
												선택된 멤버
											</th>
											<td>

													{% if qs_wktime_delete == Null %}
														선택된 멤버가 없습니다.
													{% else %}
														{% for q_wktime_delete in qs_wktime_delete %}
															<button type="button" class="btn btn-outline-info btn-sm">
																{{ q_wktime_delete.owner.profile.name_korean }}({{ q_wktime_delete.date_of_work|date:"Y-m-d" }})
															</button>
														{% endfor %}
													{% endif %}

											</td>
											<td width="10%">
												<button type="submit" name="button-hr-workingtime-plan-delete-selected-workingtime-confirm" value="true" class="btn btn-link btn-sm"
												{% if qs_wktime_delete == Null %}
												 	disabled
												{% endif %}
												>Confirm Delete</button>
											</td>
											<td width="10%">
												<button type="submit" name="button-hr-workingtime-plan-delete-selected-workingtime-cancel" value="true" class="btn btn-link btn-sm">
													Cancel
												</button>
											</td>
										</tr>
									</table>
								</div>
							</td>
						</tr>
					{% endif %}



					<tr>
						<td colspan="2">
							<button type="submit" name="button-hr-workingtime-issued-calendar-select-date" value="yesterday" class="btn btn-link btn-sm">
								{{ date_selected_workingtime_yesterday|date:"Y-m-d" }}
							</button>
							<button type="button" name="button-hr-workingtime-issued-calendar-select-date" value="today" class="btn btn-dark btn-sm">
								{{ date_selected_workingtime|date:"Y-m-d" }}
							</button>
							<button type="submit" name="button-hr-workingtime-issued-calendar-select-date" value="tomorrow" class="btn btn-link btn-sm">
								{{ date_selected_workingtime_tomorrow|date:"Y-m-d" }}
							</button>
							<button type="submit" name="button-hr-workingtime-issued-calendar-select-date" value="reset" class="btn btn-link btn-sm">
								Reset
							</button>
							{% for ITEM in STATUS_WORKING_DAY %}
								{% if status_selected_day == ITEM.0 %}
									<a type="button" href="#"
									{% if status_selected_day == STATUS_WORKING_DAY.0.0 %}
										class="btn btn-success btn-sm"
									{% elif status_selected_day == STATUS_WORKING_DAY.1.0 %}
										class="btn btn-warning btn-sm"
									{% elif status_selected_day == STATUS_WORKING_DAY.2.0 %}
										class="btn btn-danger btn-sm"
									{% else %}
										class="btn btn-secondary btn-sm"
									{% endif %}
									>
										{{ ITEM.1 }}
									</a>
								{% endif %}
							{% endfor %}
						</td>
						<td colspan="2">
							<input type="date" name="input-hr-workingtime-plan-calendar-select-date-workingtime" class="form-control" >
						</td>
						<td>
							<button type="submit" name="button-hr-workingtime-plan-calendar-select-date-workingtime" value="true" class="btn btn-link btn-sm">
								특정날짜선택
							</button>
						</td>
						<td>
						</td>
						<td colspan="5">
						</td>
					</tr>
				</table>



				<div class="card card-body" style="background-color:rgb(240,240,240,0.5);">

						<table class="table table-sm">
							<tr>
								{% for ITEM in LIST_WORKING_TIME_TABLE_COLUMN_INDEX_FOR_PLAN %}
								<th>
									{% if ITEM.0 == LIST_WORKING_TIME_TABLE_COLUMN_INDEX_FOR_PLAN.0 %}
										<input type="checkbox" name="checkbox-hr-workingtime-select-member" value="all">
									{% endif %}
									<button type="submit" name="button-hr-workingtime-control-select-workingtime-plan-table-column-index" value="{{ ITEM.0 }}" class="btn btn-link btn-sm">
										{{ ITEM.1 }}
									</button>
								</th>
								{% endfor %}
								<th>
									비고
								</th>


							</tr>

							<!--
								선택한 근무시간 쿼리
							-->

							{% for q_workingtime_plan in qs_workingtime_plan %}

								{% if q_workingtime_plan == q_mysettings_hr.workingtime_plan %}
									{% include 'hr/hr_workingtime_control_plan_table_row.html' %}
								{% endif %}

							{% endfor %}

							<!--
								검색된 근무시간 쿼리 (선택된 쿼리 제외)
							-->
							{% for q_workingtime_plan in qs_workingtime_plan %}

								{% if q_workingtime_plan.id in q_mysettings_hr.list_workingtime_plan_id_searched and q_workingtime_plan != q_mysettings_hr.workingtime_plan %}
									{% include 'hr/hr_workingtime_control_plan_table_row.html' %}
								{% endif %}

							{% endfor %}


							<!--
								나머지
							-->
							{% for q_workingtime_plan in qs_workingtime_plan %}
								{% if q_workingtime_plan == q_mysettings_hr.workingtime_plan %}
								{% else %}
									{% if q_workingtime_plan.id in q_mysettings_hr.list_workingtime_plan_id_searched %}
									{% else %}
										{% include 'hr/hr_workingtime_control_plan_table_row.html' %}
									{% endif %}
								{% endif %}
							{% endfor %}

						</table>
					</form>
				</div>
			</fieldset>
		</div>
	</form>
</div>





{% if q_mysettings_hr.check_display_size_workingtime_plan_table_fullwidth == False %}
<div class="col-md-3">

	<form method="POST" action="{% url 'hr-workingtime-control' %}"  enctype="multipart/form-data">
		{% csrf_token %}
		<ul class="nav nav-tabs">
			{% for ITEM in LIST_HR_VACATION_CONTROL_ISSUED_SUBMENU_TYPE %}
				<li class="nav-item">
					<button type="submit" name="button-hr-workingtime-plan-type-switch-submenu-issued" value="{{ ITEM.0 }}"
					{% if q_mysettings_hr.vacation_control_issued_submenu_type == ITEM.0 %}
						class="btn btn-dark btn-sm"
					{% else %}
						class="nav-link"
					{% endif %}
					>
						{{ ITEM.1 }}
					</button>
				</li>
			{% endfor %}
		</ul>

	</form>
	<hr>
	Side View

</div>

{% endif %}


