{% load crispy_forms_tags %}
{% load bootstrap %}
{% load static %}


<!--
	Workingtime 선택된 경우 출퇴근 시간 자동등록 창 활성화
-->
{% if q_mysettings_hr.workingtime_control_type != LIST_HR_WORKINGTIME_CONTROL_TYPE.2.0 %}
	<tr
	{% if q_workingtime_issued.check_hr_wkt_issued_request_to_hr_activated == True %}
		{% if q_workingtime_issued.status_workingtime_issued_requested_to_hr != STATUS_MY_WORKINGTIME_ISSUED_REQUEST_TO_HR.3.0 %}
			style="background-color:rgba(255, 0, 255, 0.15)"
		{% else %}
			style="background-color:rgba(0, 255, 255, 0.15)"
		{% endif %}
	{% else %}
		{% if q_workingtime_issued == q_mysettings_hr.workingtime_issued %}
			style="background-color:rgb(255,255,0,0.15)"
		{% else %}
			style="background-color:rgb(255,255,255,0.75)"
		{% endif %}
	{% endif %}
	>
		<td></td>
		<td colspan="13">

			<div class="card card-body" style="background-color:rgb(250,250,250,0.75)">
				<div>
					<h6>
						<strong>
							출퇴근 자동등록 시간 설정하기
						</strong>
					</h6>
				</div>

				<table class="table">
					<tr>
						<th>
							설정된 근무시작시간 적용여부
						</th>
						<th>
							설정된 출근시간
						</th>
						<th>
							설정된 근무종료시간 적용여부
						</th>
						<th>
							설정된 퇴근시간
						</th>
						<th>
							비고
						</th>
					</tr>
					<tr>
						<td>
							<select class="form-control" name="select-hr-workingday-control-form-workingtime-start-default">
								{% if q_workingtime_issued.workingtime_control.check_default_datetime_start_activated == True %}
									<option value="true" selected>설정된 근무시작시간 활성화</option>
									<option value="false" >설정된 근무시작시간 비활성화</option>
								{% else %}
									<option value="true" >설정된 근무시작시간 활성화</option>
									<option value="false" selected>설정된 근무시작시간 비활성화</option>
								{% endif %}
							</select>
						</td>
						<td>
							<input type="time" class="form-control" name="input-time-hr-workingtime-control-modification-start-default" value="{{ q_workingtime_issued.workingtime_control.default_time_start_standard|time:"H:i" }}">
						</td>
						<td>
							<select class="form-control" name="select-hr-workingday-control-form-workingtime-end-default">
								{% if q_workingtime_issued.workingtime_control.check_default_datetime_end_activated == True %}
									<option value="true" selected>설정된 근무종료시간 활성화</option>
									<option value="false" >설정된 근무종료시간 비활성화</option>
								{% else %}
									<option value="true" >설정된 근무종료시간 활성화</option>
									<option value="false" selected>설정된 근무종료시간 비활성화</option>
								{% endif %}
							</select>
						</td>
						<td>
							<input type="time" class="form-control" name="input-time-hr-workingtime-control-modification-end-default" value="{{ q_workingtime_issued.workingtime_control.default_time_end_standard|time:"H:i" }}">
						</td>

						<td>
							<button type="submit" name="button-hr-workingtime-control-confirm-modification-workingtime-default" value="{{ q_workingtime_issued.id }}" class="btn btn-link btn-sm">Update</button>
						</td>
					</tr>
				</table>
			</div>
		</td>
	</tr>

{% endif %}


