{% load crispy_forms_tags %}
{% load static %}
{% load bootstrap %}



<table class="table">
	<tr style="background-color:rgba(255, 255, 255, 0.85)">
		<th>
			<button type="button" class="btn btn-sm" @click="f_timeWKTDownMonday(dict_personalized.email)">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down" viewBox="0 0 16 16">
					<path d="M3.204 5h9.592L8 10.481 3.204 5zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z"/>
				</svg>
			</button>
			월
			<button type="button" class="btn btn-sm" @click="f_timeWKTUpMonday(dict_personalized.email)">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
					<path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
				</svg>
			</button>
		</th>
		<th>
			<button type="button" class="btn btn-sm" @click="f_timeWKTDownTuesday(dict_personalized.email)">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down" viewBox="0 0 16 16">
					<path d="M3.204 5h9.592L8 10.481 3.204 5zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z"/>
				</svg>
			</button>
			화
			<button type="button" class="btn btn-sm" @click="f_timeWKTUpTuesday(dict_personalized.email)">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
					<path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
				</svg>
			</button>
		</th>
		<th>
			<button type="button" class="btn btn-sm" @click="f_timeWKTDownWednesday(dict_personalized.email)">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down" viewBox="0 0 16 16">
					<path d="M3.204 5h9.592L8 10.481 3.204 5zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z"/>
				</svg>
			</button>
			수
			<button type="button" class="btn btn-sm" @click="f_timeWKTUpWednesday(dict_personalized.email)">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
					<path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
				</svg>
			</button>
		</th>
		<th>
			<button type="button" class="btn btn-sm" @click="f_timeWKTDownThursday(dict_personalized.email)">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down" viewBox="0 0 16 16">
					<path d="M3.204 5h9.592L8 10.481 3.204 5zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z"/>
				</svg>
			</button>
			목
			<button type="button" class="btn btn-sm" @click="f_timeWKTUpThursday(dict_personalized.email)">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
					<path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
				</svg>
			</button>
		</th>
		<th>
			<button type="button" class="btn btn-sm" @click="f_timeWKTDownFriday(dict_personalized.email)">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down" viewBox="0 0 16 16">
					<path d="M3.204 5h9.592L8 10.481 3.204 5zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z"/>
				</svg>
			</button>
			금
			<button type="button" class="btn btn-sm" @click="f_timeWKTUpFriday(dict_personalized.email)">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
					<path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
				</svg>
			</button>
		</th>
	</tr>
	<tr style="background-color:rgba(255, 255, 255, 0.85)">
		<template
		v-for="(dict_day, index) in dict_personalized.list_dict_default_wkt_standard_personalized" :key="dict_day"
		>
			<td class="text-center">
				[[ dict_day.start_hour ]]시 [[ dict_day.start_minute ]]분<br>
				[[ dict_day.end_hour ]]시 [[ dict_day.end_minute ]]분
			</td>
		</template>
	</tr>
</table>
