{% load crispy_forms_tags %}
{% load static %}
{% load bootstrap %}




<template v-if="status_toggle_document_display == 'ACTIVE'">
	<table class="table">
		<tr>
			<th>
				No.
			</th>
			<th width="15%">
				이름
			</th>
			<th>
				소속
			</th>
			<th>
				이메일
			</th>
			<th>
				비고
			</th>
		</tr>

		<template v-for="(dict_personalized, index) in list_dict_personalized" :key="dict_personalized">
			<tr style="background-color:rgba(255, 255, 255, 0.85)">
				<td>
					[[ index + 1 ]]
				</td>
				<td class="text-center">
					{% comment %}
						<button type="submit" name="button-hr-workingtime-issued-today-personalized-member-select" value="[[ dict_personalized.email ]]" class="btn btn-link btn-sm" >
							[[ dict_personalized.name ]]
						</button>
					{% endcomment %}
					<button type="button" class="btn btn-link btn-sm"
					v-on:click="f_selectedMemberEmail(dict_personalized.email)"
					>
						[[ dict_personalized.name ]]
					</button>
				</td>
				<td>
					[[ dict_personalized.position ]]
				</td>
				<td>
					[[ dict_personalized.email ]]
				</td>
				<td>
					<button type="button" class="btn" @click="f_personalizedDelete(dict_personalized.hrlayout_id)">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
							<path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
						  </svg>
					</button>
				</td>
			</tr>

			<tr style="background-color:rgba(240, 240, 240, 0.5)">
				<td colspan="5">
					{% include 'hr/hr_workingtime_issued_personalized_member_modal_contents_table_weekdays.html' %}
				</td>
			</tr>

		</template>
	</table>

</template>

<template v-else>
	<table class="table">
		<tr>
			<th>
				No.
			</th>
			<th>
				이름
			</th>
			<th>
				소속<br>이메일
			</th>
			<th>
				요일별 출퇴근 시간
			</th>
			<th>
				비고
			</th>
		</tr>

		<template v-for="(dict_personalized, index) in list_dict_personalized" :key="dict_personalized">
			<tr style="background-color:rgba(255, 255, 255, 0.85)">
				<td>
					[[ index + 1 ]]
				</td>
				<td>
					<button type="button" class="btn btn-link btn-sm"
					v-on:click="f_selectedMemberEmail(dict_personalized.email)"
					>
						[[ dict_personalized.name ]]
					</button>
				</td>
				<td>
					[[ dict_personalized.position ]]
					<br>
					[[ dict_personalized.email ]]
				</td>
				<td>
					<table class="table">
						<tr style="background-color:rgba(255, 255, 255, 0.85)">
							<th>
								<button type="button" class="btn btn-sm" @click="f_timeWKTDownMonday(dict_personalized.email)">
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down" viewBox="0 0 16 16">
										<path d="M3.204 5h9.592L8 10.481 3.204 5zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z"/>
									</svg>
								</button>
								월
								<button type="button" class="btn btn-sm" @click="f_timeWKTUpMonday(dict_personalized.email)">
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
										<path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
									</svg>
								</button>
							</th>
							<th>
								<button type="button" class="btn btn-sm" @click="f_timeWKTDownTuesday(dict_personalized.email)">
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down" viewBox="0 0 16 16">
										<path d="M3.204 5h9.592L8 10.481 3.204 5zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z"/>
									</svg>
								</button>
								화
								<button type="button" class="btn btn-sm" @click="f_timeWKTUpTuesday(dict_personalized.email)">
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
										<path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
									</svg>
								</button>
							</th>
							<th>
								<button type="button" class="btn btn-sm" @click="f_timeWKTDownWednesday(dict_personalized.email)">
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down" viewBox="0 0 16 16">
										<path d="M3.204 5h9.592L8 10.481 3.204 5zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z"/>
									</svg>
								</button>
								수
								<button type="button" class="btn btn-sm" @click="f_timeWKTUpWednesday(dict_personalized.email)">
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
										<path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
									</svg>
								</button>
							</th>
							<th>
								<button type="button" class="btn btn-sm" @click="f_timeWKTDownThursday(dict_personalized.email)">
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down" viewBox="0 0 16 16">
										<path d="M3.204 5h9.592L8 10.481 3.204 5zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z"/>
									</svg>
								</button>
								목
								<button type="button" class="btn btn-sm" @click="f_timeWKTUpThursday(dict_personalized.email)">
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
										<path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
									</svg>
								</button>
							</th>
							<th>
								<button type="button" class="btn btn-sm" @click="f_timeWKTDownFriday(dict_personalized.email)">
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down" viewBox="0 0 16 16">
										<path d="M3.204 5h9.592L8 10.481 3.204 5zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z"/>
									</svg>
								</button>
								금
								<button type="button" class="btn btn-sm" @click="f_timeWKTUpFriday(dict_personalized.email)">
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
										<path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
									</svg>
								</button>
							</th>
						</tr>
						<tr style="background-color:rgba(255, 255, 255, 0.85)">
							<td
							v-for="(dict_day, index) in dict_personalized.list_dict_default_wkt_standard_personalized" :key="dict_day"
							class="text-center"
							>
								[[ dict_day.start_hour ]]시 [[ dict_day.start_minute ]]분<br>
								[[ dict_day.end_hour ]]시 [[ dict_day.end_minute ]]분
							</td>
						</tr>
					</table>
				</td>
				<td>
					<button type="button" class="btn" @click="f_personalizedDelete(dict_personalized.hrlayout_id)">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
							<path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
						  </svg>
					</button>
				</td>
		</template>
	</table>
</template>