{% load crispy_forms_tags %}
{% load bootstrap %}
{% load static %}
{% load my_filter %}

<tr
{% if q_mysettings_hr.workingtime_issued == q_wkt_control  %}
	style="background-color:rgb(255,255,0,0.15)"
{% else %}
	style="background-color:rgb(255,255,255,0.75)"
{% endif %}

>
	<td width="5%">
		<input type="checkbox" name="checkbox-hr-workingtime-select-member" value="{{ q_wkt_control.id }}"
		{% if q_wkt_control.id in q_mysettings_hr.list_wkt_control_id_selected %}
			checked
		{% endif %}
		>
		{{ q_wkt_control.owner.profile.name_korean }}
	</td>
	{% if where_am_i == 'hr' %}
		<td width="10%">
			{% if q_wkt_control.hrlayout.check_division_leader != True and q_wkt_control.hrlayout.check_company_leader != True %}
				<button type="submit" name="button-hr-workingtime-control-select-workingtime-analytics-table-row-division" value="{{ q_wkt_control.id }}" class="btn btn-link btn-sm">
					{{ q_wkt_control.hrlayout.division.division_name }}
				</button>
			{% else %}
				{% if q_wkt_control.hrlayout.check_division_leader == True %}
					<button type="submit" name="button-hr-workingtime-control-select-workingtime-analytics-table-row-division" value="{{ q_wkt_control.id }}" class="btn btn-link btn-sm">
						{{ q_wkt_control.hrlayout.division.division_name }}
					</button>
				{% else %}
					{{ q_wkt_control.hrlayout.company.company_name }}
				{% endif %}
			{% endif %}
			<br>
			{% if q_wkt_control.hrlayout.check_division_leader != True and q_wkt_control.hrlayout.check_company_leader != True %}
				<button type="submit" name="button-hr-workingtime-control-select-workingtime-analytics-table-row-team" value="{{ q_wkt_control.id }}" class="btn btn-link btn-sm">
					{{ q_wkt_control.hrlayout.team.team_name }}
				</button>
			{% else %}
				{% if q_wkt_control.hrlayout.check_division_leader == True %}
				{% else %}
				{% endif %}
			{% endif %}
		</td>
	{% endif %}

	<!-- 평일 + 휴일 출퇴근 -->
	{% if LIST_HR_WORKING_TIME_TABLE_COLUMN_INDEX_TYPE.0.0 in q_mysettings_hr.list_selected_field_name_for_wkt_analytics_type %}
		<td width="4%" class="text-center" style="background-color:rgb(0,255,255,0.15)">
			{{ q_wkt_control.num_workingdays_all_checkin_monthly }}
		</td>
		<td width="4%" class="text-center" style="background-color:rgb(0,255,255,0.15)">
			{{ q_wkt_control.datetime_wkt_all_monthly_total|divide:3600 }}시간{{ q_wkt_control.datetime_wkt_all_monthly_total|mod:3600|divide:60 }}분
			<br>
			({{ q_wkt_control.datetime_wkt_all_monthly_total_net|divide:3600 }}시간{{ q_wkt_control.datetime_wkt_all_monthly_total_net|mod:3600|divide:60 }}분)
		</td>
		<td width="4%" class="text-center" style="background-color:rgb(0,255,255,0.15)">
			{{ q_wkt_control.datetime_wkt_all_monthly_total_on_site|divide:3600 }}시간{{ q_wkt_control.datetime_wkt_all_monthly_total_on_site|mod:3600|divide:60 }}분
			<br>
			({{ q_wkt_control.datetime_wkt_all_monthly_total_on_site_net|divide:3600 }}시간{{ q_wkt_control.datetime_wkt_all_monthly_total_on_site_net|mod:3600|divide:60 }}분)
		</td>
	{% else %}
	{% endif %}


	<!-- 평일 출근/퇴근-->
	{% if LIST_HR_WORKING_TIME_TABLE_COLUMN_INDEX_TYPE.1.0 in q_mysettings_hr.list_selected_field_name_for_wkt_analytics_type %}
		<!-- 평일 총 출퇴근 횟수 -->
		<td width="4%" class="text-center" style="background-color:rgb(255,255,0,0.25)">
			{{ q_wkt_control.num_workingdays_business_valid_checkin_checkout_onsite_monthly }}
		</td>
		<!-- 평일 총 근무시간 -->
		<td width="4%" class="text-center" style="background-color:rgb(255,255,0,0.25)">
			{{ q_wkt_control.datetime_wkt_business_monthly_total|divide:3600 }}시간{{ q_wkt_control.datetime_wkt_business_monthly_total|mod:3600|divide:60 }}분
			<br>
			({{ q_wkt_control.datetime_wkt_business_monthly_total_net|divide:3600 }}시간{{ q_wkt_control.datetime_wkt_business_monthly_total_net|mod:3600|divide:60 }}분)
		</td>
		<!-- 평일 총 근무시간(외근/자택 제외) -->
		<td width="4%" class="text-center" style="background-color:rgb(255,255,0,0.25)">
			{{ q_wkt_control.datetime_wkt_business_monthly_total_on_site|divide:3600 }}시간{{ q_wkt_control.datetime_wkt_business_monthly_total_on_site|mod:3600|divide:60 }}분
			<br>
			({{ q_wkt_control.datetime_wkt_business_monthly_total_on_site_net|divide:3600 }}시간{{ q_wkt_control.datetime_wkt_business_monthly_total_on_site_net|mod:3600|divide:60 }}분)
		</td>
		<!-- 평일 평균 근무시간 -->
		<td width="4%" class="text-center" style="background-color:rgb(255,255,0,0.25)">
			{{ q_wkt_control.time_wkt_business_avg_monthly_total|divide:3600 }}시간{{ q_wkt_control.time_wkt_business_avg_monthly_total|mod:3600|divide:60 }}분
			<br>
			({{ q_wkt_control.time_wkt_business_avg_monthly_total_net|divide:3600 }}시간{{ q_wkt_control.time_wkt_business_avg_monthly_total_net|mod:3600|divide:60 }}분)
		</td>
		<!--
			평일 출근 상태별
		-->
		<!-- 평일 평균 출근시간-->
		<td class="text-center" style="background-color:rgb(255,255,0,0.25)">
			{{ q_wkt_control.time_wkt_business_avg_checkin_monthly|to_hour_minute }}
		</td>
		<!-- 평일 총 지각시간-->
		<td class="text-center" style="background-color:rgb(255,255,0,0.25)">
			{{ q_wkt_control.datetime_wkt_business_total_late_checkin_monthly|divide:3600 }}시간{{ q_wkt_control.datetime_wkt_business_total_late_checkin_monthly|mod:3600|divide:60 }}분
		</td>
		<!-- 평일 정상출근 횟수 -->
		<td class="text-center" style="background-color:rgb(255,255,0,0.05)">
			{{ q_wkt_control.num_workingdays_business_checkin_standard_monthly }}
		</td>
		<!-- 평일 지각 횟수 -->
		<td class="text-center" style="background-color:rgb(255,255,0,0.05)">
			{{ q_wkt_control.num_workingdays_business_checkin_late_monthly }}
		</td>
		<!--
			평일 퇴근 상태별
		-->
		<!-- 평일 평균 퇴근시간-->
		<td class="text-center" style="background-color:rgb(255,255,0,0.25)">
			{{ q_wkt_control.time_wkt_business_avg_checkout_monthly|from_total_seconds_to_hour_minute }}
		</td>
		<!-- 평일 평균 야근시간-->
		<td class="text-center" style="background-color:rgb(255,255,0,0.25)">
			{{ q_wkt_control.datetime_wkt_business_total_late_checkout_monthly|divide:3600 }}시간{{ q_wkt_control.datetime_wkt_business_total_late_checkout_monthly|mod:3600|divide:60 }}분
		</td>
		<!-- 평일 정상 퇴근 횟수-->
		<td class="text-center" style="background-color:rgb(255,255,0,0.05)">
			{{ q_wkt_control.num_workingdays_business_checkout_standard_monthly }}
		</td>
		<!-- 평일 야근 횟수-->
		<td class="text-center" style="background-color:rgb(255,255,0,0.05)">
			{{ q_wkt_control.num_workingdays_business_checkout_late_monthly }}
		</td>

		<!-- 평일 출퇴근 누락 횟수-->
		<td class="text-center" style="background-color:rgb(255,255,0,0.25)">
			{{ q_wkt_control.num_workingdays_business_checkin_checkout_unknown_monthly }}
		</td>
		<!--
			근무위치별
		-->
		<td class="text-center" style="background-color:rgba(255, 190, 50, 0.25)">
			{{ q_wkt_control.num_workingdays_business_checkin_onsite_monthly }}
		</td>
		<td class="text-center" style="background-color:rgb(255, 190, 50, 0.25)">
			{{ q_wkt_control.num_workingdays_business_checkin_outside_monthly }}
		</td>
		<td class="text-center" style="background-color:rgb(255, 190, 50, 0.25)">
			{{ q_wkt_control.num_workingdays_business_checkin_home_monthly }}
		</td>
	{% else %}
	{% endif %}


	<!--
		휴일 출근/퇴근
	-->
	{% if LIST_HR_WORKING_TIME_TABLE_COLUMN_INDEX_TYPE.2.0 in q_mysettings_hr.list_selected_field_name_for_wkt_analytics_type %}
		<!-- 휴일 정상출근/퇴근 횟수 -->
		<td class="text-center" style="background-color:rgb(255,0,255,0.15)">
			{{ q_wkt_control.num_workingdays_holiday_valid_checkin_checkout_onsite_monthly }}
		</td>
		<!-- 월간 휴일 총 근무시간 / 넷 근무시간-->
		<td class="text-center" style="background-color:rgb(255,0,255,0.15)">
			{% if q_wkt_control.datetime_wkt_holiday_monthly_total == None or q_wkt_control.datetime_wkt_holiday_monthly_total == 0 %}
				0시간0분
			{% else %}
				{{ q_wkt_control.datetime_wkt_holiday_monthly_total|divide:3600 }}시간{{ q_wkt_control.datetime_wkt_holiday_monthly_total|mod:3600|divide:60 }}분
				<br>
				({{ q_wkt_control.datetime_wkt_holiday_monthly_total_net|divide:3600 }}시간{{ q_wkt_control.datetime_wkt_holiday_monthly_total_net|mod:3600|divide:60 }}분)
			{% endif %}
		</td>
		<!-- 월간 휴일 평균 근무시간 -->
		<td class="text-center" style="background-color:rgb(255,0,255,0.15)">
			{% if q_wkt_control.time_wkt_holiday_avg_monthly_total == None or q_wkt_control.time_wkt_holiday_avg_monthly_total == 0 %}
				0시간0분
			{% else %}
				{{ q_wkt_control.time_wkt_holiday_avg_monthly_total|divide:3600 }}시간{{ q_wkt_control.time_wkt_holiday_avg_monthly_total|mod:3600|divide:60 }}분
				<br>
				({{ q_wkt_control.time_wkt_holiday_avg_monthly_total_net|divide:3600 }}시간{{ q_wkt_control.time_wkt_holiday_avg_monthly_total_net|mod:3600|divide:60 }}분)
			{% endif %}
		</td>
		<!-- 휴일 비정상 정상출근/퇴근 횟수 -->
		<td class="text-center" style="background-color:rgb(255,0,255,0.05)">
			{{ q_wkt_control.num_workingdays_holiday_checkin_checkout_unknown_monthly }}
		</td>

	{% else %}
	{% endif %}



	<td class="text-center">
		{% if where_am_i == 'hr' %}
			{% if request.user.is_superuser == True or request.user.profile.check_hr_head == True or request.user.member.id in q_authority.auth_hr_validation %}
				<button type="submit" name="button-hr-workingtime-control-workingtime-issued-modify-activate" value="{{ q_wkt_control.id }}" class="btn btn-link btn-sm"
				{% if q_wkt_control.check_confirmed == True %}
					disabled
				{% endif %}
				>
				{% if q_mysettings_hr.workingtime_issued == q_wkt_control %}
					Cancel
				{% else %}
					Modify
				{% endif %}
				</button>
			{% endif %}
		{% endif %}
	</td>
</tr>




<!--
	Workingtime 선택된 경우
-->
{% if q_mysettings_hr.workingtime_control == q_wkt_control %}

	<!--
		Workingtime 선택된 경우 출퇴근 시간 수정하기 창 활성화
	-->
	<tr
	{% if q_mysettings_hr.workingtime_control == q_wkt_control  %}
		style="background-color:rgb(255,255,0,0.15)"
	{% else %}
	{% endif %}
	>
		<td></td>
		<td colspan="11">

			<div class="card card-body" style="background-color:rgb(250,250,250,0.75)">
				<div>
					<h6>
						<strong>
							출퇴근 내용 수정하기
						</strong>
					</h6>
				</div>

				<table class="table">
					<tr>
						<th>
							출근 시간
						</th>
						<th>
							출근 상태
						</th>
						<th>
							퇴근 시간
						</th>
						<th>
							퇴근 상태
						</th>
						<th>
							비고
						</th>
					</tr>
					<tr>
						<td>
							<input type="time" class="form-control" name="input-time-hr-workingtime-control-modification-start" value="{{ q_wkt_control.datetime_start|time:"H:i" }}">
						</td>
						<td>
							<select class="form-control" name="select-hr-workingday-control-form-workingtime-start">

								{% for ITEM in STATUS_WORKING_TIME_START %}
									{% if q_wkt_control.status_wkt_start == ITEM.0 %}
										<option value="{{ ITEM.0 }}" selected>{{ ITEM.1 }}</option>
									{% endif %}
								{% endfor %}

								{% for ITEM in STATUS_WORKING_TIME_START %}
									{% if q_wkt_control.status_wkt_start != ITEM.0 %}
										<option value="{{ ITEM.0 }}">{{ ITEM.1 }}</option>
									{% endif %}
								{% endfor %}
							</select>
						</td>
						<td>
							<input type="time" class="form-control" name="input-time-hr-workingtime-control-modification-end" value="{{ q_wkt_control.datetime_end|time:"H:i" }}">
						</td>
						<td>
							<select class="form-control" name="select-hr-workingday-control-form-workingtime-end">

								{% for ITEM in STATUS_WORKING_TIME_END %}
									{% if q_wkt_control.status_wkt_end == ITEM.0 %}
										<option value="{{ ITEM.0 }}" selected>{{ ITEM.1 }}</option>
									{% endif %}
								{% endfor %}

								{% for ITEM in STATUS_WORKING_TIME_END %}
									{% if q_wkt_control.status_wkt_end != ITEM.0 %}
										<option value="{{ ITEM.0 }}">{{ ITEM.1 }}</option>
									{% endif %}
								{% endfor %}
							</select>
						</td>

						<td>
							<button type="submit" name="button-hr-workingtime-control-confirm-modification-workingtime" value="{{ q_wkt_control.id }}" class="btn btn-link btn-sm">Update</button>
						</td>
					</tr>
				</table>
			</div>
		</td>
	</tr>


	<!--
		Workingtime 선택된 경우 출퇴근 시간 자동등록 창 활성화
	-->
	<tr
	{% if q_mysettings_hr.workingtime_control == q_wkt_control  %}
		style="background-color:rgb(255,255,0,0.15)"
	{% else %}
	{% endif %}
	>
		<td></td>
		<td colspan="11">

			<div class="content-section">
				<div>
					<h6>
						<strong>
							출퇴근 시간 설정하기
						</strong>
					</h6>
				</div>

				<table class="table">
					<tr>
						<th>
							설정된 근무시작시간 적용여부
						</th>
						<th>
							설정된 출근시간
						</th>
						<th>
							설정된 근무종료시간 적용여부
						</th>
						<th>
							설정된 퇴근시간
						</th>
						<th>
							비고
						</th>
					</tr>
					<tr>
						<td>
							<select class="form-control" name="select-hr-workingday-control-form-workingtime-start-default">
								{% if q_wkt_control.workingtime_control.check_default_datetime_start_activated == True %}
									<option value="true" selected>설정된 근무시작시간 활성화</option>
									<option value="false" >설정된 근무시작시간 비활성화</option>
								{% else %}
									<option value="true" >설정된 근무시작시간 활성화</option>
									<option value="false" selected>설정된 근무시작시간 비활성화</option>
								{% endif %}
							</select>
						</td>
						<td>
							<input type="time" class="form-control" name="input-time-hr-workingtime-control-modification-start-default" value="{{ q_wkt_control.workingtime_control.default_time_start|time:"H:i" }}">
						</td>
						<td>
							<select class="form-control" name="select-hr-workingday-control-form-workingtime-end-default">
								{% if q_wkt_control.workingtime_control.check_default_datetime_end_activated == True %}
									<option value="true" selected>설정된 근무종료시간 활성화</option>
									<option value="false" >설정된 근무종료시간 비활성화</option>
								{% else %}
									<option value="true" >설정된 근무종료시간 활성화</option>
									<option value="false" selected>설정된 근무종료시간 비활성화</option>
								{% endif %}
							</select>
						</td>
						<td>
							<input type="time" class="form-control" name="input-time-hr-workingtime-control-modification-end-default" value="{{ q_wkt_control.workingtime_control.default_time_end|time:"H:i" }}">
						</td>

						<td>
							<button type="submit" name="button-hr-workingtime-control-confirm-modification-workingtime-default" value="{{ q_wkt_control.id }}" class="btn btn-link btn-sm">Update</button>
						</td>
					</tr>
				</table>
			</div>
		</td>
	</tr>
{% endif %}