{% load crispy_forms_tags %}
{% load bootstrap %}
{% load static %}









<div class="card card-body" style="background-color:rgb(240,240,240,0.5);">

	<table class="table table-sm ">
		<tr>

			<th width="5%">
				이름
			</th>
			<th width="7%">
				<button type="submit" name="button-hr-workingtime-control-select-workingtime-analytics-table-column-index" value="{{ LIST_WORKING_TIME_TABLE_COLUMN_INDEX_FOR_ANALYTICS.1.0 }}" class="btn btn-link btn-sm">
					{{ LIST_WORKING_TIME_TABLE_COLUMN_INDEX_FOR_ANALYTICS.1.1 }}
				</button>
			</th>
			<th width="8%">
				<button type="submit" name="button-hr-workingtime-control-select-workingtime-analytics-table-column-index" value="{{ LIST_WORKING_TIME_TABLE_COLUMN_INDEX_FOR_ANALYTICS.2.0 }}" class="btn btn-link btn-sm">
					{{ LIST_WORKING_TIME_TABLE_COLUMN_INDEX_FOR_ANALYTICS.2.1 }}
				</button>
			</th>
			<th>
				<button type="submit" name="button-hr-workingtime-control-select-workingtime-analytics-table-column-index" value="time_wkt_business_avg_monthly_net" class="btn btn-link btn-sm">
					평일평균근무시간분포
				</button>

				<span class="tooltip-wrap">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-circle-fill" viewBox="0 0 16 16">
						<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247zm2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z"/>
					</svg>
					<div class="tooltip-content">평일 월 평균 근무시간 상대평가, 10%는 근무시간이 많은 상위 10%를 의미하며, 80%는 근무시간이 많은 상위 80%, 즉 하위 20%를 의미함 </div>
				</span>
			</th>
			<th>
				<button type="submit" name="button-hr-workingtime-control-select-workingtime-analytics-table-column-index" value="time_wkt_business_avg_checkin_monthly" class="btn btn-link btn-sm">
					평일출근시간분포
				</button>

				<span class="tooltip-wrap">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-circle-fill" viewBox="0 0 16 16">
						<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247zm2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z"/>
					</svg>
					<div class="tooltip-content">평일 월 평균 출근시간 상대평가, 10%는 출근시간이 빠른 상위 10%를 의미하며, 80%는 출근시간이 빠른 상위 80%, 즉 하위 20%를 의미함 </div>
				</span>
			</th>
			<th>
				<button type="submit" name="button-hr-workingtime-control-select-workingtime-analytics-table-column-index" value="time_wkt_business_avg_checkout_monthly" class="btn btn-link btn-sm">
					평일퇴근시간분포
				</button>

				<span class="tooltip-wrap">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-circle-fill" viewBox="0 0 16 16">
						<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247zm2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z"/>
					</svg>
					<div class="tooltip-content">평일 월 평균 퇴근시간 상대평가, 10%는 퇴근시간이 느린 상위 10%를 의미하며, 80%는 퇴근시간이 느린 상위 80%, 즉 하위 20%를 의미함  </div>
				</span>
			</th>


		</tr>
		{% for q_wkt_control in qs_wkt_control %}
			{% for dict_wkt_control_analytics_graph in q_mysettings_hr.list_dict_wkt_control_analytics_graph %}
				{% if dict_wkt_control_analytics_graph.id == q_wkt_control.id %}
					<tr
					{% if q_mysettings_hr.workingtime_issued == q_wkt_control  %}
						style="background-color:rgb(255,255,0,0.15)"
					{% else %}
						style="background-color:rgb(255,255,255,0.75)"
					{% endif %}

					>
						<td>
							{{ q_wkt_control.owner.profile.name_korean }}
						</td>
						<td >
							{% if q_wkt_control.hrlayout.check_division_leader != True and q_wkt_control.hrlayout.check_company_leader != True %}
								<button type="submit" name="button-hr-workingtime-control-select-workingtime-analytics-table-row-division" value="{{ q_wkt_control.id }}" class="btn btn-link btn-sm">
									{{ q_wkt_control.hrlayout.division.division_name }}
								</button>
							{% else %}
								{% if q_wkt_control.hrlayout.check_division_leader == True %}
									<button type="submit" name="button-hr-workingtime-control-select-workingtime-analytics-table-row-division" value="{{ q_wkt_control.id }}" class="btn btn-link btn-sm">
										{{ q_wkt_control.hrlayout.division.division_name }}
									</button>
								{% else %}
									{{ q_wkt_control.hrlayout.company.company_name }}
								{% endif %}
							{% endif %}
						</td>
						<td >
							{% if q_wkt_control.hrlayout.check_division_leader != True and q_wkt_control.hrlayout.check_company_leader != True %}
								<button type="submit" name="button-hr-workingtime-control-select-workingtime-analytics-table-row-team" value="{{ q_wkt_control.id }}" class="btn btn-link btn-sm">
									{{ q_wkt_control.hrlayout.team.team_name }}
								</button>
							{% else %}
								{% if q_wkt_control.hrlayout.check_division_leader == True %}
								{% else %}
								{% endif %}
							{% endif %}
						</td>
						<td>
							<div class="progress">
								<div class="progress-bar " role="progressbar" style="width: {{ dict_wkt_control_analytics_graph.bar_progress_netwkt }}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
									{{ dict_wkt_control_analytics_graph.time_netwkt }}({{ dict_wkt_control_analytics_graph.top_rate_netwkt|stringformat:".1f" }}%) {{ dict_wkt_control_analytics_graph.name }}
								</div>
							</div>
						</td>
						<td>
							<div class="progress">
								<div class="progress-bar  bg-success" role="progressbar" style="width: {{ dict_wkt_control_analytics_graph.bar_progress_checkin }}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
									{{ dict_wkt_control_analytics_graph.time_checkin }}({{ dict_wkt_control_analytics_graph.top_rate_checkin|stringformat:".1f" }}%) {{ dict_wkt_control_analytics_graph.name }}
								</div>
							</div>
						</td>
						<td>
							<div class="progress">
								<div class="progress-bar bg-info" role="progressbar" style="width: {{ dict_wkt_control_analytics_graph.bar_progress_checkout }}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
									{{ dict_wkt_control_analytics_graph.time_checkout }}({{ dict_wkt_control_analytics_graph.top_rate_checkout|stringformat:".1f" }}%) {{ dict_wkt_control_analytics_graph.name }}
								</div>
							</div>
						</td>
					</tr>
				{% endif %}
			{% endfor %}
		{% endfor %}
	</table>

</div>
