{% load crispy_forms_tags %}
{% load bootstrap %}
{% load static %}




<!-- Modal 멤버 월간 분석 차트 보기 -->
{% if q_mysettings_hr.check_activate_workingtime_control_analytics_graph_modal_view == True %}
	<script type="text/javascript">
		$(window).on('load', function() {$('#hrWorkingtimeControlAnlayticsGraphChart').modal({show:true, backdrop:false});});
	</script>
	<form method="POST" action="{% url 'hr-workingtime-control' %}"  enctype="multipart/form-data">
		{% csrf_token %}
		{% include 'hr/hr_workingtime_control_analytics_graph_modal_view_chart.html' %}
	</form>
{% endif %}





<div
{% if q_mysettings_hr.check_display_size_workingtime_analytics_table_fullwidth == True %}
	class="col-md-12"
{% else %}
	class="col-md-9"
{% endif %}
>


		<div class="content-section">
			<fieldset class="form-group">

				<!-- Table Index -->
				<table class="table">
					<tr>
						<form method="POST" action="{% url 'hr-workingtime-control' %}"  enctype="multipart/form-data">
							{% csrf_token %}
							<td>
								<legend class="border-bottom mb-4">
									보로노이 멤버 출퇴근 분석
								</legend>
							</td>
						</form>
						<form method="POST" action="{% url 'hr-workingtime-control' %}"  enctype="multipart/form-data">
							{% csrf_token %}
							<td>
								<input type="text" class="form-control" name="text-hr-workingtime-control-search-analytics-keyword" placeholder="검색어 입력">
							</td>
							<td>
								<button type="submit" name="button-hr-workingtime-control-search-analytics-table" value="true" class="btn btn-info btn-md">Search</button>
							</td>
						</form>
						<form method="POST" action="{% url 'hr-workingtime-control' %}"  enctype="multipart/form-data">
							{% csrf_token %}

							<td>
								<button type="submit" name="button-hr-workingtime-control-reset-analytics-table" value="true" class="btn btn-dark btn-sm">
									Reset
								</button>
							</td>
							<td>
								<button type="submit" name="button-hr-workingtime-control-refresh-workingtime-control" value="true" class="btn btn-primary btn-sm">
									Refresh
								</button>
							</td>
							<td>
								<button type="submit" name="button-hr-workingtime-control-switch-workingtime-control" value="true" class="btn btn-warning btn-sm">
									Switch
								</button>
							</td>
							<td>
								<button type="submit" name="button-hr-workingtime-control-download-excel" value="true" class="btn btn-primary btn-sm">
									Download Excel
								</button>
							</td>
							<td width="10%" class="text-right">
								{% if q_mysettings_hr.check_display_size_workingtime_analytics_table_fullwidth == False %}
									<button type="submit" name="button-hr-workingtime-control-analytics-table-display-size-switch" value="true" class="btn btn-light btn-sm"></button>
										<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrows-fullscreen" viewBox="0 0 16 16">
											<path fill-rule="evenodd" d="M5.828 10.172a.5.5 0 0 0-.707 0l-4.096 4.096V11.5a.5.5 0 0 0-1 0v3.975a.5.5 0 0 0 .5.5H4.5a.5.5 0 0 0 0-1H1.732l4.096-4.096a.5.5 0 0 0 0-.707zm4.344 0a.5.5 0 0 1 .707 0l4.096 4.096V11.5a.5.5 0 1 1 1 0v3.975a.5.5 0 0 1-.5.5H11.5a.5.5 0 0 1 0-1h2.768l-4.096-4.096a.5.5 0 0 1 0-.707zm0-4.344a.5.5 0 0 0 .707 0l4.096-4.096V4.5a.5.5 0 1 0 1 0V.525a.5.5 0 0 0-.5-.5H11.5a.5.5 0 0 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 0 .707zm-4.344 0a.5.5 0 0 1-.707 0L1.025 1.732V4.5a.5.5 0 0 1-1 0V.525a.5.5 0 0 1 .5-.5H4.5a.5.5 0 0 1 0 1H1.732l4.096 4.096a.5.5 0 0 1 0 .707z"/>
										</svg>
									</button>
								{% else %}
									<button type="submit" name="button-hr-workingtime-control-analytics-table-file-download" value="true" class="btn btn-info btn-sm">
										<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-arrow-down" viewBox="0 0 16 16">
											<path d="M8.5 6.5a.5.5 0 0 0-1 0v3.793L6.354 9.146a.5.5 0 1 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 10.293V6.5z"/>
											<path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
										</svg>
										Download File
									</button>
								{% endif %}

								{% comment %}
									<button type="submit" name="button-hr-workingtime-control-analytics-table-display-size-switch" value="true" class="btn btn-light btn-sm">
										{% if q_mysettings_hr.check_display_size_workingtime_analytics_table_fullwidth == False %}
											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrows-fullscreen" viewBox="0 0 16 16">
												<path fill-rule="evenodd" d="M5.828 10.172a.5.5 0 0 0-.707 0l-4.096 4.096V11.5a.5.5 0 0 0-1 0v3.975a.5.5 0 0 0 .5.5H4.5a.5.5 0 0 0 0-1H1.732l4.096-4.096a.5.5 0 0 0 0-.707zm4.344 0a.5.5 0 0 1 .707 0l4.096 4.096V11.5a.5.5 0 1 1 1 0v3.975a.5.5 0 0 1-.5.5H11.5a.5.5 0 0 1 0-1h2.768l-4.096-4.096a.5.5 0 0 1 0-.707zm0-4.344a.5.5 0 0 0 .707 0l4.096-4.096V4.5a.5.5 0 1 0 1 0V.525a.5.5 0 0 0-.5-.5H11.5a.5.5 0 0 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 0 .707zm-4.344 0a.5.5 0 0 1-.707 0L1.025 1.732V4.5a.5.5 0 0 1-1 0V.525a.5.5 0 0 1 .5-.5H4.5a.5.5 0 0 1 0 1H1.732l4.096 4.096a.5.5 0 0 1 0 .707z"/>
											</svg>
										{% else %}
											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-fullscreen-exit" viewBox="0 0 16 16">
												<path d="M5.5 0a.5.5 0 0 1 .5.5v4A1.5 1.5 0 0 1 4.5 6h-4a.5.5 0 0 1 0-1h4a.5.5 0 0 0 .5-.5v-4a.5.5 0 0 1 .5-.5zm5 0a.5.5 0 0 1 .5.5v4a.5.5 0 0 0 .5.5h4a.5.5 0 0 1 0 1h-4A1.5 1.5 0 0 1 10 4.5v-4a.5.5 0 0 1 .5-.5zM0 10.5a.5.5 0 0 1 .5-.5h4A1.5 1.5 0 0 1 6 11.5v4a.5.5 0 0 1-1 0v-4a.5.5 0 0 0-.5-.5h-4a.5.5 0 0 1-.5-.5zm10 1a1.5 1.5 0 0 1 1.5-1.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 0-.5.5v4a.5.5 0 0 1-1 0v-4z"/>
											</svg>
											&nbsp; 파일다운로드
										{% endif %}
									</button>
								{% endcomment %}
							</td>
					</tr>

					<tr>
						<td colspan="1">
							<button type="submit" name="button-hr-workingtime-control-calendar-select-date" value="prev_month" class="btn btn-link btn-sm">
								{{ date_selected_workingtime_last_month|date:"Y-m" }}
							</button>
							<button type="button" name="button-hr-workingtime-control-calendar-select-date" value="selected_month" class="btn btn-dark btn-sm">
								{{ date_selected_workingtime_control|date:"Y-m" }}
							</button>
							<button type="submit" name="button-hr-workingtime-control-calendar-select-date" value="next_month" class="btn btn-link btn-sm">
								{{ date_selected_workingtime_next_month|date:"Y-m" }}
							</button>
							<button type="submit" name="button-hr-workingtime-control-calendar-select-date" value="reset" class="btn btn-link btn-sm">
								Reset
							</button>
						</td>
						<td colspan="1">
							<input type="date" name="input-hr-workingtime-control-calendar-select-date-workingtime-control" class="form-control" >
							<input type="date" name="input-hr-workingtime-control-calendar-select-date-workingtime-control2" class="form-control" >
						</td>
						<td>
							<button type="submit" name="button-hr-workingtime-issued-calendar-select-date-workingtime-control" value="true" class="btn btn-link btn-sm">
								특정날짜선택
							</button>
						</td>
						<td >
							<button type="submit" name="button-hr-workingtime-control-analytics-graph-chart-modal-view-open" value="true" class="btn btn-link btn-sm">
								월간 출퇴근 분석챠트
							</button>
						</td>
						<td colspan="3">
						</td>
					</tr>

				</table>


				<!-- Main Body -->
				{% if q_mysettings_hr.check_activate_analytics_table_graph == False %}
					{% include 'hr/hr_workingtime_control_analytics_table.html' %}
				{% else %}
					{% include 'hr/hr_workingtime_control_analytics_graph.html' %}
				{% endif %}


			</fieldset>
		</div>
	</form>
</div>



{% if q_mysettings_hr.check_display_size_workingtime_analytics_table_fullwidth == False %}
	<div class="col-md-3">

		{% include 'hr/hr_workingtime_control_analytics_table_file_download.html' %}

	</div>

{% endif %}




<style>
	.tooltip-wrap {
	position: relative;
	}
	.tooltip-wrap .tooltiptext {
	bottom: 20%;
	left: 200%;
	}
	.tooltip-wrap .tooltip-content {
	display: none;
	position: absolute;
	/* bottom: 5%;
	left: 5%;
	right: 5%; */
	background-color: rgba(0, 0, 0, 0.85);
  	color: #fff;
	padding: .5em;
	min-width: 10rem;
	width: 300px;
	border-radius: 3px;
	z-index: 1;
	}
	.tooltip-wrap:hover .tooltip-content {
	display: block;
	}
</style>
