{% load crispy_forms_tags %}
{% load bootstrap %}
{% load static %}


<tr
{% if q_mysettings_hr.workingtime_issued == q_vacation_plan.owner.profile  %}
	style="background-color:rgb(255,255,0,0.15)"
{% else %}
	style="background-color:rgb(255,255,255,0.75)"
{% endif %}

>
	<td width="5%">
		<input type="checkbox" name="checkbox-hr-workingtime-select-member" value="{{ q_vacation_plan.id }}">
		{{ q_vacation_plan.owner.profile.name_korean }}
	</td>
	{% if where_am_i == 'hr' %}
		<td width="15%">
			{% if q_vacation_plan.owner.profile.workingtime_control.hrlayout.check_division_leader != True and q_vacation_plan.owner.profile.workingtime_control.hrlayout.check_company_leader != True %}
				({{ q_vacation_plan.owner.profile.workingtime_control.hrlayout.team.team_name }} / {{ q_vacation_plan.owner.profile.workingtime_control.hrlayout.division.division_name }})
			{% else %}
				{% if q_vacation_plan.owner.profile.workingtime_control.hrlayout.check_division_leader == True %}
					({{ q_vacation_plan.owner.profile.workingtime_control.hrlayout.division.division_name }})
				{% else %}
					({{ q_vacation_plan.owner.profile.workingtime_control.hrlayout.company.company_name }})
				{% endif %}
			{% endif %}
		</td>
	{% endif %}
	<td>
		{{ q_mysettings_hr.date_selected_workingtime|date:"Y-m-d" }}
	</td>
	<td>
		-
	</td>
	<td>
		<button type="button" class="btn btn-primary btn-sm">
			{% if q_vacation_plan.vacation_type == LIST_VACATION_TYPES.0.0 %}
				{{ LIST_VACATION_TYPES.0.1 }}
			{% elif q_vacation_plan.vacation_type == LIST_VACATION_TYPES.1.0 %}
				{{ LIST_VACATION_TYPES.1.1 }}
			{% elif q_vacation_plan.vacation_type == LIST_VACATION_TYPES.2.0 %}
				{{ LIST_VACATION_TYPES.2.1 }}
			{% elif q_vacation_plan.vacation_type == LIST_VACATION_TYPES.3.0 %}
				{{ LIST_VACATION_TYPES.3.1 }}
			{% elif q_vacation_plan.vacation_type == LIST_VACATION_TYPES.4.0 %}
				{{ LIST_VACATION_TYPES.4.1 }}
			{% elif q_vacation_plan.vacation_type == LIST_VACATION_TYPES.5.0 %}
				{{ LIST_VACATION_TYPES.5.1 }}
			{% elif q_vacation_plan.vacation_type == LIST_VACATION_TYPES.6.0 %}
				{{ LIST_VACATION_TYPES.6.1 }}
			{% elif q_vacation_plan.vacation_type == LIST_VACATION_TYPES.7.0 %}
				{{ LIST_VACATION_TYPES.7.1 }}
			{% endif %}
		</button>
	</td>
	<td colspan="2">
		휴가개시일: {{ q_vacation_plan.datetime_start|date:"Y-m-d" }}
	</td>

	<td colspan="2">
		휴가종료일: {{ q_vacation_plan.datetime_end|date:"Y-m-d" }}
	</td>

	<td>
	</td>
	<td class="text-right">
	</td>
</tr>

