{% load crispy_forms_tags %}
{% load bootstrap %}
{% load static %}




<div class="col-md-6">
	<form method="POST" action="{% url 'hr-workingtime-control' %}"  enctype="multipart/form-data">
	{% csrf_token %}

		<div class="content-section">
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">
					<strong>
						출퇴근 시간 설정
					</strong>
				</legend>

				<div class="card card-body" style="background-color:rgb(240,240,240,0.5);">

					<table class="table table-sm">
						<tr>
							<th>내용</th>
							<th>설정값</th>
							<th>수정값 입력</th>
							<th>비고</th>
						</tr>
						<tr style="background-color:rgb(255,255,255,0.85)">
							<th>
								근무 시작 시간 세팅
							</th>
							<td>
								{{ q_hr_default_settings.default_time_start_standard }}
							</td>
							<td>
								<input type="time" class="form-control" name="input-hr-settings-default-time-start-standard">
							</td>
							<td>
								<button type="submit" name="button-hr-settings-default-time-start-standard-update" value="true" class="btn btn-link btn-sm">
									변경하기
								</button>

							</td>
						</tr>
						<tr style="background-color:rgb(255,255,255,0.85)">
							<th>
								조기 출근 시간 세팅
							</th>
							<td>
								{{ q_hr_default_settings.default_time_start_early }}
							</td>
							<td>
								<input type="time" class="form-control" name="input-hr-settings-default-time-start-early">
							</td>
							<td>
								<button type="submit" name="button-hr-settings-default-time-start-early-update" value="true" class="btn btn-link btn-sm">
									변경하기
								</button>
							</td>
						</tr>
						<tr style="background-color:rgb(255,255,255,0.85)">
							<th>
								근무 종료 시간 세팅
							</th>
							<td>
								{{ q_hr_default_settings.default_time_end_standard }}
							</td>
							<td>
								<input type="time" class="form-control" name="input-hr-settings-default-time-end-standard">
							</td>
							<td>
								<button type="submit" name="button-hr-settings-default-time-end-standard-update" value="true" class="btn btn-link btn-sm">
									변경하기
								</button>

							</td>
						</tr>
						<tr style="background-color:rgb(255,255,255,0.85)">
							<th>
								연장근로 시작 시간 세팅
							</th>
							<td>
								{{ q_hr_default_settings.default_time_end_lately }}
							</td>
							<td>
								<input type="time" class="form-control" name="input-hr-settings-default-time-end-lately">
							</td>
							<td>
								<button type="submit" name="button-hr-settings-default-time-end-lately-update" value="true" class="btn btn-link btn-sm">
									변경하기
								</button>
							</td>
						</tr>

						<tr style="background-color:rgb(255,255,255,0.85)">
							<th>
								날짜 기준선 시간 세팅
							</th>
							<td>
								{{ q_hr_default_settings.default_datebaseline_time }}
							</td>
							<td>
								<input type="time" class="form-control" name="input-hr-settings-default-baseline-date">
							</td>
							<td>
								<button type="submit" name="button-hr-settings-default-baseline-date-update" value="true" class="btn btn-link btn-sm">
									변경하기
								</button>
								<span class="tooltip-wrap">
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-circle-fill" viewBox="0 0 16 16">
										<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247zm2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z"/>
									</svg>
									<div class="tooltip-content">예를들어,기준이 3시,  새벽 1시 30분에 퇴근하였으면 기준선 이전에 근무를 종료한 것이기에 다음 날이지만 전날 총 근무시간으로 합산. 퇴근시간 역시 전날 퇴근시간으로 찍힘. 새벽 4시에 퇴근하였으면 기준선 이후 근무를 종료한 것으로 다음날 출근으로 잡힘 전날 퇴근은 미상으로 잡힘</div>
								</span>
							</td>
						</tr>

						<tr style="background-color:rgb(255,255,255,0.85)">
							<th>
								점심식사 시작시간 세팅
							</th>
							<td>
								{{ q_hr_default_settings.default_lunchtime_start }}
							</td>
							<td>
								<input type="time" class="form-control" name="input-hr-settings-default-lunchtime-start-time">
							</td>
							<td>
								<button type="submit" name="button-hr-settings-default-lunchtime-start-time-update" value="true" class="btn btn-link btn-sm">
									변경하기
								</button>
							</td>
						</tr>

						<tr style="background-color:rgb(255,255,255,0.85)">
							<th>
								점심식사 종료시간 세팅
							</th>
							<td>
								{{ q_hr_default_settings.default_lunchtime_end }}
							</td>
							<td>
								<input type="time" class="form-control" name="input-hr-settings-default-lunchtime-end-time">
							</td>
							<td>
								<button type="submit" name="button-hr-settings-default-lunchtime-end-time-update" value="true" class="btn btn-link btn-sm">
									변경하기
								</button>
							</td>
						</tr>

						<tr style="background-color:rgb(255,255,255,0.85)">
							<th>
								저녁식사 시작시간 세팅
							</th>
							<td>
								{{ q_hr_default_settings.default_dinnertime_start }}
							</td>
							<td>
								<input type="time" class="form-control" name="input-hr-settings-default-dinnertime-start-time">
							</td>
							<td>
								<button type="submit" name="button-hr-settings-default-dinnertime-start-time-update" value="true" class="btn btn-link btn-sm">
									변경하기
								</button>
							</td>
						</tr>

						<tr style="background-color:rgb(255,255,255,0.85)">
							<th>
								저녁식사 종료시간 세팅
							</th>
							<td>
								{{ q_hr_default_settings.default_dinnertime_end }}
							</td>
							<td>
								<input type="time" class="form-control" name="input-hr-settings-default-dinnertime-end-time">
							</td>
							<td>
								<button type="submit" name="button-hr-settings-default-dinnertime-end-time-update" value="true" class="btn btn-link btn-sm">
									변경하기
								</button>
							</td>
						</tr>




						<!-- 동일날짜 퇴근시 -->
						<tr style="background-color:rgb(255,255,255,0.85)">
							<th>
								점심식사 한것으로 간주하는 근무종료시간 기준선 세팅 (당일퇴근시 점심식사)
							</th>
							<td>
								{{ q_hr_default_settings.default_baseline_lunchtime_end }}
							</td>
							<td>
								<input type="time" class="form-control" name="input-hr-settings-default-baseline-lunchtime-end" >
							</td>
							<td>
								<button type="submit" name="button-hr-settings-default-baseline-lunchtime-end-update" value="true" class="btn btn-link btn-sm" >
									변경하기
								</button>
								<span class="tooltip-wrap">
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-circle-fill" viewBox="0 0 16 16">
										<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247zm2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z"/>
									</svg>
									<div class="tooltip-content">예를들어,기준이 13시 30분, 13시에 퇴근하였으면 기준선 이전에 근무를 종료한 것이기에 총근무시간에서 점심식사시간 1시간 제외안함, 14시 퇴근이면 기준선 이후 근무 종료한 것으로 총 근무시간에서 점심식사시간 1시간 제외함 </div>
								</span>
							</td>
						</tr>
						<tr style="background-color:rgb(255,255,255,0.85)">
							<th>
								저녁식사 한것으로 간주하는 근무종료시간 기준선 세팅 (당일퇴근시 저녁식사)
							</th>
							<td>
								{{ q_hr_default_settings.default_baseline_dinnertime_end }}
							</td>
							<td>
								<input type="time" class="form-control" name="input-hr-settings-default-baseline-dinnertime-end" >
							</td>
							<td>
								<button type="submit" name="button-hr-settings-default-baseline-dinnertime-end-update" value="true" class="btn btn-link btn-sm" >
									변경하기
								</button>
								<span class="tooltip-wrap">
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-circle-fill" viewBox="0 0 16 16">
										<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247zm2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z"/>
									</svg>
									<div class="tooltip-content">예를들어,기준이 20시,  19시 30분에 퇴근하였으면 기준선 이전에 근무를 종료한 것이기에 총근무시간에서 저녁식사시간 1시간 제외 안함, 21시 퇴근이면 기준선 이후 근무를 종료한 것으로 저녁식사 하고 퇴근한 것으로 간주, 총 근무시간에서 저녁식사시간 1시간 제외함 </div>
								</span>
							</td>
						</tr>

						<!--
							다음날 퇴근시
						-->
						<tr style="background-color:rgb(255,255,255,0.85)">
							<th>
								점심식사 한것으로 간주하는 근무시작시간 기준선 세팅 (익일퇴근시 점심식사)
							</th>
							<td>
								{{ q_hr_default_settings.default_baseline_lunchtime_start }}
							</td>
							<td>
								<input type="time" class="form-control" name="input-hr-settings-default-baseline-lunchtime-start" >
							</td>
							<td>
								<button type="submit" name="button-hr-settings-default-baseline-lunchtime-start-update" value="true" class="btn btn-link btn-sm" >
									변경하기
								</button>
								<span class="tooltip-wrap">
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-circle-fill" viewBox="0 0 16 16">
										<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247zm2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z"/>
									</svg>
									<div class="tooltip-content">예를들어,기준이 11시, 10시에 출근하였으면 기준선 이전에 근무를 시작한 것이기에 총근무시간에서 점심식사시간 1시간 제외함, 12시 출근이면 기준선 이후 근무한 것으로 총 근무시간에서 점심식사시간 1시간 제외 안함 </div>
								</span>
							</td>
						</tr>
						<tr style="background-color:rgb(255,255,255,0.85)">
							<th>
								저녁식사 한것으로 간주하는 근무시작시간 기준선 세팅 (익일퇴근시 저녁식사)
							</th>
							<td>
								{{ q_hr_default_settings.default_baseline_dinnertime_start }}
							</td>
							<td>
								<input type="time" class="form-control" name="input-hr-settings-default-baseline-dinnertime-start" >
							</td>
							<td>
								<button type="submit" name="button-hr-settings-default-baseline-dinnertime-start-update" value="true" class="btn btn-link btn-sm" >
									변경하기
								</button>
								<span class="tooltip-wrap">
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-circle-fill" viewBox="0 0 16 16">
										<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247zm2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z"/>
									</svg>
									<div class="tooltip-content">예를들어,기준이 17시 30분, 14시에 출근하였으면 기준선 이전에 근무를 시작한 것이기에 총근무시간에서 저녁식사 한것으로 간주, 식사시간 1시간 제외함, 18시 출근이면 기준선 이후 근무를 시작한 것으로 저녁식사 하고 출근한 것으로 간주, 총 근무시간에서 저녁식사시간 1시간 제외 안함 </div>
								</span>
							</td>
						</tr>
					</table>

				</div>
			</fieldset>
		</div>
	</form>
</div>


<div class="col-md-6">
	<form method="POST" action="{% url 'hr-workingtime-control' %}"  enctype="multipart/form-data">
	{% csrf_token %}
	<div class="content-section">
		<fieldset class="form-group">
			<legend class="border-bottom mb-4">
				<strong>
					출퇴근 설정 이력
				</strong>
			</legend>


			<div class="card card-body" style="background-color:rgb(240,240,240,0.5);">

				<table class="table table-sm">
					<tr>
						<th width="15%">설정 변경일</th>
						<th>변경내용</th>
						<th width="8%">변경자</th>
					</tr>
					<tr style="background-color:rgb(255,255,255,0.85)">
						<td colspan="2">작업중</td>
						<td class="text-right">
							<span class="tooltip-wrap">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-circle-fill" viewBox="0 0 16 16">
									<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247zm2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z"/>
								</svg>
								<div class="tooltip-content">TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST  </div>
							</span>
						</td>
					</tr>
				</table>
			</div>
		</fieldset>
	</div>
	</form>
</div>





<script>
</script>


<style>
	.tooltip-wrap {
	position: relative;
	}
	.tooltip-wrap .tooltiptext {
	bottom: 20%;
	left: 200%;
	}
	.tooltip-wrap .tooltip-content {
	display: none;
	position: absolute;
	/* bottom: 5%;
	left: 5%;
	right: 5%; */
	background-color: rgba(0, 0, 0, 0.85);
  	color: #fff;
	padding: .5em;
	min-width: 10rem;
	width: 300px;
	border-radius: 3px;
	z-index: 1;
	}
	.tooltip-wrap:hover .tooltip-content {
	display: block;
	}
</style>


