<style>
    .day {
        width: 13.3vw;
        height: 12vh;
        max-height: 21vh;
        border-bottom: 0.5px solid #e2e4e7;
        border-left: 0.5px solid #e2e4e7;
        border-right: 0.5px solid #e2e4e7;
        padding: 5px;
    }

    .today {
        width: 30px;
        height: 30px;
        color: white;
        border-radius: 50px;
        background-color: #1967d2;
        text-align: center;
        padding-top: 0.5vh;
        font-weight: bold;
    }

    .today_background {
        background:	#eaf1fb;
    }

    .holiday {
        color: #ff5a5a;
    }

    .pass {
        color: #ff5a5a;
    }

    .midnight {
        color: orange;
    }

    .working-more {
        width: 200px;
        padding-left: 30px;
        padding-top: 30px;
        padding-bottom: 30px;
        background: #e9ecef;
        border-radius: 10px;
    }

    .working-more-title {
        margin-bottom: 10px
    }

</style>

<template id="working_month_day_admin_template">
    <div class="day" :class="dayBackground">
        <div class="row">
            <div class="col-2">
                <div :class="today" v-html="day"></div>
            </div>
            <div class="col">
                <div style="font-size: 12px; margin-top: 5px" v-if="holidayDate != ''"  v-html="holidayDate" class="holiday"></div>
                <div v-for="(working, index) in item.workings" style="font-size: 12px; margin-top: 5px" v-if="item.workings.length > 0" v-html="workingDate(working, index)"></div>
                <div tabindex="0"  style="font-size: 12px; margin: 10px 1px; color: #28a745" v-show="isShowAll" data-toggle="popover" data-trigger="focus" data-container="body" data-placement="right" :data-content="workingAll(item.date)" :id="`more_${index}`">더보기</div>
            </div>
        </div>
    </div>
</template>

<script>
    const workingMonthDayAdminComponent = {
        props: {
            item: {
                type: Object,
            },
            search: {
                type: String,
            },
            index: {
                type: Number,
            }
        },
        data() {
            return {
                today: "",
                isShowAll: false,
                showCount: 2,
            }
        },
        computed: {
            day: function () {
                if (moment().format('YYYY-MM-DD') == this.item.date) {
                    this.today = "today"
                } else {
                    this.today = ""
                }
                return moment(this.item.date).format('D')
            },
            dayBackground: function () {
                if (moment().format('YYYY-MM-DD') == this.item.date) {
                    return "today_background"
                } else {
                    return ""
                }
            },
            holidayDate: function () {
                if (typeof this.item.holiday == 'undefined') {
                    return ''
                }
                this.showCount = 1
                return this.item.holiday.holiday_name
            }
        },
        methods : {
            workingDate: function (working, index) {
                if (index > this.showCount) {
                    return ''
                }
                if (typeof working == 'undefined') {
                    return ''
                }

                var display = ""
                if (working.working_time != code_vue.getCdDtlNoByAlias("WORKING_OFF_TIME_DAY") && working.working_time != '' ) {
                    display = working.member_name + " - " + code_vue.getCodeDtl(working.working_time).cd_dtl_nm + "(" + moment(working.working_datetime).format("HH:mm") + ")"
                } else {
                    display = working.member_name + " - " + code_vue.getCodeDtl(working.working_type).cd_dtl_nm
                }

                if (this.search != "") {
                    if (display.includes(this.search)) {
                        if (working.working_time != code_vue.getCdDtlNoByAlias("WORKING_OFF_TIME_DAY") && working.working_time != '' ) {
                            display = working.member_name + " - " + code_vue.getCodeDtl(working.working_time).cd_dtl_nm + "(" + moment(working.working_datetime).format("HH:mm")  + ")"
                        } else {
                            display = working.member_name + " - " + code_vue.getCodeDtl(working.working_type).cd_dtl_nm
                        }
                    } else {
                        display = ""
                    }
                }

                return display
            },
            workingAll(date) {
                var html = ""
                html += "<div class='working-more'>"
                html += "<div class='row'>"
                html += "<div class='working-more-title'>" + moment(date).format('D일 (ddd)') + "</div>"
                html += "</div>"

                var count = 0
                for (var working of this.item.workings) {
                    var display = ""
                    if (working.working_time != code_vue.getCdDtlNoByAlias("WORKING_OFF_TIME_DAY") && working.working_time != '' ) {
                        display = working.member_name + " - " + code_vue.getCodeDtl(working.working_time).cd_dtl_nm + "(" + moment(working.working_datetime).format("HH:mm") + ")"
                    } else {
                        display = working.member_name + " - " + code_vue.getCodeDtl(working.working_type).cd_dtl_nm
                    }

                    if (this.search != "") {
                        if (display.includes(this.search)) {
                            count++
                            if (working.working_time != code_vue.getCdDtlNoByAlias("WORKING_OFF_TIME_DAY") && working.working_time != '' ) {
                                display = working.member_name + " - " + code_vue.getCodeDtl(working.working_time).cd_dtl_nm + "(" + moment(working.working_datetime).format("HH:mm") + ")"
                            } else {
                                display = working.member_name + " - " + code_vue.getCodeDtl(working.working_type).cd_dtl_nm
                            }
                        } else {
                            display = ""
                        }
                    }

                    html += "<div class='row'>"
                    html += "<div>" + display + "</div>"
                    html += "</div>"
                }

                html += "</div>"

                if (this.search != "") {
                    if (count > 0) {
                        this.isShowAll = true
                    } else {
                        this.isShowAll = false
                    }
                } else {
                    if (this.item.workings.length > 3) {
                        this.isShowAll = true
                    } else {
                        this.isShowAll = false
                    }
                }

                return html;
            },
        },
        mounted: function() {
            $("#more_" + this.index).popover({
                html: true
            })

            if (this.item.workings.length > 3) {
                this.isShowAll = true
            }
        },
        template:'#working_month_day_admin_template',
    }
</script>