<div id="working_part_modal" class="modal fade" data-backdrop="static" data-keyboard="true" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">월별 프로젝트 참여율</h5>
            </div>
            <div class="modal-body">
                <div style="border: 0.5px solid #e2e4e7; padding: 10px; 10px; background: #f7f7f7">
                    <div style="border-bottom: 0.5px solid #e2e4e7; padding-bottom: 4px;"><b style="font-size: 20px">프로젝트 참여율 입력</b></div>
                    <div style="border-bottom: 0.5px solid #e2e4e7; padding-bottom: 10px; padding-top: 20px">
                        <div class="row">
                            <div class="col-8">
                                <span style="font-size: 12px;color: #e37431">모든 참여 프로젝트의 참여율 합은 100%가 되어야 등록 가능 합니다.</span>
                            </div>
                            <div class="col-4">
                                <button type="button" name="button-my-task-project-contribution-add" class="btn btn-link btn-sm" @click="addWorkingPart">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16"><path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"></path></svg>
                                    프로젝트 추가
                                </button>
                            </div>
                        </div>
                    </div>
                    <div v-for="(workingPartProject, index) in workingPartProjects" style="border-bottom: 0.5px solid #e2e4e7; padding-bottom: 10px; padding-top: 20px">
                        <div class="row">
                            <div class="col-2">참여 프로젝트</div>
                            <div class="col-4">
                                <select class="form-control" v-model="workingPartProject.projectCode">
                                    <option v-for="project in projects" :value="project.project_code" v-html="project.project_name"></option>
                                </select>
                            </div>
                            <div style="width: 40px">참여율</div>
                            <div class="col-3">
                                <input type="number" class="form-control" v-model="workingPartProject.partRate" @change="sum">
                            </div>
                            <div class="col-1">
                                <button type="button" name="button-my-task-project-contribution-subtract" class="btn btn-link btn-sm" v-on:click="removeWorkingPart(index)">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash-circle-fill" viewBox="0 0 16 16"><path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h7a.5.5 0 0 0 0-1h-7z"></path></svg>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div style="padding-top: 10px; text-align:end">
                        참여율 합계: <span style="font-weight: bold">[[ projectPartRate ]]</span> : 남은 참여율: <span style="font-weight: bold">[[ 100 -  projectPartRate ]]</span>
                    </div>
                    <div id="working_part_layer_alert" class="toast toast-danger" role="working_part_layer_alert" aria-live="assertive" data-delay="1500" aria-atomic="true" style="position:absolute; left:25%; background-color:#f8d7da; z-index:999">
                        <div class="toast-body" v-html="alertText"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" @click="close">취소</button>
                <button type="button" class="btn btn-primary" @click="save">등록</button>
            </div>
        </div>
    </div>
</div>

<script>
    const working_part_vue = createApp({
        delimiters: ['[[',']]'],
        data () {
            return {
                workingPartId: 0,
                workingPartDate: "",
                savedWorkingPartDate: "",
                workingPartProjects: [
                    {
                        projectCode: "",
                        partRate: "",
                    }
                ],
                projects: [],
                projectCode: "",
                projectPartRate: 0,
                alertText: "",
            }
        },
        methods: {
            getWorkingPart() {
                axios.get("/re-working/getProjects")
                .then((response) => {
                    this.projects = response.data
                    if (this.projects.length > 0) {
                        this.projectCode = this.projects[0].project_code
                        this.workingPartProjects[0].projectCode = this.projectCode

                        axios.get("/re-working/getWorkingPart")
                        .then((response) => {
                            var workingPart = response.data
                            if (workingPart != '') {
                                this.workingPartId = workingPart.working_part_id
                                this.savedWorkingPartDate = workingPart.working_part_date
                                this.workingPartProjects = JSON.parse(workingPart.working_part_projects)
                                this.sum()
                            }
                        })
                    }
                })
            },
            addWorkingPart() {
                this.workingPartProjects.push({
                    projectCode: this.projectCode,
                    partRate: "",
                })
            },
            removeWorkingPart(index) {
                if (this.workingPartProjects.length > 1) {
                    this.workingPartProjects.splice(index, 1)
                    this.sum()
                }
            },
            save() {
                if (this.projectPartRate > 100) {
                    this.alert("참여율 합이 100을 초과 하였습니다. 참여율을 수정해 주세요.")
                    return
                }

                if (this.projectPartRate < 100) {
                    this.alert("참여율 합이 100 이하 입니다. 참여율을 수정해 주세요.")
                    return
                }

                if (this.projectPartRate == 100) {
                    if (this.workingPartDate != '') {
                        var data = {
                            working_part_date: this.workingPartDate,
                            working_part_projects: JSON.stringify(this.workingPartProjects)
                        }
                        axios.post("/re-working/createWorkingPart", {data: data})
                        .then((response) => {
                            vue.closeWorkingPart()
                        })
                    } else {
                        var data = {
                            working_part_projects: JSON.stringify(this.workingPartProjects)
                        }
                        axios.post("/re-working/updateWorkingPart/" + this.workingPartId, {data: data})
                        .then((response) => {
                            vue.closeWorkingPart()
                        })
                    }
                }
            },
            sum() {
                this.projectPartRate = 0
                for(workingPartProject of this.workingPartProjects) {
                    this.projectPartRate += workingPartProject.partRate
                }
                return this.projectPartRate
            },
            close() {
                vue.closeWorkingPart()
            },
            alert(text) {
                this.alertText = text
                $('#working_part_layer_alert').toast('show')
            }
        },
        mounted: function() {
            var self = this
            $('#working_part_modal').on('hidden.bs.modal', function (e) {
                self.close()
            })

            this.getWorkingPart()
        },
    }).mount('#working_part_modal')
</script>