{% load static %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

<div id="working_certificate_modal" class="modal fade" data-backdrop="static" data-keyboard="true" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">
                    <span style="font-size: 18px; font-weight: bold 1px solid;line-height: 40px">증명서류 발급 신청</span>
                    <br>
                    <span style="font-size: 13px;">증명서 발급을 위한 정보를 입력해 주세요.</span>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="row" style="border-top: 0.5px solid #e2e4e7;">
                    <div class="col-2" style="padding: 15px; background: #f7f6f9;">주민등록번호</div>
                    <div class="col" style="padding: 15px;">[[ member.member_social_id ]]</div>
                    <div class="col-2" style="padding: 15px; background: #f7f6f9;">주민등록번호 공개여부</div>
                    <div class="col" style="padding: 15px;">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" v-model="isBlind"  id="isBlind_Y" value="N">
                            <label class="form-check-label" for="isBlind_Y">공개</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" v-model="isBlind"  id="isBlind_N" value="Y">
                            <label class="form-check-label" for="isBlind_N">비공개</label>
                        </div>
                    </div>
                </div>
                <div class="row" style="border-top: 0.5px solid #e2e4e7;">
                    <div class="col-2" style="padding: 15px; background: #f7f6f9;">증명서 종류</div>
                    <div class="col" style="padding: 15px;">
                        <select class="form-control" style="width: 230px" v-model="workingCertificateType">
                            <option v-for="codeDtl in workingCertificateTypeCodeDtls" :value="codeDtl.cd_dtl_no">[[ codeDtl.cd_dtl_nm ]]</option>
                        </select>
                    </div>
                </div>
                <div v-show="isShowWorkingCertificateDate" class="row" style="border-top: 0.5px solid #e2e4e7;">
                    <div class="col-2" style="padding: 15px; background: #f7f6f9;">서류신청기간</div>
                    <div class="col" style="padding: 15px;">
                        <select v-show="!isShowMonth" class="form-control" style="width: 200px" v-model="workingCertificateDateY">
                            <option v-for="year in workingCertificateDateYears" :value="year">[[ year ]]</option>
                        </select>
                        <input v-show="isShowMonth" type="month" class="form-control" style="width: 200px" v-model="workingCertificateDateM" :min="workingCertificateMinDateM" :max="workingCertificateMaxDateM">
                    </div>
                </div>
                <div class="row" style="border-top: 0.5px solid #e2e4e7;">
                    <div class="col-2" style="padding: 15px; background: #f7f6f9;">용도</div>
                    <div class="col" style="padding: 15px;">
                        <select class="form-control" style="width: 200px" v-model="workingCertificatePurpose">
                            <option v-for="codeDtl in workingCertificatePurposeCodeDtls" :value="codeDtl.cd_dtl_no">[[ codeDtl.cd_dtl_nm ]]</option>
                        </select>
                    </div>
                </div>
                <div class="row" style="border-top: 0.5px solid #e2e4e7;">
                    <div class="col-2" style="padding: 15px; background: #f7f6f9;">제출처</div>
                    <div class="col" style="padding: 15px;">
                        <input type="text" class="form-control" v-model="workingCertificateDestination">
                    </div>
                </div>
                <div class="row" style="border-top: 0.5px solid #e2e4e7;">
                    <div class="col-2" style="padding: 15px; background: #f7f6f9;">수령희망일자</div>
                    <div class="col" style="padding: 15px;">
                        <input type="date" class="form-control" style="width: 200px" v-model="receiveDate" :min="receiveMinDate">
                    </div>
                </div>
                <div class="row" style="border-top: 0.5px solid #e2e4e7; border-bottom: 0.5px solid #e2e4e7;">
                    <div class="col-2" style="padding: 15px; background: #f7f6f9;">수령방법</div>
                    <div class="col" style="padding: 15px;">
                        <div>[[ cdDtlNm(receiveType)  ]] </div>
                    </div>
                </div>
                <div v-show="isReceiveEmail" class="row" style="border-top: 0.5px solid #e2e4e7; border-bottom: 0.5px solid #e2e4e7;">
                    <div class="col-2" style="padding: 15px; background: #f7f6f9;">수령 이메일</div>
                    <div class="col" style="padding: 15px;">
                        <input type="text" class="form-control" v-model="receiveEmail">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" @click="close">취소</button>
                <button type="button" class="btn btn-primary" @click="save">신청</button>
            </div>
        </div>
    </div>
</div>
<script>
    const working_certificate_vue = createApp({
        delimiters: ["[[", "]]"],
        data () {
            return {
                member: {},
                isBlind: "",
                workingCertificateType: "",
                workingCertificateDateYears: [],
                workingCertificateDateY: "",
                workingCertificateMinDateM: "",
                workingCertificateMaxDateM: "",
                workingCertificateDateM: "",
                workingCertificatePurpose: "",
                workingCertificateDestination: "",
                receiveDate: "",
                receiveMinDate: "",
                receiveType: "",
                receiveEmail: "",
                isReceiveEmail: false,
                isShowWorkingCertificateDate: true,
                isShowMonth: true,
            }
        },
        computed: {
            workingCertificateTypeCodeDtls() {
                return code_vue.getCdDtlsByCdAlias("WORKING_CERTIFICATE_TYPE")
            },
            workingCertificatePurposeCodeDtls() {
                return code_vue.getCdDtlsByCdAlias("WORKING_CERTIFICATE_PURPOSE")
            },
            receiveTypeCodeDtls() {
                return code_vue.getCdDtlsByCdAlias("RECEIVE_TYPE")
            }
        },
        watch: {
            workingCertificateType: function(val) {
                if (val == code_vue.getCdDtlNoByAlias("WORKING_CERTIFICATE_TYPE_1")) {
                    this.isShowWorkingCertificateDate = false
                    this.receiveType = code_vue.getCdDtlNoByAlias("RECEIVE_TYPE_PDF")

                } else if (val == code_vue.getCdDtlNoByAlias("WORKING_CERTIFICATE_TYPE_2")) {
                    this.isShowWorkingCertificateDate = false
                    this.receiveType = code_vue.getCdDtlNoByAlias("RECEIVE_TYPE_EMAIL")
                    this.receiveEmail = this.member.member_email

                } else {
                    this.isShowWorkingCertificateDate = true
                    this.receiveType = code_vue.getCdDtlNoByAlias("RECEIVE_TYPE_EMAIL")
                    this.receiveEmail = this.member.member_email

                    if (val == code_vue.getCdDtlNoByAlias("WORKING_CERTIFICATE_TYPE_3")) {
                        this.isShowMonth = false
                    } else {
                        this.isShowMonth = true
                    }
                }
            },
            receiveType: function (val) {
                if (val == code_vue.getCdDtlNoByAlias("RECEIVE_TYPE_EMAIL")) {
                    this.isReceiveEmail = true
                } else {
                    this.isReceiveEmail = false
                }

            }
        },
        methods: {
            loadData() {
                this.getMe()

                this.isBlind = "Y"
                this.workingCertificateType = code_vue.getCdDtlNoByAlias("WORKING_CERTIFICATE_TYPE_1")
                this.workingCertificateDateYears = []
                this.workingCertificateMinDateM = moment().set("month", 0).format("YYYY-MM")
                this.workingCertificateMaxDateM = moment().format("YYYY-MM")
                this.workingCertificateDateM = moment().format("YYYY-MM")
                this.workingCertificatePurpose = code_vue.getCdDtlNoByAlias("WORKING_CERTIFICATE_PURPOSE_1")
                this.workingCertificateDestination = ""
                this.receiveDate = moment().add(1, 'days').format("YYYY-MM-DD")
                this.receiveMinDate = moment().format("YYYY-MM-DD")
                this.receiveType = code_vue.getCdDtlNoByAlias("RECEIVE_TYPE_PDF")
                this.isShowWorkingCertificateDate = true
                this.isShowMonth = true
            },
            cdDtlNm(cdDtlNo) {
                return code_vue.getCodeDtl(cdDtlNo).cd_dtl_nm
            },
            getMe() {
                axios.get("/re-member/getMe")
                .then((response) => {
                    this.member = response.data
                    var startYear = moment(this.member.join_date).year()
                    var endYear = moment().add(-1, 'year').year()
                    for (var inx = endYear; inx >= startYear; inx--) {
                        this.workingCertificateDateYears.push(inx)
                    }
                    this.workingCertificateDateY = endYear
                })
            },
            save() {
                var workingCertificateDate
                if (this.workingCertificateType == code_vue.getCdDtlNoByAlias("WORKING_CERTIFICATE_TYPE_1") || this.workingCertificateType == code_vue.getCdDtlNoByAlias("WORKING_CERTIFICATE_TYPE_2")) {
                    workingCertificateDate = ""
                } else if (this.workingCertificateType == code_vue.getCdDtlNoByAlias("WORKING_CERTIFICATE_TYPE_3")) {
                    workingCertificateDate = this.workingCertificateDateY
                } else {
                    workingCertificateDate = this.workingCertificateDateM
                }

                var data = {
                    is_blind: this.isBlind,
                    working_certificate_type: this.workingCertificateType,
                    working_certificate_date: workingCertificateDate,
                    working_certificate_purpose: this.workingCertificatePurpose,
                    working_certificate_destination: this.workingCertificateDestination,
                    receive_date: this.receiveDate,
                    receive_type: this.receiveType,
                    receive_email: this.receiveEmail,
                    join_date: moment(this.member.join_date).format("YYYY-MM-DD"),
                }

                axios.post("/re-working/createWorkingCertificate", {data: data})
                .then((response) => {
                    vue.getWorkingCertificates()
                    this.close()
                })
            },
            close() {
                $("#working_certificate_modal").modal('hide')
            }
        },
        mounted: function() {},
    }).mount('#working_certificate_modal')
</script>