{% load static %}

<div id="working_weekend_modal" class="modal fade" data-backdrop="static" data-keyboard="true" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">휴일 근무 신청</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="row" style="border-top: 0.5px solid #e2e4e7; border-bottom: 0.5px solid #e2e4e7">
                    <div class="col-2" style="padding: 15px; background: #f7f6f9;">제목</div>
                    <div class="col" style="padding: 15px;">
                        <input type="text" class="form-control" v-model="workingWeekendFormTitle">
                    </div>
                </div>
                <div class="row" style="border-bottom: 0.5px solid #e2e4e7">
                    <div class="col-2" style="padding: 15px; background: #f7f6f9;">근무일</div>
                    <div class="col" style="padding: 15px;">
                        <input style="width: 8vw" class="form-control" id="working_weekend_datePicker" v-model="workingWeekendDate">
                    </div>
                </div>
                <div class="row" style="border-bottom: 0.5px solid #e2e4e7">
                    <div class="col-2" style="padding: 15px; background: #f7f6f9;">예상근무시간</div>
                    <div class="col-3"  style="padding: 15px;">
                        <input type="time" class="form-control" style="width: 140px" v-model="startTime" @change="makeWorkingWeekendDatetime">
                    </div>
                    <div style="padding-top: 25px;">부터</div>
                    <div class="col-3"  style="padding: 15px;">
                        <input type="time" class="form-control" style="width: 140px" v-model="endTime" @change="makeWorkingWeekendDatetime">
                    </div>
                    <div style="padding-top: 25px;">동안</div>
                    <div class="col-2" style="padding: 15px;">
                        <select class="form-control" style="width: 100px" v-model="workingTime" @click="makeWorkingTime" @change="makeWorkingWeekendDatetime">
                            <option v-for="time in this.workingTimes" :value="time">[[ time ]] 시간</option>
                        </select>
                    </div>
                    <div style="padding-top: 25px; padding-left: 10px;">근무</div>
                </div>
                <div class="row" style="border-bottom: 0.5px solid #e2e4e7">
                    <div class="col-2" style="padding: 15px; background: #f7f6f9;">근무일시</div>
                    <div class="col" style="padding: 15px; font-size: 15px;" v-html="makeWorkingWeekendDatetime()"></div>
                </div>
                <div class="row" style="border-bottom: 0.5px solid #e2e4e7">
                    <div class="col-2" style="padding: 15px; background: #f7f6f9;">휴일근무 사유</div>
                    <div class="col" style="padding: 15px;">
                        <textarea class="form-control" rows="4" cols="70"  placeholder="사유를 입력해주세요." v-model="reason"></textarea>
                    </div>
                </div>
                <div class="row" style="border-bottom: 0.5px solid #e2e4e7;">
                    <div class="col" style="padding: 15px;">
                        <workingapproval :type="type" :title="title1" :index="0" :members="approvalMembers"></workingapproval>
                        <workingapproval :type="type" :title="title2" :index="1" :members="approvalRefMembers"></workingapproval>
                        <workingapproval :type="type" :title="title3" :index="2" :members="approvalRecvMembers"></workingapproval>
                    </div>
                </div>
                <div id="working_weekend_layer_alert" class="toast toast-danger" role="layer_alert" aria-live="assertive" data-delay="1500" aria-atomic="true" style="position:absolute; left:25%; background-color:#f8d7da; z-index:999">
                    <div class="toast-body" v-html="alertText"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" @click="close">취소</button>
                <button type="button" class="btn btn-primary" @click="save">저장</button>
            </div>
        </div>
    </div>
</div>

{% include "../components/working_approval.html" %}

<script>
    createApp({
        delimiters: ["[[", "]]"],
        components: {
            "workingapproval": workingApprovalComponent,
        },
        data () {
            return {
                workingWeekendFormTitle: "휴일근무 신청서",
                workingWeekendDate: "",
                reason: "",
                startTime: "09:00",
                endTime: "18:00",
                workingTimes: [],
                workingTime: "1",
                type: "weekend",
                title1: "결재",
                title2: "참조",
                title3: "수신",
                approvalMembers: [],
                approvalRefMembers: [],
                approvalRecvMembers: [{
                    "member_id": 19,
                    "display": "강보람 (boram@voronoi.io)"
                }],
                alertText: "",
                isLoading: false,
            }
        },
        methods: {
            makeWorkingWeekendDatetime() {
                if(this.workingWeekendDate != "") {
                    return this.workingWeekendDate + " " + this.startTime + " 부터 " + this.endTime + " 까지 " + this.workingTime + "시간 근무 예정"
                }

                return ""
            },
            makeWorkingTime() {
                if(this.workingWeekendDate != "") {
                    var startTime = moment(this.workingWeekendDate + " " + this.startTime)
                    var endTime = moment(this.workingWeekendDate + " " + this.endTime)
                    var hours = moment.duration(endTime.diff(startTime)).asHours()

                    this.workingTimes = []
                    for (var inx = 1; inx <= hours; inx++) {
                        this.workingTimes.push(inx)
                    }                    
                }
            },
            save() {
                var approvalMembers = []
                var approvalRefMembers = []
                var approvalRecvMembers = []
                var i = 1;
                for (var member of this.approvalMembers) {
                    approvalMembers.push({
                        member_id: member.member_id,
                        step: i++
                    })
                }
                if (approvalMembers.length == 0) {
                    this.alert("결재자를 검색하여 선택해 주세요.")
                    return
                }

                for (var member of this.approvalRefMembers) {
                    approvalRefMembers.push({
                        member_id: member.member_id,
                    })
                }

                for (var member of this.approvalRecvMembers) {
                    approvalRecvMembers.push({
                        member_id: member.member_id,
                    })
                }

                var workingTime = this.workingTime + ":00"
                if (this.workingTime.length == 1) {
                    workingTime = this.workingTime.padStart(2, "0") + ":00"
                }

                var data = {
                    "working_weekend_form_title": this.workingWeekendFormTitle,
                    "working_weekend_date": this.workingWeekendDate,
                    "working_weekend_start_datetime": moment(this.workingWeekendDate + " " + this.startTime + ":00"),
                    "working_weekend_end_datetime": moment(this.workingWeekendDate + " " + this.endTime + ":00"),
                    "working_weekend_time": workingTime,
                    "reason": this.reason,
                    "approval_members": approvalMembers,
                    "approval_ref_members": approvalRefMembers,
                    "approval_recv_members": approvalRecvMembers,
                }

                if (this.isLoading) {
                    this.alert("저장중 입니다.")
                    return
                }

                this.isLoading = true
                axios.post("/re-working/createWorkingWeekend", {data: data})
                .then((response) => {
                    this.isLoading = false

                    if (response.data[0]) {
                        var approvalId = response.data[1]
                        // send mail
                        axios.post("/re-working/sendMailWorkingWeekend/" + approvalId)
                    }
                    working_weekend_request_vue.getWorkingWeekendForms()
                    $("#working_weekend_modal").modal('hide')

                    this.workingWeekendFormTitle = "휴일근무 신청서"
                    this.workingWeekendDate = moment().add(1, 'd').format('YYYY-MM-DD')
                    this.reason = ""
                    this.startTime = "09:00"
                    this.endTime = "18:00"
                    this.workingTime = "1"
                    this.member = {}
                    this.alertText = ""
                    this.approvalMembers = []
                    this.approvalRefMembers = []
                    this.approvalRecvMembers = [{
                        "member_id": 19,
                        "display": "강보람 (boram@voronoi.io)"
                    }]
                })
            },
            close() {
                $("#working_weekend_modal").modal('hide')

                this.workingWeekendFormTitle = "휴일근무 신청서"
                this.workingWeekendDate = moment().add(1, 'd').format('YYYY-MM-DD')
                this.reason = ""
                this.startTime = "09:00"
                this.endTime = "18:00"
                this.workingTime = "1"
                this.member = {}
                this.alertText = ""
                this.approvalMembers = []
                this.approvalRefMembers = []
                this.approvalRecvMembers = [{
                    "member_id": 19,
                    "display": "강보람 (boram@voronoi.io)"
                }]
            },
            alert(text) {
                this.alertText = text
                $('#working_weekend_layer_alert').toast('show')
            }
        },
        mounted: function() {
            var self = this
            $('#working_weekend_modal').on('hidden.bs.modal', function (e) {
                self.close()
            })

            this.workingWeekendDate = moment().add(1, 'd').format('YYYY-MM-DD')

            $('#working_weekend_datePicker').datepicker({
                dateFormat: 'yy-mm-dd',
                closeText: "닫기",
                currentText: "오늘",
                prevText: '이전 달',
                nextText: '다음 달',
                monthNames: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
                monthNamesShort: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
                dayNames: ['일', '월', '화', '수', '목', '금', '토'],
                dayNamesShort: ['일', '월', '화', '수', '목', '금', '토'],
                dayNamesMin: ['일', '월', '화', '수', '목', '금', '토'],
                weekHeader: "주",
                yearSuffix: '년',
                showOtherMonths: true,
                showMonthAfterYear:true,
                selectOtherMonths: true,
                changeYear: true,
                changeMonth: true,
                onSelect:function(selectedDate, datePicker) {
                    self.workingWeekendDate = selectedDate
                    self.makeWorkingWeekendDatetime()
                }
            });
            this.makeWorkingWeekendDatetime()
            this.makeWorkingTime()
        },
    }).mount('#working_weekend_modal')
</script>