{% load static %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

<style>
    .title {
        font-size: 25px;
        font-weight: bold;
    }

    .txt_1 {
        font-size: 13px;
        font-weight: bold;
        line-height: 30px;
    }

    .txt_2 {
        font-size: 13px;
        line-height: 30px;
    }

    .txt_3 {
        font-size: 15px;
        font-weight: bold;
    }

    @media screen {
        #printSection {
            display: none;
        }
    }

    @media print {
        html, body {
            height:100vh !important;
            overflow-y:hidden !important;
            transform: scale(1);
            font-size: 17px;
        }

        body * {
            visibility:hidden;
            -webkit-print-color-adjust: exact;
        }

        #printSection, #printSection * {
            visibility:visible;
        }

        #printSection {
            position:absolute;
            left: 0;
            top:0;
            width: 100%;
        }

        .title {
            font-size: 35px;
            font-weight: bold;
        }

        .txt_1 {
            font-size: 17px;
            font-weight: bold;
            line-height: 30px;
        }

        .txt_2 {
            font-size: 17px;
            line-height: 30px;
        }

        .txt_3 {
            font-size: 19px;
            font-weight: bold;
        }
    }

    @page {
        size: A4;      /* 페이지의 크기 설정 */
        margin: 1cm;   /* 페이지의 여백 설정 */
    }

    @page :first {
        margin-top: 2cm;
        margin-bottom: 0;
    }

</style>

<div id="working_certificate_view_modal" class="modal fade" data-backdrop="static" data-keyboard="true" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <div id="printThis">
                    <div class="row">
                        <div class="col-12 text-center">
                            <span class="title">재직증명서</span>
                        </div>
                    </div>

                    <div class="txt_3" style="margin-top: 30px; margin-bottom: 10px;">■ 개인정보</div>
                    <div class="row" style="border-top: 0.5px solid #e2e4e7; border-bottom: 0.5px solid #e2e4e7;">
                        <div class="col-2 text-center" style="padding: 15px; background: #f7f6f9;">성명</div>
                        <div class="col" style="padding: 15px;">[[ member.member_name ]]</div>
                        <div class="col-2 text-center" style="padding: 15px; background: #f7f6f9;">주민등록번호</div>
                        <div class="col" style="padding: 15px;">[[ socialId(member.member_social_id)  ]]</div>
                    </div>

                    <div class="txt_3" style="margin-top: 30px; margin-bottom: 10px;">■ 재직정보</div>
                    <div class="row" style="border-top: 0.5px solid #e2e4e7;">
                        <div class="col-2 text-center" style="padding: 15px; background: #f7f6f9;">입사일</div>
                        <div class="col" style="padding: 15px;">[[ date(workingCertificate.join_date)  ]]</div>
                        <div class="col-2 text-center" style="padding: 15px; background: #f7f6f9;">근속기간</div>
                        <div class="col" style="padding: 15px;">[[ workingMonth(workingCertificate.join_date) ]]</div>
                    </div>
                    <div class="row" style="border-top: 0.5px solid #e2e4e7; border-bottom: 0.5px solid #e2e4e7;">
                        <div class="col-2 text-center" style="padding: 15px; background: #f7f6f9;">소속</div>
                        <div class="col" style="padding: 15px;">[[ member.group_name ]]</div>
                        <div class="col-2 text-center" style="padding: 15px; background: #f7f6f9;">직책</div>
                        <div class="col" style="padding: 15px;">[[ jobTitle(member.is_leader) ]]</div>
                    </div>

                    <div class="txt_3" style="margin-top: 30px; margin-bottom: 10px;">■ 발급정보</div>
                    <div class="row" style="border-top: 0.5px solid #e2e4e7; border-bottom: 0.5px solid #e2e4e7;">
                        <div class="col-2 text-center" style="padding: 15px; background: #f7f6f9;">용도</div>
                        <div class="col" style="padding: 15px;">[[ cdDtlNm(workingCertificate.working_certificate_purpose) ]]</div>
                    </div>
                    <div class="row" style="border-bottom: 0.5px solid #e2e4e7;">
                        <div class="col-2 text-center" style="padding: 15px; background: #f7f6f9;">제출처</div>
                        <div class="col" style="padding: 15px;">[[ workingCertificate.working_certificate_destination ]]</div>
                    </div>
                    <div class="row" style="border-bottom: 0.5px solid #e2e4e7;">
                        <div class="col-2 text-center" style="padding: 15px; background: #f7f6f9;">발급부서</div>
                        <div class="col" style="padding: 15px;">인사총무팀</div>
                        <div class="col-2 text-center" style="padding: 15px; background: #f7f6f9;">연락처</div>
                        <div class="col" style="padding: 15px;">032-215-2134</div>
                    </div>

                    <div class="row txt_3" style="margin-top: 200px; display: flex; justify-content:center; text-align:center;">
                        상기인은 재직증명서 발급일 현재 위와 같이 당사에 재직하고 있음을 증명합니다.
                    </div>
                    <div class="row txt_3" style="margin-top: 200px; display: flex; justify-content:center; text-align:center;">
                        [[ workingCertificate.working_certificate_done_date ]]
                    </div>

                    <div style="margin-left: 35%">
                        <div class="row" style="margin-top: 20px; margin-bottom: 20px">
                            <div class="col-3" style="font-weight: bold">회사명</div>
                            <div class="col-9">보로노이주식회사</div>
                        </div>
                        <div class="row" style="margin-top: 20px; margin-bottom: 10px">
                            <div class="col-3" style="font-weight: bold">회사주소</div>
                            <div class="col-9">인천시 연수구 송도과학로 32 IT센터  S동 18층</div>
                        </div>
                        <div class="row" style="margin-top: 10px; margin-bottom: 10px">
                            <div class="col-3" style="font-weight: bold; padding-top: 20px;">대표이사</div>
                            <div class="col-3" style="padding-top: 20px">김현태, 김대권</div>
                            <div class="col-4"><img style="width: 3.5cm; height: 4.3cm" src="{% static 'images/voronoi_sign.png' %}"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" @click="close">취소</button>
                <button type="button" id="btnPrint" class="btn btn-primary">프린트</button>
            </div>
        </div>
    </div>
</div>

<div id="printSection"></div>

<script>
    $(document).ready(function() {
        $("#btnPrint").on("click", function() {
            printElement(document.getElementById("printThis"))
        })
    })

    function printElement(elem) {
        var domClone = elem.cloneNode(true)

        var $printSection = document.getElementById("printSection")
        $printSection.innerHTML = ""
        $printSection.appendChild(domClone)
        window.print();
    }
</script>

<script>
    const working_certificate_view_vue = createApp({
        delimiters: ["[[", "]]"],
        data () {
            return {
                member: {},
                workingCertificate: {},
            }
        },
        methods: {
            loadData(item) {
                this.getMe()
                this.workingCertificate = item
            },
            cdDtlNm(cdDtlNo) {
                return code_vue.getCodeDtl(cdDtlNo).cd_dtl_nm
            },
            socialId(memberSocialId) {
                if (this.workingCertificate.is_blind == 'Y') {
                    if (typeof memberSocialId != 'undefined' ) {
                        var arr = memberSocialId.split("-")
                        var back = arr[1]
                        return arr[0] + "-" +  back.substr(0, 1) + "******"
                    }
                    return ""
                } else {
                    return memberSocialId
                }
            },
            date(date) {
                return moment(date).format("YYYY-MM-DD")
            },
            workingMonth(joinDate) {
                return Math.floor(Math.abs(moment.duration(moment(joinDate).diff(moment.now())).asMonths())) + "개월"
            },
            jobTitle(isLeader) {
                if (isLeader == 'Y') {
                    return "팀장"
                }
                return "팀원"

            },
            getMe() {
                axios.get("/re-member/getMe")
                .then((response) => {
                    this.member = response.data
                })
            },
            close() {
                $("#working_certificate_view_modal").modal('hide')
            }
        },
        mounted: function() {},
    }).mount('#working_certificate_view_modal')
</script>