{% load static %}
<style>
    .table thead th {
        text-align:center;
        position: sticky;
        top: -200px;
        background-color: gray !important;
        color: #f9f9f9;
        border-left: 0.1rem solid;
    }
</style>
<div id="working_off_team_modal" class="modal fade" data-backdrop="static" data-keyboard="true" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="row" style="width:100%;">
                        <div class="col-auto mr-auto"><h5 class="modal-title">팀원 휴가일수</h5></div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="row" style="border-top: 0.5px solid #e2e4e7;">
                        <div class="col" style="padding-left: 30px; border-left: 0.5px solid #e2e4e7;">
                            <div class="row" style="padding: 5px">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col">팀원</th>
                                            <th scope="col">휴가일수</th>
                                            <th scope="col">사용일수</th>
                                            <th scope="col">잔여일수</th>
                                            <th scope="col">휴가기간</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="workingOffTeam in workingOffTeams">
                                            <td>[[ workingOffTeam.member_name ]]</td>
                                            <td>[[ workingOffTeam.working_off_days ]]</td>
                                            <td>[[ workingOffTeam.working_off_use_days ]]</td>
                                            <td>[[ workingOffTeam.working_off_remain_days ]]</td>
                                            <td>[[ workingOffUseDate(workingOffTeam.working_off_start_date) ]]</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" @click="close">취소</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const working_off_team_vue = createApp({
        delimiters: ['[[', ']]'],
        data () {
            return {
                workingOffTeams: []
            }
        },
        methods: {
            loadData() {
                this.getWorkingOffTeams()
            },
            getWorkingOffTeams() {
                axios.get("/re-working/getWorkingOffTeams")
                .then((response) => {
                    var workingOffTeams = response.data

                    this.workingOffTeams = workingOffTeams.sort(function (a, b) {
                        return a.member_name < b.member_name ? -1 : a.member_name > b.member_name ? 1 : 0
                    })
                })
            },
            workingOffUseDate(workingOffStartDate) {
                startDate = moment(workingOffStartDate)
                endDate = moment(workingOffStartDate).add( 1, 'years').add(-1, 'day')
                return startDate.format('YYYY-MM-DD') + " ~ " + endDate.format('YYYY-MM-DD')
            },
            close() {
                $("#working_off_team_modal").modal('hide')
            },
        },
        mounted: function() {
            var self = this
            $('#working_off_team_modal').on('hidden.bs.modal', function (e) {
                self.close()
            })
        },
    }).mount('#working_off_team_modal')
</script>