{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'home/navbar/re_navbar.html' %}

<div id="working_approval" class="row" style="padding: 1%; background-color: #f9f9f9;">
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" role="presentation"><a class="nav-link active" id="approval-request-tab" data-toggle="tab" data-target="#approval_request" type="button" role="tab" aria-controls="approval-request" aria-selected="true">미결재 내역</a></li>
        <li class="nav-item" role="presentation"><a class="nav-link" id="approval-list-tab" data-toggle="tab" data-target="#approval_list" type="button" role="tab" aria-controls="approval-list" aria-selected="false">결재 내역</a></li>
        <li class="nav-item" role="presentation"><a class="nav-link" id="approval-etc-ref-tab" data-toggle="tab" data-target="#approval_etc_ref" type="button" role="tab" aria-controls="approval-etc-ref" aria-selected="false">참조함</a></li>
        <li class="nav-item" role="presentation"><a class="nav-link" id="approval-etc-recv-tab" data-toggle="tab" data-target="#approval_etc_recv" type="button" role="tab" aria-controls="approval-etc-recv" aria-selected="false">수신함</a></li>
    </ul>

    <div class="tab-content">
        <!-- 미결재 내역 -->
        {% include "working_approval_request.html" %}
        <!-- 결재 내역 -->
        {% include "working_approval_list.html" %}
        <!-- 참조함 -->
        {% include "working_approval_etc_ref.html" %}
        <!-- 수신함 -->
        {% include "working_approval_etc_recv.html" %}
    </div>
</div>

{% include "./layer/working_approval_layer.html" %}

{% endblock content %}