{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load authMenu %}
{% include 'home/navbar/re_navbar.html' %}


{% if "myhome"|authMenu:request %}
<style>
	.calendar ul {
        display: flex;
        list-style: none;
        flex-wrap: wrap;
        text-align: left;
        margin-top: 20px;
    }
    .calendar .weeks li {
        font-weight: 500;
    }
    .calendar .days {
        margin-bottom: 0px;
    }
    .calendar ul li {
        width: calc(100% / 7);
        position: relative;
    }
    .calendar .days li {
        z-index: 1;
        cursor: pointer;
    }
    .days li.inactive {
        color: #aaa;
    }
    .week {
        height: 4vh;
        font-weight: bold;
        font-size: 13px;
        color: #343a40;
        border-top: 0.5px solid #e2e4e7;
        border-left: 0.5px solid #e2e4e7;
        border-right: 0.5px solid #e2e4e7;
        padding: 5px;
    }
</style>
<div id="working_month" class="row" style="padding: 1%; background-color: #f9f9f9;">
    <div class="col-md-18" style="position: relative;">
        <div style="flex: auto; width: 97vw; min-height: 74vh; padding: 1%; border-radius:25px; background-color: #ffffff">
            <div class="row justify-content-between">
                <div class="col-3">
                    <button type="button" class="btn btn-outline-secondary" @click="goToday">오늘</button>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <button type="button" class="btn btn-outline-danger" @click="goPrevMonth"><</button>
                    &nbsp;
                    <button type="button" class="btn btn-outline-danger" @click="goNextMonth">></button>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <div style="display:inline; width: 6vw; height: 3vh; border-width: 0; outline: none; color: orange; font-weight: bold;" v-html="working_date_display" readonly></div>
                    <!--
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <button type="button" class="btn btn-outline-success btn-sm" style="padding-top: 8px" @click="showChart"><span class="material-symbols-outlined">monitoring</span></button>
                    -->
                </div>
                <!--
                <div class="col">
                    <div><b>공지사항 : 2024-02-08 오전 근무</b></div>
                </div>
                -->
                <div id="alert" class="toast toast-danger" role="alert" aria-live="assertive" data-delay="1500" aria-atomic="true" style="margin-top: 2vh; position:absolute; left:45%; background-color:#f8d7da; z-index:999">
                    <div class="toast-body" v-html="alertText"></div>
                </div>
                <div class="col" style="text-align:end">
                    <button type="button" class="btn btn-outline-success" @click="showWorkingPart" v-if="isWorkingPart">참여율</button>
                    {% if 'my.voronoi.app' not in request.build_absolute_uri %}
                    <button type="button" class="btn btn-outline-success" @click="workingStart" v-show="!isWorkingStart">출근</button>
                    &nbsp;
                    <button type="button" class="btn btn-outline-danger" @click="workingEnd" v-show="!isWorkingEnd">퇴근하기</button>
                    {% endif %}
                </div>
                <div class="col-1" style="text-align:end">
                    <select class="form-control" aria-label=".form-select-sm" v-model="register" @change="showView">
                        <option value="0">일정등록</option>
                        <option value="1">휴가</option>
                        <option value="2">외근·출장</option>
                    </select>
                </div>
            </div>

            <div class="row" style="margin-right: 1vw;">
                <div class="calendar">
                    <ul class="days">
                        <workingmonthheader v-if="isHeaderShow"></workingmonthheader>
                        <li v-for="(item, index) in dates">
                            <workingmonthday :index="index" :item="item"></workingmonthday>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% include "./components/working_month_header.html" %}
{% include "./components/working_month_day.html" %}
{% include "./layer/working_time_layer.html" %}
{% include "./layer/working_out_layer.html" %}
{% include "./layer/working_off_layer.html" %}
{% include "./layer/working_part_layer.html" %}
{% include "./layer/working_off_chart_layer.html" %}

<script>
    const vue = createApp({
        components: {
            "workingmonthheader": workingMonthHeaderComponent,
            "workingmonthday": workingMonthDayComponent,
        },
        data () {
            return {
                member_id: 0,
                working_type_page: "working_month_page",
                isWorkingEnd: false,
                working_date_display: "",
                working_date: "",
                month: [],
                dates: [],
                register: 0,
                isWorkingStart: true,
                isWorkingPart: false,
                isHeaderShow: false,
                alertText: "",
            }
        },
        methods: {
            goToday() {
                this.working_date = moment()
                this.makeCalendar()
            },
            goPrevMonth() {
                this.working_date = moment(this.working_date).add("-1","months")
                this.makeCalendar()
            },
            goNextMonth() {
                this.working_date = moment(this.working_date).add("1","months")
                this.makeCalendar()
            },
            makeCalendar() {
                this.working_date_display = moment(this.working_date).format('YYYY년 MM월')
                var firstDate = moment(this.working_date).set('date', 1).set('day', 0)
                var lastDate = moment(this.working_date).set('date', moment(this.working_date).daysInMonth()).set('day', 6)

                var isDone = false
                this.month = []
                while(!isDone) {
                    if (lastDate.format('YYYY-MM-DD') == firstDate.format('YYYY-MM-DD')) {
                        isDone = true
                    }
                    this.month.push(firstDate.format('YYYY-MM-DD'))
                    firstDate = firstDate.add(1, 'day')
                }

                this.getWorkingMonthData()
            },
            getWorkingMonthData() {
                var startDate = this.month.at(0)
                var endDate = this.month.at(-1)

                axios.get("/re-working/getWorkingMonthData?start_date=" + startDate + "&end_date=" + endDate)
                .then((response) => {
                    let data = response.data
                    var workings = data.workings
                    var workingOuts = data.workingOuts
                    var workingOffs = data.workingOffs
                    var holidays = data.holidays

                    let workingMap = workings.reduce((map, working) => {
                        map[working.working_date] = working
                        return map
                    }, {})

                    let workingOutMap = workingOuts.reduce((map, workingOut) => {
                        map[workingOut.working_out_date] = workingOut
                        return map
                    }, {})

                    let workingOffMap = workingOffs.reduce((map, workingOff) => {
                        if (typeof map[workingOff.working_off_date] != 'undefined') {
                            map[workingOff.working_off_date].push(workingOff)
                        } else {
                            map[workingOff.working_off_date] = [workingOff]
                        }
                        return map
                    }, {})

                    let holidayMap = holidays.reduce((map, holiday) => {
                        map[holiday.holiday_date] = holiday
                        return map
                    }, {})

                    this.dates = []
                    for (var inx = 0; inx < this.month.length; inx++) {
                        let date = this.month[inx]

                        this.dates.push({
                            date: date,
                            working: workingMap[date],
                            workingOut: workingOutMap[date],
                            workingOff: workingOffMap[date],
                            holiday: holidayMap[date],
                        })
                    }

                    this.isHeaderShow = true
                })
            },
            getMe() {
                axios.get("/re-member/getMe")
                .then((response) => {
                    var member = response.data
                    this.member_id = member.member_id
                })
            },
            checkWorkingStart() {
                axios.get("/re-working/checkWorkingStart")
                .then((response) => {
                    this.isWorkingStart = response.data.isWorkingStart
                    if (!this.isWorkingStart) {
                        this.workingStart()
                    }

                    this.checkWorkingPart()
                })
            },
            checkWorkingYesterday() {
                axios.get("/re-working/checkWorkingYesterday")
                .then((response) => {
                    var checkWorkingYesterday = response.data.checkWorkingYesterday

                    if (checkWorkingYesterday[0]) {
                        var yesterday = moment(checkWorkingYesterday[1]).format("YYYY-MM-DD")
                        this.showWorkingTime(yesterday)
                    }
                })
            },
            checkWorkingPart() {
                // 참여율
                axios.get("/re-working/checkWorkingPart")
                .then((response) => {
                    var checkWorkingPart = response.data.checkWorkingPart
                    if (checkWorkingPart[0]) {
                        working_part_vue.workingPartDate = checkWorkingPart[1]
                        this.showWorkingPart()
                    } else {
                        if (checkWorkingPart[1]) {
                            this.isWorkingPart = true
                        } else {
                            this.isWorkingPart = false
                        }
                        this.checkWorkingYesterday()
                    }
                })
            },
            workingStart() {
                this.isWorkingStart = true

                axios.post("/re-working/workingStart")
                .then((response) => {
                    this.getWorkingMonthData()
                })
				.catch((e) => {
                    console.log('Error! : ' + e)
				})
            },
            workingEnd() {
                axios.post("/re-working/workingEnd/" + this.member_id)
                .then((response) => {
                    document.location.href = "../member/logout/"
                })
            },
            showView() {
                if (this.register == 1) {
                    working_off_vue.getWorkingOffForm()
                    $("#working_off_modal").modal('show')
                } else {
                    $("#working_out_modal").modal('show')
                }
                this.register = 0
            },
            showWorkingTime(date) {
                if (moment(date).isBefore(moment().add(1, 'day').format("YYYY-MM-DD"))) {
                    working_time_vue.getWorking(date)
                    $("#working_time_modal").modal('show')
                }
            },
            showWorkingPart() {
                $("#working_part_modal").modal('show')
            },
            closeWorkingPart() {
                $("#working_part_modal").modal('hide')
                this.checkWorkingYesterday()
            },
            showChart() {
                working_off_chart_vue.getChartData(this.working_date)
                $("#working_off_chart_modal").modal('show')
            },
            alert(text) {
                this.alertText = text
                $('#alert').toast('show')
            },
        },
        mounted: function() {
            this.getMe()
            this.working_date = moment()
            this.checkWorkingStart()
            this.makeCalendar()
        }
    }).mount('#working_month')
</script>
{% else %}
{% include 'access_auth.html' %}
{% endif %}
{% endblock content %}