{% load replace %}

<div class="modal fade" id="member_info_default_modal" data-backdrop="static" data-keyboard="true" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5>임직원 기본 정보</h5>
                <button type="button" class="close" aria-label="Close" onclick="layerClose()"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form id="member_info_default_form" class="row g-3 needs-validation" novalidate>
                   <div class="col-12">
                        <label for="member_name" class="form-label">이름</label>
                        <input type="text" class="form-control" style="ime-mode:active" id="member_name" value="{{ member.member_name | default_if_none:'' }}" required autocomplete="off">
                    </div>
                    <div class="col-12">
                        <label for="member_company_id" class="form-label">사번</label>
                        <input type="number" class="form-control" id="member_company_id" value="{{ member.member_company_id | default_if_none:'' }}" maxlength="5" autocomplete="off">
                    </div>
                    <div class="col-12">
                        <label for="member_birthday" class="form-label">생년월일</label>
                        <input type="text" class="form-control"  data-provide="datepicker" id="member_birthday" value="{{ member.member_birthday | default_if_none:'' }}" maxlength=10 required>
                    </div>
                    <div class="col-12">
                        <label for="member_email" class="form-label">이메일</label>
                        <input type="email" class="form-control" id="member_email" value="{{ member.member_email | default:'@voronoi.io' }}"  oninput="defaultEmail(this.value)" required autocomplete="off">
                    </div>
                    <div class="col-12">
                        <label for="member_hp" class="form-label">핸드폰 번호</label>
                        <input type="text" class="form-control" id="member_hp" value="{{ member.member_hp}}"  maxlength="13" required autocomplete="off">
                    </div>
                    <div class="col-12">
                        <label for="join_date" class="form-label">입사일</label>
                        <input type="text" class="form-control" id="join_date" value="{{ member.join_date | date:"Y-m-d" }}" maxlength=10 required>
                    </div>
                    <div class="col-12" id="leave_date_box">
                        <label for="leave_date" class="form-label">퇴사일</label>
                        <input type="text" class="form-control" id="leave_date" value="{{ member.leave_date | date:"Y-m-d" }}" maxlength=10>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="layerClose()">취소</button>
                <button type="button" class="btn btn-primary" onclick="updateMemberInfoDefault()">저장</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        if (isListPage) {
            $("#leave_date_box").css("display","none")
        } else {
            $("#leave_date_box").css("display","")
        }

        $.datepicker.setDefaults({
            closeText: "닫기",
            currentText: "오늘",
            prevText: '이전 달',
            nextText: '다음 달',
            monthNames: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
            monthNamesShort: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
            dayNames: ['일', '월', '화', '수', '목', '금', '토'],
            dayNamesShort: ['일', '월', '화', '수', '목', '금', '토'],
            dayNamesMin: ['일', '월', '화', '수', '목', '금', '토'],
            weekHeader: "주",
            yearSuffix: '년'
        })

        // 생년월일
        $("#member_birthday").datepicker( {
            showButtonPanel: true,
            changeMonth: true,
            changeYear: true,
            showOtherMonths: true,
            showMonthAfterYear:true,
            selectOtherMonths: true,
            dateFormat: "yy-mm-dd",
            defaultDate: "1990-01-01",
            yearRange: "-100:+0",
            onClose:function(date){
                var regex = RegExp(/^\d{4}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])$/)
                if (!regex.test(date)) {
                    if (date.length == 8) {
                        $("#member_birthday").datepicker("setDate", date.substr(0, 4) + "-" + date.substr(4, 2) + "-" + date.substr(6, 2))
                    } else {
                        $("#member_birthday").datepicker("setDate", "")
                    }
                }
            },
        });

        // 입사일
        $("#join_date").datepicker( {
            dateFormat: "yy-mm-dd",
            onClose:function(date){
                var regex = RegExp(/^\d{4}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])$/)
                if (!regex.test(date)) {
                    if (date.length == 8) {
                        $("#join_date").datepicker("setDate", date.substr(0, 4) + "-" + date.substr(4, 2) + "-" + date.substr(6, 2))
                    } else {
                        $("#join_date").datepicker("setDate", "");
                    }
                }
            },
        });

        // 퇴사일
        $("#leave_date").datepicker( {
            dateFormat: "yy-mm-dd",
            onClose:function(date){
                var regex = RegExp(/^\d{4}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])$/)
                if (!regex.test(date)) {
                    if (date.length == 8) {
                        $("#leave_date").datepicker("setDate", date.substr(0, 4) + "-" + date.substr(4, 2) + "-" + date.substr(6, 2))
                    } else {
                        $("#leave_date").datepicker("setDate", "");
                    }
                }
            },
        })

        $('#member_company_id').on('input', function() {
            console.log($(this).val().length)
            var maxlength = $(this).attr('maxlength')
            if ($(this).val().length > maxlength) {
                $(this).val($(this).val().slice(0, maxlength))
            }
        })

        $('#member_email').on('change', function() {
            var memberEmail = $(this).val().toLowerCase()
            $(this).val(memberEmail)
        })

        $('#member_hp').on('input', function() {
            var number = $(this).val().replace(/[^0-9]/g, '')
            if (number.length < 4) {
                $(this).val(number);
            } else if (number.length < 8) {
                $(this).val(number.slice(0, 3) + '-' + number.slice(3))
            } else {
                $(this).val(number.slice(0, 3) + '-' + number.slice(3, 7) + '-' + number.slice(7, 11))
            }
        })

        $('#member_info_default_modal').on('hidden.bs.modal', function (e) {
            layerClose()
        })

    });

    var isLoading = false
    function updateMemberInfoDefault() {
        let validated = true
        Array.from($("#member_info_default_form")).forEach(form => {
            form.classList.add('was-validated')
            if (!form.checkValidity()) {
                validated = false
            }
        }, false)
        if (!validated) return

        var regex = RegExp(/^\d{4}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])$/);
        if ($("#member.member_company_id").val() == '') {
            alert("사번을 확인해 주세요")
            return
        }
        if (!regex.test($("#member_birthday").val())) {
            return
        }
        if (!regex.test($("#join_date").val())) {
            return
        }

        var member_name = $("#member_name").val()
        var member_company_id = $("#member_company_id").val()
        var member_birthday = $("#member_birthday").val()
        var member_email = $("#member_email").val()
        var member_hp = $("#member_hp").val()
        var join_date = $("#join_date").val()
        var leave_date = $("#leave_date").val()

        var data = {
            "id": "{{ member.id }}",
            "member_id": "{{ member.member_id }}",
            "member_name": member_name,
            "member_company_id": member_company_id,
            "member_birthday": member_birthday,
            "member_email": member_email,
            "member_hp": member_hp,
            "join_date": join_date,
            "leave_date": leave_date,
        }

        if (isLoading) {
            alert("저장중 입니다.")
            return
        }

        isLoading = true
        $.ajax({
            type: "POST",
            url: isListPage ? "/re-member/createMember" : "/re-member/updateMemberInfoDefault",
            data: data,
            success: function (response) {
                isLoading = false
                if (response[0] == false) {
                    alert(response[1])
                    return
                }

                if (isListPage) {
                    $("#member_name").val("")
                    $("#member_company_id").val("")
                    $("#member_birthday").val("")
                    $("#member_email").val("@voronoi.io")
                    $("#member_hp").val("")
                    $("#join_date").val("")
                    $("#leave_date").val("")

                    dataTable.ajax.reload()
                } else {
                    $("#view_member_name").html(response.member.member_name + "(" + response.member.member_company_id + ")")
                    $("#view_member_birthday").html(response.member.member_birthday)
                    $("#view_birthday").html(response.birthday)
                    $("#view_age").html(response.age)
                    $("#view_member_email").html(response.member.member_email)
                    $("#view_member_hp").html(response.member.member_hp)
                    $("#view_join_date").html(response.join_date)
                    $("#view_leave_date").html(response.leave_date)
                }

                Array.from($("#member_info_default_form")).forEach(form => {
                    form.classList.remove('was-validated')
                    if (!form.checkValidity()) {
                        validated = false
                    }
                }, false)

                $("#member_info_default_modal").modal('hide')
            }
        })
    }
    function layerClose() {
        $("#member_info_default_modal").modal('hide')

        Array.from($("#member_info_default_form")).forEach(form => {
            form.classList.remove('was-validated')
            if (!form.checkValidity()) {
                validated = false
            }
        }, false)

        if (isListPage) {
            $("#member_name").val("")
            $("#member_company_id").val("")
            $("#member_birthday").val("")
            $("#member_email").val("@voronoi.io")
            $("#member_hp").val("")
            $("#join_date").val("")
        }
    }

    function defaultEmail(value) {
        if (value == "") {
            value += "@voronoi.io"
        }
        $("#member_email").val(value)
    }
</script>