{% load static %}
{% load getCode %}
{% load getCodeDtls %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<style>
    .modal-fullscreen .modal-content {
        margin: auto;
        display: block;
        width: 80% !important;
        height: auto !important;
        max-width: 100vw !important;
    }

    .material-symbols-outlined {
        font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24
    }
</style>

<script src="{% static '/js/fabric.min.js' %}"></script>

<div class="modal fade" id="member_info_group_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">조직</h1>
                <input type="button" class="btn-close" data-dismiss="modal" aria-label="Close" tabindex="-1"></button>
            </div>

            <div class="modal-body" style="background-color: #f9f9f9">
                <div id="container_canvas" style="text-align:center" width="500" height="500">
                    <canvas id="group_canvas"  width="500" height="500"></canvas>
                </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" tabindex="-1">취소</button>
            </div>
        </div>
    </div>
</div>

<script>
    var canvas
    var boxWidth = 300
    var boxHeight = 60
    var boxRound = 20
    var start_X = window.innerWidth * 0.1
    var start_y = window.innerHeight * 0.2
    const group_map = new Map()
    const node_map = new Map()
    const node_name_map = new Map()

    const textColor = [
        "#eeeeee",
        "#eeeeee",
        "#eeeeee",
        "#eeeeee",
        "#eeeeee",
        "#eeeeee",
        "#eeeeee",
    ]
    const color = [
        "#B22222",
        "#FF4500",
        "#DAA520",
        "#32CD32",
        "#5F9EA0",
        "#6A5ACD",
        "#800080",
    ]

    var groups = []
    $(document).ready(function() {
        // start canvas
        canvas = new fabric.Canvas('group_canvas')

        // 전체화면
        canvas.setDimensions({width:window.innerWidth * 0.75, height: window.innerHeight * 0.6})

        canvas.selection=false
        canvas.hoverCursor = 'pointer';

        // event
        var panning = false
        canvas.on({
            'mouse:dblclick': function(e) {
                if (e.target == null) return

                var rect = e.target.getObjects()[0]
                var leader = e.target.getObjects()[3]

                var node = node_name_map.get(e.target.getObjects()[1].text)
                if (typeof node.isLeader == "undefined" || node.isLeader == "") {
                    // 첫번째 더블클릭 : 그룹 선택
                    rect.set({
                        strokeWidth: 3,
                        stroke: "#880E4F"
                    })

                    leader.set({
                        text: "M",
                        fill: "#880E4F"
                    })

                    var group_member = {
                        "group_key": node.key,
                        "member_id": "{{ member.member_id }}",
                        "is_leader": "N",
                    }

                    node.isLeader = "N"
                    createGroupMember(group_member)
                } else if (node.isLeader == "N") {
                    // 두번째 더블클릭 : 리더 선택
                    leader.set({
                        text: "L",
                        fill: "#880E4F"
                    })

                    node.isLeader = "Y"
                    updateGroupMemberLeader(node.key)

                } else if (node.isLeader == "Y") {
                    // 세번째 더블클릭 : 그룹 해제
                    rect.set({
                        strokeWidth: 1,
                        stroke: "#f9f9f9"
                    })

                    leader.set({
                        text: "",
                        fill: "#eeeeee"
                    })

                    node.isLeader = ""
                    deleteGroupMember(node.key)
                }
                getGroupInfo()
                canvas.requestRenderAll()
            },
            'mouse:up': function(e) {
                if (e.target == null ) {
                    panning = false
                }
            },
            'mouse:down': function(e) {
                if (e.target == null ) {
                    panning = true
                }
            },
            'mouse:move': function(e) {
                if (panning && e && e.e) {
                    var units = 10
                    var delta = new fabric.Point(e.e.movementX, e.e.movementY)
                    canvas.relativePan(delta)
                }
            },
            'mouse:wheel': function(opt) {
                var delta = opt.e.deltaY
                var zoom = canvas.getZoom()
                zoom *= 0.999 ** delta
                if (zoom > 20) zoom = 20
                if (zoom < 0.01) zoom = 0.01
                canvas.zoomToPoint({ x: opt.e.offsetX, y: opt.e.offsetY }, zoom)
                opt.e.preventDefault()
                opt.e.stopPropagation()
            }
        })

        getGroups()
    })


    // 화면 새로 그리기
    function reDrawGroup() {
        node_map.clear()
        node_name_map.clear()
        for (var inx = 0; inx < groups.length; inx++) {
            var group = groups[inx]
            var node = new TreeNode(group.group_key, group.group_name, group.parent_group_key, group.group_depth, start_X, start_y, group.isSelected, group.isLeader)

            group_map.set(group.group_key, group)
            node_map.set(group.group_key, node)
            node_name_map.set(group.group_name, node)
        }

        // ndoe 자식 연결
        for (var inx = 0; inx < groups.length; inx++) {
            var group = groups[inx]

            if (group.parent_group_key != 0) {
                node = node_map.get(group.group_key)
                if (typeof node != 'undefined') {
                    parent_node = node_map.get(group.parent_group_key)
                    if (typeof parent_node != 'undefined') {
                        parent_node.addChild(node)
                    }

                }
            }
        }

        drawGroup(node_map.get(1), 0)
    }

    function TreeNode(key, name, parent_key, depth, x, y, isSelected, isLeader) {
        this.key = key
        this.name = name
        this.parent_key = parent_key
        this.depth = depth
        this.x = x
        this.y = y
        this.isSelected = isSelected
        this.isLeader = isLeader

        this.children = []
    }

    TreeNode.prototype.addChild = function (childNode) {
        this.children.push(childNode)
    }

    function drawGroup(node, inx) {
        if (node.depth == 0) {
            canvas.remove.apply(canvas, canvas.getObjects())
            canvas.add(makeGroup(node))
        } else {
            node.x = node.x + (boxWidth + 50) * node.depth
            if (inx != 0) {
                node.y = node.y + boxHeight + 30
            }

            canvas.add(makeGroup(node))
        }

        for (let i = 0; i < node.children.length; i++) {
            node.children[i].y = canvas.getObjects()[canvas.getObjects().length - 1].top
            node.children[i].color = color[inx]
            drawGroup(node.children[i], i)
        }
    }

    function makeGroup(node) {
        var label = new fabric.Text(node.name, {
            fontSize: 15,
            fontWeight: 'bold',
            textAlign: 'center',
            originX: 'center',
            originY: 'center',
            fill: node.depth == -1 ? "#eeeeee" : textColor[node.depth],
        })

        var circle = new fabric.Circle({
            radius: 15,
            left: -130,
            top: -15,
            fill: "#eeeeee",
        })

        var leader = new fabric.Text("", {
            fontSize: 20,
            left: -115,
            fontWeight: 'bold',
            textAlign: 'center',
            originX: 'center',
            originY: 'center',
            fill: "#eeeeee",
        })

        var rect = new fabric.Rect({
            width: boxWidth,
            height: boxHeight,
            originX: 'center',
            originY: 'center',
            rx: boxRound,
            ry: boxRound,
            fill: node.depth == -1 ? "#70345c" : color[node.depth],
        })


        if (node.depth == 0) {
            // root
            var group = new fabric.Group([rect, label], {
                left: node.x,
                top: node.y,
                hasControls: false,
                hasBorders: false,
                selectable: false,
                evented: false,
            })
        } else {
            if(node.isSelected) {
                rect.set({
                    strokeWidth: 3,
                    stroke: "#880E4F"
                })
            }

            if(node.isLeader == "Y") {
                leader.set({
                    fill: "#880E4F"
                })
            }

            var group = new fabric.Group([rect, label, circle, leader], {
                left: node.x,
                top: node.y,
                hasControls: false,
                hasBorders: false,
                selectable: false,
            })
        }

        return group
    }

    function getGroups() {
        $.ajax({
            type: "GET",
            url: "/re-group/getGroups",
            success: function (res) {
                groups = res
                getGroupMember()
                disconnect_groups = groups.filter(group => group.parent_group_key == -1)
            }
        });
    }

    function getGroupMember() {
        $.ajax({
            type: "GET",
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            url: "/re-group/getGroupMember/{{ member.member_id }}",
            success: function (res) {
                for (var data of res) {
                    var index = groups.findIndex(group => group.group_key == data.group_key)
                    groups[index].isSelected = true
                    groups[index].isLeader = data.is_leader
                }

                reDrawGroup();
                getGroupInfo()
            }
        });
    }

    var groupInfo = []
    function getGroupInfo() {
        $.ajax({
            type: "GET",
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            url: "/re-group/getGroupMember/{{ member.member_id }}",
            success: function (res) {
                groupInfo = []
                $("#group_info").html("")

                var groupInfoHtml = ""
                for (var inx = 0; inx < res.length; inx++) {
                    var data = res[inx]
                    makeGroupInfo(inx, node_map.get(data.group_key))

                    groupInfo[inx] = groupInfo[inx].substring(groupInfo[inx].lastIndexOf(">"), 0)
                    groupInfoHtml += "<p class=\"h6 font-weight-bold text-secondary\">" + groupInfo[inx] + "</p>"
                }
                $("#group_info").append(groupInfoHtml)
            }
        });
    }

    function createGroupMember(group_member) {
        $.ajax({
            type: "POST",
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            url: "/re-group/createGroupMember",
            data: JSON.stringify({"group_member": group_member}),
        });
    }

    function updateGroupMemberLeader(group_key) {
        $.ajax({
            type: "POST",
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            url: "/re-group/updateGroupMemberLeader/{{ member.member_id }}",
            data: JSON.stringify({"group_key": group_key}),
        });
    }

    function deleteGroupMember(group_key) {
        $.ajax({
            type: "POST",
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            url: "/re-group/deleteGroupMember/{{ member.member_id }}",
            data: JSON.stringify({"group_key": group_key}),
        });
    }


    function makeGroupInfo(index, node) {
        if (typeof node != 'undefined') {

            var leader = ""
            if (node.isLeader == "Y") {
                leader = " (리더)"
            }
            groupInfo[index] = node.name + leader + " > " + groupInfo[index]
            makeGroupInfo(index, node_map.get(node.parent_key))
        }
    }


</script>