

<div class="modal fade" id="member_leave_modal" data-backdrop="static" data-keyboard="true" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5>퇴사 처리</h5>
                <button type="button" class="close" aria-label="Close" onclick="memberLeaveLayerclose()"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="row" style="border-top: 0.5px solid #e2e4e7; border-bottom: 0.5px solid #e2e4e7">
                    <div class="col-2" style="padding: 15px; background: #f7f6f9;">퇴사일</div>
                    <div class="col" style="padding: 15px;">
                        <input type="date" class="form-control" style="width: 200px" v-model="leaveDate">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" @click="close">취소</button>
                <button type="button" class="btn btn-warning" @click="leaveMember()">퇴사</button>
            </div>
        </div>
    </div>
</div>

<script>
    member_leave_vue = createApp({
        data () {
            return {
                memberId: "",
                leaveDate: "",
            }
        },
        methods: {
            leaveMember() {
                var data = {
                    leave_date: this.leaveDate,
                }

                axios.post("/re-member/leaveMember/" + this.memberId, {data: data})
                .then((response) => {
                    dataTable.ajax.reload(false);
                    this.close()
                })
            },
            close() {
                $("#member_leave_modal").modal('hide')
                this.leaveDate = moment().format("YYYY-MM-DD")
            }
        },
        mounted: function() {
            var self = this
            $('.modal').on('hidden.bs.modal', function (e) {
                self.close()
            })

            this.leaveDate = moment().format("YYYY-MM-DD")
        }
    }).mount('#member_leave_modal')
</script>
