{% load crispy_forms_tags %}
{% load bootstrap %}
{% load static %}

<div>
    <div class="inquiry-rich-text-form" style="background-color: white;">
        {{ quill_form.content }}
    </div>
</div>
{% if 'inquiry-post-list' in pagesToLoad %}
    <div style="max-width: 1650px; margin: 0 auto; margin-bottom:80px;">
        {% include 'inquiry/inquiry_board_title.html' %}
        {% include 'inquiry/inquiry_nav.html' %}

            <div class="inquiry-page inquiry-post-qna-list" style="width:100%; margin: 0 auto;">
                <div class="row" style="min-width: 1650px; background-color: rgba(255, 255, 255, 0.5);">
                    <div class="col-md-6" style="border: solid gainsboro 2px; padding:25px;">
                        {% include 'inquiry/inquiry_post_list.html' %}
                    </div>
                    <div class="col-md-6 inquiry-post-panel" style="border: solid gainsboro 2px; padding:25px; {% if not 'inquiry-post' in pagesToLoad %}display:none;{% endif %}">
                        {% include 'inquiry/inquiry_post.html' %}
                    </div>
                    <div class="col-md-6 inquiry-post-form-panel" style="border: solid gainsboro 2px; padding:25px; {% if not 'inquiry-post-form' in pagesToLoad %}display:none;{% endif %}">
                        {% include 'inquiry/inquiry_write_post_form.html' %}
                    </div>
                </div>
            </div>    
    </div>
{% elif 'inquiry-how-to-use' in pagesToLoad %}
    {% if is_p == 1 %}
    <div style="max-width: 1650px; margin: 0 auto; margin-bottom:80px;">
        {% include 'inquiry/inquiry_board_title.html' %}
        {% include 'inquiry/inquiry_nav.html' %}
        <div class="inquiry-page inquiry-how-to-use card card-body" style="width:90%; margin: 0 auto; background-color:rgba(245, 245, 245, 0.75);">
        {% include 'inquiry/inquiry_how_to_use.html' %}
        </div>
    </div>
    {% else %}
        {% include 'inquiry/inquiry_not_permitted.html' %}
    {% endif %}
{% endif %}
