{% load crispy_forms_tags %}
{% load bootstrap %}
{% load static %}

<div style="width:30%; margin: 0 auto; margin-bottom: 15px; text-align: center;">
    <div style="display: inline-block; padding: 0 20px; border-left: gray solid 1px;"><a class="inquiry-page" href="/inquiry/inquiries">문의 게시판</a></div>
    <div style="display: inline-block; padding: 0 20px; border-left: gray solid 1px; border-right: gray solid 1px;"><a class="inquiry-page" href="/inquiry/inquiries/how-to-use">이용 방법</a></div>
    <!-- <div style="display: inline-block; padding: 0 20px; border-right: gray solid 1px;"><a class="inquiry-page" href="#">채팅</a></div> -->
</div>