<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<style>
    #ui-datepicker-div {
        z-index: 9999 !important
    }

    .material-symbols-outlined {
        font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24
    }
</style>

<template id="make_todo_template">
    <div style="width: 20vw; height: 35vh; margin-top: 30px; padding-top: 10px; padding-left: 40px; padding-right: 40px; border-radius:25px; background-color: #ffffff; border: 0.15rem solid #ebeff5;">
        <div class="row" style="margin-top: 10px; color: red">[[ alertText ]]</div>
        <div class="row" style="margin-top: 5px; float: right">
            <button type="button" style="width: 3vw;" class="btn btn-outline-primary btn-sm" @click="save">추가</button>
        </div>

        <div class="row" style="margin-top: 50px;">
            <input id="todo_name" type="text" class="form-control" style="border: 0px" v-model="todoName" placeholder="TO-DO 명" @keypress.enter="save">
        </div>

        <div class="row" style="margin-top: 20px">
            <textarea id="todo_desc" type="text-area" class="form-control" style="border: 0px; resize: none" v-model="todoDesc" rows="2" placeholder="설명"></textarea>
        </div>

        <div class="row" style="margin-top: 20px;">
            <div class="col-4">
                <button type="button" id="btn_todo_date" class="btn btn-outline-success btn-sm" style="width: 6vw"  @click="toggleTodoDate" aria-expanded="false" aria-controls="todo_date"><span class="material-symbols-outlined">today</span>오늘</button>
                <div style="min-height: 120px; margin-top:10px;">
                    <div class="collapse collapse-horizontal" id="todo_date">
                        <div class="card card-body" style="width: 15vw; z-index: 10">
                            <div class="row" style="margin-top: 5px;">
                                <div class="col-md-4"><button type="button" style="width: 3vw" class="btn btn-outline-success btn-sm" @click="checkDate(1)">오늘</button></div>
                                <div class="col-md-4"><button type="button" style="width: 3vw" class="btn btn-outline-danger btn-sm" @click="checkDate(2)">내일</button></div>
                                <div class="col-md-4"><button type="button" style="width: 3vw" class="btn btn-outline-secondary btn-sm" @click="checkDate(3)">모레</button></div>
                            </div>
                            <div class="row" style="margin-top: 10px; padding-left: 10px; padding-right: 10px;">
                                <input style="width: 13vw" class="form-control" id="todo_datePicker" size="100">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4" style="margin-left: 20px">
                <button type="button" id="btn_todo_priority" class="btn btn-outline-secondary btn-sm" style="width: 6vw"  @click="toggleTodoPriority" aria-expanded="false" aria-controls="todo_priority"><span class="material-symbols-outlined">sports_score</span>[[ todoPriorityName ]]</button>
                <div style="min-height: 120px; margin-top:10px;">
                    <div class="collapse collapse-horizontal" id="todo_priority">
                        <div class="card card-body" style="width: 8vw;">
                            <div class="row" style="margin-top: 5px;">
                                <div class="col-md-3">
                                    <button type="button" style="width: 6vw" class="btn btn-outline-danger btn-sm" @click="checkPriority(1)"><span class="material-symbols-outlined">sports_score</span>우선순위1</button>
                                    <button type="button" style="width: 6vw; margin-top: 2vh" class="btn btn-outline-success btn-sm" @click="checkPriority(2)"><span class="material-symbols-outlined">sports_score</span>우선순위2</button>
                                    <button type="button" style="width: 6vw; margin-top: 2vh" class="btn btn-outline-primary btn-sm" @click="checkPriority(3)"><span class="material-symbols-outlined">sports_score</span>우선순위3</button>
                                    <button type="button" style="width: 6vw; margin-top: 2vh" class="btn btn-outline-secondary btn-sm" @click="checkPriority(4)"><span class="material-symbols-outlined">sports_score</span>우선순위4</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    const makeTodoComponent = {
        props: {
            index: {
                type: String,
            },
        },
        delimiters: ['[[',']]'],
        data() {
            return {
                todoName: "",
                todoDesc: "",
                todoDate: "",
                todoPriorityName: "우선순위4",
                todoPriority: 4,
                alertText: "",
            }
        },
        methods: {
            toggleTodoDate() {
                $("#todo_date").collapse('toggle')
            },
            toggleTodoPriority() {
                $("#todo_priority").collapse('toggle')
            },
            checkDate(dateType) {
                $("#todo_date").collapse('hide')

                if (dateType == 1) {
                    this.todoDate = moment().format("YYYY-MM-DD")
                    $("#btn_todo_date").attr('class','btn btn-outline-success btn-sm')
                    $("#btn_todo_date").html('<span class="material-symbols-outlined">today</span>오늘')
                } else if (dateType == 2) {
                    this.todoDate = moment().add(1, 'days').format("YYYY-MM-DD")
                    $("#btn_todo_date").attr('class','btn btn-outline-danger btn-sm')
                    $("#btn_todo_date").html('<span class="material-symbols-outlined">today</span>내일')
                } else if (dateType == 3) {
                    this.todoDate = moment().add(2, 'days').format("YYYY-MM-DD")
                    $("#btn_todo_date").attr('class','btn btn-outline-secondary btn-sm')
                    $("#btn_todo_date").html('<span class="material-symbols-outlined">today</span>모레')
                } else if (dateType == 4) {
                    $("#btn_todo_date").attr('class','btn btn-outline-primary btn-sm')
                    $("#btn_todo_date").html('<span class="material-symbols-outlined">today</span>' + moment(this.todoDate).format('MM-DD일'))
                }
            },
            checkPriority(priority) {
                $("#todo_priority").collapse('hide')
                this.todoPriority = priority
                if (this.todoPriority == 1) {
                    this.todoPriorityName = "우선순위1"
                    $("#btn_todo_priority").attr('class', 'btn btn-outline-danger btn-sm')
                    $("#btn_todo_priority").html('<span class="material-symbols-outlined">sports_score</span>우선순위1')
                } else if (this.todoPriority == 2) {
                    this.todoPriorityName = "우선순위2"
                    $("#btn_todo_priority").attr('class', 'btn btn-outline-success btn-sm')
                    $("#btn_todo_priority").html('<span class="material-symbols-outlined">sports_score</span>우선순위2')
                } else if (this.todoPriority == 3) {
                    $("#btn_todo_priority").attr('class', 'btn btn-outline-primary btn-sm')
                    $("#btn_todo_priority").html('<span class="material-symbols-outlined">sports_score</span>우선순위3')
                    this.todoPriorityName = "우선순위4"
                } else if (this.todoPriority == 4) {
                    $("#btn_todo_priority").attr('class', 'btn btn-outline-secondary btn-sm')
                    $("#btn_todo_priority").html('<span class="material-symbols-outlined">sports_score</span>우선순위4')
                }
            },
            save() {
                if (this.todoName == '') {
                    alert("TODO명을 입력해 주세요")
                    return
                }
                let todo = {
                    "todo_name": this.todoName,
                    "todo_desc": this.todoDesc,
                    "todo_date": this.todoDate,
                    "todo_priority":this.todoPriority
                }

                axios.post("/re-todo/createTodo", {"todo": todo})
                .then((response) => {
                    this.alertText = "[" + this.todoDate + "] " + this.todoName + " TODO 일정이 생성 되었습니다."

                    setTimeout(() =>{
                        this.alertText = ""
                    }, 2000)

                    this.todoName = ""
                    this.todoDesc = ""
                    this.todoDate = moment().format("YYYY-MM-DD")
                    this.todoPriority = 4
                    $("#btn_todo_priority").attr('class','btn btn-outline-secondary btn-sm')
                    $("#btn_todo_priority").html('<span class="material-symbols-outlined">sports_score</span>우선순위4')
                    $("#btn_todo_date").attr('class','btn btn-outline-success btn-sm')
                    $("#btn_todo_date").html('<span class="material-symbols-outlined">today</span>오늘')


                    vue.getTodos()

                })
				.catch((e) => {
                    console.log('Error! : ' + e)
				})
            }
        },
        mounted: function() {
            this.todoDate = moment().format("YYYY-MM-DD")
            this.todoPriority = 4

            var self = this;
            $('#todo_datePicker').datepicker({
                dateFormat: 'yy-mm-dd',
                closeText: "닫기",
                currentText: "오늘",
                prevText: '이전 달',
                nextText: '다음 달',
                monthNames: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
                monthNamesShort: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
                dayNames: ['일', '월', '화', '수', '목', '금', '토'],
                dayNamesShort: ['일', '월', '화', '수', '목', '금', '토'],
                dayNamesMin: ['일', '월', '화', '수', '목', '금', '토'],
                weekHeader: "주",
                yearSuffix: '년',
                minDate: "0D",
                showOtherMonths: true,
                showMonthAfterYear:true,
                selectOtherMonths: true,
                changeYear: true,
                changeMonth: true,
                onSelect:function(selectedDate, datePicker) {
                    self.todoDate = selectedDate;
                    self.checkDate(4)
                }
            });

            $("#todo_date").on("show.bs.collapse", function () {
                $("#todo_priority").collapse('hide')
            })

            $("#todo_priority").on("show.bs.collapse", function () {
                $("#todo_date").collapse('hide')
            })
        },
        template:'#make_todo_template',
    }
</script>