<style>
    @import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

    .rounded-checkbox {
        width:17px;
        height: 17px;
        border-radius: 50%;
        vertical-align: end;
        border: 1px solid #b2b2b2;
        appearance: none;
        -webkit-appearance: none;
        outline: none;
        cursor: pointer;
      }

      .rounded-checkbox:checked {
        appearance: auto;
        clip-path: circle(48% at 50% 50%);
        background-color: #b2b2b2;
      }

      .inactive-done {
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 12px;
        font-weight: bold;
      }

      .active-done {
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 12px;
        font-weight: bold;
        text-decoration-thickness: 1.5px;
        text-decoration-line: line-through;
        text-decoration-color: #dc4c3e;
      }
</style>

<template id="todo_template">
    <div class="row">
        <div v-if="!isHistory" style="width: 45vw; height: 7vh; margin-top: 30px; padding-left: 10px; padding-bottom: 8vh; background-color: #ffffff; border-bottom: 0.15rem solid #ebeff5;">
            <div  class="row" style="margin-top: 5px">
                <div class="col-sm-1" style="width: 1vw; margin-right: 10px">
                    <input type="checkbox" class="rounded-checkbox"  v-model="item.check_done" @click="checkDone" v-show="userId == item.member_id">
                </div>
                <div class="col-sm-8" style="cursor:pointer;" @click="showTodoView">
                    <p style="font-size: 15px;" :class="{'inactive-done': !item.check_done, 'active-done': item.check_done}" v-html="item.todo_name"></p>
                    <p style="font-size: 13px;" v-html="item.todo_desc"></p>
                </div>
                <div class="col-sm-2" style="width: 13vw; cursor:pointer;"  @click="showTodoView">
                    <div style="position: absolute; right: 0px; top: -15px">
                        <div v-if="item.todo_priority == 1" style="width: 6vw; background-color: white; color:#dc3545; cursor: default" class="btn btn-outline-danger btn-sm"><span class="material-symbols-outlined">sports_score</span>우선순위1</div>
                        <div v-else-if="item.todo_priority == 2" style="width: 6vw; background-color: white; color:#198754; cursor: default" class="btn btn-outline-success btn-sm"><span class="material-symbols-outlined">sports_score</span>우선순위2</div>
                        <div v-else-if="item.todo_priority == 3" style="width: 6vw; background-color: white; color:#0d6efd; cursor: default" class="btn btn-outline-primary btn-sm"><span class="material-symbols-outlined">sports_score</span>우선순위3</div>
                        <div v-else-if="item.todo_priority == 4" style="width: 6vw; background-color: white; color:#6c757d; cursor: default" class="btn btn-outline-secondary btn-sm"><span class="material-symbols-outlined">sports_score</span>우선순위4</div>
                    </div>
                </div>
            </div>
        </div>
        <div v-else style="width: 90vw; height: 7vh; margin-top: 30px; padding-left: 10px; padding-bottom: 8vh; background-color: #ffffff; border-bottom: 0.15rem solid #ebeff5;">
            <div class="row" style="margin-top: 5px; text-align:end">
                <div class="col-sm-1" style="width: 1vw; margin-right: 10px">
                    <input type="checkbox" class="rounded-checkbox" v-model="item.check_done" @click="checkDone" v-show="userId == item.member_id">
                </div>
                <div class="col-5" style="cursor:pointer; text-align: start;" @click="showTodoView">
                    <p style="font-size: 15px;" :class="{'inactive-done': !item.check_done, 'active-done': item.check_done}" v-html="item.todo_name"></p>
                    <p style="font-size: 13px;" v-html="item.todo_desc"></p>
                </div>
                <div class="col" style="cursor:pointer; padding: 0px; margin-left: 3vh;" @click="showTodoView">
                    <div style="width: 6vw; background-color: white; color:#0d6efd; cursor: default; margin-right:5px" class="btn btn-outline-primary btn-sm" v-html="todoDate"></div>
                    <div v-if="item.todo_priority == 1" style="width: 6vw; background-color: white; color:#dc3545; cursor: default; margin-right:5px" class="btn btn-outline-danger btn-sm"><span class="material-symbols-outlined">sports_score</span>우선순위1</div>
                    <div v-else-if="item.todo_priority == 2" style="width: 6vw; background-color: white; color:#198754; cursor: default; margin-right:5px" class="btn btn-outline-success btn-sm"><span class="material-symbols-outlined">sports_score</span>우선순위2</div>
                    <div v-else-if="item.todo_priority == 3" style="width: 6vw; background-color: white; color:#0d6efd; cursor: default; margin-right:5px" class="btn btn-outline-primary btn-sm"><span class="material-symbols-outlined">sports_score</span>우선순위3</div>
                    <div v-else-if="item.todo_priority == 4" style="width: 6vw; background-color: white; color:#6c757d; cursor: default; margin-right:5px" class="btn btn-outline-secondary btn-sm"><span class="material-symbols-outlined">sports_score</span>우선순위4</div>
                    <div style="width: 6vw; background-color: white; color:#198754; cursor: default" class="btn btn-outline-success btn-sm" v-html="memberName"></div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    const todoComponent = {
        props: {
            item: {
                type: Object,
            },
            index: {
                type: Number,
            }
        },
        data() {
            return {
                userId: {{ request.user.id }},
                isDone: false,
                isHistory: true,
            }
        },
        computed: {
            todoDate: function () {
                return "<span class='material-symbols-outlined'>today</span>" + this.item.todo_date
            },
            memberName: function () {
                return "<span class='material-symbols-outlined'>cognition</span>" + this.item.member_name
            }
        },
        methods : {
            checkDone() {
                axios.post("/re-todo/updateCheckDone/" + this.item.todo_key, {"check_done": !this.item.check_done})
            },
            showTodoView() {
                vue.showTodoKey = this.item.todo_key
                $("#todo_view_modal").modal('show')
            },
        },
        mounted: function() {
            if (window.location.href.indexOf("/todo-history-view") > -1) {
                this.isHistory = true
            } else {
                this.isHistory = false
            }


        },
        template:'#todo_template',
    }
</script>