<template id="working_month_header_template">
    <li style="margin-bottom: 0px"><div class="week" style="color: #ff6060">일</div></li>
    <li style="margin-bottom: 0px"><div class="week">월</div></li>
    <li style="margin-bottom: 0px"><div class="week">화</div></li>
    <li style="margin-bottom: 0px"><div class="week">수</div></li>
    <li style="margin-bottom: 0px"><div class="week">목</div></li>
    <li style="margin-bottom: 0px"><div class="week">금</div></li>
    <li style="margin-bottom: 0px"><div class="week">토</div></li>
</template>

<script>
    const workingMonthHeaderComponent = {
        template:'#working_month_header_template'
    }
</script>