<style>
    .day {
        height: 12vh;
        border-bottom: 0.5px solid #e2e4e7;
        border-left: 0.5px solid #e2e4e7;
        border-right: 0.5px solid #e2e4e7;
        padding: 5px;
    }

    .today {
        width: 30px;
        height: 30px;
        color: white;
        border-radius: 50px;
        background-color: #1967d2;
        text-align: center;
        padding-top: 0.5vh;
        font-weight: bold;
    }

    .today_background {
        background:	#eaf1fb;
    }

    .notWorking {
        width: 5vw;
        color: #dddddd;
        text-align: center;
        border-style: dashed;
        border-width: 0.5px;
        border-color: #dddddd;
    }

    .working_off_request {
        color: #dddddd;
    }

    .holiday {
        color: #ff5a5a;
    }

    .pass {
        color: #ff5a5a;
    }

    .midnight {
        color: orange;
    }
</style>

<template id="working_month_day_template">
    <div class="day" :class="dayBackground">
        <div class="row">
            <div class="col-2">
                <div :class="days" v-html="day"></div>
            </div>
            <div class="col">
                <div style="font-size: 12px;" v-if="workingDate != ''"  v-html="workingDate" :class="notWorking"  @click="showWorkingTime"></div>
                <div style="font-size: 12px; margin-top: 5px" v-if="workingOutDate != ''"  v-html="workingOutDate" @click="showWorkingOut"></div>
                <div style="font-size: 12px; margin-top: 5px" v-if="workingOffDate != ''" v-for="(workingOff, index) in item.workingOff"   v-html="workingOffDate(workingOff)" :class="workingOffRequest"></div>
                <div style="font-size: 12px; margin-top: 5px;" v-if="holidayDate != ''"  v-html="holidayDate" class="holiday"></div>
            </div>
        </div>
    </div>
</template>

<script>
    const workingMonthDayComponent = {
        props: {
            item: {
                type: Object,
            },
            index: {
                type: Number,
            }
        },
        data() {
            return {
                isToday: false,
                days: "",
                notWorking: "",
                workingOffRequest: "",
            }
        },
        computed: {
            day: function () {
                if (moment().format('YYYY-MM-DD') == this.item.date) {
                    this.days = "today"
                } else {
                    if (moment(this.item.date).days() == 0) {
                        this.days = "holiday"
                    } else {
                        this.days = ""
                    }

                }
                return moment(this.item.date).format('D')
            },
            dayBackground: function () {
                if (moment().format('YYYY-MM-DD') == this.item.date) {
                    return "today_background"
                } else {
                    return ""
                }
            },
            workingDate: function () {
                if (typeof this.item.working == 'undefined') {
                    this.notWorking = "notWorking"
                    return "00:00 ~ 00:00"
                }

                var working_start_check_datetime = this.item.working.working_start_check_datetime
                var working_end_check_datetime = this.item.working.working_end_check_datetime

                var working_start_change_datetime = this.item.working.working_start_change_datetime
                var working_end_change_datetime = this.item.working.working_end_change_datetime


                var start_datetime_display = ""
                var end_datetime_display = ""
                if (working_start_check_datetime != null) {
                    start_datetime_display = moment(working_start_check_datetime).format("HH:mm")

                    if (working_end_check_datetime == null) {
                        end_datetime_display = "<span class='pass'>누락</span>"
                        if (moment().format('YYYY-MM-DD') == this.item.date) {
                            end_datetime_display = ""
                        } else if (moment().add(-1, 'day').format('YYYY-MM-DD') == this.item.date && moment().format("H") <= 4 ) {
                            // 새벽 4시전까지는 출근 가능
                            end_datetime_display = ""
                        }
                    }
                }

                if (working_end_check_datetime != null) {
                    end_datetime_display = moment(working_end_check_datetime).format("HH:mm")
                    var hour = moment(working_end_check_datetime).format("H")
                    if (0 <= hour && hour < 4) {
                        // 0시 부터 4시전까지는 오렌지색으로 변경
                        end_datetime_display = "<span class='midnight'>" + moment(working_end_check_datetime).format("HH:mm") + "</span>"
                    }
                }

                if (working_start_change_datetime != null && moment(working_start_check_datetime).format("HH:mm") != moment(working_start_change_datetime).format("HH:mm")) {
                    start_datetime_display = "<span class='pass'>" + moment(working_start_change_datetime).format("HH:mm") + " (처리중)</span>"
                }

                if (working_end_change_datetime != null && moment(working_end_check_datetime).format("HH:mm") != moment(working_end_change_datetime).format("HH:mm")) {
                    end_datetime_display = "<span class='pass'>" + moment(working_end_change_datetime).format("HH:mm") + " (처리중)</span>"
                }

                if (start_datetime_display == "" && end_datetime_display == "") {
                    this.notWorking = "notWorking"
                    return "00:00 ~ 00:00"
                }

                this.notWorking = ""
                return start_datetime_display + " ~ " + end_datetime_display
            },
            workingOutDate: function () {
                if (typeof this.item.workingOut == 'undefined') {
                    return ''
                }

                return code_vue.getCodeDtl(this.item.workingOut.working_out_type).cd_dtl_nm
            },
            holidayDate: function () {
                if (typeof this.item.holiday == 'undefined') {
                    return ''
                }

                return this.item.holiday.holiday_name
            }
        },
        methods : {
            workingOffDate(workingOff) {
                if (typeof workingOff == 'undefined') {
                    return ''
                }

                var display = "<span>" + code_vue.getCodeDtl(workingOff.working_off_type).cd_dtl_nm
                display += " " + moment(workingOff.working_off_start_datetime).format("HH:mm")
                display += " ~ " + moment(workingOff.working_off_end_datetime).format("HH:mm")


                if (workingOff.working_off_state == code_vue.getCdDtlNoByAlias("APPROVAL_REQUEST")) {
                    display = "<span class='working_off_request'>" + display
                    display += " (요청)"
                }

                return display + "</span>"
            },
            showWorkingTime() {
                {% if 'my.voronoi.app' not in request.build_absolute_uri %}
                vue.showWorkingTime(this.item.date)
                {% endif %}
            },
            showWorkingOut() {
                $("#working_out_modal").modal("show")
                working_out_vue.getWorkingOutForm(this.item.workingOut.working_out_form_id)
            },
        },
        mounted: function() {
        },
        template:'#working_month_day_template',
    }
</script>