<template id="working_off_promote_plan_template">
    <div class="row" style="display: flex; justify-content:center; padding: 5px 40px;">
        <div class="col-2" style="padding: 15px; background: #f7f6f9;" v-html="'연차 ' + (index + 1)"></div>
        <div class="col-3" style="padding: 15px;">
            <input class="form-control" :id="'working_off_promote_start_datePicker_' + index" v-model="item.working_off_start_date" autocomplete="off" readonly style="background: #ffffff" placeholder="연차 시작일">
        </div>
        <div class="col-3" style="padding: 15px;">
            <input class="form-control" :id="'working_off_promote_end_datePicker_' + index" v-model="item.working_off_end_date" autocomplete="off" readonly style="background: #ffffff" placeholder="연차 종료일">
        </div>
        <div class="col-2" style="padding: 15px;">
            <input type="text" class="form-control" v-model="item.working_off_use_num" style="text-align: right" placeholder="0.0" @change="isFloat($event)">
        </div>
        <div class="col-1" style="padding: 15px 15px;">
            <button type="button" class="btn btn-outline-success btn-sm" style="padding-top: 8px;" @click="add" ><span class="material-symbols-outlined">add</span></button>
        </div>
        <div class="col-1" style="padding: 15px; 0px;">
            <button type="button" class="btn btn-outline-danger btn-sm" style="padding-top: 8px;" @click="remove" ><span class="material-symbols-outlined">remove</span></button>
        </div>
    </div>
</template>

<script>
    const workingOffPromotePlanComponent = {
        props: {
            item: {
                type: Object,
            },
            index: {
                type: Number,
            }
        },
        data() {
            return {}
        },
        methods : {
            codeDtls(alias) {
                return code_vue.getCdDtlsByCdAlias(alias)
            },
            codeDtlNo(alias) {
                return code_vue.getCdDtlNoByAlias(alias)
            },
            isFloat(event) {
                var value = event.target.value
                if (isNaN(value) || value === '') {
                    this.item.working_off_use_num = ""
                }
                if (parseFloat(value).toString() === value) {
                    this.item.working_off_use_num = value
                } else {
                    this.item.working_off_use_num = ""
                }

            },
            add() {
                this.$parent.addWokringOffPlan(this.index)
            },
            remove() {
                this.$parent.removeWokringOffPlan(this.index)
            }
        },
        mounted: function() {
            var self = this

            $('#working_off_promote_start_datePicker_' + this.index).datepicker({
                dateFormat: 'yy-mm-dd',
                closeText: "닫기",
                currentText: "오늘",
                prevText: '이전 달',
                nextText: '다음 달',
                monthNames: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
                monthNamesShort: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
                dayNames: ['일', '월', '화', '수', '목', '금', '토'],
                dayNamesShort: ['일', '월', '화', '수', '목', '금', '토'],
                dayNamesMin: ['일', '월', '화', '수', '목', '금', '토'],
                weekHeader: "주",
                yearSuffix: '년',
                minDate: "1D",
                maxDate: working_off_promote_vue.workingOffEndDate,
                showOtherMonths: true,
                showMonthAfterYear:true,
                selectOtherMonths: true,
                changeYear: true,
                changeMonth: true,
                beforeShowDay:function(date) {
                    var day = date.getDay()
                    return [(day != 0 && day != 6)]
                },
                onSelect:function(selectedDate, datePicker) {
                    self.item.working_off_start_date = selectedDate
                    if (self.item.working_off_end_date == "") {
                        self.item.working_off_end_date = selectedDate
                    }

                    if (self.item.working_off_start_date > self.item.working_off_end_date) {
                        self.item.working_off_end_date = self.item.working_off_start_date
                    }
                }
            });

            $('#working_off_promote_end_datePicker_' + this.index).datepicker({
                dateFormat: 'yy-mm-dd',
                closeText: "닫기",
                currentText: "오늘",
                prevText: '이전 달',
                nextText: '다음 달',
                monthNames: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
                monthNamesShort: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
                dayNames: ['일', '월', '화', '수', '목', '금', '토'],
                dayNamesShort: ['일', '월', '화', '수', '목', '금', '토'],
                dayNamesMin: ['일', '월', '화', '수', '목', '금', '토'],
                weekHeader: "주",
                yearSuffix: '년',
                minDate: "1D",
                maxDate: working_off_promote_vue.workingOffEndDate,
                showOtherMonths: true,
                showMonthAfterYear:true,
                selectOtherMonths: true,
                changeYear: true,
                changeMonth: true,
                beforeShowDay:function(date) {
                    var day = date.getDay()
                    return [(day != 0 && day != 6)]
                },
                onSelect:function(selectedDate, datePicker) {
                    self.item.working_off_end_date = selectedDate

                    if (self.item.working_off_start_date == "") {
                        self.item.working_off_start_date = selectedDate
                    }

                    if (self.item.working_off_start_date > self.item.working_off_end_date) {
                        self.item.working_off_end_date = self.item.working_off_start_date
                    }
                }
            });

        },
        template:'#working_off_promote_plan_template',
    }
</script>