<template id="working_off_time_template">
    <div style="margin-bottom: 5px">
        <div class="row">
            <div class="col-2" style="text-align: center;">
                <span style="vertical-align: -webkit-baseline-middle;" v-html="item.workingOffDate"></span>
            </div>
            <div class="col-3">
                <select class="form-control" v-model="item.workingOffTime" @change="changeWorkingOffTime" :disabled="isdisabled">
                    <option v-for="codeDtl in codeDtls('WORKING_OFF_TIME')" :value="codeDtl.cd_dtl_no" v-html="codeDtl.cd_dtl_nm"></option>
                </select>
            </div>
            <div class="col-4" style="margin-left: 10px">
                <input type="text" class="form-control" v-model="item.time" disabled>
            </div>
        </div>
        <div class="row" v-if="item.workingOffTime == codeDtlNo('WORKING_OFF_TIME_TIME')" style="padding: 10px 0px">
            <div class="col-2">시작 시간</div>
            <div class="col-2">
                <select class="form-control" style="width: 100px" v-model="timeH" @change="changeTime">
                    <option value="06">06시</option>
                    <option value="07">07시</option>
                    <option value="08">08시</option>
                    <option value="09">09시</option>
                    <option value="10">10시</option>
                    <option value="11">11시</option>
                    <option value="12">12시</option>
                    <option value="13">13시</option>
                    <option value="14">14시</option>
                    <option value="15">15시</option>
                    <option value="16">16시</option>
                    <option value="17">17시</option>
                    <option value="18">18시</option>
                    <option value="19">19시</option>
                    <option value="20">20시</option>
                </select>
            </div>
            <div class="col-2" style="margin-left: 10px">
                <select class="form-control" style="width: 100px" v-model="timeM" @change="changeTime">
                    <option value="00">00분</option>
                    <option value="30">30분</option>
                </select>
            </div>
        </div>

    </div>
</template>

<script>
    const workingOffTimeComponent = {
        props: {
            item: {
                type: Object,
            },
            index: {
                type: Number,
            },
            isdisabled: {
                type: Boolean,
            }
        },
        data() {
            return {
                timeH: "09",
                timeM: "00",
            }
        },
        methods : {
            codeDtls(alias) {
                return code_vue.getCdDtlsByCdAlias(alias)
            },
            codeDtlNo(alias) {
                return code_vue.getCdDtlNoByAlias(alias)
            },
            changeWorkingOffTime() {
                if (this.item.workingOffTime == code_vue.getCdDtlNoByAlias("WORKING_OFF_TIME_DAY")) {
                    this.item.time = "09:00 ~ 18:00"
                } else if (this.item.workingOffTime == code_vue.getCdDtlNoByAlias("WORKING_OFF_TIME_AM")) {
                    this.item.time = "09:00 ~ 14:00"
                } else if (this.item.workingOffTime == code_vue.getCdDtlNoByAlias("WORKING_OFF_TIME_PM")) {
                    this.item.time = "14:00 ~ 18:00"
                } else if (this.item.workingOffTime == code_vue.getCdDtlNoByAlias("WORKING_OFF_TIME_TIME")) {
                    this.timeM = "00"
                    var startTime = moment(this.timeH + ":" + this.timeM, 'HH:mm')
                    var endTime = moment(this.timeH + ":" + this.timeM, 'HH:mm').add(2, 'h')

                    this.item.time = startTime.format('HH:mm') + " ~ " + endTime.format('HH:mm')
                }

                this.$parent.workingOffUseNum(this.index, this.item.workingOffTime)
            },
            changeTime() {
                var startTime = moment(this.timeH + ":" + this.timeM, 'HH:mm')
                var endTime = moment(this.timeH + ":" + this.timeM, 'HH:mm').add(2, 'h')

                var startTimeStr = startTime.format('HH:mm')
                var endTimeStr = endTime.format('HH:mm')


                // 점심 시간이 있는 경우
                if (startTimeStr == '11:00' || startTimeStr == '11:30' || startTimeStr == '12:00') {
                    endTime = moment(this.timeH + ":" + this.timeM, 'HH:mm').add(3, 'h')

                    startTimeStr = startTime.format('HH:mm')
                    endTimeStr = endTime.format('HH:mm')
                }

                // 점심 시간인 경우
                if (startTimeStr == '12:30') {
                    this.timeH = "09"
                    this.timeM = "00"

                    startTime = moment(this.timeH + ":" + this.timeM, 'HH:mm')
                    endTime = moment(this.timeH + ":" + this.timeM, 'HH:mm').add(2, 'h')

                    startTimeStr = startTime.format('HH:mm')
                    endTimeStr = endTime.format('HH:mm')
                }

                this.item.time = startTimeStr + " ~ " + endTimeStr
                this.$parent.changeTime(this.index, startTimeStr, endTimeStr)
            },
        },
        mounted: function() {
            this.changeWorkingOffTime()
        },
        template:'#working_off_time_template',
    }
</script>